[2021-02-03 21:09] sshcherbakov commented on #1739
0xd and 0x31 have only first bit (SO_DEBUG) in common.
Am I completely off here.

[2021-02-04 05:54] RtypeStudios commented on #1739
seems the say in the errors I have posted, but different to the errors others have posted. I have no idea what they mean :)

[2021-02-04 11:49] mikma commented on #1446
Why is this issue in the **arm64 Support** milestone? The tcpip package seems to work on arm64, at least the go branch which I have tested.

[2021-02-04 15:23] prestonp opened #5454 "Enabling profiler causes panic"
**Description**

It appears that https://github.com/google/gvisor/pull/5100 inadvertently introduced a bug when using --profile. The `Profile.done` channel in pkg/sentry/control/pprof.go is closed twice and panics

**Steps to reproduce**

[code]
**Environment**

Please include the following details of your environment:

*   `runsc -version`
[code]
*   `docker version` or `docker info` (if availabl

[2021-02-04 18:27] nsoubelet opened #5457 "Incorrect NFS fsstat values (capacity and usage) when doing a 'df -h'"
**Description**

I have a container with a NFS volume mounted. NFS server is running in a different container.
Driver I am using is the following: https://github.com/kubernetes-csi/csi-driver-nfs

In the NFS server, exported root path has a size limit. When testing NFS server alone, readings obtained using `df -h` were correct, that is, it shows the correct capacity (limit) and current usage.
Howe

[2021-02-04 20:48] nsoubelet commented on #5457
Sorry, just wanted to highlight something interesting.
The relationship between `size`, `used` and `available` is correct but numbers are not.
For example:
[code]
99% of use is correct (although not precise), but it is not 30M, it is 1GB.
NFS server shows (in bytes):
[code]

[2021-02-05 05:10] ayushr2 opened #5464 "Implement lisafs package"
The `lisafs` package should provide utilities for the sentry and the gofer process to communicate efficiently with one another to perform remote filesystem operations.
- A client in the sentry should be able to concurrently and efficiently communicate with the server it is associated with.
- Define marshaling utilities in `lisafs` that can be used to easily pass messages.
- Have some unit testing

[2021-02-05 05:16] ayushr2 opened #5465 "Add lisafs support to runsc"
- Add lisafs client to goferfs (only VFS2).
- Build lisafs server implementation in fsgofer.
- Gate lisafs usage behind a `-lisafs` runsc flag. Default is still 9p.
- We should be able to run docker containers with lisafs.

[2021-02-05 05:20] ayushr2 opened #5466 "Get all tests to work with lisafs"
Get all the following test suites to pass and run a variant of them in presubmits.
- Syscall tests
- Runtime tests
- Integration tests

[2021-02-05 16:34] hbhasker commented on #4551
Robert could you take a look at this as part of the packetbuffer cleanup?

[2021-02-05 21:32] puradox opened #5472 "RFC 7048, the UNREACHABLE NUD state, is not implemented"
**Description**

We do not implement RFC 7048. Implementing this RFC decreases the brittleness of NUD when there is no alternative neighbors available.

**Is this feature related to a specific bug?**

Follow up issue to #4667. `Failed` state will be renamed to `Unreachable`, but we're not fully implementing RFC 7048.

[2021-02-06 07:05] ghanan94 commented on #4085
done in 4ee8cf8734d24c7ba78700c21dff561207d4ed1a

[2021-02-06 07:05] #4085 closed

[2021-02-07 05:37] #4658 closed

[2021-02-07 08:15] #5066 closed

[2021-02-08 17:53] sshcherbakov commented on #1739
Sorry, the error I listed didn't influence the functionality of my gRPC server (the reason of the malfunction was something else), please ignore.

[2021-02-08 21:17] hbhasker commented on #711
This has already been implemented through various ICMP related fixes in the last few months. Closing.

[2021-02-08 21:17] #711 closed

[2021-02-08 23:26] ghanan94 opened #5489 "Support Post-routing iptables hook"
We do not yet support the post-routing iptables hook, but we need it to implement SNAT targets

cc @kevinGC

[2021-02-08 23:33] ghanan94 opened #5490 "Validate incoming MLD packets"
As per RFC 2710 section 3, an MLD packet must have:
- a code value of 0
- hop limit of 1
- link-local source address
- hop-by-hop extension header with a router alert option

[2021-02-08 23:38] ghanan94 opened #5491 "Validate incoming IGMP packets"
As per RFC 2236 section 2, an IGMP packet must have:
- TTL of 1
- router alert option

As per RFC 2236 section 10:
 - To defend against externally sourced v1 Reports, ignore the
       Report if you cannot identify the source address of the packet as
       belonging to a subnet assigned to the interface on which the
       packet was received.

[2021-02-09 04:13] ronaldpetty opened #5492 "Installation Link Not Working"
`curl -i https://storage.googleapis.com/gvisor/releases/release/latest/`
[code]

Following instructions here:

https://gvisor.dev/docs/user_guide/install/#install-latest

[2021-02-09 17:15] ghanan94 commented on #4550
still need to handle gratuitous arp

[2021-02-10 01:15] milantracy opened #5500 "Implement syscall epoll_pwait2, close_range"
**Description**

Implement syscall epoll_pwait2 and close_range for gvisor.

Reference: https://lwn.net/Articles/837816/

**Is this feature related to a specific bug?**

N/A

**Do you have a specific solution in mind?**

N/A

[2021-02-10 01:30] milantracy commented on #5500
plan to work on the implementation, can anyone assign the issue to me?

[2021-02-10 06:03] hbhasker commented on #5500
Done.

[2021-02-10 06:05] hbhasker commented on #5132
@majek Could you rerun your tests @ HEAD and see if the issue is now resolved?

[2021-02-10 14:54] dqminh commented on #5038
@fvoznika we are still seeing this, indeed it's coming from gofer

[code]

But stacktrace when viewing with delve doesn't quite make sense

[code]

We don't have a reproducer at the moment. Go version should be 1.15.2, same as set in gvisors' WORKSPACE i think.

[2021-02-10 16:08] prattmic commented on #5038
One possibility is that the gofer is trying to panic. The Go runtime will [change sigaction](https://cs.opensource.google/go/go/+/master:src/runtime/signal_unix.go;drc=ed3e4afa12d655a0c5606bcf3dd4e1cdadcb1476;bpv=1;bpt=1;l=780?q=rt_sigaction&ss=go) as a fallback if the process fails to die.

I don't recall how difficult it is to get at the gofer's stderr to see if it has printed a panic before get

[2021-02-11 02:05] fvoznika commented on #5038
If you run with [`--debug-log=/tmp/runsc/`](https://gvisor.dev/docs/user_guide/debugging/), the panic message will be written to `/tmp/runsc/*.gofer`. @dqminh can you try?

[2021-02-11 02:23] fvoznika commented on #5492
`https://storage.googleapis.com/gvisor/releases/release/latest/` is a directory that contains the binaries for the release. Try
`wget https://storage.googleapis.com/gvisor/releases/release/latest/runsc` for example:

[code]

[2021-02-11 02:23] #5492 closed

[2021-02-11 03:47] ronaldpetty opened #5510 "apt Installation Not Working"
I originally submitted (https://github.com/google/gvisor/issues/5492), but my simplification was incorrect per that ticket. Here is my original issue. I brought this up in the chat and it seems to be a known issue and an attempt was made but still not working.  This is from the normal installation page.

https://gvisor.dev/docs/user_guide/install/

"Install from an apt repository"

[code]

I had a

[2021-02-11 10:37] dqminh commented on #5038
@fvoznika debug-log is too verbose for us as this is not deterministically reproducible as far as i can see, but we can run https://github.com/google/gvisor/pull/5509 and see if it gives us any sane panic log.

[2021-02-11 19:07] arthurpi opened #5513 "Implement unit tests for the IPv4OptionIterator type"
The IPv4OptionIterator has no unit tests.

[2021-02-11 22:03] hbhasker opened #5515 "Rack.DoRecovery does not honor sendWindow."
in rack.DoRecovery https://github.com/google/gvisor/blob/fe63db2e96069140a3e02a0dc7b7e28af9b463db/pkg/tcpip/transport/tcp/rack.go#L477 we are using sendSegment this does not check if the receiver has space in their buffer. While we do check the sndCwnd we need to also honor the advertised window from the peer. It also may end up transmitting > MSS sized segments.

This line should use maybeSendSeg

[2021-02-12 06:06] #5085 closed

[2021-02-12 23:16] puradox opened #5528 "NUDDispatcher should expose expiries for each state"
NUDDispatcher does not give enough information for debugging tools. In particular, knowing when Reachable neighbor entries expire is especially useful for debugging. This issue tracks the implementation of an expiry field for neighbor entries.

[2021-02-13 01:13] #5454 closed

[2021-02-13 01:54] arthurpi opened #5529 "Move IPv4-specific option from IP statistics"
**Description**

There are stats for each IPv4 option we handle, however they are currently bundled in the IPStats type, which is shared with IPv6.

Move these IPv4-only stats out of IPStats.

[2021-02-13 18:20] tam7t opened #5530 "apt repo reports hash missmatch"
**Description**

`apt` returns a `Hash Sum mismatch` error when attempting to update or install `runsc`.

Following install instructions:

[code]

Switch to just `20201208` release is succeeds:

[code]

**Environment**

[code]

[2021-02-13 19:42] amscanne commented on #5530
This is very strange. The script generating these is in tools/make_apt.sh, and I can't see any obvious way that incorrect hashes would be generated. I've pinned to the older release temporarily while I try to figure this out.

[2021-02-14 00:05] #4056 closed

[2021-02-15 14:07] majek commented on #5132
Looks good
![image](https://user-images.githubusercontent.com/63387/107956454-194aa800-6f97-11eb-9054-729bb9d3b329.png)

The UDS numbers seem  in the same ballpark as v4/v6 netstack emulation which is what I would have expected. Thanks!

[2021-02-16 01:40] ianlewis commented on #3921
This was fixed in https://github.com/google/gvisor/commit/59e2c9f16a9a4cce2ecf8b6449a47316fdf76ca2

[2021-02-16 01:40] #3921 closed

[2021-02-17 14:44] unknowndev233 commented on #5171
I know how to use gvisor in podman, but I'm talking about whether docker in https://github.com/google/gvisor#installing-from-source can be replaced by podman, and if not, is it considered to add support in the future?

I need to compile from source because I want to try to package gVisor from source and pass all the tests, but since docker will break my network environment I try to use podman

[2021-02-17 18:54] fvoznika commented on #5038
I'm closing the bug because the fix above addresses the seccomp failures. But I'm curious to find out if the gofer is panic'ing. Please create another bug if you find out.

[2021-02-17 18:54] #5038 closed

[2021-02-17 20:24] tamird commented on #478
Done in https://github.com/google/gvisor/pull/487.

[2021-02-18 00:03] puradox opened #5541 "Use the embedded synx.Mutex pattern for neighbor_entry_test.go"
There are two types in neighbor_entry_test.go that do not use the embedded sync.Mutex pattern: entryTestLinkResolver and testNUDDispatcher.

[code]

Refactor these two structs to use the pattern:

[code]

[2021-02-18 00:45] fvoznika commented on #5457
gVisor is passing the [information straight from the host](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/fsgofer/fsgofer.go;l=594;drc=9b4f4655ed5ddcbe34806a28b2bc5d8f61fbb215), so I suspect the host is not passing the information correctly for some reason. Did you test it running a container without gVisor?

Please run the repro and collect debug logs.

[2021-02-18 00:54] fvoznika commented on #5457
gVisor is passing statfs(2) [information straight from the host](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/fsgofer/fsgofer.go;l=594;drc=9b4f4655ed5ddcbe34806a28b2bc5d8f61fbb215), so I suspect the host is not setting the values correctly for some reason.

1. Did you test the same command running in a container without gVisor?
1. Please run the repro and collect debug logs. [Here are

[2021-02-18 01:20] fvoznika commented on #5430
The structure you pasted above is from cgroups v2. Most likely the `cpuset` directory was created by `runsc` thinking that it's operating on cgroups v1. When both v1 and v2 are enabled, `/sys/fs/cgroup` looks like this:

[code]

[2021-02-18 01:20] #5430 closed

[2021-02-18 04:12] jcodybaker opened #5544 "TCP connect() poll() (POLLWRNORM event) doesn't return on successful connect"
**Description**

The varnish caching http proxy fails to establish connections to backend servers when run within gvisor.  It appears to set the socket into non-blocking mode, make a connect(), and then do a poll() for POLLWRNORM which never returns even if the connection is successfully established.

Varnish source: https://github.com/varnishcache/varnish-cache/blob/c40d555710336c78436e3da300936f

[2021-02-18 05:31] jcodybaker opened #5545 "gvisor w/ overlay+vfs2 fails in glibc fts_read with directory depths > 7"
**Description**

When gvisor is configured with overlay + vfs2 mode, [glibc's fts_read](https://sourceware.org/git/?p=glibc.git;a=blob;f=io/fts.c;h=08da47b90c96e5483a244b336451d1facf2afd8d;hb=refs/heads/master#l311) fails when the directory depth is greater than 7.  This causes the recursive mode of tools like rm and git to fail when directory depth exceeds 7.

**Steps to reproduce**
/etc/docker/d

[2021-02-18 10:20] nsoubelet commented on #5457
Hi @fvoznika
I am not quite sure that in this case storage was related to host's. Container has a NFS mount in a directory, therefore what is replying to filesystem commands is the NFS server via RPC. I traced it and NFS server is giving correct stats and numbers.

Maybe gVisor statfs does not quite support NFS?

[2021-02-18 19:41] #4667 closed

[2021-02-18 20:30] #5491 closed

[2021-02-19 00:43] arthurpi opened #5553 "Support IPv6 Pad1 and PadN options"
**Description**

We do not process the hop-by-hop/destination options defined in RFC 8200, namely Pad1 and PadN options. These options MUST be recognized by all IPv6 implementations (RFC 8200 section 4.2)

   There are two padding options that are used when necessary to align
   subsequent options and to pad out the containing header to a multiple
   of 8 octets in length.  These padding options m

[2021-02-19 01:02] fvoznika commented on #5457
When statfs(2) is called on a file, the host will figure out the mount and make the correct call, in this case to NFS filesystem which will send an RPC to the server. The logs will show the exact value returned from the statfs(2) call so we can see if the host is returning the correct value or not. Also, confirming that the same case works without gVisor is useful to check if this is not caused by

[2021-02-19 15:35] nsoubelet commented on #5457
Understood, thanks @fvoznika
Give me please a couple of days since to me now it is more difficult to create a container without gVisor, I've got it fully integrated so need to workaround.

[2021-02-20 01:45] hbhasker commented on #5544
Thanks for the report. I will take a look

[2021-02-22 18:27] arthurpi opened #5559 "Add utility functions to help unit tests verify netstack Stats"
**Description**

Many of the netstack unit tests need to check that the stats got updated correctly after some functions is called. Having a standard way to do this will reduce the code size of many of our unit tests and keep the code readable while improving value we get out of the tests.

**Do you have a specific solution in mind?**

One way to do this would be to have a way to capture a snapsho

[2021-02-22 19:20] arthurpi opened #5560 "Improve the header.IPv6 API"
**Description**

The IPv6 Header api follows the wording of RFC 8200: the extension headers are considered payload, and the payload length takes into account the extension headers.

It might make sense to change the API to consider that a payload is strictly the upper-layer payload.

**Do you have a specific solution in mind?**

We could change the API so that
Payload() -> only returns the upper-l

[2021-02-23 00:16] fvoznika commented on #5545
This is the sequence of syscalls before the failure:

[code]

This is happening because overlayfs doesn't preserve `ino` for directories. `rm` uses [`fts`](https://man7.org/linux/man-pages/man3/fts.3.html) to iterate over the filesystem. I believe it fails in [`fts_safe_changedir`](https://elixir.bootlin.com/glibc/latest/source/io/fts.c#L1125) when it attempts to revalidate the directory:

[code]

[2021-02-23 03:18] jcodybaker commented on #5545
Ahh, that makes sense.  For our case, the work-around won't work.  The example was contrived, but our use-case involves executing arbitrary code.  We see this commonly from dependency manager style applications (ex. npm or ruby bundler). These commonly have recursive dependencies with deep trees.

I've noticed the tmpfs used for /tmp is memory backed. If we could mount that into an arbitrary path

[2021-02-23 03:32] ghost opened #5568 "network=sandbox error when route default via dev wireguard - getting routes for interface "wg0": default route with no gateway"
runsc binary master head
linux void glibc (kernel 5.10.15_1)

network namespace setup:
rc.local (on boot) part:

[code]

service start part:

[code]

oci config.json relevant part:

[code]

command: sudo /custom_bin/runsc run test

output:

`running container: starting container: setting up network: creating interfaces from net namespace "/proc/28100/ns/net": getting routes for interface "wg0": de

[2021-02-23 03:50] jackloomen commented on #5323
Hopefully I'm doing something wrong but I'm unable to get unix stream sockets to work with --fsgofer-host-uds.

The Wayland socket is not functional:
oci config.json:

[code]

[2021-02-23 18:39] fvoznika commented on #5171
I see what you mean now. You can build using [Bazel](https://bazel.build/) directly, e.g. `bazel build runsc`. Or you set [`DOCKER_BUILD=false`](https://cs.opensource.google/gvisor/gvisor/+/master:tools/bazel.mk;drc=fb422db7065480f6ad2b23794ac9a16596d298c6;l=18) if you'd like to continue to use `make`. You could look into making docker/podman configurable in [bazel.mk](https://cs.opensource.google

[2021-02-23 20:25] jackloomen opened #5571 "flag fsgofer-host-uds does not work for x11 or wayland sockets"
runsc master head

Neither the wayland nor the x11 sockets appear to be functional with flag --fsgofer-host-uds

A way to reproduce:

`sudo runsc --fsgofer-host-uds --network=host do application
`for an application that utilizes the sockets.

Perhaps the "do" command does something to the sockets, but this doesn't work either:

OCI config.json mounts:

[code]
The environment variables for the appl

[2021-02-24 05:38] hbhasker commented on #5568
Kevin,

Could you take a look at the report.

[2021-02-24 18:32] arthurpi commented on #5553
These options are actually already supported (handled by the extension header iterator)

Closing this issue.

[2021-02-24 18:32] #5553 closed

[2021-02-24 21:01] #5545 closed

[2021-02-25 00:56] #5490 closed

[2021-02-25 06:39] jackloomen commented on #5571
x11 socket does work with xhost +
wayland protocol uses shared memory and requires a proxy to use (waypipe)

unfortunately gvisor crashes with the majority of graphical applications having not been built for that.

vm solution (crosvm, firecracker) is preferred.

[2021-02-25 06:39] #5571 closed

[2021-02-25 18:48] puradox opened #5583 "Cannot distinguish between link failure and NUD Incomplete/Probe timeout"
There is no way to distinguish between a link failure and and a NUD probe timeout during the Incomplete and Probe states. When either of these happen, a DEL event is dispatched then the entry is removed from the neighbor table. This can create confusion in logs. This issue proposes to include an optional error message with every DEL event dispatched from the NUD state machine.

[2021-02-25 20:28] zeling opened #5586 "Packetimpact testbench should be fed with uname information on DUT"
Some OSs behave slightly differently, but still within the RFC. It can be useful to have access to uname information from the testbench to write more specific tests

[2021-02-25 20:29] zeling commented on #5586
different OS has different options support for uname, for example -o is not present on Mac OS, though it is unlikely we will have Mac as our DUT, recording this to the tracking issue.

[2021-02-26 07:41] #4696 closed

[2021-02-26 17:54] dqminh opened #5591 "Gvisor with kvm platform hang in shutdown"
**Description**

Sometimes, we see that our gvisor container with platform=kvm hang in shutdown (i.e. runsc kill ot delete does nothing) with the runsc-sandbox unresponsive. Here's the goroutine list extraced with dlv

https://gist.github.com/dqminh/ed74defb894b44dbbeda1df1be26627e

Looking at the goroutines, i see

[code]

So here we are waiting for some vcpu state changes, and we are holding the

[2021-02-26 21:27] #5541 closed

[2021-02-27 01:07] tam7t commented on #5530
Thanks! I now get:
[code]

But at least no more errors and `$ sudo apt install runsc` succeeds, thanks

[2021-02-27 01:08] tam7t commented on #5530
The i386 message can be fixed with:

[code]

Not sure about the 'conflicting distribution' warning though

[2021-02-27 01:15] #5530 closed

[2021-02-28 20:39] ayushr2 commented on #3626
@fvoznika We should also be passing `O_SYNC` to the gofer right?

[2021-03-01 00:05] #4695 closed

[2021-03-01 17:13] amscanne commented on #5530
What distribution & version are you installing on? I'd like to update the docs to include arch=amd64 where required.

[2021-03-01 22:00] prattmic commented on #5241
Duplicate of #1446.

[2021-03-01 22:00] #5241 closed

[2021-03-02 00:31] arthurpi opened #5597 "Remove netstack stats that can never be incremented"
**Description**

Some stats can never be incremented, they should be removed or, if possible, incremented when possible.

**Do you have a specific solution in mind?**

An example of such stat is ICMP.V4.PacketsSent.Echo. The netstack never knows when a ICMPEcho packet is sent.
There might be more of such stats.

[2021-03-02 02:26] fvoznika commented on #3626
`O_SYNC` needs to be handled by [goferfs to flush dirty cache pages](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/fsimpl/gofer/regular_file.go;l=252?q=file:fsimpl%2Fgofer%20O_SYNC). It could be added to save the extra `syncRemoteFile()` call, but it needs to account for gofers that are not file backed. So not worth until someone actually needs it.

[2021-03-02 17:52] arthurpi commented on #5597
After looking at some of the Stats, several of them are never incremented (for now), such as `ICMP TimeStamp packet (sent)` (the receive stat is incremented though!).

However I don't think that it is a good idea to remove them, it will look like an oversight when looking at stats - so let's keep these stats even though they will always be zero (as of writing).

The real problem are stats that are

[2021-03-02 18:57] ghanan94 opened #5605 "Report duplicate address holder"
When DAD fails, we should hold information about the holder of a duplicate address in the returned `stack.DADResult` https://github.com/google/gvisor/blob/39251f31cb92d6c2b053416d04e195e290b106f2/pkg/tcpip/stack/registration.go#L856.

This will help with debugging so we can see what device reports an address as duplicate.

[2021-03-02 18:59] ghanan94 opened #5606 "Rename `DADResult.Resolved`"
https://github.com/google/gvisor/blob/39251f31cb92d6c2b053416d04e195e290b106f2/pkg/tcpip/stack/registration.go#L856

Consider renaming `DADResolt.Resolved` to something more obvious to readers that DAD did or did not detect a duplicate address

[2021-03-03 16:35] cerenarpaci opened #5608 "Free Memory"
**Description**
runc:
<img width="460" alt="runsc" src="https://user-images.githubusercontent.com/43756284/109838728-7ad96a80-7c57-11eb-8f58-b036f27846bc.png">
runsc:
<img width="434" alt="runc" src="https://user-images.githubusercontent.com/43756284/109838736-7d3bc480-7c57-11eb-9e4b-575cabd48cd0.png">

When I compare the total memory inside a standard Docker container and Docker with gVisor, ther

[2021-03-03 16:38] avagin commented on #5591
requestInterruptWindow=1 means that interrupts are disabled on this vCPU. In this case, it is probably means that we stuck in the Sentry or in one of ring0 trampolines. We can try to dump vCPU registers to get more information. You can do something like this https://github.com/avagin/gvisor/commit/736f1010ca9ec4de47faa96f064b40e69167343b and then get vCPU registers with dvl. Ideally, we need to in

[2021-03-03 20:26] avagin commented on #5591
I think the watchdog can look like this https://github.com/google/gvisor/pull/5614.

[2021-03-03 20:26] #4663 closed

[2021-03-04 00:09] #4684 closed

[2021-03-04 16:41] avagin commented on #5591
I've reproduced a similar issue with syzkaller:

panic: VCPU 10 is stuck:
        system registers: {
                CS:{base:0 limit:4095 selector:16 typ:9 present:1 DPL:0 DB:0 S:1 L:1 G:1 AVL:0 unusable:0 _:0}
                DS:{base:0 limit:0xffffffff selector:43 typ:3 present:1 DPL:3 DB:0 S:1 L:0 G:1 AVL:0 unusable:0 _:0}
                ES:{base:0 limit:0xffffffff selector:43 typ:3 present:

[2021-03-04 17:09] avagin commented on #5591
I think we have a race window in ·exception.
[code]

[2021-03-04 17:11] avagin commented on #5591
Something like this probably will fix the issue:
[code]

[2021-03-04 18:18] arthurpi opened #5623 "Add unit tests for the ICMP Endpoint implementation"
The ICMP endpoint implementation lacks unit tests (pkg/tcpip/transport/icmp/).

[2021-03-05 00:21] fvoznika commented on #5608
It seems that the screenshots above are mixed. gVisor always reports MemFree and MemeAvailable the same, so the top one must be for runsc (gVisor) and the bottom one for runc. gVisor is actually reporting more free memory that runc, so I'm not sure this is the cause of the performance problems you're having.

If you can, please provide more details about the application and what kind of performanc

[2021-03-05 05:56] ayushr2 commented on #3626
Supporting the passing of `O_NOATIME` and `O_DIRECT` would require more complex handle sharing in the gofer client.
Currently all reads and writes for an FD go through the backing dentry's read and write handles. I think that has been done to avoid excessive `Open` RPCs on the same dentry. We would have to special case FDs that are opened with flags like `O_NOATIME` and `O_DIRECT` and have special

[2021-03-05 10:28] cerenarpaci commented on #5608
Hi There, apologies for the confusion with the images. Could you confirm with me if the runsc is using the maximum memory available on the host?

[2021-03-05 11:38] dqminh commented on #5591
@avagin great idea on reproducing with syzkaller. Is it possible to get the reproducible program ? Is there any instructions on how to run this so we can try to run it ourselves ?

Not sure if i would like it to run all the time (not sure if there is is there any legitimate reason when the vcpu running without interruption for a long period of time ), but maybe it's perfect for syzkaller purpose.

[2021-03-05 15:02] tam7t commented on #5530
I'm using Pop!_OS 20.10.

[2021-03-05 15:45] avagin commented on #5591
In ring0, interrupts has to be disabled and gs has to point on the vCPU structure.

My idea was that if we will handle external interrupts in this case, we will do one more extra swapgs() and then gs will be 0 in ring0. It is exactly what we see in https://github.com/google/gvisor/issues/5591#issuecomment-790754770.

But I think I was wrong. I added some debug in bluepillReadyStopGuest and found t

[2021-03-05 16:35] avagin commented on #5591
I have added this debug in the code:
[code]

Now, if we try to deference GS when it is zero, we will know where it has been happened. Then I use syzkaller to reproduce the issue:
[code]
[code]
[code]

so it means that we fault in SwitchToUser() after swapgs().

[2021-03-05 19:55] #5606 closed

[2021-03-05 21:32] #5605 closed

[2021-03-06 17:58] ayushr2 commented on #3626
Note that another level of complexity is that `O_DIRECT` and `O_NOATIME` flags can change on an FD via `fcntl(F_SETFL)`. See [vfs.SetStatusFlags()](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/vfs/file_description.go;l=279;drc=203890b13447a41c484bfeb737958d1ae01383c9).

[2021-03-08 12:55] kommendorkapten commented on #5530
I still see some issues.
Environment:
[code]

When trying to install latest:
[code]

Then I tried the earlier version:
[code]
Installing from this version works:
[code]

[2021-03-08 13:35] mroushdy-84 opened #5626 "CRI-O and CentOS"
How to implement on CRI-O and Centos please?

[2021-03-09 05:52] urbanadventurer opened #5635 "apt repo reports hash missmatch (Duplicate opf closed issue #5530)"
**Description**

apt repo hashes do not match the deb package! This issue was previously reported as #5530 and was closed.

**Steps to reproduce**

[code]

Check the deb file
[code]

Compare with apt lists

[code]

**Environment**

- Fresh install of Ubuntu 18.04
- `Linux ubuntu 5.4.0-66-generic #74~18.04.2-Ubuntu SMP Fri Feb 5 11:17:31 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

**Working Workaroun

[2021-03-09 06:08] markxp commented on #5635
Same result, with the environment:

distro: Debian 10
kernel: Linux proton-XozRd 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux

[2021-03-09 07:08] sbilly opened #5636 "faile to build with `gvisor/pkg/tcpip/stack`"
**Description**

faile to build with `gvisor/pkg/tcpip/stack`.

**Steps to reproduce**

[code]

the `main.go` :

[code]

the `go.mod`:

[code]

if modify `go.mod` to use different version `gvisor/pkg/tcpip/stack`, `go build` works fine.

[code]

[code]

**Environment**

[code]

[2021-03-09 09:11] iyermi opened #5637 "TCP listening endpoint can reply to more SYNs than allowed by listen backlog"
There are cases where a listening endpoint can reply to more SYNs than allowed by the listen backlog.
This can be reproduced by checking for ECONNREFUSED for incoming client connections beyond listen backlog in this syscall test:
https://github.com/google/gvisor/blob/abbdcebc543242862fad0984db2db0a842021917/test/syscalls/linux/socket_inet_loopback.cc#L487

[2021-03-09 19:44] avagin commented on #5591
The exception vector is #UD(Undefined Instruction). According to the documentation, it can happen in three cases:
If CPUID.01H:ECX.XSAVE[bit 26] = 0.
If CR4.OSXSAVE[bit 18] = 0.
If the LOCK prefix is used.

[2021-03-10 19:46] fvoznika commented on #5608
Yes, gVisor will be able to use all memory available on the machine, respecting memory limits that may have been set to the container. gVisor is hiding the amount of free memory on the machine so that host information is not leaked to the container. Granted that this may cause problems for applications that use this information to size themselves. Docker on the other hand reports the total free me

[2021-03-10 20:06] fvoznika commented on #3626
Yes it would require keeping extra files for the different options. When a file is being open, it would need to check open flags against other open files to try to find one that is compatible. If none are found, creates a new one an add to the list of open files to be matched.

`fcntl(2)` complicate things a bit :-( It could just ignore them, like we do today. Or reopen the backing file with the n

[2021-03-11 11:36] ashlyrclark opened #5657 "change"
**Description**

A clear description of the feature or enhancement.

**Is this feature related to a specific bug?**

Please include a bug references if yes.

**Do you have a specific solution in mind?**

Please include any details about a solution that you have in mind, including any
alternatives considered.

[2021-03-12 07:37] Bo0km4n commented on #5635
Same result occurred.
My environment:
[code]

[2021-03-12 08:22] zhlhahaha commented on #5248
Hi @amscanne @avagin Here is some update for CI test on ARM64
1. ptrace syscall test with error number 524
2.
2. ptrace syscall test TIMEOUT

[2021-03-12 17:37] avagin commented on #5635
https://github.com/google/gvisor/pull/5663 should fix this isse.

[2021-03-12 18:36] amscanne commented on #5635
Thanks @avagin for the fix, that was making me crazy. I've pinned the release again but hopefully this has gone away. Thanks for the report @Bo0km4n, @urbanadventurer, @markxp.

The issue was that that .deb file was signed correctly and the repository generated correctly, but then the deb was being resigned, changing the hashes. Maybe we should also just stop signing the debs? I believe the standa

[2021-03-12 18:37] amscanne commented on #5657
Hey, this looks just like the standard template so I assume it was created in error. Feel free to file another issue if not. Thanks!

[2021-03-13 12:00] nsoubelet commented on #5635
Hello @amscanne, as far as I understand this is solved, right? I am having the same problem right now.
Same setup as users above, same distro and kernel version.
Is there any manual step I should do to fix it? Latest release is https://github.com/google/gvisor/releases/tag/release-20210301.0 so maybe it is not already fixed?
Thanks

[2021-03-14 08:10] markxp commented on #5635
@nsoubelet @amscanne It is not fixed yet. All messages (Debian 10, kernel 4.19) were the same as @urbanadventurer posted.
Maybe it's not pushed yet?

[code]

[2021-03-14 15:58] gdsoumya commented on #140
Hi @ianlewis, I am interested to take this issue for [GSoC 2021](https://gvisor.dev/community/gsoc_2021/). I have been going through the code base looking for the existing implementations of clone(2) and unshare(2) and found [task_clone.go](https://github.com/google/gvisor/blob/master/pkg/sentry/kernel/task_clone.go) and [sys_thread.go](https://github.com/google/gvisor/blob/master/pkg/sentry/sysca

[2021-03-14 21:48] avagin commented on #5635
@nsoubelet @markxp you need to wait for the next release.

[2021-03-15 08:52] sbilly commented on #5636
any help?

[2021-03-15 16:34] amscanne commented on #5636
The main branch is built with bazel. If you want to use the Go tools, you'll need to use the Go branch, as described here:
https://github.com/google/gvisor#using-go-get

Your second commit is on the Go branch, and the first one isn't.

[2021-03-15 16:34] #5636 closed

[2021-03-15 16:35] amscanne commented on #5636
Feel free to reopen if there are any issues with the Go branch itself, but the primary branch does not support the Go tools alone. (There are many are parts that are built in other languages, etc.)

[2021-03-15 17:30] avagin commented on #5591
And here is one more type of faults that syzkaller triggered:

[code]

[code]

CR2:0xffff800000de7261
RIP: 0xffff800000de7261

Does this look like the upperSharedPageTables has been unmapped...

[code]

[2021-03-16 01:19] puradox opened #5673 "ICMP sockets receive packets from IPv4 multicast and broadcast"
**Description**

When developing a PacketImpact test for ICMP sockets, I came across a discrepancy with Linux. Our ICMP sockets accept traffic from the IPv4 subnet broadcast address when bound to the IPv4 any address.

[code]

**Steps to reproduce**

[code]

[2021-03-16 02:40] kevinGC commented on #1446
This should be fixed by #5665. I can build on the `go` branch via:
[code]

[2021-03-16 02:40] #1446 closed

[2021-03-16 04:04] bradfitz commented on #1446
@kevinGC, thanks! I can confirm it works. I just put our application with GOOS=386 and it worked in netstack mode.

[2021-03-16 19:16] puradox opened #5678 "Support SO_BINDTODEVICE in ICMP sockets"
ICMP sockets do not support the SO_BINDTODEVICE socket option. This is necessary to send pings out of the correct interface when multiple interfaces are viable for a given address. This issue tracks the implementation of the socket option and the packetimpact test that exercises the scenario above.

[2021-03-16 20:17] puradox opened #5681 "ICMP sockets do not allow multicasting or broadcasting"
Creation of the first packetimpact test for ICMP sockets have uncovered a discrepancy with Linux. ICMP sockets on gVisor do not allow sending to multicast or broadcast addresses, whereas this is supported on Linux.

The packetimpact failures shows we are unable to send to multicast/broadcast when bound:

[code]

Additionally, when unbound, the destination IPv4 address is not correctly set to multi

[2021-03-16 20:26] puradox commented on #5673
Found the same applies for normal broadcast and multicast

[code]

[2021-03-16 20:29] puradox commented on #5673
It's important to reiterate: this is a discrepancy with Linux; ICMP sockets on Linux do not receive packets from multicast or broadcast when bound to the IPv4 any address.

[2021-03-16 22:08] #5637 closed

[2021-03-17 09:04] lubinszARM commented on #5591
/cc

[2021-03-17 21:37] #3834 closed

[2021-03-17 22:34] kamaln7 opened #5687 "VFS2: /dev/shm is mounted with 0755 permissions"
**Description**

With VFS2, `/dev/shm` is mounted with `0755` permissions and `root:root` ownership. This prevents programs that rely on `/dev/shm` from running as a non-root user.

VFS1 mounts `/dev/shm` with `0777` permissions which works as expected. Interestingly enough, vanilla Docker mounts `/dev/shm` with `1777` permissions.

**Steps to reproduce**

[code]

**Environment**

Please include t

[2021-03-18 00:08] ghanan94 commented on #4902
Fields that are currently exposed by value are in the `routeInfo` struct which `Route` embeds

https://github.com/google/gvisor/blob/d3a433caae7111973915197a9ecc61660df3b810/pkg/tcpip/stack/route.go#L59-L78

[2021-03-18 11:53] abarisani commented on #1446
I can confirm that building now works, however we still have to work around sync/atomic bugs, see:

https://github.com/f-secure-foundry/gvisor/commit/c18d73317e0f8d228bbb91ee790b18aaaf52ae3e
https://github.com/f-secure-foundry/gvisor/commit/949d1f7623ed059511021fc7b93b121b50d0da1a

[2021-03-18 14:34] abarisani opened #5692 "tcpip bad atomic alignment 32-bit ARM"
Hello.

While https://github.com/google/gvisor/issues/1446 addresses compilation of the tcpip package on 32-bit systems, its execution still fails (at least on 32-bit ARM) due to [sync/atomic known limitations](https://golang.org/pkg/sync/atomic/#pkg-note-BUG).

Here is one example (the stack trace is from http://inet.af/netstack fork but the code base is gvisor one):

panic: unaligned 64-bit atom

[2021-03-18 18:12] #5687 closed

[2021-03-18 20:31] kevinGC commented on #5692
@abarisani I like your workaround. I'm thinking it might be good to wrap this in it's own type too -- I'll give it a try.

[2021-03-18 20:55] amscanne commented on #1446
The ([language spec](https://golang.org/ref/spec#Size_and_alignment_guarantees) is not helpful in this area.

However, I strongly suspect a struct like this:

type Foo struct {
   value int64
}

would normally have an 8-byte alignment if allocated on its own (just because of the heap pool).

We must be hitting this issue just because we have these structs embedded in other structs that are causing

[2021-03-18 21:27] prattmic commented on #1446
https://go101.org/article/memory-layout.html discusses this issues, plus possible workarounds near the end (including heap allocation or large slices). There are a few Go proposals to fix this, but nothing accepted.

[2021-03-19 06:23] toshikik opened #5696 "iptables: support SNAT and DNAT/Redirect on the same connection"
Currently iptables/conntrack can specify only one type of manipulation per connection and the manipulation type field is immutable. To support multiple manipulations on the same connection, the manipulation type field should be a bit set, also modifiable by different targets at different hooks (e.g. DNAT/Redirect on Output hook and SNAT on Postrouting hook).

[2021-03-19 12:26] nsoubelet commented on #5635
Hi guys, yes it is now working. I was forced to run a `dpkg --configure -a` because when having gvidor repo I had some `dpkg was interrupted` but I think it was a problem related to my OS, not a general thing.

Thanks

[2021-03-19 16:18] toshikik opened #5697 "iptables: support address and port range in SNAT target"

[2021-03-19 16:30] toshikik opened #5698 "iptables: more NF_NAT_RANGE flags support in SNAT target"

[2021-03-19 22:37] #1634 closed

[2021-03-19 22:37] iyermi commented on #1634
Duplicate of #1644

[2021-03-21 22:25] gaby opened #5703 "Apt repositories install fail for x86_64"
**Description**
Manually installing gvisor works fine, installing it via apt repositories fails.

**Steps to reproduce**

curl -fsSL https://gvisor.dev/archive.key | sudo apt-key add -
sudo add-apt-repository "deb https://storage.googleapis.com/gvisor/releases release main"

Error:

[code]

**Environment**

Linux ubuntu-vb 5.8.0-45-generic #51~20.04.1-Ubuntu SMP Tue Feb 23 13:46:31 UTC 2021 x86_64

[2021-03-22 03:35] VUHAILAM commented on #5623
Hi @arthurpi, I'd like to work on this issue. I'm a newcomer to this project and open source. But I have some experience with Go and write Unit tests with Go. Could you please help me to solve this issue. Thanks

[2021-03-22 16:13] amscanne commented on #5703
I think this answer explains what's going on:
https://askubuntu.com/questions/741410/skipping-acquire-of-configured-file-main-binary-i386-packages-as-repository-x

The short version: your installation is configured to try to grab i386 packages which are not supported. You can change the local configuration to not try to grab i386 or limit the deb line via [arch=amd64].

I will update the instructi

[2021-03-22 16:22] amscanne commented on #5703
I've updated the instructions in #5704. Give that a shot and see if the error goes away?

[2021-03-22 21:10] #3795 closed

[2021-03-22 22:57] puradox opened #5711 "ICMP sockets allow binding to broadcast addresses"
**Description**

ICMP sockets allow users to bind to a broadcast address. This deviates from Linux and shouldn't be allowed. This suggests ICMP sockets are able to intercept any ICMP Echo Reply.

**Steps to reproduce**

Run the packetimpact test for ICMP sockets.

[code]

[2021-03-23 02:09] gaby commented on #5703
@amscanne PR #5704 fixes this issue.

[code]

Thank you!

[2021-03-23 06:16] #5703 closed

[2021-03-24 01:50] hbhasker commented on #5544
Thanks for the detailed repro. https://github.com/google/gvisor/pull/5719 fixes the issue. That should be submitted in the next couple of days.

[2021-03-24 01:51] hbhasker commented on #5132
Marking this closed.

[2021-03-24 01:51] #5132 closed

[2021-03-24 05:50] #5591 closed

[2021-03-24 16:38] #4902 closed

[2021-03-24 17:37] ghanan94 commented on #4466
they won't be exported though. Internally they will still be stored as a private member and that way we can just return the member by value

[2021-03-24 19:11] #5544 closed

[2021-03-25 10:05] zhlhahaha opened #5729 "integrationtest do not support ARM64"
**Description**

I found integrationtest do not support ARM64. Can we make it build for multiarch?

[2021-03-25 18:04] kevinGC commented on #180
The setgid bit is supported on directories as of #5717.

[2021-03-25 18:04] #180 closed

[2021-03-25 23:58] DentonGentry opened #5732 "Reading 128 bytes from /proc/net/route makes file appear truncated"
**Description**

In Cloud Run, /proc/net/route has two entries. Each line is 128 bytes long (padded with spaces as needed), 384 bytes total including the header line.

[code]

If I read the whole 384 bytes at once, everything is fine:
[code]

If I read the first 128 bytes and try to go back for the next 128 bytes, read returns 0 instead.
[code]

It seems like I can do a series of small reads until

[2021-03-26 00:28] prattmic commented on #5732
cc @hbhasker

[2021-03-26 00:42] prattmic commented on #5732
cc @fvoznika @nlacasse @nixprime This might be a VFS1 or VFS2 only bug?

[2021-03-26 01:34] nixprime commented on #5732
I'm fairly sure this is a VFS1-only bug.

Certain dynamically-generated files in VFS1, including `/proc/net/route`, use `fs/proc/seqfile.SeqFile` in their implementation. This utility has a fairly complex interface. The actual contents of the file are generated by interface method `SeqSource.ReadSeqFileData()`, which returns a slice of records of type `SeqData`. Each `SeqData` consists a `string`

[2021-03-26 03:27] #5732 closed

[2021-03-27 19:49] dseomn opened #5738 "Better error messages and documentation about unsupported CPUs for KVM"
**Description**

I tried using gvisor in kvm mode, and it took a decent about of debugging to figure out that it wasn't working because my CPU doesn't support the XSETBV instruction. It would be great if the gvisor documentation on kvm vs ptrace said something about checking CPU flags to see if KVM is supported, and if the code checked the CPU flags early on and gave a clear error message explaini

[2021-03-29 04:41] zhlhahaha opened #5739 "vCPU timer mess up when adding vCPU dynamically on ARM64"
**Description**
*Problem:*
When doing KVM syscalls test on ARM, some test cases are randomly TIMEOUT.
These test cases use value of cntvct_el0 to count time. The vCPU timer messed up leads to `while loop` can not exit. The problem is related to kernel KVM code update_vtimer_cntvoff in vCPU initialization.

*Background:*
We obtain time (Rdtsc) on ARM via reading from register cntvct_el0. The virtua

[2021-03-29 04:42] zhlhahaha commented on #5739
@justin-he @amscanne @avagin @lubinszARM

[2021-03-29 07:35] santhoshcameo opened #5740 "gvisor pods are crashing when trying to integrate with minikube"
I was following these steps to enable gvisor to work with kubernetes, but the pod is crashing continuously. attaching the version and other logs.

[code]

[code]

[code]

[code]

[code]

[2021-03-29 09:41] ianlewis commented on #5740
Hmm, it seems it's trying to download the runsc binary but is failing.

Can you access this url from where your minikube is running? Maybe it's a network issue?
https://storage.googleapis.com/gvisor/releases/nightly/2020-02-14/runsc

[2021-03-29 16:47] avagin opened #5742 "kvm: fault right after switching cr3"
**Description**

syzkaller triggers cases when vCPU is stuck in gvisor.dev/gvisor/pkg/ring0.exception. This happens because we faults in ring0.sysret(), there we have a user GS, but we are still in ring0. By other words, this is one of critical sections where we should not fault.

CR2                    0xffff800000df48e1 (this is the same with IP)
SS                      0x18
SP

[2021-03-29 22:29] jelischer opened #5744 "NUD has no way to get/set cache entries"
There is no way to control or examine entries of the neighbor discovery cache.
For example:
    # ip neigh list
    RTNETLINK answers: Operation not supported
    Dump terminated
    # ip neigh show
    RTNETLINK answers: Operation not supported
    Dump terminated
    # ip neigh flush dev eth2
    RTNETLINK answers: Operation not supported
    Flush terminated

[2021-03-29 22:44] jelischer opened #5745 "/proc/sys/net/ipv6 not supported"
# ls -l /proc/sys/net/
    total 0
    dr-xr-xr-x 1 root root 0 Mar 25 09:22 core
    dr-xr-xr-x 1 root root 0 Mar 25 09:22 ipv4
    #

There are many parts of ipv6 that need this to control configuration.

[2021-03-30 03:24] toshikik opened #5748 "iptables: conntrack should validate TCP checksum on inbound packets"
Conntrack should validate TCP checksum on inbound packets if checksum offloading is off.
It may require IP defrag if the packets are fragmented.

[2021-03-30 22:56] avagin opened #5754 "kvm: floating-point exception code=0x6 addr=0x425ea9 pc=0x425ea9"
https://syzkaller.appspot.com/text?tag=CrashLog&x=12992127200000

[code]

[2021-03-30 22:59] avagin commented on #5754
https://github.com/golang/go/blob/597b5d192e39d7bba38dd461b96effe6e524984b/src/cmd/compile/abi-internal.md#flags

[code]

[2021-03-31 10:01] SanthoshConatix commented on #5740
Hi Ian,

Yes, I guess. I tried to access it from the machine and it worked.

[code]

[2021-04-01 00:03] #4724 closed

[2021-04-01 00:03] #4687 closed

[2021-04-01 00:03] #4677 closed

[2021-04-01 00:42] puradox opened #5763 "ICMP sockets allow receiving on IPv4 broadcast and multicast"
**Description**

While creating packetimpact tests for ICMP sockets, I noticed they allow receiving from IPv4 broadcast and multicast addresses while bound to the IPv4 any address (0.0.0.0). This behavior deviates from Linux, resulting in a packetimpact failure.

**Steps to reproduce**

[code]

The log file shows the deviation in gVisor:
[code]

[2021-04-01 08:06] SanthoshConatix commented on #5740
Hi Ian,

Also, I would like to know why the gvisor pods need internet access ??? it should be isolated without any inbound internet connection, then why does it look for runsc from google store api ?

[2021-04-01 17:01] avagin commented on #5754
https://cs.opensource.google/gvisor/gvisor/+/master:pkg/ring0/kernel_amd64.go;l=251?q=switchtouser&ss=gvisor%2Fgvisor

ring0.CPU.SwitchToUser doesn't restore the Sentry mxcsr.

And if we don't restore a sentry floating point state, we can be affected by another problem:
[code]

[2021-04-02 04:54] toshikik opened #5772 "iptables: SNAT source port range should be optional"
If the user doesn't specify a source port for SNAT, the system should assign one automatically.

[2021-04-02 04:57] toshikik opened #5773 "iptables: conntrack should check a SNAT source port conflict"
If the user specifies the same SNAT source port for different connections, conntrack should detect the conflict try another port

[2021-04-02 23:02] avagin commented on #5754
Here is a small reproducer:

[code]

[code]

[2021-04-06 00:10] #3373 closed

[2021-04-06 04:53] #3153 closed

[2021-04-09 09:48] lubinszARM opened #5811 "Some attempts to combine WASM and gVisor"
When I tried to apply gVisor to more scenarios in production area, I found that gVisor has the potential to be the guest user space kernel of WASM runtime.
In addition, when I attended the CNCF runtime conference, I found that WASM became more and more popular as the CNCF runtime.

So, I made a simple POC to verify my idea:
https://github.com/lubinszARM/gvisor/tree/pr_platform_wasm_poc

In my simp

[2021-04-09 09:54] lubinszARM commented on #5811
/cc @avagin

[2021-04-09 12:34] blockTokenTech commented on #5608
I've also run into this same issue trying to run xmrig within a docker container (https://xmrig.com/)
Here is the docker container https://hub.docker.com/r/metal3d/xmrig or https://github.com/metal3d/docker-xmrig

When xmrig initialises it looks for available memory as the faster hashing implementations require a lot more memory.  Irrespective of actual memory available it thinks that there is onl

[2021-04-09 12:37] blockTokenTech commented on #5608
FYI the Akash network (https://akash.network/) is using gvisor so if you spin up an instance on Akash you suffer from this problem. I think. New to Akash and gvisor

[2021-04-10 00:15] #5754 closed

[2021-04-10 03:48] dseomn opened #5817 "Debian package seems to overwrite local changes to runsc.toml"
**Description**

My changes to /etc/containerd/runsc.toml seemed to have been overwritten with the default version of that file. I noticed it right after a package upgrade, but I didn't check before the upgrade, so I guess it's possible something else caused it. I did check https://github.com/google/gvisor/blob/master/debian/BUILD though and I didn't see anything about protecting the config file.

[2021-04-10 04:11] #5489 closed

[2021-04-12 15:55] amscanne commented on #5817
I think you're right. That's annoying, sorry about that. I'm pushing a fix and it should be merged soon.

[2021-04-12 19:34] #5817 closed

[2021-04-14 23:08] milantracy opened #5839 "Complete the pidfd API"
**Description**

Implement pidfd API for gVisor.

See https://lwn.net/Articles/794707/ for details

**Is this feature related to a specific bug?**

N/A

**Do you have a specific solution in mind?**

[2021-04-15 10:38] unknowndev233 commented on #5171
Could you please reopen this issue? I can't solve this problem at the moments.

[2021-04-15 19:46] amscanne commented on #5811
I love this. I'm a big fan of wasm and have wanted to this for a long time, it's awesome that you've put together a POC.

Here are some thoughts:
* Rather than a separate platform, I actually thought we could just support native WASI binaries that are in container images. E.g. interpret the WASI header and hook in to the [loader itself](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentr

[2021-04-16 15:12] hakansa opened #5846 "Build Completed Successfully But recipe for target 'runsc' failed"
**Description**

I'm trying to build the source code.  `make runsc` is below;

**Steps to reproduce**
[code]

**Environment**

Please include the following details of your environment:

*   `docker version` or `docker info` (if available):
[code]
*   `uname -a`:
[code]
*   `git describe` (if built from source):
[code]

[2021-04-16 18:42] inductor commented on #5170
@kevinGC @ianlewis Could I have some update on it? :)

[2021-04-16 22:56] iyermi opened #5850 "Transport-demuxer silently drops packets when raced with endpoint unregister"
Transport-demuxer silently drops packets when raced with endpoint unregister.

An incoming packet is matched to endpointsByNIC here:
https://github.com/google/gvisor/blob/82dc881dba7399afa4268c5e3a70624db0b1e7ee/pkg/tcpip/stack/transport_demuxer.go#L562

The endpoint is further looked up here:
https://github.com/google/gvisor/blob/82dc881dba7399afa4268c5e3a70624db0b1e7ee/pkg/tcpip/stack/transport_

[2021-04-17 18:32] #5850 closed

[2021-04-19 00:38] ianlewis opened #5853 "Update docs to containerd v2 config format"
Our current docs use containerd v1 config format. v1 is still supported, but v2 has been around for a while, is highly recommended, and users will have trouble adding gVisor config to a config.toml that's already in the v2 format.

https://github.com/containerd/containerd/issues/4783

[2021-04-19 00:41] ianlewis commented on #5853
Hmm. Didn't see https://github.com/google/gvisor/issues/5170

[2021-04-19 00:41] #5853 closed

[2021-04-19 00:41] ianlewis commented on #5170
I'll look at it when I get a chance.

[2021-04-19 09:55] cerenarpaci commented on #5608
Hi there, apologies for the late response. My application checked the free memory available on the machine in runtime, and since gVisor does not report the actual value due to security reasons, my application could not use all available space. I have stop working on the application so I if you like to close the issue it wouldn't be a problem from my side. Thanks for the guidance @fvoznika

[2021-04-19 13:40] dqminh opened #5854 "Invalid request partialResult true and err (type syscall.Errno) invalid argument for write operation on "/proc/sys/net/ipv4/tcp_rmem""
**Description**

We run syzkaller for gvisor internally, and the following C program generate a traceback

Traceback

[code]

Reproducer:

[code]

**Steps to reproduce**

[code]

With config.json as

[code]

**Environment**

[code]

[2021-04-19 23:43] #4466 closed

[2021-04-20 07:28] #5049 closed

[2021-04-20 23:07] travigd opened #5861 "Pods stuck in terminating"
**Description**

I think this has only started happening since we switched to gVisor.

Occasionally, pods will get stuck in a terminating state. Interestingly, I see there are currently two pods stick in terminating, both on the same node, and both from approximately the same time (they've been stuck for 7h52m and 7h35). I'm running on GKE with the stock gVisor option (nothing exotic).

It seems w

[2021-04-20 23:54] jseba commented on #4544
This issue also happens when using the containerd client APIs and the Gvisor runtime shim, not just from ctr. I spent some time tracking down a root cause and I believe I found it:

https://github.com/google/gvisor/blob/07a78ecb2918905af030a8cf81ee86ddd1c622c5/pkg/shim/proc/init.go#L130-L134

In this block, the IO is only hooked up if the sandbox flag is set, but I don't understand why. If I move

[2021-04-21 13:57] infokiller opened #5865 "Error: `unable to retrieve OCI runtime error (open /var/run/docker/containerd/daemon/io.containerd.runtime.v2.task/moby/.../log.json: no such file or directory):`"
**Description**

After installing the latest runsc following https://gvisor.dev/docs/user_guide/install/#install-latest I'm unable to use it with docker:

[code]

Not sure if this is related, but this also fails:

[code]

**Steps to reproduce**

If available, please include detailed reproduction steps.

If the bug requires software that is not publicly available, see if it can be
reproduced with s

[2021-04-21 20:27] googleanivia commented on #5355
Closing because of no activity. Feel free to reopen if you have more questions.

[2021-04-21 20:27] #5355 closed

[2021-04-21 22:42] fvoznika commented on #5865
Yes, the problem is that your machine has only cgroups v2 enabled. gVisor only supports cgroups v1. If you search for `revert cgroup v1` you'll find instructions to revert it based on your distribution.

[2021-04-21 22:42] fvoznika commented on #5865
Duplicate of #3481

[2021-04-21 22:42] #5865 closed

[2021-04-21 23:12] fvoznika commented on #5861
If this is still happening and you have access to the node, please run the command below just to check if runsc or gvisor containerd shim are running. Most likely they are not, but just to confirm: `ps -e f | grep runsc`

If you can repro them occasionally, would it be possible to change `/run/containerd/runsc/config.toml` in some gVisor nodes? This should not affect runtime performance significan

[2021-04-22 01:15] travigd commented on #5861
I see one pod that's stuck in terminating.

Interestingly, it seems to be an init container that's failing to terminate? I'm not sure that this is the same issue as before (I don't remember that being an init container, but those seem to have been cleaned up, perhaps by a node shutting down, so I can't confirm). All of these pods have a brief init container that runs alpine and downloads a binary

[2021-04-22 07:42] zhlhahaha opened #5875 "TestMultiContainerEvent test failed"
**Description**

When running `bazel test //runsc/container:container_test --test_filter=TestMultiContainerEvent --cache_test_results=no` for sever times, it always failed with following message:
[code]

**Steps to reproduce**
I use following shell script to detect error
[code]

**Environment**

Please include the following details of your environment:
*   `uname -a`
Linux entos-x86-desktop-03 5.9

[2021-04-22 07:43] zhlhahaha commented on #5875
/assign @kevinGC

[2021-04-22 08:23] zhlhahaha commented on #5875
I did some investigation:
The CPUusage path comes from following code
https://github.com/google/gvisor/blob/47bc115158397024841aa3747be7558b2c317cbb/runsc/cgroup/cgroup.go#L298
either the `cgroup.name` or `cgroup.parents` is misconfigured.

[2021-04-23 08:56] unknowndevQwQ opened #5887 "Bug: disable cgroup controller net_cls and net_prio can't use runsc"
**Description**

podman using runsc and disabled cgroup controller `net_cls` and `net_prio`,runsc not working

expected behavior： runsc can do not use cgroup controller `net_cls` and `net_prio` continue run
observed behavior: runsc output `Error: OCI runtime error: creating container: configuring cgroup: mkdir /sys/fs/cgroup/net_cls/libpod_parent: read-only file system` and exit

**Steps to reprod

[2021-04-23 15:12] unknowndev233 opened #5888 "runsc need support cgroup2"
**Description**

runsc works fine with all cgroup v1 controllers disabled (cgroup v2 may be mounted to /sys/fs/cgroup at this point)

~~Given that mainstream OCI runtime supports cgroup v2, such as runc, and that recent systemd uses cgroup v2 by default to manage services and other things, it is necessary for runsc to support cgroup v2~~

**Is this feature related to a specific bug?**

No. But if

[2021-04-23 16:34] dqminh commented on #5888
Duplicate with #3481 i have some wip here https://github.com/google/gvisor/pull/5453, which i'm going to spend some time next week to try to complete it.

cc @fvoznika

[2021-04-26 00:09] #5888 closed

[2021-04-26 17:13] avagin commented on #5742
system registers: kvm.systemRegs{CS:kvm.segment{base:0x0, limit:0xfff, selector:0x10, typ:0x9, present:0x1, DPL:0x0, DB:0x0, S:0x1, L:0x1, G:0x1, AVL:0x0, unusable:0x0, _:0x0}, DS:kvm.segment{base:0x0, limit:0xffffffff, selector:0x2b, typ:0x3, present:0x1, DPL:0x3, DB:0x0, S:0x1, L:0x0, G:0x1, AVL:0x0, unusable:0x0, _:0x0}, ES:kvm.segment{base:0x0, limit:0xffffffff, selector:0x2b, typ:0x3, present

[2021-04-27 01:00] ianlewis commented on #5626
Hi, I think this is mostly a duplicate of https://github.com/google/gvisor/issues/3283. Please follow that issue.

[2021-04-27 01:00] #5626 closed

[2021-04-27 23:28] puradox commented on #5623
#5680 will be adding a unit test to exercise the NIC selection logic for ICMP sockets in the presence of SO_BINDTODEVICE. However, there is more work to be done in `//pkg/tcpip/transport/icmp/icmp_test.go`. An example of a fully tested transport endpoint can be found in the nearby UDP socket directory, `//pkg/tcpip/transport/udp/udp_test.go`. Remaining areas include, but may not limited to:

- Bin

[2021-04-28 20:46] avagin commented on #5742
I think the problem here is similar with 2f3dac78ca9aa1abb9d27570bc9ece0f486ddb60. cr3 points to a physical page that isn't mapped yet. I tried to "pre-fault" this page and run syzkaller:

[code]

without the fix, this issue is reproduces approximately once per 2M executed programs.

[2021-04-28 22:33] iyermi opened #5912 "Provide a way to disable GSO, checksumming, for test, debug purposes"
Similar to `ethtool --offload <interface> rx off tx off`, having a way to disable GSO, checksumming is helpful for test/debug purposes.

[2021-04-28 23:28] #5170 closed

[2021-04-28 23:45] fvoznika commented on #5887
Controllers `net_cls` and `net_prio` are required because the container spec may specify network limits set. What is the reason to disable `net_cls` and `net_prio` controllers? And what is the expected behavior if the container spec specify network limits in this case?

[2021-04-29 04:22] inductor commented on #5170
@ianlewis I tried this setup procedure and it worked like a charm thank you friend!

[2021-04-29 10:29] lubinszARM commented on #5811
![image](https://user-images.githubusercontent.com/34124929/116537266-98097d00-a918-11eb-95e8-845b06fa2efc.png)
![image](https://user-images.githubusercontent.com/34124929/116537288-9f308b00-a918-11eb-85dd-b1ca50397a9d.png)
https://v8.dev/blog/emscripten-standalone-wasm

[2021-04-29 10:40] lubinszARM commented on #5811
Hi @amscanne
I agree with your suggestions. If wasmtime-go is to be integrated, there are still many problems that need to be resolved.

Currently I am still discussing with my colleagues the benefits of putting this combination in serverless/faas scenario, and trying to find a suitable wasi program.

I agree that memory management is indeed a problem for this POC.
I searched some information, may

[2021-04-29 14:14] unknowndev233 commented on #5887
I need to use [springzfx/cgproxy](https://github.com/springzfx/cgproxy), it needs to disable `net_cls` and `net_prio` controllers

journal `net_cls` and `net_prio` disabled, continue run and output warning messages by setting the log level(Optional)

[2021-04-29 17:52] ghananigans opened #5915 "track all trackable connections (UDP/ICMP/etc.)"
Tracking connections loosely with UDP/ICMP/etc. is required so iptables can block all incoming connections but allow connections that the host initiated

E.g, rules can look like:

[code]

As of writing, we only support TCP

[2021-04-29 17:54] ghanan94 opened #5916 "iptables should handle ICMP errors"
Incoming ICMP errors are not properly rewritten when the ICMP error is for a tracked TCP/UDP connection.

This will result in TCP/UDP connections that are NAT-ed to never receive ICMP errors.

[2021-04-29 17:56] ghananigans opened #5917 "Share IP-related across UDP/ICMP and potentially TCP"
ICMP and UDP are datagram based protocols and share a lot of code when performing IP/NIC-level setup like connecting and binding.

We can probably share code by extracting a datagram endpoint which UDP and ICMP can compose.

Ideally TCP can also share some of this code as its IP-level setup can be shared as well.

[2021-04-29 19:23] obrown06 opened #5919 "Support TCP segmentation when DontFragment is set and packet exceeds outgoing MTU"
Currently, we assume that packets sent by our stack have DontFragment == 0. This means that we fragment packets in the IP layer instead of segmenting them in the transport layer.

Code reference: https://source.corp.google.com/piper///depot/google3/third_party/gvisor/pkg/tcpip/network/ipv4/ipv4.go;l=436?q=ipv4.go&ss=piper%2FGoogle%2FPiper:google3%2Fthird_party%2Fgvisor%2Fpkg%2Ftcpip%2F

[2021-04-29 22:49] fvoznika commented on #5875
cgroup is trying to load information about the current process and not the sandbox process. Thus it gets confuses and builds the wrong path. I'm working on a fix...

[2021-04-30 01:03] iyermi opened #5922 "TCP stack panic during handshake"
TCP stack can panic during handshake:
[code]
One reason could be because of a race in processing incoming ICMP errors during handshake and application clearing the last error via SO_ERROR getsockopt().

[2021-05-01 06:07] #5742 closed

[2021-05-01 12:18] tamird commented on #1556
We should consider switching to https://pkg.go.dev/inet.af/netaddr. We would need a different type to represent unix addresses.

[2021-05-02 04:26] prattmic commented on #5854
This should probably get fixed either way, but I wonder if this still reproduces if you enable vfs2?

[2021-05-03 16:56] ghanan94 opened #5932 "Use per-interface forwarding flags"
Currently forwarding flag is set with a protocol-wide state. forwarding should be set on a per-interface/NetworkEndpoint basis so that individual interfaces may have forwarding enabled while others do not.

This will better match linux:

From https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt:
[code]

[2021-05-03 23:56] ghananigans opened #5939 "Use stack's clock throughout the netstack"
Currently, some places in the netstack use the time package for access to the current time and timers and others use the stack's `tcpip.Clock`. We should use the same clock source throughout the netstack and avoid using the time package directly.

[2021-05-03 23:59] ghananigans opened #5940 "Use fakeclock in all tests"
Related #5939

The fake clock provides a mechanism to manually advance time independent of the wall clock time for test purposes. We should use this throughout the netstack's unit tests to reduce flakes and reduce test run time

Examples of some long running (and sometimes flaky) tests are the NDP and TCP tests

[2021-05-04 00:59] travigd commented on #5861
@fvoznika I've uploaded the logs for a container that got stuck in this terminating state: https://storage.googleapis.com/user-content.mynerva.io/gvisor-logs-2021-05-03.tar.gz

Also happy to share other logs (from K8s, etc., via stackdriver) if necessary.

[2021-05-04 05:38] iyermi opened #5943 "Provide a way to configure initcwnd"
Provide a way to configure initcwnd similar to `ip route change default via 192.168.9.1 dev eth0 proto static initcwnd 2` on Linux.

[2021-05-04 21:36] #2330 closed

[2021-05-04 21:36] #3274 closed

[2021-05-05 15:57] #5922 closed

[2021-05-05 21:55] fvoznika commented on #5887
Please check if #5946 fixes your problem. `runsc` fails in case there is a limit in the spec that cannot be set, instead of only logging a warning, because it can have security implications.

[2021-05-06 00:39] #5875 closed

[2021-05-06 19:00] fvoznika commented on #5861
Thanks for the logs. The pod has 4 containers:
- 4be2a37185b44ff517d284ed60ffe66c7726ce8c66272757415d895cd53e9889 => user container (logs above)
- 3f2082b03d871a073224f3f6184daec1f9a2e1c4562e990b6c96d27e2fb9d768 => user container
- 9a5c68a5e902ed764ba605f2ba0df39814e10d3a81d152d560116619c002d22f => user container
- c9edccd222e61a3765ab4dd2ee3ffa62fe50ff7f5e7efb5fcbbc10bd1693c819 => init container

[2021-05-06 22:11] puradox opened #5956 "UDP sockets receive from IPv4 multicast when bound by IPv6 any"
**Description**

A discrepancy with Linux was found while improving a PacketImpact test for UDP socket send and receive.

On Linux, UDP sockets do not receive traffic from the IPv4 all systems multicast address, `224.0.0.1`, when bound to the IPv6 any address, `::`. On gVisor, UDP sockets receive traffic from `224.0.0.1` when bound to `::`.

**Steps to reproduce**

1. Run test `//third_party/gviso

[2021-05-07 10:27] tamird commented on #5956
Do IPv4 sockets bound to IPv4 ANY receive such packets?

[2021-05-07 16:50] tamird commented on #5711
Broadcast and multicast, yes?

[2021-05-07 18:52] puradox opened #5960 "Binding to IPv6 multicast from ICMPv6 sockets returns EADDRNOTAVAIL"
**Description**

While writing a PacketImpact test for ICMP sockets, I found a discrepancy with Linux.

When binding to the following IPv6 multicast addresses,
 - `ff01::1`
 - `ff02::1`
 - `ff02::2`

Linux returns the `EINVAL` error code, but gVisor returns the `EADDRNOTAVAIL` error code.

**Steps to reproduce**

1. Run test `//third_party/gvisor/test/packetimpact/tests:icmp_bind_native_test`
2. O

[2021-05-07 19:39] #5739 closed

[2021-05-10 03:06] zhlhahaha opened #5961 "Need detailed output log when bazel syscall test timeout"
**Description**

When doing `bazel test --test_tag_filters runsc_kvm //test/syscalls/...`, only if a test failed, we can get detailed logs like, `runsc.log.*.boot, *runsc.log.*.gofer`, in output.zip, but if a test timeout, the detailed logs not stored. I really need the detailed logs to do debug as I find some tests get timeout randomly on ARM.

Can anyone tell me where is related code to make `ba

[2021-05-10 20:01] avagin opened #5963 "xrstor64 triggers #GP"
**Description**

#GP is triggered by LoadFloatingPoint in SwitchToUser. But this happens after swapgs, so sandbox hangs in the exception handler forever.

[code]

guest fpu state: https://gist.github.com/avagin/7527eaddd45be33400ddf3e324adfa38

**Environment**

vendor_id	: GenuineIntel
cpu family	: 6
model		: 85
model name	: Intel(R) Xeon(R) W-2135 CPU @ 3.70GHz

flags		: fpu vme de pse tsc msr pa

[2021-05-10 20:05] j75 opened #5964 "Error when running on Ubuntu 20.04"
I am trying to reproduce the test shown at https://gvisor.dev/docs/user_guide/quick_start/docker/

[code]
The message may also be found in system log.
Without the ` --runtime=runsc` option I have
[code]

**Environment**

Please include the following details of your environment:

*   `runsc -version`
[code]
*   `docker version`
[code]
* or `docker info`
[code]
*  not using Kubernetes
*   `uname -a`

[2021-05-10 21:18] puradox opened #5966 "ICMPv6 sockets don't return EINVAL when sending to IPv4 addresses"
**Description**

While writing a PacketImpact test for ICMPv6 sockets, I found a discrepancy with Linux.

When bound to a unicast IPv6 address and sending to an IPv4 address, sendto returns `ENETUNREACH` whereas Linux returns `EINVAL`.

When unbound and sending to an IPv4 address, sendto **does not return an error** whereas Linux returns `EINVAL`.

**Steps to reproduce**

Run test `//third_party/g

[2021-05-10 23:00] puradox opened #5967 "UDPv4 sockets don't return EAFNOSUPPORT when sending to IPv6 addresses"
**Description**

While refactoring a PacketImpact test for UDP sockets, I found a discrepancy with Linux.

When bound to an IPv4 address and sending to an IPv6 address, sendto returns `EINVAL` whereas Linux returns `EAFNOSUPPORT`.

**Steps to reproduce**

Run test `//third_party/gvisor/test/packetimpact/tests:generic_dgram_socket_send_recv_test` with the if statement linked to this bug removed.

[2021-05-11 02:31] oliverchang opened #5968 "runsc flag to enable dumping pcaps"
Hi!

Today there is --log-packets, but no way to dump entire pcaps.

Would it be possible to add a flag to runsc to enable dumping pcaps?

[2021-05-11 18:50] kevinGC commented on #5968
Yep. runsc [has support for pcap logging](https://github.com/google/gvisor/blob/47bc115158397024841aa3747be7558b2c317cbb/pkg/tcpip/link/sniffer/sniffer.go#L126), but there's no command line flag. Adding support would be a small change:

1. Add a flag (maybe `--log-packets-pcap=<filename>`).
2. Send a file descriptor to the sentry during launch.
3. Initialize `sniffer.endpoint` with `NewWithWriter`

[2021-05-11 23:46] oliverchang commented on #5968
Thanks for explaning! Does the the sentry still represent a security boundary for code running within the sandbox though? We are also relying on gVisor for syscall monitoring via strace dumps.

I'm assuming that the "considered untrusted" part is an additional layer of defence due to the its attack surface, rather than untrusted code being easily able to tamper with it?

[2021-05-12 01:06] #5692 closed

[2021-05-12 12:43] LFrobeen opened #5974 "Secret generation with `/dev/urandom | fold -w 32 | head -n 1` never terminates"
**Description**

While trying to create a random secret based on `/dev/urandom` I noticed that the following command does not terminate when run in a gvisor environment:
```cat /dev/urandom | fold -w 32 | head -n 1```
It does generate some output, but does not finish execution.

When I run this command in a non-gvisor environment it terminates as expected after printing some random output.

**_Obs

[2021-05-13 01:08] btw616 opened #5982 "File descriptor leak in gofer when VFS2 is enabled"
**Description**

When VFS2 is enabled, file descriptors may leak in gofer process.

**Steps to reproduce**

[code]

And we will see the number of file descriptors opened by gofer process keep increasing:

[code]

until we see errors like below in container:

[code]

[2021-05-13 01:17] iyermi opened #5984 "TCP SWS avoidance not applies to ACKs to zero-window-probes"
gVisor stack implements SWS avoidance on the receiver, after socket reads. But, it does not apply that for any ACKs it is forced to send out say, in response to zero-window-probes from the peer. RFC1122 s4.2.3.3

[2021-05-13 16:54] arthurpi opened #5986 "Review DroppedPackets statistic usage/definition"
The tcpip.Stats.DroppedPackets statistic is used inconsistently. It is sometimes incremented when a malformed packet is received (we have a stat for that already), sometimes when an unexpected packet is received (for example, an ack when none were expected), sometimes when a recv queue is full, sometimes when a send queue is full, etc.

We should either:
* move it in the correct stats sub types (e

[2021-05-13 21:50] #5982 closed

[2021-05-14 00:17] #5984 closed

[2021-05-14 21:04] #2782 closed

[2021-05-14 23:32] #5932 closed

[2021-05-15 14:14] unknowndev233 commented on #5887
no, it can't fix my problem.
podman logout: https://fars.ee/BRP7

@fvoznika

[2021-05-16 05:17] ianlewis commented on #5887
For posterity, the error message from the logs is now:

[code]

Is that what runc does if it can't set network limits? If network limits are requested but silently ignored (except for maybe a log message) that feels like it should be an error but I guess we should consider doing what runc does in order to be compatible.

[2021-05-16 09:59] unknowndev233 commented on #5887
`$ sudo podman --cgroup-manager cgroupfs --log-level debug --runtime runc run --rm hello-world`:
https://fars.ee/5SUJ

[2021-05-16 22:50] ianlewis commented on #5964
@j75 Hi, can you add debugging flags to the `runsc`- runtime in `/etc/docker/daemon.json` and attach the logs? You can follow the steps here to add the right flags.
https://gvisor.dev/docs/user_guide/debugging/

[2021-05-16 23:35] ianlewis commented on #5887
@unknowndev233 Are you doing anything special to run the pod with podman? I'm having trouble running it with runsc from HEAD and podman 3.0.1.

Curiously `runsc create` runs fine but `runsc start` fails to find the container. Podman seems to be omitting the --root flag when running `runsc start` for some reason.

`sudo podman --cgroup-manager cgroupfs --log-level debug --runtime /usr/local/bin/run

[2021-05-16 23:43] ianlewis commented on #3053
FWIW, I don't think Podman really requires runtimes to be installed like `daemon.json`. Podman normally just takes the binary name (on $PATH) or path. `runsc install` simply adds `runsc` as a named runtime to Docker. It doesn't replace the default runtime. If I understand correctly setting `runtime = "/path/to/runsc"` for Podman would replace the default runtime used by Podman so functionality wou

[2021-05-17 00:31] ianlewis commented on #5974
Indeed you're right.

I reproduced it by running the following on for native linux to get strace logs:
`sudo strace -o native.log -f bash -c 'cat /dev/urandom | fold -w 32 | head -n 1'`

And the following to get logs for runsc (you need to stop this quickly or the logs get very big):
`sudo strace -o runsc.log /usr/local/bin/runsc do --help bash -c 'cat /dev/urandom | fold -w 32 | head -n 1'`

It s

[2021-05-17 00:44] ianlewis commented on #5968
@oliverchang Yes. Applications should not be able to tamper with the Sentry under normal circumstances, however they could given a single bug something the Sentry depends on. e.g. it's own code (particularly "unsafe" or platform related code) or the Go runtime.

For that reason, after the untrusted application code starts running, the second layer that the host provides (e.g. seccomp, namespaces)

[2021-05-17 04:25] ianlewis commented on #5974
I think this is caused by gvisor.dev/issue/161 so I'm going to close this as a duplicate. Feel free to follow the other issue for updates or re-open this one if you think it's a separate issue.

[2021-05-17 04:25] #5974 closed

[2021-05-17 09:04] abarisani commented on #5692
It appears that the fix is incomplete, this currently happens with `gvisor.dev/gvisor v0.0.0-20210515002610-8665ce2587e9`

[code]

[2021-05-17 13:05] unknowndev233 commented on #5887
Hmm, I using podman 3.1.2, Don't know podman 3.0.1 is what the situation

[2021-05-17 14:10] obrown06 opened #6005 "Propagate ICMP errors to local endpoints"
Currently, when we encounter an ICMP error condition, we return[1] an ICMP error packet to the source.

In addition to this behavior, there is a use case for propagating ICMP errors to the local transport endpoint: handling link resolution errors.

"
Link resolution errors are a special case since their errors are generated asynchronously. The transport endpoint performs a write call and is return

[2021-05-17 20:13] kevinGC commented on #5692
I've made another change in #6009.

In the future, it would be really helpful to receive pull requests for this issue. A small pull request (like #6009) is likely the fastest way to resolve the issue. gVisor doesn't officially support 32-bit ARM, so this is all being done on a best-effort basis.

The underlying reason for these breakages is that there are no automated tests for the relevant archit

[2021-05-17 20:58] obrown06 opened #6012 "Use asynchronous reads in IPv4/IPv6 forwarding tests"
Right now, we dequeue pending packets asynchronously using a goroutine[1.

Because this dequeue is asynchronous, we end up needing to make blocking reads in the IPv4 and IPv6 forwarding tests.

Once we've migrated the neighbor resolution code to use the fake clock, we should make these reads asynchronous.

[1]: https://cs.opensource.google/gvisor/gvisor/+/master:pkg/tcpip/stack/neighbor_entry.go;l

[2021-05-17 21:35] j75 commented on #5964
In **/tmp** _runsc.log.20210517-232740.856549.gofer_ and _runsc.log.20210517-232740.860425.boot_ have 0 bytes, so I only add the _[runsc.log.20210517-232740.837173.create](https://github.com/google/gvisor/files/6496972/runsc.log.20210517-232740.837173.txt)_ file (with extension renamed to be able to upload it).

[2021-05-17 23:09] iyermi opened #6015 "POLLRDHUP not delivered"
We do not see the stack notifying POLLRDHUP on receiving FIN.

The following test timesout the poll:
ASSERT_THAT(shutdown(accepted.get(), SHUT_WR), SyscallSucceeds());
 struct pollfd pfd = {
   .fd = conn_fd.get(),
   .events = POLLRDHUP,
 };
 constexpr int kTimeout = 10000;
 int n = poll(&pfd, 1, kTimeout);
 ASSERT_GE(n, 0) << strerror(errno);
 ASSERT_EQ(n, 1);
 ASSERT_EQ(pfd.revents, POLLRDHUP);

[2021-05-18 16:14] obrown06 commented on #6012
@obrown06 @ghanan94

[2021-05-18 16:14] obrown06 commented on #6005
@ghanan94 @obrown06

[2021-05-18 18:50] puradox opened #6018 "PacketImpact doesn't work with gotsan"
**Description**

Specifying `--config=gotsan` to a PacketImpact test returns with an error on the test runner:
[code]

**Steps to reproduce**

1. Run test `//third_party/gvisor/test/packetimpact/tests:tcp_info_native_test` with Go's thread sanitizer.

[2021-05-18 22:21] puradox commented on #5711
@tamird No, just broadcast.

[2021-05-18 22:28] puradox opened #6021 "ICMP bind errors do not match Linux"
**Description**

While creating a syscall test for ICMP socket binding, I found a discrepancy with Linux.

When binding an ICMP socket with an IPv6 address, `bind()` returns `EINVAL` whereas Linux returns `EAFNOSUPPORT`.

**Steps to reproduce**

Run test `//third_party/gvisor/test/syscalls:ping_socket_test_runsc_kvm_vfs2` with the if statement linked to this bug removed.

[2021-05-18 22:34] puradox opened #6022 "ICMPv6 sockets don't return EINVAL when binding to multicast"
**Description**

While creating a PacketImpact test for ICMPv6 socket binding, I found a discrepancy with Linux.

When binding an ICMPv6 socket with a multicast address, `bind()` returns `EADDRNOTAVAIL` whereas Linux returns `EINVAL`.

**Steps to reproduce**

Run test `//third_party/gvisor/test/packetimpact/tests:icmp_bind_netstack_test` with the field linked to this bug removed.

[2021-05-18 22:52] puradox opened #6023 "ICMPv6 sockets don't return EAFNOSUPPORT when binding to certain IPv4 addresses"
**Description**

While creating a PacketImpact test for ICMPv6 socket binding, I found a discrepancy with Linux.

When binding an ICMPv6 socket with these addresses:
 - IPv4 subnet broadcast
 - IPv4 unknown unicast

`bind()` returns `EINVAL` whereas Linux returns `EAFNOSUPPORT`.

**Steps to reproduce**

Run test `//third_party/gvisor/test/syscalls:ping_socket_test_runsc_kvm_vfs2` with the if state

[2021-05-19 00:42] bemasc opened #6024 "tcpip.Endpoint.Write() doc is out of date"
The doc says
[code]
but the signature of `Write` has since changed.  It no longer accepts a slice payload, so this advice is no longer applicable.

[2021-05-19 12:29] liornm opened #6026 "Support adding and removing route via netlink"
I am currently trying to run OpenVPN client in gVisor environment. OpenVPN requires setting the routing table using /sbin/ip which uses the netlink interface. Specifically, RTM_NEWROUTE and RTM_DELROUTE requests are unimplemented.
Related: #578

[2021-05-19 13:32] liornm commented on #578
It seems like "ip route add" (RTM_NEWROUTE) is not yet supported (despite the check mark).

`else if hdr.Flags&linux.NLM_F_REQUEST == linux.NLM_F_REQUEST {
		switch hdr.Type {
		case linux.RTM_GETLINK:
			return p.getLink(ctx, msg, ms)
		case linux.RTM_GETROUTE:
			return p.dumpRoutes(ctx, msg, ms)
		case linux.RTM_NEWADDR:
			return p.newAddr(ctx, msg, ms)
		case linux.RTM_DELADDR:
			return p.de

[2021-05-20 02:15] ianlewis commented on #578
@liornm Yes. I'm not sure why that was checked. I updated the checklist.

[2021-05-20 02:20] ianlewis commented on #6026
We plan to support RTM_NEWROUTE and RTM_DELROUTE as part of #578 so I think we can close this as a duplicate and you can follow progress made on #578.

[2021-05-20 02:20] #6026 closed

[2021-05-20 07:54] liornm opened #6033 "Support for the SIOCSIFMTU socket ioctl"
Linux kernel supports setting the MTU (Maximum Transfer Unit) of a device using socket ioctl SIOCSIFMTU.
see https://man7.org/linux/man-pages/man7/netdevice.7.html for details.

Currently gVisor _partially_ handles the following requests:
[code]

I currently focus on the SIOCSIFMTU for a personal project, but it is a good place to point out that there many socket ioctls implemented by the Linux ke

[2021-05-20 08:20] liornm opened #6034 "Support empty device name in TUNSETIFF"
In Linux there is a common practice of invoking TUNSETIFF request with an empty ifr_name.
The Linux behaviour is to populate the ifr_name buffer with a newly generated name, i.e. tun%d or tap%d, based  on the requested device type. The %d is replaced with the first available index starting from zero.

Currently gVisor does not support this feature and uses the empty ifr_name "as-is", which could b

[2021-05-20 11:38] ianlewis commented on #578
@liornm No one is currently working on it. Feel free to submit a PR for the parts you need.

[2021-05-20 11:44] ianlewis commented on #6024
For posterity the comment in question is here:
https://github.com/google/gvisor/blob/b8b43f70c898861a6fd642ded069dd33d35f17f9/pkg/tcpip/tcpip.go#L506-L509

[2021-05-20 14:30] liornm commented on #578
Does the `stack.RouteTable()` ever being used for network routing purposes? Because I don't see any references except for the NETLINK_ROUTE.
Otherwise, where is the implementation of the actual routing table?

[2021-05-20 22:06] puradox commented on #6023
Linux is now returning `EINVAL`. Must have been an error with the test setup. Closing.

[2021-05-20 22:06] #6023 closed

[2021-05-20 23:47] fvoznika commented on #5964
The log looks fine, except for the error to fork/exec another process. `ENOSPC` can happen when the limit of user namespaces has been reached. In the logs, I can see that the gofer process was created just fine and it joins the existing user namespace. The sandbox in the other hand does create a new user namespace. docker also doesn't create user namespaces. It's a long short but check if you can

[2021-05-21 00:03] ianlewis commented on #5964
Give a check at what `/proc/sys/user/max_user_namespaces` is set at. You may be running up against this limit. On some systems it's set a bit low.

[2021-05-21 00:48] ianlewis commented on #578
RouteTable is only used for returning the route table to the user via netlink right now. If you're looking at adding RTM_NEWROUTE support, you'd likely need to add a new method to the [inet.Stack interface](https://github.com/google/gvisor/blob/master/pkg/sentry/inet/inet.go#L24-L101) and then implement where necessary. I think that's just [netstack](https://github.com/google/gvisor/blob/master/pk

[2021-05-21 02:15] #478 closed

[2021-05-21 02:43] #3634 closed

[2021-05-21 13:46] hbhasker commented on #6033
@liornm Thanks for the report, yes we don't implement all linux IOCTLs. But this is intentional as the linux surface is very huge and we implement things on as needed/requested basis.

[2021-05-21 21:03] tamird opened #6052 "Extract tcpip.Clock and associated types into a new package"
The surface of these types is substantial; we should move them out of the tcpip package to enforce privacy.

@obrown06 mind taking this?

[2021-05-21 23:39] uhthomas opened #6053 "The "go" branch does not compile without modification"
**Description**

The branch, go, does not compile without running `go mod tidy` to fix dependencies.

**Steps to reproduce**

[code]

Running `go mod tidy` fixes it.

**Environment**

Please include the following details of your environment:

*   `runsc -version`
*   `docker version` or `docker info` (if available)
*   `kubectl version` and `kubectl get nodes` (if using Kubernetes)
*   `uname -a`

[2021-05-22 00:15] uhthomas commented on #6053
and for completeness, the diff is

[code]

[2021-05-22 15:40] j75 commented on #5964
Yes, that was the problem!
[code]
Supplying an integer value (3) made everything working normally. What value would you suggest?

[2021-05-23 14:36] tamird opened #6056 "ClosedReadBlockingSocket flaky under TSAN"
I'm not sure how to easily run this test on its own with TSAN. Maybe @amscanne or @prattmic know?

[code]

[2021-05-23 14:41] tamird opened #6057 "Deadlock in FDPassAfterSoPassCred under TSAN"
Seen on this internal run: https://fusion2.corp.google.com/invocations/ee001426-4a60-460e-999f-2b537bfb60d2/targets/%2F%2Fcloud%2Fgvisor%2Ftest%2Fsyscalls:socket_filesystem_test_systrap_local_gofer;shard=3/log

Not much to go on in the logs, I just see this (note the timestamps at the beginning and end, 20 minutes elapsed):
[code]

[2021-05-23 19:19] nsoubelet commented on #170
Hi @kevinGC, I am struggling to find, in the context of Kubernetes+Containerd, where to specify `--net-raw=true`.
I tested it by adding `NET_RAW` in `securityContext` but does not work so I guess it can be also configured in the node. I failed to find more information in the documentation.

Can it be specified in `/etc/containerd/runsc.toml`? Or there is another way to do this?

Thanks

[2021-05-24 01:49] ianlewis commented on #170
@nsoubelet As you may have surmised, you can add the flag in `/etc/containerd/runsc.toml` as outlined in https://gvisor.dev/docs/user_guide/containerd/configuration/ (assuming that's the right path for the shim's configuration).

[code]

[2021-05-24 01:52] ianlewis commented on #5964
RHEL 7 release notes recommend a high value like 15000
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/7.4_release_notes/new_features_kernel

[2021-05-24 01:53] ianlewis commented on #5964
Sounds like this issue is resolved so I'm going to go ahead and close this.

[2021-05-24 01:53] #5964 closed

[2021-05-24 06:42] nsoubelet commented on #170
Great, thanks @ianlewis I'll try that.

[2021-05-25 06:09] iyermi opened #6067 "TCP non-blocking connect/close race can skip sending of FIN"
On a non-blocking connect followed by close on the socket, there is a race in gVisor stack that can cause the handshake to complete, but not send a FIN (in response to the close). This can cause a half-open connection sitting in the peer's accept queue.

[2021-05-26 09:09] iyermi opened #6076 "TCP listener accepts RST+ACK to complete handshake with syncookies"
TCP listener accepts RST+ACK from the peer to complete handshake with syncookies. This is incorrect behavior and results in a half-open connection sitting in the accept queue.

[2021-05-26 14:02] tamird commented on #5939
Now that #6049 is merged, the remaining offenders within `pkg/tcpip` are:
[code]
Over to @kevinGC for stack/conntrack.go and stack/iptables.go and @hbhasker for tcp/endpoint_state.go.

[2021-05-26 14:36] #5141 closed

[2021-05-26 14:36] #6012 closed

[2021-05-26 15:17] tamird opened #6082 "Avoid the ambient RNG in tests"
Non-test code is already fixed in #6081.

This may be fine in some cases, but we need to at least audit the usage. Current offenders:

[code]

[2021-05-27 08:26] ianlewis opened #6084 "Specific release urls aren't working."
Specific release urls as described on the on the [installation page](https://gvisor.dev/docs/user_guide/install/#specific-release) are not working.
`https://storage.googleapis.com/gvisor/releases/release/${yyyymmdd}/${ARCH}`

For example, the url for May 10 isn't working.
https://storage.googleapis.com/gvisor/releases/release/20210510/x86_64/runsc

The point release url is working however,
https:/

[2021-05-27 18:51] himanshu007-creator commented on #6024
hi i would like to work on this issue. But i wanted to ask, Do we have to update L508 or simply remove it?
if  update then with what.
thanks

[2021-05-27 21:15] bnoordhuis opened #6089 "Support prctls PR_CAP_AMBIENT + PR_SET_SECUREBITS"
**Description**

We have code to drop ambient capabilities that looks like this:
[code]
Works great everywhere except under gVisor, where the prctls fail with EINVAL.

**Environment**

Whatever version of gVisor GCP's Cloud Run uses. A quick skim of the master branch suggests they're not supported there, either.

[2021-05-27 23:18] ianlewis commented on #6089
gVisor currently doesn't support ambient capabilities so we'd likely need to support them before supporting `PR_CAP_AMBIENT`
https://github.com/google/gvisor/issues/3166

[2021-05-27 23:19] #4896 closed

[2021-05-27 23:19] #5678 closed

[2021-05-28 01:57] #6084 closed

[2021-05-29 05:43] rip-create-your-account opened #6099 "Garbage stats.tx.bytes with software GSO and qdisc/fifo"
Caused by [nic.writePackets](https://github.com/google/gvisor/blob/30bca3270b9aba3394363a7fbb81291c9b0bb898/pkg/tcpip/stack/nic.go#L382) iterating the PacketBufferList after passing it to LinkEndpoint.WritePackets. qdisc/fifo assumes the ownership of the PacketBufferList when it [moves the PacketBuffers to its own list](https://github.com/google/gvisor/blob/30bca3270b9aba3394363a7fbb81291c9b0bb898

[2021-05-31 17:22] cristicalin commented on #3283
I recently tested running Kubernetes with cri-o and gVisor and containers fail to start, it would be useful to check if this is actually supported and and if not implement it.

Note that cri-o is the default CRI in OpenShift so adding proper support for cri-o to gVisor would enable OpenShift users to benefit from gVisor.

[2021-06-01 00:11] ianlewis commented on #1643
@AndreiIgna What were you running on Cloud Run when you got these messages?

[2021-06-01 16:02] prattmic commented on #6056
IIRC @amscanne changed tests to all run together in one sandbox, so I'm not sure what the current filtering incantation is.

That said, this test is fundamentally flaky: https://cs.opensource.google/gvisor/gvisor/+/master:test/syscalls/linux/tcp_socket.cc;l=506-518?q=tcp_socket.cc:510&ss=gvisor%2Fgvisor

If read_thread doesn't block in the read syscall within 250ms, it may call read after the clos

[2021-06-01 16:15] prattmic commented on #6057
There are several issues here:

* Note that the stack trace above it just from the test runner. It's not interesting.
* The sandbox got stuck in startup in platform code (cc @avagin). See sandbox log in "Artifacts".
* In "Artifacts", you'll also find a TSAN-detected data race (cc @nybidari @EtiennePerot):

[code]

This is from the watchdog incrementing `metric.WeirdnessMetric`. The data race shows

[2021-06-01 17:46] #6076 closed

[2021-06-01 21:30] AndreiIgna commented on #1643
hi @ianlewis

These logs still appear all the time
<img width="1109" alt="Screenshot 2021-06-01 at 23 17 25" src="https://user-images.githubusercontent.com/263021/120392207-742ec200-c330-11eb-8c89-1232b1b86fad.png">
in a project that uses these 2 libraries:
- https://github.com/LayeredStudio/whoiser - this one uses Node.JS net sockets to make [requests on port 43](https://github.com/LayeredStudio/

[2021-06-01 22:23] travigd commented on #5861
It took a while to re-occur, but I got more logs from a different pod that's exhibiting this behavior: https://storage.googleapis.com/user-content.mynerva.io/gvisor-logs-2021-06-01.tar.gz. Includes logs for the pause container (`sandbox-` folder), the K8s init container (i.e., `spec.initContainers`) (`init-` folder), and the main container (`user-kernel-` folder).

[2021-06-01 22:25] ianlewis commented on #1643
@AndreiIgna No problem, I think this is a different issue though. Could you post your screenshot and other info into a new issue? I'll try to take a look at it when I get a chance.

[2021-06-02 06:37] #6067 closed

[2021-06-02 15:32] tamird commented on #3839
Over to @ghanan94 who might know more about this.

[2021-06-03 07:31] rip-create-your-account opened #6113 "TCP flows stop transmitting after a while when RTT is very small"
For a large number of TCP flows generating lots of traffic the transmitting unexpectedly stops after a short while. I'm using the gonet package to establish many TCP connections and transmit bytes over them. I'm communicating with the host Linux stack over a veth link. I have configured the tcpip.Stack with `tcpip.TCPSACKEnabled(true)` and `tcpip.CongestionControlOption("cubic")`

Periodically pro

[2021-06-03 19:33] fvoznika opened #6116 "HostFileMapper.RegenerateMappings trips over seccomp rules"
From Kent McDonough

**Description**

gVisor produces a syscall from a containerized program that violates its own seccomp profile and terminates the container
Following output is logged through journald:

[code]

**Steps to reproduce**

Compile and run the following program from within a container

[code]

**Environment**

Please include the following details of your environment:

*   `runsc -ver

[2021-06-03 19:35] fvoznika commented on #6116
Repro:
[code]

Here is the offending stack:
[code]

[2021-06-03 20:59] kevinGC opened #6118 "UID, GID, and privilege control in tests"
It's currently difficult-to-impossible to write tests that involve switching UID/GID and deal with changing privileges. This has come up in #6115, and is the reason behind much of the code in the [setgid tests](https://github.com/google/gvisor/blob/fcad6f91a3f292b6b76be10f03baf05ee5245d3d/test/syscalls/linux/setgid.cc). Test coverage would be better if we could control the more system state (test

[2021-06-03 23:01] ianlewis commented on #6116
Hmm, Do we know what options runsc it was run with?

[2021-06-03 23:16] nixprime commented on #6116
It looks like we're just missing a filter for `MAP_SHARED|MAP_FIXED`?

[2021-06-03 23:27] ianlewis commented on #6116
Yeah. as long as we're comfortable with that
https://cs.opensource.google/gvisor/gvisor/+/master:runsc/boot/filter/config.go;l=192-229

[2021-06-04 03:08] #6116 closed

[2021-06-04 11:40] AndreiIgna opened #6123 "Huge amount of log lines in Cloud Run Logs when using `dig` command"
Continuing from here https://github.com/google/gvisor/issues/1643

**Description**

Some projects deployed to Google Cloud Run generate huge amount of log lines like:
<img width="1109" alt="120392207-742ec200-c330-11eb-8c89-1232b1b86fad" src="https://user-images.githubusercontent.com/263021/120793911-c857c300-c537-11eb-9575-3c75efe3d8f9.png">
This makes it really difficult to check other logs (req

[2021-06-04 13:55] aojea opened #6124 "failed to enable "PACKET_FANOUT" option: invalid argument"
**Description**

I can't reliable reproduce it, but sometimes my code, that uses

[code]

fails to create the link with the following error:

[code]

The stack trace indicates the error comes from

https://github.com/google/gvisor/blob/f0b3298db07df63fa74559d5689008f9de9980a9/pkg/tcpip/link/fdbased/endpoint.go#L318-L324

After restarting the host, it works

**Steps to reproduce**

I have the suspi

[2021-06-04 18:19] nlacasse commented on #6123
Those unimplemented syscall errors are for setsockopt(*, SOL_SOCKET, SO_OOBINLINE (10)).  Netstack behaves as if SO_OOBINLINE is always set.  We should probably just disable the log here.  PR coming.

[2021-06-04 18:52] puradox opened #6126 "Buildkite does not allow creation of ICMP or ICMPv6 sockets"
**Description**

While creating a syscall test for binding ICMP/ICMPv6 sockets, I found that Builldkite is not configured to allow for ICMP sockets to be created: `socket(AF_INET, SOCK_DGRAM, IPPROTO_ICMP)` returns `EACCES`. The same applies for ICMPv6 sockets.

This is definitely not expected and should be fixed.

**Steps to reproduce**

[code]

[2021-06-04 18:57] puradox commented on #6126
Looks like the syscall tests are running on the local machine, without Docker. I've created a little C program that demonstrates creation of ICMP and ICMPv6 sockets fail without modifying the `net.ipv4.ping_group_range` sysctl. After modifying the sysct to `$(id -g)`, the C program works but the syscall tests continue to fail. I'm puzzled.

[2021-06-04 20:35] kevinGC commented on #6126
Do you have a link to the buildkite failure?

On Fri, Jun 4, 2021 at 11:58 AM Sam Balana ***@***.***> wrote:

[2021-06-04 20:58] puradox commented on #6126
Previous buildkite failure: https://buildkite.com/gvisor/pipeline/builds/6246

For reproduction, remove `GSKIP` from `//test/syscalls/linux/ping_socket.cc`. I had to add it to get #6031 submitted

[2021-06-04 21:14] kevinGC commented on #6124
I suspect this can be largely mitigated, but I don't know a way to avoid it completely besides running in a new network namespace.

This is likely a collision caused by using an existing fID. Since `fanoutID` always starts at 0 and increments by 1, creating multiple fdbased endpoints in the same network namespace should fail. This includes running multiple instances of netstack at the same time. A

[2021-06-06 00:06] #4551 closed

[2021-06-06 14:33] hbhasker commented on #6113
Thanks for the detailed report. We will take a look.

[2021-06-06 14:34] hbhasker commented on #6113
Nayana can you take a look?

[2021-06-07 17:57] #6053 closed

[2021-06-07 23:01] #6123 closed

[2021-06-08 00:07] ayushr2 commented on #6126
@kevinGC has fixed this with an internal change (change in BuildKite configuration).

[2021-06-08 00:07] #6126 closed

[2021-06-08 06:52] zhlhahaha opened #6136 "[RFC] Apply bitmap in fdTable"
**Description**

Apply bitmap in fd_table to record open file FD. It can accelerate the speed of allocating FD for fdtable.
The time complexity to find an available FD is O(1) in the bitmap.

**Do you have a specific solution in mind?**

https://github.com/google/gvisor/pull/6257
1. add bitmap library.
2. add fdBitmap in struct FDTable
3. changed related functions based on the fdBitmap

**Current

[2021-06-08 06:57] zhlhahaha commented on #6136
Would you mind taking a look when you have time? Thanks!
@amscanne @fvoznika @avagin

[2021-06-08 16:02] #3307 closed

[2021-06-08 16:03] #3309 closed

[2021-06-08 16:04] #3620 closed

[2021-06-08 16:04] #4086 closed

[2021-06-08 16:04] #5086 closed

[2021-06-08 19:27] tamird opened #6138 "Allow endpoint queues to be injected"
Spun off from #1509 which changed `Read` and `Write` to operate on interfaces.

We may need a deeper rethink of the tcpip.Endpoint API to address longstanding integration issues with Fuchsia. In particular, Fuchsia currently uses a pair of loops to shuttle bytes and signals between a zircon socket and the tcpip.Endpoint. This is necessary because networking is implemented in userspace in Fuchisa,

[2021-06-08 19:50] #1638 closed

[2021-06-08 20:01] ayushr2 commented on #214
I have majorly pruned all `syscall` package usages. Some are left mainly because their equivalent does not exist in the unix package.

[2021-06-08 20:05] nlacasse commented on #196
This exists:
https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/strace/strace.go;l=696;drc=77930d0d5ff993d3c870a2237c09193433c89429

[2021-06-08 20:05] #196 closed

[2021-06-08 20:22] #4 closed, assigned to nlacasse

[2021-06-08 20:24] nlacasse commented on #85
We no longer use syscall.EPOLLET, but use linux and unix packages as appropriate.

[2021-06-08 20:24] #85 closed

[2021-06-09 17:12] fvoznika commented on #5457
Just checking if you were able to test it. Please reopen if it is still an issue.

[2021-06-09 17:12] #5457 closed

[2021-06-09 17:22] #149 closed

[2021-06-09 17:28] nsoubelet commented on #5457
Hi @fvoznika sorry for not coming back with a comment before. It still does not work, NFS server is working OK, so I guess it is related to gVisor but since I am not currently able to properly demonstrate that, I am OK with closing this.
Thanks for your support!

[2021-06-09 17:34] mirabilos commented on #149
So… is this fixed now or what? Just closing without a status update message is… not very helpful.

[2021-06-09 21:14] kevinGC opened #6148 "Send SIGTTOU to processes sent to background"
From `tcsetpgrp(3)`:

[2021-06-09 21:19] kevinGC commented on #154
At this point there is basic job control support implemented by #585 and #803. Closing this in favor of bugs like #422 that track specific features.

#6148 has been created to track the specific TODO still referring to this bug.

[2021-06-09 21:19] #154 closed

[2021-06-09 22:10] #6124 closed

[2021-06-09 23:25] fvoznika commented on #149
There were a few fixes mentioned in comments above, like reducing the number of FDs used across the board. More importantly we now size the dirent cache based on `RLIMIT_NOFILE` to avoid having the cache trip over the limit. If you still see problems, feel free to reopen it.

[2021-06-10 03:22] ayushr2 opened #6160 "Consider removing usermem dependency from the primitive package"
`pkg/marshal/primitive` currently depends on `pkg/usermem`. This dependency is particularly painful.
It entails that `usermem` and its dependencies can not depend on anything that depends on `primitive`. For example, in #6154 we had to replicate a struct from `abi/linux` in `safemem` because `abi/linux` depends on `primitive`. So `safemem` can not depend on `abi/linux` because safemem -> linux ->

[2021-06-10 10:22] mirabilos commented on #149
Fabricio Voznika dixit:

Ah, okay. I thought they were just being discussed by mentioning them
above, but if they are implemented now, great.

Thanks,
//mirabilos
--
  "Using Lynx is like wearing a really good pair of shades: cuts out
   the glare and harmful UV (ultra-vanity), and you feel so-o-o COOL."
                                         -- Henry Nelson, March 1999

[2021-06-10 17:26] #214 closed

[2021-06-10 20:36] #2337 closed

[2021-06-10 22:47] kevinGC opened #6167 "improve netfilter rule checking"
The netfilter package should more closely check ingested rules for problems such as loops and rules that always error.

[2021-06-10 23:42] kevinGC opened #6168 "conntrack UDP support"
Currently, conntrack only supports TCP. Supporting UDP would drastically speed up UDP iptables rules, as it would us to check the conntrack table instead of running all the iptables rules for every UDP packet.

[2021-06-11 19:10] ghanan94 opened #6172 "Support more specific route discovery and off-link route preferences"
As per RFC 4191

[2021-06-13 12:54] liornm opened #6180 "Bitnami/Nginx-Ingress-Controller - error.log symlink bug"
**Description**

I am trying to run bitnami/nginx-ingress-controller k8s pod with gvisor runtime.
On startup the pod goes into a crash-loop with the following error message:
<pre>
W0613 12:47:16.992364       1 client_config.go:614] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I0613 12:47:16.995021       1 main.go:241] "Creating API client" host

[2021-06-14 02:24] #6160 closed

[2021-06-14 14:44] prattmic commented on #6180
cc @fvoznika

[2021-06-14 18:20] fvoznika commented on #6180
The message above is just a debug message, it means that error.log is a symlink and needs to be opened using O_PATH in the gofer. The next message shows that the file was opened correctly:

[code]

Do you happen to have the `*.boot` log?

[2021-06-14 19:13] ghananigans opened #6186 "Split up header.Network's methods to optional interfaces"
`header.IPv6Fragment` only supports a limited number of methods on `header.Network`.

We should split up `header.Network`'s methods that `header.IPv6Fragment` does not need to implement into optional interface(s).

[2021-06-14 19:26] #170 closed

[2021-06-15 08:44] liornm commented on #6180
Yup, here it is [gvisor.boot.log](https://github.com/google/gvisor/files/6654138/gvisor.boot.log).

[2021-06-15 09:06] liornm commented on #6180
Yup, here it is
[gvisor.boot.log](https://github.com/google/gvisor/files/6654301/gvisor.boot.log)

Note that its from a different run.

[2021-06-15 16:25] liornm commented on #6180
I have done a different test in order to isolate the issue.

Here I simply exec `touch` on `/dev/stdout` in a bitnami/mongodb and get **Permission denied**.
[code]
Here I rerun the command without gVisor and it succeeds.
[code]

[2021-06-15 20:46] avagin commented on #3481
I've created the feature branch https://github.com/google/gvisor/tree/feature/cgroupv2.

Let's continue the cgroupv2 development there. Then when it will be ready, we will merge it to the master branch.

TODO list:
- [ ] Run cgroup tests.
- [ ] Remove external dependencies.
- [ ] Bumping up containerd to 1.4 breaks compatibility with 1.3.

This list is based on @fvoznika comments for #5453 that ha

[2021-06-16 01:16] fvoznika commented on #6180
Nice debugging! Indeed `/opt/bitnami/nginx/logs/error.log` points to `/dev/stderr`:

[code]

gVisor is failing to update the timestamp on `/dev/stdout` because it runs with as user `nobody` with all capabilities stripped. Outside the sandbox stdout is owned by `root`. I see that `runc` adjusts ownership based on the user that is running the container:

[code]

We would need to do something similar

[2021-06-16 01:48] fvoznika commented on #5861
Thanks for the logs. The init container completes and is deleted correctly. The pause container (sandbox) is never told to be terminated. I believe the problem is a race in containerd with the user container. After the user container is told to stop (kill + delete), containerd continues to call state, stat and kill every few seconds. None of these operations succeed because the container isn't run

[2021-06-16 08:28] liornm commented on #6180
Sure [here](https://github.com/google/gvisor/files/6661471/gvisor.boot.zip).

Here are some relevant lines.
[code]

[2021-06-16 12:09] liornm commented on #6180
Using `stat -L` in my container clearly shows the difference:
[code]

[2021-06-16 15:45] liornm commented on #6180
Where would you add this? :)

[2021-06-16 21:43] #3159 closed

[2021-06-17 11:20] liornm commented on #6180
I believe I found the relevant code of [runc](https://github.com/opencontainers/runc/commit/c0c8edb9e801c499f2b7c7a3342c252cb47b6411).

As stated in runc:
[code]

[2021-06-17 20:35] #3160 closed

[2021-06-17 22:31] #3549 closed

[2021-06-17 23:26] fvoznika commented on #6180
This is something we need to fix in runsc.

There are a few possible workarounds for now:
1. Disable VFS2. VFS1 wrongly skips permission checks when opening files from `/proc/[pid]/fd` [1]
2. Create an image that deletes `/opt/bitnami/nginx/logs/error.log` so that it doesn't get redirected to `/dev/stderr`. Or configure nginx to use a different path.
3. Run the container as root. Not ideal, but si

[2021-06-18 22:50] tamird opened #6209 "SO_REUSEADDR causes system-allocated ports to overlap"
On Linux, the behavior of `SO_REUSEADDR` is ignored when the system is allocating a port. That is:

[code]

In other words, Linux will never allocate a port that is held by another socket, regardless of `SO_REUSEADDR`. The same is not true on gvisor, and can cause concurrent `bind` calls (with `SO_REUSEADDR`) to receive the same system-allocated port, causing one of them to later file on a call to

[2021-06-19 15:49] tamird commented on #6209
Ready-made unit test from https://fuchsia-review.googlesource.com/c/fuchsia/+/545286:
[code]

[2021-06-19 19:57] DimanNe opened #6211 "UNIX sockets with setuid flag cannot be mounted (?)"
### Description

In short: I was trying to run a GUI app (`xeyes`) via gvisor and got an error:
[code]

More info:
I run some apps in (normal, non gvisor) docker. This is my usual docker command-line:
[code]
after which I can start, for example, `xeyes`.

But when I tried doing the same with gvisor (I added `--runtime ` option to the docker) `xeyes` printed this:
[code]

I also tried using gvisor

[2021-06-20 07:43] oke-py opened #6212 "(docs) RuntimeClass is GA and v1beta1 is deprecated"
**Description**

RuntimeClass is GA in Kubernetes 1.20 and `node.k8s.io/v1beta1` is deprecated.
The document should be updated to use `node.k8s.io/v1`.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#runtimeclass-feature-graduates-to-general-availability

**Is this feature related to a specific bug?**

No.

**Do you have a specific solution in mind?**

https://gvi

[2021-06-20 14:09] liornm commented on #6180
Thanks for the workarounds!
I am would like to contribute a fix this issue.

Would you give me a hint where this should go? :)

[2021-06-21 02:48] ianlewis commented on #6211
I think this might just be a duplicate of #5299 and that the issue is that setuid bit is not supported in gVisor right now.

[2021-06-21 03:03] ianlewis commented on #6212
Thanks for opening this issue. I think we'll leave it at v1beta1 for now since v1 won't work for older Kubernetes versions and change it to v1 when v1beta1 gets removed in a release or two.

[2021-06-21 10:30] DimanNe commented on #5299
@ianlewis is it a good issue for first time contribution? :)

[2021-06-21 18:13] kevinGC commented on #5299
It's definitely doable, but I worry that it might not be a great first contribution. Setuid is an easy-to-misuse feature that opens up root privileges in a ton of new cases. There would probably be a discussion about disabling setuid by default (similar to how raw sockets are disabled unless the `--net-raw` flag is passed). At the implementation level, it would need to be tested _extensively_ and

[2021-06-21 20:07] DimanNe commented on #5299
Yep, makes sense.

[2021-06-22 00:19] #5861 closed

[2021-06-22 01:14] fvoznika commented on #5861
Travis, the fix above should fix the problem, although I wasn't able to reproduce it myself to check the fix. It would be great if you could test it and let us know if it indeed fixed the issue for you.

[2021-06-22 05:16] #173 closed

[2021-06-22 08:10] #2726 closed

[2021-06-22 18:19] travigd commented on #5861
Thanks. "Testing" as far as I'm concerned is just waiting a while and seeing if it re-occurs. 😎

Not sure if you'd happen to know this, but since I'm running on GKE with GKE Sandbox, I'm not sure how often the gVisor installation is updated there. Is it just included with the usual K8s version updates?

[2021-06-22 21:06] impl opened #6225 "Exec/ExecSync in containerd shim does not clean up PID files, uses excessive disk space in logs"
**Description**

For long-running processes under gVisor with, e.g., a Kubernetes `readinessProbe`/`livenessProbe` that execute commands in the container, we accumulate PID files leaked during process cleanup. gVisor does not currently report back an error status that causes containerd to request cleanup (deletion) of the created process at all. Additionally, the internal failure to kill the alrea

[2021-06-22 21:19] Preethi951 opened #6227 "Makefile error - make: *** [Makefile:167: runsc] Error 127"
**Description**

After running 'make runsc' , it gives the following Makefile error
make: *** [Makefile:167: runsc] Error 127

**Environment**

Please include the following details of your environment:

*   `runsc -version`
*   `docker version - 20.10.7
*   `uname -a`- Linux sdl55384 5.4.0-51-generic #56-Ubuntu SMP Mon Oct 5 14:28:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
*   `git describe` (if b

[2021-06-23 15:17] himanshu007-creator commented on #6024
@ianlewis 👀

[2021-06-23 17:51] impl opened #6232 "Upgrade to containerd v1.4"
This is a tracking issue for upgrading the containerd library dependency for the containerd shim to the v1.4 branch when possible. We currently have to maintain some compatibility code in the shim that would be unnecessary with a newer containerd minor version.

[2021-06-23 20:05] fvoznika commented on #5861
Great to hear you're using GKE Sandbox! It takes about 2-4 weeks for a change in gVisor to show up in GKE. New changes go to the [Rapid channel](https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels), so you might need to upgrade to a more recent K8s version to get it.

[2021-06-24 00:48] hbhasker commented on #6209
fbl::unique_fd client;
        ASSERT_TRUE(client = fbl::unique_fd(socket(AF_INET, SOCK_STREAM, 0))) << strerror(errno);
        ASSERT_EQ(
            connect(client.get(), reinterpret_cast<struct sockaddr*>(&bound_addr), bound_addrlen),
            0)
            << strerror(errno);

        // accepted will end up in TIME_WAIT, eating up an ephemeral port.
        fbl::unique_fd accepted;

[2021-06-24 21:50] #6225 closed

[2021-06-25 05:45] #5340 closed

[2021-06-26 00:05] ianlewis opened #6243 "checkpoint/restore not supported when using hostinet"
Currently the sentry panics and you get an error that says something like:

[code]

[2021-06-26 01:47] ianlewis commented on #6227
I couldn't reproduce this. Is there any more info you could provide as to what might be causing the issue?

[2021-06-28 02:24] Preethi951 commented on #6227
Hello Lewis,

Thanks for your reply. Not sure why it is causing this error, when I build the gvisor from source using the following command make runsc command, I get the make file error.

Thanks,
Preethi
________________________________
From: Ian Lewis ***@***.***>
Sent: Friday, June 25, 2021 8:48 PM
To: google/gvisor ***@***.***>
Cc: Santhanam, Preethi <Preethi.Santhanam@Teradata.com>; Author ***

[2021-06-28 23:50] fvoznika commented on #6211
gVisor is isolating the container from the host and by default doesn't allow the container connect to host backed UDS. That's the reason the container is getting `Error: Can't open display: :0`. The flag `--fsgofer-host-uds` allows gVisor to connect to host UDS when set. Here you can see the file in your example:

[code]
Please give it a try with this flag and let us know if it fixed the problem f

[2021-06-29 00:03] kevinGC commented on #6227
What does the output of `make -n runsc` look like?

[2021-06-29 01:17] travigd opened #6255 "FATAL ERROR: destroying container: stopping container: gofer is still running"
**Description**

I'm experimenting with building container images securely within Kubernetes. My current strategy is to use a privileged container and then run the individual build steps using gVisor/`runsc` and do the actually building using Buildah.

Unfortunately, trying to run things results in a failure during `runsc delete`: destroying container: stopping container: gofer is still running

*

[2021-06-29 12:14] btw616 opened #6259 "runsc quits when unmount gofer filesystem when VFS2 is enabled"
**Description**

runsc will quit unexpectedly when unmount gofer filesystem inside container when VFS2 is enabled.

**Steps to reproduce**

[code]

This happens because the connection will be shutdown when filesystem is released:

https://github.com/google/gvisor/blob/5b2afd24a7ed6d626ede2d06d04378f95c3b62f8/pkg/sentry/fsimpl/gofer/gofer.go#L617

https://github.com/google/gvisor/blob/5b2afd24a7ed6

[2021-06-29 12:19] nirweiner2 commented on #6180
We also ran into this problem.
I really wish it will be fixed soon.

[2021-06-29 17:36] fvoznika commented on #6259
Good catch, we should have a test for that. VFS1 didn't close the connection on when the volume was unmounted. We fixed that in VFS2, but it has side effects. We should either unsubscribe the gofer watcher on disconnect (preferred) or only monitor the rootfs FD.

Just for the record, here is the log:
[code]

[2021-07-01 19:22] nybidari commented on #6057
The panic caused during incrementing the metric is fixed. Not able to repro the bug with the same stack trace.

[2021-07-01 19:22] #6057 closed

[2021-07-01 21:42] #6209 closed

[2021-07-01 23:22] fvoznika commented on #6180
Could you please take a look at #6272 and verify that it fixes the issue for you?

[2021-07-02 05:07] zhlhahaha commented on #6136
All tests has passed.

[2021-07-02 08:36] FeliciaAKelley opened #6275 "Changing Platforms....unless anyone can assist me with legal support ... Regarding the use of my data that i never authorized."
javascript had gained unauthorization to my account in which I have 2 step verifcations, oauth, clouding capabilities that are passwordless, and my top level domain is connected to a dns that i also never authorizated.

Blockchain will soon inflate, lets hope ANN DOGE will redesign

or create something even more resourceful for our mother earth.. ...

[kpmg-blockchain-consensus-mechanism.pdf](http

[2021-07-02 18:32] #6172 closed

[2021-07-02 18:35] #6275 closed

[2021-07-04 11:36] liornm commented on #6180
It works great! Thanks :)

[2021-07-08 18:44] Preethi951 commented on #6227
Thanks for your input. I got the gVisor installed from apt repository and it works now.
But I want to install gVisor on aws ec2 instance with the Linux version 4.4.140-96.63.TDC-default. Could anyone please let me know how to install it since the required linux version is 4.14.17 for gVisor?

[2021-07-08 20:12] kevinGC commented on #6227
There's not a lot we can do about an old kernel. It's possible that if you run gVisor on that machine, you'll get an idea of what kernel features are missing. However, you'd likely have to modify the gVisor code to accommodate the older kernel.

[2021-07-08 20:27] Preethi951 commented on #6227
Ok, in the gVisor documentation it says the following for older linux

"If your Linux is older than 4.14.17, you can disable Generic Segmentation Offload (GSO) to run with a kernel that is newer than 3.17. Add the --gso=false flag to your Docker runtime configuration (/etc/docker/daemon.json) and restart the Docker daemon:"

Reference: https://gvisor.dev/docs/user_guide/networking/#gso

[2021-07-09 10:12] unknowndev233 opened #6300 "last release runsc can't run"
**Description**

After downloading the runsc according to the installation section in the gvisor.dev documentation, I found that it does not work

**Steps to reproduce**

1. run:
[code]

2. run `$ ./runsc --help`
Get error output:
[code]

**Environment**

Please include the following details of your environment:
*   `uname -a`:

`Linux arch 5.12.15-arch1-1 #1 SMP PREEMPT Wed, 07 Jul 2021 23:35:29

[2021-07-12 04:34] ianlewis commented on #6227
Just be aware that we don't test older kernels much and it's possible that we may be using features now from kernels newer than 3.17.

[2021-07-12 04:38] ianlewis commented on #6300
Hmm, It works ok for me. Can you provide the contents of `/proc/cpuinfo` ?

[2021-07-12 23:52] ianlewis commented on #6300
This may be a duplicate of https://github.com/google/gvisor/issues/5738.

[2021-07-12 23:55] #6180 closed

[2021-07-13 21:09] ayushr2 opened #6313 "Re-evaluate number of channels upper bound in lisafs"
9P uses a maximum of 4 channels per gofer mount. Re-evaluate if this upper bound should be increased to support more concurrent RPCs.

The rationale for keeping it limited to 4 is that increasing this could lead to more memory usage by the sentry as described [here](https://github.com/google/gvisor/blob/c16e69a9d5ec3422b648a6d32842442925285a29/pkg/p9/transport_flipcall.go#L27-L43). Each channel mm

[2021-07-14 13:18] unknowndev233 commented on #6300
[code]

[2021-07-14 14:28] prattmic commented on #6300
cc @avagin

[2021-07-14 17:19] Champ-Goblem opened #6317 "Open database TCP connection failing after a period of time"
**Description**

We seem to be experiencing an issue where long lived tcp connections between a client and a mysql database fail after a period of time when both containers are running on gvisor, with an istio-proxy sidecar and mtls enabled. The connection tends to timeout sometime between 20 minutes and 70 minutes with failures that happen at regular intervals (eg 21m, 41m, 61m). When the same wo

[2021-07-14 19:09] ayushr2 opened #6319 "Make lisafs default"
Make lisafs the default protocol for communication with filesystem gofers.

This would involve either:
- Deleting `p9` altogether if we decide to do so and removing all the gating logic.
- Inverting the gating flags to make the usage of p9 optional.

[2021-07-15 18:20] quinndiggity opened #6323 "apt gpg signing key expired (https://gvisor.dev/archive.key)"
`https://gvisor.dev/archive.key`
[code]
`Failed to update apt cache: W:GPG error: https://storage.googleapis.com/gvisor/releases release InRelease: The following signatures were invalid: EXPKEYSIG 6FC6D554E32BD943 The gVisor Authors <gvisor-bot@google.com>, E:The repository 'https://storage.googleapis.com/gvisor/releases release InRelease' is not signed.`

[2021-07-15 18:22] quinndiggity commented on #6323
[code]
[code]
`expired: 2021-07-09`

[2021-07-15 20:37] amscanne commented on #6323
Thanks for reaching out. The key has been updated and the latest releases and being signed with the newer key. The key on the website is scheduled to push tonight (ca255741c92e04899ac2f49226d1abec6589cb8c).

[2021-07-16 01:53] #5263 closed

[2021-07-17 08:35] laijs opened #6327 "Ask for support for CPUs without cpuid.X86FeatureGBPAGES"
### Description

If other conditions are allowed, ring0/pagetables/walker_amd64.go always do pudEntry.SetSuper() for GBPAGES without checking if the cpu has cpuid.X86FeatureGBPAGES.  Could we add the check for cpuid.X86FeatureGBPAGES before SetSuper()?

### Is this feature related to a specific bug?

If gvisor is tested on CPUs without cpuid.X86FeatureGBPAGES,

[code]
pkg/sentry/platform/kvm/machi

[2021-07-19 10:44] odidev opened #6328 "runsc can't run for AWS Amazon linux"
### Description

 I installed gVisor runtime (runsc) on AWS ubuntu and AWS Amazon linux. For AWS ubuntu I am successfully able to run docker containers using runsc but for AWS Amazon linux, the containers are not running when runsc is used. I also tried installing runsc using go branch and from  release but the issue still persists.
Also runsc --help command is working as expected.

    System det

[2021-07-19 16:00] amscanne commented on #6327
Yeah, we should do this. Out of curiosity, what CPU is lacking this feature?

[2021-07-19 22:35] ianlewis commented on #6328
Can you share the error you are getting? If you are able to share [debug logs](https://gvisor.dev/docs/user_guide/debugging/) then that would help as well.

[2021-07-20 18:00] #6227 closed

[2021-07-20 19:07] #6300 closed

[2021-07-21 03:57] #6259 closed

[2021-07-21 05:04] unknowndev233 commented on #6300
today run `$ (
  set -e
  ARCH=$(uname -m)
  URL=https://storage.googleapis.com/gvisor/releases/release/latest/${ARCH}
  wget ${URL}/runsc ${URL}/runsc.sha512
  sha512sum -c runsc.sha512
  rm -f *.sha512
  chmod a+rx runsc
) && runsc --version`

output:
[code]

[2021-07-21 05:04] unknowndev233 commented on #6300
cc @avagin

[2021-07-21 05:19] avagin commented on #6300
0:  0f 01 d0                xgetbv

[2021-07-21 05:23] unknowndev233 commented on #6300
What is that

[2021-07-21 05:37] avagin commented on #6300
This is the instruction that faulted.

$  wget https://storage.googleapis.com/gvisor/releases/release/latest/x86_64/runsc
$ chmod +x runsc
$ ./runsc --version
runsc version release-20210712.0
spec: 1.0.2

This is the latest stable release. You probably want to use a nightly build, but you need to wait for tomorrow to get a build with my fix.

$ https://storage.googleapis.com/gvisor/releases/nightl

[2021-07-21 10:04] ianlewis commented on #6328
BTW, this may be because the host kernel is a bit old. gVisor requires Linux 4.14.77+ for GSO support.
You can try disabling GSO and see if it works. https://gvisor.dev/docs/user_guide/networking/#gso

[2021-07-21 12:02] dishasrivastavapuresoftware commented on #6328
@ianlewis , Thanks for your suggestion. Below are the logs:
[runsc.log.20210721-111701.056853_create.txt](https://github.com/google/gvisor/files/6855442/runsc.log.20210721-111701.056853_create.txt)
[runsc.log.20210721-111701.059992_gofer.txt](https://github.com/google/gvisor/files/6855447/runsc.log.20210721-111701.059992_gofer.txt)
[runsc.log.20210721-111701.382108_boot.txt](https://github.com/goo

[2021-07-21 12:12] odidev commented on #6328
@ianlewis Thanks for your suggestion. Below are the logs attached:
[runsc.log.20210721-111701.056853_create.txt](https://github.com/google/gvisor/files/6855520/runsc.log.20210721-111701.056853_create.txt)
[runsc.log.20210721-111701.059992_gofer.txt](https://github.com/google/gvisor/files/6855521/runsc.log.20210721-111701.059992_gofer.txt)
[runsc.log.20210721-111701.382108_boot.txt](https://github.

[2021-07-21 16:55] Champ-Goblem commented on #6317
@kevinGC Let us know if we can help in anyway or jump on a call with you to show the issues live

[2021-07-21 20:23] avagin commented on #6300
I have checked that [runsc](https://storage.googleapis.com/gvisor/releases/nightly/latest/x86_64/runsc) contains my fix. Could you try it out?

[2021-07-22 07:44] unknowndev233 commented on #6300
fixed

[2021-07-22 08:04] unknowndev233 commented on #5887
`$ sudo podman --cgroup-manager cgroupfs --log-level debug --runtime /tmp/runsc --runtime-flag debug --runtime-flag debug-log=/tmp/runsc-log/ run --rm hello-world`
[code]

`$ podman version`:
[code]

`$ /tmp/runsc --version`:
[code]

[/tmp/runsc-log](https://github.com/google/gvisor/files/6860769/runsc-log.tar.gz)

[2021-07-22 12:54] unknowndev233 commented on #3053
https://github.com/containers/common/pull/510

Recent versions of podman should not require additional configuration to recognize runsc

[2021-07-22 21:40] jerisalan opened #6355 "Issue using setresgid system call on gvisor container runtime"
### Description

We were considering sandboxing one of our containerized applications written in Golang using gVisor and we were doing some POC around deploying it using the gvisor container runtime.

The docker run command used to start the container is:
[code]

This application over the course of its lifecycle forks a new process and sets the RESUID and RESGID of the forked process making use of

[2021-07-23 00:06] unknowndev233 commented on #5887
@ianlewis

[2021-07-24 05:48] unknowndevQwQ opened #6367 "runsc build fail: Error response from daemon: Container x is not running"
### Description

Followed the steps in the https://github.com/google/gvisor#installing-from-source instructions to compile, but got an error after outputting --- BUILD -c opt //runsc

### Steps to reproduce

1. `$ git clone https://github.com/google/gvisor`
2. `$ make runsc`
3. output:
[code]

### runsc version

_No response_

### docker version (if using docker)

[code]

### uname

Linux arch 5.1

[2021-07-25 10:44] unknowndev233 commented on #5171
Why you need passthrough options when building from source with docker
https://github.com/google/gvisor/blob/master/tools/bazel.mk#L112

[2021-07-26 23:38] ianlewis commented on #6328
gVisor is panicking for some reason. Maybe it's some kind of permissions or configuration issue on Amazon linux.

[code]

[2021-07-26 23:47] #1984 closed

[2021-07-27 00:13] amscanne commented on #6328
Ahh, I spent like 30 minutes pouring over the kernel sources wondering how on earth this could happen. Then I saw it: linux/arm64.

The PTRACE_SYSEMU support was only upstreamed a couple years ago (starting with this [patch](https://github.com/torvalds/linux/commit/f086f67485c5c126bcec4b0e96ac7319a2e59ab8)). Unfortunately Amazon Linux is using quite an old kernel. They do seem to carry quite a lot

[2021-07-27 00:41] ianlewis commented on #6328
Ack. I missed that it was arm too...

[2021-07-27 01:03] TrevorSundberg opened #6374 "File /proc/<pid>/status is missing, fields"
### Description

We saw an error printed from Chromium `format error: missing fields` and traced it down to missing fields in `/proc/<pid>/status`. The related Chromium code that is looking for those fields:

https://source.chromium.org/chromium/chromium/src/+/main:third_party/crashpad/crashpad/util/posix/process_info_linux.cc;l=57

The fields appear to be `Uid:`, `Gid:` and `Groups:`. This is a r

[2021-07-27 09:11] cqs21 opened #6378 "support for Intel TDX"
### Description

Last year, Intel published a whitepaper on their new TDX "Trust Domain Extensions" technology for better securing virtual machines. TDX is built using a combination of VMX & MKTME technology, and a CPU-attested, software module, as shown in the figure below. Intel TDX solution can provide the following capabilities to TDs:
* Memory and CPU state confidentiality and integrity to he

[2021-07-27 19:15] kevinGC commented on #6355
A couple questions:

- Does the forked process inherit `CAP_SETUID` and `CAP_SETGID`, or is the GID to which it's changing one of the allowed GIDs?
- Is there any chance you can put a repo together (e.g. a small Go binary that forks and runs into the same issue)? I can attempt one, but it may have important differences from your code.

[2021-07-28 13:45] dqminh commented on #3481
Hi again ! Sorry for some inactive period, i was busy with some other projects.

@avagin https://github.com/google/gvisor/tree/feature/cgroupv2 is good, what's the development process here ? I think maybe we can split the patchset into 2 parts ( 1 is to bump dependencies and create cgroup interface for v1 and v2 cooperations ), and the second is to add v2 support.

The PR uses vagrant to setup a v

[2021-07-28 16:39] dr2chase opened #6387 "Incorrect step in "Installing from source" instructions"
### Description

I followed the "installing from source" instructions (Building) at https://github.com/google/gvisor#building after verifying Linux and Docker versions.  The `make runsc` step apparently succeeded, ending:

[code]
and to verify that it succeeded I did it again (since make is idempotent, right) and followed with `echo $?`:
[code]

but the next step `sudo cp ./bazel-bin/runsc/linux_a

[2021-07-28 23:41] #6374 closed

[2021-07-29 07:36] 8enmann commented on #3301
Maybe relevant: https://github.com/awslabs/amazon-eks-ami/issues/699
When gvisor runtime is active, I can't network in or out of the pod, but `kubectl exec` works. How to debug?

[2021-07-29 17:38] ghananigans opened #6389 "Separate IPv4/IPv6 fields settable by socket options"
### Description

GVisor currently uses the same fields in transport endpoint structures for IPv4/6 header field settable socket options.

Example, TTL/HopLimit, TOS/TCLASS, etc; Setting SOL_IP, IP_TTL should not affect the Hop limit of IPv6 packets.

[2021-07-29 20:56] avagin commented on #3481
All new PR-s about cgroupv2 should be created to this branch.

It is up to you, but you need to remember that we want to avoid any new external dependencies without real reasons. We can consider to copy-paste some code from runc, I think the license allows us to do this.

I will help with this, but let's solve other todo-s first.

It depends on a few things. The main idea is that we want to be abl

[2021-07-30 21:43] #6136 closed

[2021-08-03 16:22] ayushr2 commented on #6313
The lower bound used by 9P is 2. That should also be re-evaluated.

[2021-08-04 14:29] khimaros opened #6408 "do not restart docker on debian postinst"
### Description

restarting docker is disruptive, as it restarts all containers as well.

this has bitten me and caused downtime.

one solution would be to add a `/etc/defaults/runsc` which would be consulted about whether to restart docker.

### Steps to reproduce

`apt upgrade` on a system with runsc installed

### runsc version

_No response_

### docker version (if using docker)

_No response_

[2021-08-04 16:34] #5515 closed

[2021-08-04 22:58] ihowson commented on #2490
https://github.com/google/gvisor/blob/e3fdd1593217894328d5a917bbc356d0a7d145f0/pkg/sentry/syscalls/linux/sys_rlimit.go#L100 suggests that ProcessCount is not enforced.

I can't find any code that uses it for enforcement, though it's likely I have missed something.

[2021-08-05 17:02] ZachEddy opened #6414 "Kubernetes pods are stuck in ContainerCreating after upgrading containerd to v1.5"
### Description

After upgrading to containerd `v1.5.0` I am unable to run gVisor-based containers in Kubernetes. Containers are permanently stuck in `ContainerCreating` due to a breaking change in the containerd CRI plugin. This is the error I see in the Kubelet logs:

[code]

The CRI plugin in containerd `v1.5` changed the `TypeUrl` of runtime options it passes to the container shim:

- In conta

[2021-08-05 17:53] amscanne commented on #6408
Thanks for the report. I think this can be easily changed to just reload the configuration, which should avoid issues. I'll send something out.

[2021-08-05 18:17] #6408 closed

[2021-08-06 04:55] hbhasker commented on #6317
@kevinGC  could you take a look?

[2021-08-06 16:05] ghananigans opened #6422 "RAW IPv6 sockets must not allow a different port/protocol value when sending"
### Description

When calling `sendto` on a raw IPv6 socket the port field in a `sockaddr_in6` must be zero or the protocol number the socket is associated with. Any other value should result in `EINVAL` to match linux behaviour.

[2021-08-06 18:16] kevinGC commented on #6317
Yep, I'll take a look. I suspect this has to do with how we track TCP state
in long-lived connections in combination with iptables.

On Thu, Aug 5, 2021 at 9:55 PM Bhasker Hariharan ***@***.***>
wrote:

[2021-08-09 11:44] dillanzhou opened #6427 "vfs2 lose events when epoll fd registered in another epoll fd"
### Description

When VFS2 enabled, epoll_wait could not return correct events if another epollfd is registered in the waited epollfd.
For example, if register a socket fd in epollfd1 and register epollfd1 in epollfd2, then epoll_wait on epollfd2 could not return with EPOLLIN event on epollfd1 when socket fd has already triggered related events.
The epoll_wait syscall works well with VFS1.

### St

[2021-08-10 11:14] gystemd commented on #6148
My apologies, I have mistakenly published a bad formatted title and then I did a mess while trying to fix it.

[2021-08-11 17:30] Champ-Goblem opened #6441 "External HTTP Request Failure Rate 0.7%"
### Description

We have been experiencing an issue where HTTP connections that reuse a TCP connection (keep-alive connections) fail when talking to external services. We have seen sporadic time-out, connection reset and unexpected end-of-file (EOF) errors when deployments running on gVisor with istio-proxy sidecars talk to external endpoints such as Shopify, Cloudflare, PyPi and more.

In order t

[2021-08-12 09:26] sitano opened #6446 "cgroups leak on container delete"
### Description

If gvisor fails to uninstall container cgroups during `./runsc delete {cid}` they will stay in the system forever. It may be a problem because it leads to the unlimited growth of _SUnreclaimable_ memory area.

How to fix:

- don't forget cgroups that failed to be uninstalled in `func (c *Cgroup) Uninstall() error {}` and try later.
- don't skip the rest of the cgroups if some fail

[2021-08-12 09:29] sitano commented on #6446
Latest version has almost the same impl

[2021-08-12 09:33] sitano commented on #6446
Another concern - there are situations when some cgroups got deleted and 1 not. The current implementation does not try to delete all of the rest of the cgroups and exits asap. Better behavior would be to try to delete every group controller independently. If the impl is willing to keep 5 seconds timeout then it could execute fn() in parallel for every group controller.

All that besides that it s

[2021-08-12 16:44] ZachEddy opened #6449 "Upgrade to containerd v1.5"
### Description

The [`containerd/containerd`](https://github.com/containerd/containerd) dependency is currently two minor versions behind the latest release:

- Version currently used by gVisor: `v1.3.9`
- Latest version: `v1.5.5`

There are subtle incompatibilities between gVisor and newer versions of containerd that require temporary workarounds and fixes (see #6414 and #6232). These workaround

[2021-08-12 18:36] ayushr2 opened #6450 "Proposal to make go_marshal API safer"
### Description

## Strict Preconditions in Safe Methods

Currently the `marshal.Marshallable` interface has [pretty strong preconditions](https://github.com/google/gvisor/blob/968792961de53650146b7706b279a25e184396e0/pkg/marshal/marshal.go#L67) even for the "safe" versions of the marshal or unmarshal methods. In gVisor codebase, it is common to have to unmarshal bytes coming from a potentially ma

[2021-08-12 18:36] ayushr2 commented on #6450
cc @mrahatm

[2021-08-12 18:43] ayushr2 commented on #6450
Actually, we can also make the same amends for the unsafe methods as for the safe methods. The generated implementation anyways queries the size of the type. It would be trivial adding a check and adding value to the API.

[2021-08-12 20:50] mrahatm commented on #6450
Gomarshal was never designed to do some of things mentioned in this proposal:

- Handle unchecked user input. Gomarshal usually handles syscall arguments, where the memory it marshals to/from is user controlled, and passing a bad buffer results in EFAULT from the CopyIn/Out methods.
- Manual implementations of the Marshallable interface was intended as a rare fallback mechanism when automated gene

[2021-08-13 00:26] ayushr2 commented on #6450
Should these wrappers also be autogenerated? Or do you mean we should provide generic package methods do such things?
I am inclined towards the prior for the following reason: a generic package method would have a `marshal.Marshallable` receiver which would lead to an implicit cast from a concrete type to an interface. As of right now, this unconditionally leads to an allocation.

Questions:
- So

[2021-08-13 17:48] mrahatm commented on #6450
Autogenerating the wrappers sound reasonable.

I don't have a better suggestion but Checked{Un,}Marshal sounds fine. There's precedence for using "*Checked" and "*Unchecked" to refer to bound checks in segment set methods.

I think the marshallable interface is easier to understand when things are unconditionally generated: you get exactly what you see in the interface declaration. The slice API i

[2021-08-15 04:47] #4459 closed

[2021-08-18 00:44] #135 closed

[2021-08-18 16:51] zeling opened #6473 "Generate tcp timestamp offset securely"
### Description

Use the algorithm here https://tools.ietf.org/html/rfc7323#section-5.4

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2021-08-18 17:08] sitano commented on #6446
There is a possibility, that maybe the implementation does not work well with the kernels that do not support (do not have) `hugetlb` support in groups. In such cases for systems that has cgroups mounted in `rw` mode, gvisor code creates a folder inside a cgroup hierarchy and (maybe) writes to the tasks file.

[2021-08-18 17:58] nybidari commented on #1252
Autotuning of send buffer is now supported in gVisor.

[2021-08-18 17:58] #1252 closed

[2021-08-18 18:13] nybidari commented on #6113
RTT in netstack is not calculated during the connection establishment phase. It is done after we receive an ACK for the data packet. But having RTT of zero should not cause sndCwnd to be zero. It is weird that having sndCwnd of zero in one flow is causing other flows to stop sending. Also the state of the connection in TCPInfo still shows as Open even after the sndCwnd is zero and the transmission

[2021-08-22 05:06] gqlo opened #6492 "cyclictest does not run with gVisor runtime"
### Description

Hello there:
I am trying to use cyclictest to benchmark the CPU latency in gVisor containers:
`docker run --privileged -it  --runtime=runsc  --cpus=4  --memory="8192m"  leap-runsc /bin/bash`

I am getting:
[code]

Apparently I am running a privileged container, logged into the shell with root user. There are no issues with `runc`, `kata-runtime` etc. Is there a way to run cyclicte

[2021-08-22 09:26] rip-create-your-account commented on #6113
I managed to create a flaky reproducer https://gist.github.com/rip-create-your-account/ade2eacc4d07f284636a3202f771c861. It creates multiple flows that send data over the loopback link. Roughly 2/3 times it does not exit cleanly because 1-3 flows stop transmitting. The number of parallel flows seems to have the biggest impact in triggering the bug. Also, I found that the program needs to run at le

[2021-08-23 17:20] kevinGC commented on #6492
If I'm looking at the [right code](https://github.com/LITMUS-RT/cyclictest/blob/c19944bc7999ea6eba3c177745202462c2dbff94/src/lib/rt-utils.c#L267), this is because cyclictest is calling `sched_setscheduler(SCHED_FIFO)`, which we don't support. We probably won't be able to run cyclictest if it relies on setting scheduling policy. The underlying reason is that gVisor lets the Go runtime handle schedu

[2021-08-23 17:20] #6492 closed

[2021-08-24 18:08] arthurpi opened #6495 "Shutdown on connecting socket has no effect"
In gvisor, when a connecting (SYN_SENT) socket is shutdown(2) (SHUT_RD and/or SHUT_WR), nothing happens, and shutdown(2) returns ENOTCONN.

On linux, shutdown(2) succeeds and the socket locally enters an error state (POLLHUP | POLLERR | POLLOUT is observed). (no RST/FIN is sent to the listener's host)

[2021-08-24 22:57] ayushr2 commented on #6450
I don't think it is possible to autogenerate `CheckedUnmarshal` for dynamic types. Because the bound checks have to happen while unmarshalling itself.

[2021-08-24 23:46] #6148 closed

[2021-08-25 14:23] dqminh commented on #3481
I'm repackaging the patchset to make reviewing and testing simpler:
1. https://github.com/google/gvisor/pull/6485 to bump containerd dependencies to 1.4 without any changes. I think this still satisfies our requirements i.e. should work with containerd 1.3 runtime. This should reduce some code that we need for the shim.
2. https://github.com/google/gvisor/pull/6499 this ports the cgroup interface

[2021-08-25 15:00] karanthukral opened #6500 "Missing cAdvisor network metrics when using gVisor"
### Description

After upgrading gVisor from release `20210322.0` to `20210720`, we noticed that we were missing some [cAdvisor](https://github.com/google/cadvisor) (ex: `container_network_receive_packets_total`, `container_network_receive_bytes_total` etc) prometheus container metrics for all pods/containers running on gVisor.

During our debugging we tried to nail down any gVisor changes that co

[2021-08-27 01:57] ghananigans opened #6517 "Support overlapping slices."
### Description

Currently endpoints that operate at layers below the transport layer (raw (network) endpoints and packet endpoints) need to perform a deep copy of the bytes because save/restore does not support overlapping slices.

When raw/packet endpoints are used, a higher-level endpoints packet buffer may hold views ("inner view") which point to the middle of a view held in a lower-level sock

[2021-08-27 19:01] ghanan94 opened #6519 "Do not rate limit ICMP Echos by default"
gVisor rate limits ICMPv4 (but not ICMPv6) echo responses but linux does not. Linux only rate limits ICMP error responses, as per RFC requirements:

ICMPv4 rate limit errors: RFC 1812 section 4.3.2.8 https://datatracker.ietf.org/doc/html/rfc1812#section-4.3.2.8
ICMPv6 rate limit errors: RFC 4443 section 2.4.f https://datatracker.ietf.org/doc/html/rfc4443#section-2.4

ICMPv4 rate limited in gVisor:

[2021-08-27 21:10] brunowonka opened #6521 "Allow configuring ICMP rate limiter mask"
### Description

We currently always apply ICMP rates to ICMP errors, linux allows configuration of those flags through `net.ipv4.icmp_ratemask`/`net.ipv6.icmp.ratemask`. We should have the same knobs and apply them uniformly for all outbound ICMP traffic.

Derived from the discovery of rate-limited ICMP Echo traffic in #6519.

[2021-08-31 04:46] ghananigans opened #6530 "Packet sockets always assume ethernet links"
gVisor's packet endpoint always assumes that an interface is ethernet based but this is not always true (e.g. Pure L3/TUN interfaces).

[2021-08-31 04:50] ghananigans opened #6531 "Populate sockaddr_ll.sll_hatype"
`sockaddr_ll.sll_hatype` is not populated when `recvfrom` is called with a packet socket.

[2021-08-31 14:16] sitano commented on #6446
Here is what I am talking about:

[code]

[2021-08-31 14:18] sitano commented on #6446
My recommendation would be:

- check if a cgroup controller is supported before calling mkdir
- check and warn if the /sys/fs/cgroup tmpfs is mounted in rw-mode
- uninstall cgroups with `os.RemoveAll`
- check if the target file exists before calling `WriteFile` to set a value blindly

[2021-08-31 20:24] benbuzbee opened #6532 "gVisor writes ethernet frames to tun devices"
### Description

If we create a tun device inside the netns that gvisor will use, it will write ethernet frames to it when it should write IP packets

https://www.kernel.org/doc/Documentation/networking/tuntap.txt
[code]

tun devices are more common, for example `openvpn --mktun` or `wireguard-go`. openvpn can support a tap device but it is not the default. Wireguard-go on the other hand cannot.

[2021-08-31 22:24] milantracy commented on #6473
hey, could you provide some context on the issue?

[2021-08-31 23:50] milantracy commented on #6024
imo you have to update the comment.

From the implementations[0][1] of the interface, the behavior is still valid

[0] https://github.com/google/gvisor/blob/master/pkg/tcpip/transport/tcp/endpoint.go#L1563
[1] https://github.com/google/gvisor/blob/master/pkg/tcpip/transport/udp/endpoint.go#L430

[2021-09-01 18:38] ghanan94 opened #6537 "Drop `RouteInfo` and `NetworkProtocolNumber` from `LinkEndpoint.WritePacket{s}`"
These fields are held in the packet buffer.

[2021-09-01 19:10] ghanan94 opened #6538 "Avoid allocating when writing packets"
Currently when writing packets, the netstack will allocate a new buffer.

Ideally we avoid this allocation.

E.g. https://github.com/google/gvisor/blob/927ea16dd384f675a2ce1456be457a371109c488/pkg/tcpip/transport/udp/endpoint.go#L513

[2021-09-01 19:24] milantracy commented on #6538
iiuc, it still has to allocate the byte slice because it has to load data into the buf.

e.g.
https://github.com/google/gvisor/blob/927ea16dd384f675a2ce1456be457a371109c488/pkg/tcpip/transport/udp/endpoint.go#L514

[2021-09-01 19:43] tamird commented on #6538
It might not be possible in UDP because the packet has to go into the send queue, but it should be possible for packet sockets that write directly to the NIC.

[2021-09-03 10:59] fadhilkurnia opened #6544 "Makefile Error - make: *** [runsc] Error 123 (UnrecoverableHttpException)"
### Description

**Description**
I am trying to build gvisor from source using its makefile, however I could not run `make runsc`, it was failed because it failed to download a file from bazel:
[code]

Here are the complete output from `make`:
[code]

### Steps to reproduce

Pull gvisor source code then run its make command from its root directory.
[code]

### runsc version

_No response_

### doc

[2021-09-03 11:17] fadhilkurnia commented on #6544
I tried to run the command again as root (not using `sudo`), and it works! Closing this issue.

[2021-09-03 11:17] #6544 closed

[2021-09-03 17:36] arthurpi opened #6545 "Account for endpoints being delivered asynchronously when calculating accept queue size"
### Description

Currently, after we receive the final ACK from the handshake, the listening endpoint will move the new ESTABLISHED connection in the accept queue **asynchronously**. [1]

It means that if another client sends a SYN before that asynchronous operation above completes (but after a previous call to connect(2) returned), it'll look like the server accepted both connections.

[1] https:

[2021-09-05 07:57] younaman opened #6547 "A gVisor security issue that can leveraged to make DoS attacks."
### Description

We find a gVisor security issue to exhaust all user’s struct files in Linux Kernel and causing a DoS attack in the GKE environment. Inside one gVisor container, a malicious user can exhaust all struct files on the host, making DoS attack to other co-host containers.

### Steps to reproduce

 Reproduction steps:

Follow the GKE tutorial to set up GKE clusters. We use one Virtual Ma

[2021-09-07 23:46] benbuzbee opened #6549 "A flag to skip IP deletion"
### Description

**Problem**
gVisor is unconditionally destructive to the host interface, it deletes IPs there
https://github.com/google/gvisor/blob/7132b9a07b55b1c2944f19bb938878d147785a72/runsc/sandbox/network.go#L246

**Our use case**
 Hashicorp's Nomad supports invoking CNI for an allocation, but it creates a CNI namespace named "<allocation_id>" and if the container crashes, Nomad's default b

[2021-09-08 03:04] benbuzbee commented on #6549
I probably don't understand **why** the IPs are deleted in the first place. I naively thought it might just be an extra layer of security - why have the host keep the configuration if it shouldn't use it - but I sense that there is more to it, would you mind elaborating for me why it needs to be deleted? Perhaps that will make an alternative approach make more sense

[2021-09-08 03:25] hbhasker commented on #6549
GVisor steals the IP from the nic in the namespace and hands it to the user space network stack. The reason we remove the IP from the host nic is because we don't want the host trying to intercept packets. If we leave the IP in place the host will try and respond to incoming packets and in case of TCP it will not have any state and as a result it will send a TCP Reset packet essentially causing ab

[2021-09-08 03:38] benbuzbee commented on #6549
Ok I understand now, this is integral to gvisor handling the traffic in its sandbox. Unfortunate but makes sense, I dont know enough about the networking stack to suggest any other way of intercepting the traffic before the host kernel; since im guessing this is the best way you found let me learn more heavily in on the Nomad side and use this as an example of why each task needs a unique namespac

[2021-09-08 03:51] hbhasker commented on #6549
This is probably the easiest way to intercept the traffic. There might be other ways but given the ephemeral nature of these nics and namespaces the effort involved has not been worth it to investigate.

[2021-09-08 03:52] hbhasker commented on #6532
@benbuzbee ping

[2021-09-08 05:29] #6549 closed

[2021-09-08 05:30] hbhasker commented on #6549
Closing as this WAI.

[2021-09-08 18:21] benbuzbee commented on #6532
Seems on a good track. I will have to integrate more stuff to really verify its working correctly e2e but I can see it now sends a TCP SYN

[code]

I will try to spend more time and verify e2e

[2021-09-08 23:07] kevinGC commented on #6547
We're working on this. It's file descriptor exhaustion, and a few things make it messy to resolve:

- Ideally cgroups would allow limiting FDs, but they do not; FDs are limited by `RLIMIT_NOFILE`, which is per-process rather than per-pod/container.
- It's unclear what the right limits are. What's too high and too low? How do we choose a limit? Is it static or dynamic? How is it configured?
- FD ex

[2021-09-09 18:07] #6532 closed

[2021-09-09 18:28] ghanan94 opened #6558 "Checklocks does not support anonymous structs"
Checklocks does not support anonymous structs

[code]

[2021-09-09 21:56] hbhasker commented on #6558
Sending this to Adin as he probably has more context on whether this is something we can support in the analyzer.

[2021-09-11 02:51] ghananigans opened #6565 "Generalize datagram-based socket syscall tests"
Datagram-based sockets (UDP, ICMP, RAW IP) are very similar as they all send datagrams over IPv4/IPv6.

We can extract all common code in UDP-focused syscall tests that can also be run on RAW IP/ICMP sockets providing socket-specific hooks where packets are sent/received/checked.

[2021-09-11 04:55] hbhasker commented on #6378
@cqs21 TDX is something that we have talked about but we have no concrete plans to support it at the moment. But we are always open to contributions.

[2021-09-12 18:48] alok1929 commented on #5745
# Hey I would like to work on this.
 If there is any documentation I should look at that is related to this issue, could you share it?. I don't have any experience with gVisor, but I have had experience with installing linux and I know my way around the terminal.

### Any help would be appreciated...

[2021-09-12 18:49] alok1929 commented on #5745
@ianlewis

[2021-09-13 05:21] ghananigans opened #6566 "Annotate lock-protected fields with checklocks"
Now that we have the `checklocks` analyzer, we should annotate values that are lock-protected with an appropriate `checklocks` attribute.

[2021-09-13 05:54] ghananigans opened #6567 "Join IPv4 Multicast group with IPv4-mapped-IPv6 address"
Investigate if this is allowed on Linux and support this if it is.

[2021-09-13 17:54] #6558 closed

[2021-09-14 01:12] ghananigans opened #6575 "Supporting binding to AF_UNSPEC like Linux"
As pointed out in https://github.com/google/gvisor/pull/6568/files#diff-f1ad298c3fabf3bcb0ba76c2c02c6721890c245579ce1a646c079d699d7f2c95R647, gVisor diverges from Linux when binding a UDP socket to the AF_UNSPEC sockaddr.

[2021-09-14 03:11] DarcySail opened #6577 "vfs2 fail to create hard link for socket file"
### Description

vfs2 fail to creat hard link for socket file,
the following code can reproduce the case
on the master branch latest commit.
but the same code works fine in vfs1.

[code]

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo s

[2021-09-14 05:38] DarcySail commented on #6577
 0  0x00000000007a9d9b in gvisor.dev/gvisor/pkg/p9.(*clientFile).Link
    at pkg/p9/client_file.go:633
 1  0x0000000000c36c2f in gvisor.dev/gvisor/pkg/sentry/fsimpl/gofer.p9file.link
    at pkg/sentry/fsimpl/gofer/p9file.go:188
 2  0x0000000000c49d14 in gvisor.dev/gvisor/pkg/sentry/fsimpl/gofer.(*filesystem).LinkAt.func1
    at pkg/sentry/fsimpl/gofer/filesystem.go:679
 3  0x0000000000c2184a in gv

[2021-09-14 06:03] BLasan commented on #6566
@ghanan94 Hi, I'm new to the community. Does this issue need a prior knowledge on this project? Or is it ok me to take up this issue?
Thanks !!

[2021-09-14 06:32] Heatherchan2 opened #6578 "Gofer is inefficient in processing directories with a large number of files"
### Description

Gofer is very inefficient in processing directories with a large number of files.

### Steps to reproduce

The overall idea is to create a multi-file directory on the host (create n files with a size of 1k), mount to the container /mnt directory, execute time ls /mnt, observe whether there is a hang phenomenon, and the operation duration

[gofertest.tar.gz](https://github.com/goog

[2021-09-15 01:40] hbhasker commented on #6578
@ayushr2 could you take a look?

[2021-09-15 01:41] hbhasker commented on #6577
@ayushr2 could you take a look?

[2021-09-15 03:58] hbhasker opened #6587 "gVisor Networking Features"
### Description

We are trying to gather requirements from gVisor's Open source community to prioritize Networking features that we should be working on.

Feel free to leave comments on this issue with features requests. Please use the following template to help us prioritize these features.

Description: <Please describe the feature in the best way possible>
Use-case: Why do you need it?
Blocker:

[2021-09-15 06:26] ayushr2 commented on #6578
I did exactly that with docker:
- Created a host directory with n files each of size 1k.
- `docker run --runtime=${RUNTIME} --rm -v ${PWD}/bigdir:/bigdir -v ${PWD}/bigdir2:/bigdir2 -v ${PWD}/bigdir3:/bigdir3 -v ${PWD}/bigdir4:/bigdir4 -it ubuntu bash`
- Ran `time ls bigdir` on each of them.

I don't seem to notice the exponential growth you are seeing. These are my observations:
| **Protocol/n**

[2021-09-15 11:28] DarcySail commented on #6577
here is my fix:
https://github.com/google/gvisor/pull/6588

[2021-09-15 13:11] hbhasker commented on #5745
Please see https://github.com/google/gvisor/blob/108410638aa8480e82933870ba8279133f543d2b/pkg/sentry/fsimpl/proc/task_net.go to understand how to add a new pseudo file.

[2021-09-15 16:34] amscanne commented on #6578
Is the original report VFS1 or VFS2? Perhaps there is a difference there already.

[2021-09-15 16:51] ghanan94 commented on #6021
We also return EADDRNOTAVAIL instead of EINVAL when binding to multicast addresses

[2021-09-15 17:05] ghanan94 opened #6590 "Specify locking requirements with checklocks"
### Description

checklocks simply checks for Lock/Unlock but doesn't distinguish between read/write locking requirements.

1) we may need write locks but checklocks passes with read locks (the following test is testing for wrong behaviour) https://github.com/google/gvisor/blob/16b751b6c610ec2c5a913cb8a818e9239ee7da71/tools/checklocks/test/basics.go#L117

2) a method may only need read locks but w

[2021-09-15 17:10] hbhasker commented on #6590
I think there was problem with the generated SSA where it was hard to distinguish this use-case. I will have to revisit this to refresh my memory why we did not support this.

[2021-09-15 17:29] amscanne commented on #6590
I don't think this is difficult anymore. I can knock this out soon.

[2021-09-15 17:31] tamird commented on #6590
Also the test right above it has the wrong name - it writes rather than reads.

https://github.com/google/gvisor/blob/16b751b6c610ec2c5a913cb8a818e9239ee7da71/tools/checklocks/test/basics.go#L109-L113

[2021-09-15 18:49] ayushr2 commented on #6578
@amscanne you are right, the demo uses VFS1.
This was fixed in VFS2. VFS1 degrades exponentially because the time increases more than double each time.

Please use VFS2. See https://groups.google.com/g/gvisor-users/c/rP-RCBDFKoY/m/qY2ZaYgEAgAJ.

[2021-09-15 18:49] #6578 closed

[2021-09-15 22:34] #3036 closed

[2021-09-16 03:49] cuonglm commented on #451
I faced the same performance issue with `go` command related action:

[code]

For broader context, we use `gvisor` to run go benchmarks, and using `gvisor` failed to compile the package with details error here: https://dashboard.github.orijtech.com/benchmark/02c62753db6846019940ff3fe9d9534d

[2021-09-16 11:06] DeciderWill commented on #6441
@hbhasker @kevinGC @nybidari - any updates? It's over a month since this was opened and 2 months since https://github.com/google/gvisor/issues/6317 was filed. If we can assist or provide additional context please communicate as there has been zero communication.

This issue affects Cloud Run, App Engine, Digital Ocean App platform - not just Northflank.

Next JS a popular React / Node JS framework

[2021-09-16 13:16] hbhasker commented on #6441
@DeciderWill Sorry this fell off my radar. I will take a look today and see if I can repro the issue.

I will also sync with @kevinGC and @nybidari  and see post updates once I have something concrete to share.

[2021-09-16 15:35] prattmic commented on #451
@cuonglm Just to clarify, you are describing two issues, correct?

1. Go toolchain tools are slow inside gVisor (likely directly related to this issue of IO performance).
2. Building/testing cosmos-sdk inside gVisor causes segfaults in the test and Go toolchain (this should be tracked in another issue).

[2021-09-16 15:38] cuonglm commented on #451
@prattmic Yes, I want to investigate further before opening new issue. The (2) happens in our bencher system first, then I investigated and see (1) happens.

I'm going to make a reproducible for (2).

[2021-09-16 15:39] prattmic commented on #451
Great, thanks!

[2021-09-16 16:11] cuonglm opened #6600 "Failed to build Go package using docker+gvisor"
### Description

Failed to run a benchmark of a package of a Go project.

### Steps to reproduce

[code]

<details><summary><code>Error</code> Output</summary><br><pre>
go: downloading github.com/regen-network/protobuf v1.3.3-alpha.regen.1
go: downloading github.com/tendermint/tendermint v0.34.12
go: downloading google.golang.org/grpc v1.33.2
go: downloading github.com/stretchr/testify v1.7.0
go:

[2021-09-16 16:13] cuonglm commented on #451
I filed https://github.com/google/gvisor/issues/6600

[2021-09-16 16:14] cuonglm commented on #6600
Note that if I use `runc`, then the benchmark run ok.

[2021-09-16 17:37] #220 closed

[2021-09-16 18:53] #5711 closed

[2021-09-16 20:15] benbuzbee opened #6603 "Host networking support for GetSockOpt: SO_RCVTIMEO, SO_SNDTIMEO"
### Description

Used by ookla's speedtest server

https://support.ookla.com/hc/en-us/articles/234578528-OoklaServer-Installation-Linux-Unix
[code]

These seem harmless to my naive brain, perhaps they are trivial to support?

### Is this feature related to a specific bug?

_No response_

https://github.com/google/gvisor/blob/master/pkg/sentry/socket/hostinet/socket.go#L392
Add them here :)

_No re

[2021-09-16 21:46] ghananigans opened #6606 "Support anonymous functions for checklocks"
Currently not supported, as per https://github.com/google/gvisor/tree/16b751b6c610ec2c5a913cb8a818e9239ee7da71/tools/checklocks#currently-not-supported

[2021-09-17 00:20] 25077667 commented on #193
Hi all,

I also meet this problem, but I'm not using the kube. How can I solve it?
I use the raw docker on Archlinux  .
This is my platform:
![](https://imgur.com/OL6fyid.png)

And this is the error message:
![](https://imgur.com/yIV0f5C.png)

[2021-09-17 18:02] ghananigans opened #6612 "Make sure locks are not held (checknolocks)"
Similar to `checklocks` that checks that locks _are_ held, can we make sure locks _are not_ held?

E.g. when we need to call a function that takes a lock, make sure it is not called with the lock already held.

[2021-09-17 18:03] ghanan94 commented on #6612
cc: @amscanne

[2021-09-17 18:05] tamird commented on #6612
This is equivalent to annotalysis' `EXCLUDES`: https://clang.llvm.org/docs/ThreadSafetyAnalysis.html#excludes.

[2021-09-18 14:06] ghananigans opened #6616 "Remove protocol from packet.NewEndpoint"
A zero value for packet.NewEndpoint should result in a packet endpoint that is unbound to any interface/protocol.

Consider dropping protocol from https://github.com/google/gvisor/blob/108410638aa8480e82933870ba8279133f543d2b/pkg/tcpip/transport/packet/endpoint.go#L97 and have the caller call `Bind` if the protocol is specified

[2021-09-20 17:16] ghananigans opened #6618 "Register new binding before unregistering old binding"
Currently tcpip.Endpoint.Bind methods unregister their old bindings before registering new bindings, but registering the new bindings may fail, leaving the endpoint in a broken state.

We should register the new binding before unregistering the old bindings to make sure the endpoint is never left in a broken state

[2021-09-20 18:44] #5464 closed

[2021-09-20 21:13] prattmic opened #6619 "Difficult to debug when `"terminal": true` is passed non-TTY stdio"
Today I spent a long time debugging issues running a basic container with os/exec and runsc run. Something like this:

[code]

We expect to see the same "Hello from Docker!" message when running as a subprocess from Go, but get no output. Enabling strace logging reveals:

[code]

The write is returning EBADF. Further digging reveals the EBADF is because FD 1 is not writable. More digging eventuall

[2021-09-20 21:17] prattmic commented on #6619
Note that this bug is not related to rootless. It fails the same way when run normally.

[2021-09-20 22:46] ghananigans opened #6621 "Support `getsockname` for packet sockets"
The title says it all

[2021-09-21 21:09] #5465 closed

[2021-09-21 23:13] #6545 closed

[2021-09-21 23:30] fvoznika commented on #6500
cAdvisor uses libcontainer to get network stats. libcontainer queries `sysfs` for the virtual device stats directly, so I don't see how the change in cgroup assignment could affect that.

[Here](https://github.com/opencontainers/runc/blob/03244ef2cf04c0db6e7cec09ad82ea93f55751cc/libcontainer/network_linux.go#L39) is where libcontainer queries sysfs. Just to double check, these values do get update

[2021-09-22 00:30] #6495 closed

[2021-09-22 03:17] ghanan94 commented on #6168
Duplicate of #5915

[2021-09-22 17:00] fvoznika commented on #6619
Option 1 should work. If terminal is set, stdio FDs must be a TTY. [Here](https://github.com/google/gvisor/blob/0ed53e5e92a065f63864ecfd0dd6d93c12daaef5/runsc/console/console.go#L29) is where they are created in the normal case. We could also fail if terminal is set but `--console-socket` is not. I'm not sure if the OCI allows it, but [runsc will not set up TTY](https://github.com/google/gvisor/bl

[2021-09-22 17:24] avagin opened #6629 "arm64: kvm_test is blocked on TestSafecopySigbus."
### Description

https://github.com/google/gvisor/pull/6573#issuecomment-924601729

### Steps to reproduce

* Remove the amd64 build tag from the pkg/sentry/platform/kvm/kvm_safecopy_test.go
* Run kvm_test on arm64

[2021-09-22 22:07] #6519 closed

[2021-09-23 19:34] guodongli-google opened #6643 "Report a bug that mutates a not-used copy of a struct."
### Description

At: https://github.com/google/gvisor/blob/master/runsc/boot/vfs.go#L171-L175

When  `procArgs` is dereferenced to `rootProcArgs`, `rootProcArgs` is a clone with its own memory since type `kernel.CreateProcessArgs` is a struct. Here `rootProcArgs` is a copy that is not used elsewhere, and mutating it doesn't do anything to the original `procArgs`. As a consequence, this mutation ha

[2021-09-23 19:38] prattmic commented on #6643
cc @zkoopmans

[2021-09-24 18:41] avagin commented on #6449
Cc: @fvoznika

[2021-09-26 02:01] 25077667 commented on #268
Hi all,

I traced this issue from [here](https://gvisor.dev/docs/user_guide/faq/#memfd-create)
My machine said xxx/log.json: no such file or directory, like this:
![image](https://user-images.githubusercontent.com/16622598/134790570-5cfc2735-50a3-4d10-ab06-1f7a36c71b21.png)

However, It supports memfd_create syscall.
I have no idea what's happened?

[2021-09-28 00:53] fvoznika commented on #6500
cAdvisor uses an inotify watcher under `/sys/fs/cgroup` to detect when containers are created and deleted. Because `runsc` creates cgroups for the sandbox only (containers are inside the sandbox and not visible to the host), cAdvisor doesn't discover these containers and doesn't report about them. By simply creating these directories, cAdvisor start reporting correct metrics for them.

Here is an

[2021-09-28 13:57] karanthukral commented on #6500
Great find and thanks for taking the time to explain! 👏

[2021-09-28 20:35] fvoznika commented on #6600
@cuonglm I can run your repro steps without hitting the error you mentioned. Are you setting an specific platform or just using the default (ptrace)? Can you try again from HEAD?

[code]

[2021-09-28 23:58] fvoznika commented on #451
@cuonglm enabling VFS2 improves your scenario quite a bit. `-v` mounts require extra validation when accessed and this has been greatly improved with VFS2. From the numbers you posted it seems that `go mod tidy` didn't need to download modules, so I posted the results for both for comparison:

Workload               | VFS1  | VFS2 | Native
-----------------------|-------|------|-------
go mod tidy

[2021-09-28 23:58] #451 closed

[2021-09-29 00:22] fvoznika commented on #6255
The logs show that the gofer exited cleanly:

[code]
I think what is happening is that the gofer process is zombied and not reap'ed by the parent. The process that is calling into `runsc` needs to set `PR_SET_CHILD_SUBREAPER` and reap all children in a loop. If you search for the gofer process when this happens, you can look for its state and who the parent is.

[2021-09-29 01:00] fvoznika commented on #268
I believe you're running into #5865 (you need to enable cgroup v1 controller). If you run `sudo runsc do echo 123` you should get a more decent error message.

[2021-09-29 03:23] cuonglm commented on #6600
Yes, I don't set any specific setting, just clone the repo, build runsc then run above command.

Sure.

[2021-09-29 19:03] crappycrypto opened #6664 "tcpdump broken for libpcap 1.10+"
### Description

The [gvisor site](https://gvisor.dev/docs/user_guide/compatibility/) mentions that tcpdump is working in non-promiscous mode. However since libpcap 1.10.0 tcpdump seems to fail inside gvisor. My guess is that is because of the following entry in the changelog

`   Linux:
        Require PF_PACKET support, and kernel 2.6.27 or later
`
A related issue is https://github.com/google/gv

[2021-09-29 19:16] crappycrypto opened #6665 "Slow vfs for directories with large number of files"
### Description

Gvisor (with vfs2) is very slow when accessing directories with a huge number (50000) of files on an external mount. Operations inside such a directory can take hundreds of milliseconds. Even a simple getdents64 syscall can take a very long time as gvisor performs a stat on every file in the directory. Accessing a non-existent file leads to similar behaviour. The performance diffe

[2021-09-29 21:42] tamird opened #6666 "getsockopt(SO_ERROR) should *consume* soft errors"
### Description

https://github.com/torvalds/linux/blob/02d5e016800d082058b3d3b7c3ede136cdc6ddcb/net/core/sock.c#L1480

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2021-09-30 11:36] pkit commented on #5608
Doesn't it mean that the better course of action would be to really use the container limits instead of machine limits?

[2021-09-30 15:53] tamird opened #6671 "TCP listener shutdown zombies connections in SYN-RCVD"
### Description

Create a TCP listener with backlog > 0 and partially complete a handshake with it (SYN ->, <- SYNACK). The connection is not in SYN-RCVD. Shut down the listener and send the final ACK; the partial connection will keep retransmitting the SYNACK until it times out.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No res

[2021-10-01 03:13] tamird commented on #2685
@zeling was this done in https://github.com/google/gvisor/commit/0c2b2dc752e626f86454455bd991766ebd68497b?

[2021-10-01 11:01] #6671 closed

[2021-10-01 13:16] hbhasker commented on #6664
Thanks for the report. Could you provide an strace log of runsc. Also could you provide your daemon.conf for the runsc runtime.

[2021-10-01 13:17] hbhasker commented on #6666
I believe we do this. Do you have a repro of where this fails.

[2021-10-01 13:29] hbhasker commented on #6538
It should be possible , UDP has no send queue. This is required because of the tcpip.Payloader interface and us using ReadTo. If we can request the whole Payload then it's trivial to avoid the allocation.

[2021-10-01 14:23] tamird commented on #6666
We don't unset the POLLERR signal. cl/399776818 demonstrates it.

[2021-10-01 15:03] namit-chandwani commented on #6024
Hey, I'd like to work on this issue. Can you please assign it to me?

[2021-10-01 16:23] #6643 closed

[2021-10-01 17:00] zeling commented on #2685
Yes it is, marking as fixed.

[2021-10-01 17:00] #2685 closed

[2021-10-01 19:34] crappycrypto commented on #6664
Using a debian bullseye container it stops after just a few syscalls.

Tested with
- tcpdump 4.99.0
- libpcap 1.11.0
- runsc release-20210921.0

[code]

The first problem seems to be that creating a AF_SOCKET packet without specifying a protocol is not supported in gvisor. See https://github.com/google/gvisor/blob/108410638aa8480e82933870ba8279133f543d2b/pkg/sentry/socket/netstack/provider.go#L140

[2021-10-02 03:45] arthurpi opened #6683 "Listener should reply with an RST when receiving an invalid ACK, even if accept queue is full"
### Description

Fill the accept queue of a listener, and send an ACK from a new endpoint. The listener should respond with a RST.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

### runsc de

[2021-10-03 22:51] ghananigans opened #6686 "gVisor follows strong host but Linux is a weak host"
Should gVisor follow the weak host model to follow Linux? https://datatracker.ietf.org/doc/html/rfc1122#page-62

[2021-10-03 22:52] ghanan94 commented on #6686
Note that on stacks with only 1 interface, the choice in model has no observable difference in the stack.

[2021-10-04 01:16] mikma commented on #6686
The stack seems to be a mix between the strong and weak host model when IP forwarding is enabled.

If you add non-loopback addresses to the "lo" interface, then those addresses can be pinged from the outside, and they can be used by for example sshd. But you can't bind to a non-loopback address on one interface and make an outbound connnection which uses a route on another interface, for example w

[2021-10-04 20:24] hbhasker commented on #6664
Thanks for the detailed report, let me take a look at it.

[2021-10-04 20:57] #6683 closed

[2021-10-05 21:41] iangudger commented on #1035
@fvoznika Is VFS2 ready to be the default? The last update was almost a year ago.

[2021-10-05 21:48] crappycrypto commented on #6664
You're right I made a mistake with setting up a minimal repro environment for the bug. Tcpdump is indeed broken with the versions as described above but it crashes with a segfault. (debian bullseye container with tcpdump installed via apt)

Here's the strace failing to setup a ring buffer in libpcap
[code]

The code then crashes while trying to free `oneshot_buffer` in `pcap_cleanup_linux` (This i

[2021-10-05 23:35] hbhasker commented on #6664
Sigh. Looks like pcap removed all support for non-mmapped ring buffer in commit https://github.com/the-tcpdump-group/libpcap/commit/7c78bcb843283dec6357e70f60ce92a75a55d681 :-\

Let me open a bug to support TPACKET_V2. I think v2 is simpler to implement than v3.

[2021-10-05 23:38] hbhasker opened #6699 "Add support for PACKET_RX_RING w/ TPACKET_V2"
### Description

In issue https://github.com/google/gvisor/issues/6664#issuecomment-935078809 it was discovered that the latest versions of libpcap have removed all non-mmapped packet capture support as of this commit https://github.com/the-tcpdump-group/libpcap/commit/457027ab43ceef03c578984653c0e59eedf5f46b.

Which means latest versions of tcpdump do not work in gVisor. We will need to add suppo

[2021-10-05 23:56] #6328 closed

[2021-10-06 00:40] avagin commented on #5963
Haven't seen this for a while.

[2021-10-06 00:40] #5963 closed

[2021-10-06 00:43] #6323 closed

[2021-10-06 16:40] fvoznika commented on #1035
Yes, it's ready to be the default. We're just waiting for a few internal users to enable it before we flip the flag. But everyone is encouraged to run with `--vfs2` at this point.

[2021-10-06 17:26] #6387 closed

[2021-10-06 23:29] ayushr2 commented on #6665
IIUC you are suggesting that instead of returning our sentry-only virtualized device ID on stat: [code pointer](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/fsimpl/gofer/gofer.go;l=1347-1348;drc=6fccc185609e37b0e3346f8df91bdcb37bc990db), we instead expose the actual device ID from host. How do we deal with conflicts with sentry virtualized device IDs?

Ah also I recall another is

[2021-10-08 01:36] fvoznika commented on #6665
The whole premise of the idea is that we can freely return different device IDs for files within the same filesystem without breaking applications. If that holds true (I suspect that it won't, but can't think of a case where it breaks), then we play around with device IDs and [ino](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/fsgofer/fsgofer.go;l=161;drc=2b0615c76c8acf88de1add9bad1758

[2021-10-12 18:37] #6446 closed

[2021-10-12 21:31] hbhasker opened #6725 "Pull out TCP keep alive defaults into constants."
### Description

See: https://github.com/google/gvisor/blob/035e44c7cb990d91e77b57b146b8dc78ad064b95/pkg/tcpip/transport/tcp/endpoint.go#L817

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

#

[2021-10-12 23:27] #6725 closed

[2021-10-13 01:38] milantracy commented on #6629
is that possible to run the test under arm64 if I don't have a machine with the architecture?

[2021-10-13 05:53] avagin commented on #6629
you can try to create a qemu aem64 vm: https://wiki.ubuntu.com/ARM64/QEMU

but I am not sure that kvm tests will work there.

cc: @zhlhahaha

[2021-10-13 18:01] Champ-Goblem commented on #6441
@hbhasker thanks again for picking this up, as the two pcaps are too large to be uploaded to github I have made them available on a storage bucket (client: https://storage.googleapis.com/networking-pcaps/http/client.pcap and server: https://storage.googleapis.com/networking-pcaps/http/server.pcap).

If you still require, we are more than happy to demonstrate the problem over a call and provide any

[2021-10-14 01:43] hbhasker commented on #6441
Thanks for the pcaps. Let me take a look at the pcaps and see if something is obvious from the pcaps. If not I will reach out and maybe setup a conf to do some live debugging.

[2021-10-14 04:18] hbhasker commented on #6317
@Champ-Goblem I am looking at the pcap but a few things are not making sense to me.

There seem to be a few IP addresses involved.

Looks like client is 10.64.0.28 and MySQL server is running on 10.60.25.244 (from the DNS response). But then the pcap is all between 10.64.0.28 and 10.64.0.26 (where 10.64.0.26 seems to be the IP of the mysql server). Is this capture being done from inside the sandbo

[2021-10-14 04:50] hbhasker opened #6734 "TCP conntrack does not honor window sizes correctly."
### Description

tcpconntrack package uses the segment's window size specified in the TCP segment header to determine if an incoming segment is acceptable. But it doesn't take into account any window scaling that might be in use as it completely ignores TCP options in the SYN(see: https://github.com/google/gvisor/blob/81f284f9d4af4170c86ad182e2f6f2cc9b3c565a/pkg/tcpip/transport/tcpconntrack/tcp_co

[2021-10-14 04:51] hbhasker commented on #6317
NOTE: I opened an issue for a bug I observed in our tcp_conntrack which may also cause some of these odd behaviours.

See: https://github.com/google/gvisor/issues/6734

[2021-10-14 04:51] hbhasker commented on #6441
NOTE: I opened an issue for a bug I observed in our tcp_conntrack which may also cause some of these odd behaviours.

See: https://github.com/google/gvisor/issues/6734

[2021-10-14 05:36] hbhasker opened #6736 "IPTables incorrectly adds an established connection as a connecting connection in conntrack"
### Description

https://github.com/google/gvisor/blob/81f284f9d4af4170c86ad182e2f6f2cc9b3c565a/pkg/tcpip/stack/conntrack.go#L161 incorrectly is initializing the TCB without checking if the incoming segment has a SYN.

See: https://github.com/google/gvisor/blob/108410638aa8480e82933870ba8279133f543d2b/pkg/tcpip/transport/tcpconntrack/tcp_conntrack.go#L70 which expects the header to be the SYN head

[2021-10-14 18:06] hbhasker commented on #6441
Thanks for the new caps, for some reason I can't correlate the client and server pcaps. The client pcaps clearly show some streams stuck for a long time and the remote end retransmitting with no response but I can't find the same streams on the server pcap. None of the streams in the server pcap are stuck like that and all have some retransmissions but are making forward progress.

[2021-10-14 19:06] ayushr2 opened #6739 "Gofer filesystem does not support hard links"
### Description

The gofer filesystem does not support hard links correctly.

The gofer client uses different dentry structs for hard linked files (which is correct) however hard linked files have the same inode. But the gofer client embeds the inode fields in the dentry struct itself. Hence inode properties for hard linked files can diverge because of this duplication.
Hard linked files also have

[2021-10-14 23:39] fvoznika opened #6742 "Add VFS2 support to control/fs.go"
`control.fs.Cat()` must also support VFS2.

[2021-10-15 01:42] #5608 closed

[2021-10-15 09:02] Champ-Goblem commented on #6441
Hi hbhasker, it might be worth if we setup that conf next week for some live debugging of the HTTP issue?

[2021-10-15 16:32] Champ-Goblem commented on #6441
Please contact myself and cc @DeciderWill on our emails <firstname>@northflank.com and we will be as flexible as possible with scheduling

[2021-10-15 18:29] kevinGC opened #6748 "conntrack reaps un-NATted connections"
### Description

Conntrack doesn't update TCP state for un-NATted connections, but does track them. This leads to un-NATted connections eventually being reaped for no reason.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if bui

[2021-10-15 21:38] hbhasker commented on #6441
I believe we may have found a bug that could be causing the RSTs and timeouts. It is fixed @ head when making an unrelated change.(https://github.com/google/gvisor/commit/3bab5e56677942c19d0777a1d6aee38a25a05bbb#diff-a2e3792cda772de19b2a342f8e75b976a53e2ab22e0e72286458aebce30b2087R287).

The bug was that reapLocked was messing up the list as we remove the very entry  on which we are calling Next()

[2021-10-15 23:33] jseba opened #6754 "Strange behavior between PIDs limit and OOM reaper on KVM platform"
### Description

I was doing some tests with the KVM platform and noticed that when I use the KVM platform, there's a strange interaction between the PIDs limit and the OOM reaper. I'm seeing the OOM reaper kill the sandbox for exceeding memory constraints instead of fork() failing due to PID cgroup constraints.

I'm was using bash fork bomb to test this at first, but I get the same behavior with

[2021-10-18 11:08] DarcySail opened #6755 "Cgroupfs support tasks migration"
### Description

Hi Mahmood @mrahatm , I notice that in current implementation, cgroupfs doesn't support task migration from one cgroup to another cgroup.
Are you working on this issue or having a plan for it?

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2021-10-18 18:51] avagin commented on #6754
I would rephrase this: "gVisor doesn't honor the PID limit set in the container config". In case of the ptrace platform, we fork one system process per each guest processes and this is why you see the right behavior on it. The KVM platform uses the hardware virtualization to manage guest address spaces and so the number of guest processes doesn't affect a number of system threads.

@mrahatm is wor

[2021-10-18 19:07] avagin opened #6757 "mmap_test_runsc_kvm_vfs2 fails in a VM if vdso and vvar are mapped to the guest phys address space"
### Description
[code]

[code]

[code]

[code]

### Steps to reproduce
[code]

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

Linux gvisor-kvm-test-e2 5.11.0-1020-gcp #22~20.04.1-Ubuntu SMP Tue Sep 21 10:54:26 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No respo

[2021-10-18 19:13] avagin commented on #6757
The fault address is 3fef42812000:
3fee42811000-3fee42a11000 r--s 00000000 08:01 1548479                    /home/avagin/.cache/bazel/_bazel_avagin/b81b35ebb4504fa5145835608a9b1744/sandbox/linux-sandbox/164/execroot/__main__/_tmp/17c44a2debad9383a1bd713efd562aa9/096880235/gvisor_test_temp_1_1634583688083586376

[2021-10-20 00:24] ghananigans opened #6765 "NAT ICMPv4 errors that hold IPv4 messages with options"
### Description

iptables does not handle IPv4 options held in the embedded IPv4 packet in an ICMPv4 error - it currently assumes that the embedded IP packet never contains options

related #5916

[2021-10-20 01:09] wtfismyip commented on #193
@25077667   I ran into this issue both on Debian 11 and Ubuntu 21.10 with normal Docker. Adding `systemd.unified_cgroup_hierarchy=false systemd.legacy_systemd_cgroup_controller=false` to the kernel boot options fixed it for me.

[2021-10-20 13:47] jsrz commented on #6328
For anyone following up or searching on this one. Newer Amazon Linux AMIs which feature a newer kernel do not have this issue. Thus, I would suggest updating your Amazon Linux AMI if you encounter this issue.

[2021-10-20 20:30] hsubbaraj-spiral commented on #3301
Is this resolved? I'm running into the same issue with not being able to network with pods on eks using the gvisor handler.

[2021-10-21 17:31] kevinGC commented on #6734
Looks like we actually don't reject packets for being larger than the unscaled window. Because `tcpconntrack` was written pre-`PacketBuffer`, it assumes that passed-in `header.TCP` buffers also contain the payload. You can see this assumption when calculating the payload size:

https://github.com/google/gvisor/blob/81f284f9d4af4170c86ad182e2f6f2cc9b3c565a/pkg/tcpip/transport/tcpconntrack/tcp_connt

[2021-10-22 01:46] hbhasker commented on #3301
I think we dropped looking into this. I will see if I can find someone to help figure this out. It will be easier if you could provide an eks setup that we can debug on as I am personally not familiar with Eks. Preferably will instructions on how to deploy a custom runsc version so that I can add custom debug logs etc to see what's going on.

[2021-10-22 08:34] zhuangel opened #6773 "Perms of unix socket dentry different with runc"
### Description

Create unix socket and bind to filesystem, found the file permission is not same as runc container, this is the code and comments in sentry:

"// File mode matches net/socket.c:sock_alloc."
https://github.com/google/gvisor/blob/master/pkg/sentry/fsimpl/sockfs/sockfs.go#L120

And current implement in linux:

https://github.com/torvalds/linux/blob/master/net/socket.c#L633

### Steps

[2021-10-25 17:09] avagin opened #6781 "syzkaller: panic: runtime error: invalid memory address or nil pointer dereference"
### Description

https://syzkaller.appspot.com/bug?id=257e0a059c33311a37eec6f6069f6d522ef72793

[code]

### Steps to reproduce

https://syzkaller.appspot.com/text?tag=ReproC&x=14013f2cb0000

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No res

[2021-10-26 20:25] #6781 closed, assigned to ayushr2

[2021-10-27 19:17] ghananigans opened #6788 "Incrementally udpate checksum for ICMPv4 errors"
Currently an ICMP packet's checksum is updated be recalculating the whole checksum but we should be able to do this incrementally.

I tried performing an incremental update with a change of address, port, ipv4 checksum and transport checksum but i couldn't get it to work yet

https://github.com/google/gvisor/pull/6733/commits/a7b5d8f10cb3674340486a38a400c7f9f30017f6#diff-a2e3792cda772de19b2a342f8e

[2021-10-27 22:12] ghananigans opened #6789 "NAT ICMPv6 errors that hold IPv6 messages with extension headers"
iptables does not handle IPv6 extensions held in the embedded IPv6 packet in an ICMPv6 error - it currently assumes that the embedded IP packet never contains extension headers

related #5916

[2021-10-28 19:36] ghananigans opened #6794 "Move iptables out of stack"
iptables is specific to IPv4/IPv6 and there is no need for it to live in stack

[2021-10-28 20:43] srikrsna-buf opened #6795 "Container hangs when using runsc runtime"
### Description

docker run hangs when using the `runsc` runtime. The container runs normally on `runc`.

### Steps to reproduce

- `docker pull skrsnabuf/protoc-gen-dart:v20.0.0`
- `docker run --runtime runsc skrsnabuf/protoc-gen-dart:v20.0.0` (Hangs)
-  `docker run skrsnabuf/protoc-gen-dart:v20.0.0` (exits as it should)

Dockerfile
[code]

### runsc version

[code]

### docker version (if using

[2021-10-28 20:52] srikrsna-buf opened #6796 "Container exits with IO exception"
### Description

Container exits with IO exception while running on `runsc`. Runs normally on `runc`. It is a Java program and gives the following exception

[code]

### Steps to reproduce

- `docker pull skrsnabuf/protoc-gen-grpc-kotlin`
- `docker run --runtime runsc -i skrsnabuf/protoc-gen-grpc-kotlin` and press enter (throws the exception)
- `docker run -i skrsnabuf/protoc-gen-grpc-kotlin` wait

[2021-10-29 18:04] hbhasker commented on #223
This is not the right way to optimize loopback as this will break too many tools where loopback traffic will be invisible to say tcpdump etc. We do not intend to do this. There are other optimizations to improve stack performance in general which are in progress. Going to close this.

[2021-10-29 18:04] #223 closed

[2021-10-29 18:07] hbhasker commented on #6317
BTW independent of the other HTTP failure issue has this been resolved now @HEAD?

[2021-10-29 18:14] hbhasker commented on #3301
While this is doable I am not sure we want to do support these one-offs. I have been reviewing the CNI spec(https://github.com/containernetworking/cni/blob/master/SPEC.md) and from what I can see it does not provide for any ARP table manipulation directly. In case of EKS this is I am guessing being done by using an CNI plugin that is just executing arbitrary commands in the namespace to setup the

[2021-10-29 18:22] pkit commented on #3301
I'm not sure why that's a problem as it's clear to me that gvisor should (or even must) copy the full networking config from the namespace it claims to run in.
Otherwise it should drop the claim of supporting the real world workloads.
We had an exact same problem in zerovm and we we bold enough to claim we cannot support it.

[2021-10-29 20:15] hbhasker commented on #3301
I would not phrase it as a big problem as its clearly not a common use-case. But that said maybe its just worth doing it to make it work with EKS better. I will take a stab at implementing it.

[2021-10-29 20:17] pkit commented on #3301
I'm ok with implementing it too.
If you don't have time or incentive.

[2021-10-29 20:18] hbhasker commented on #3301
@pkit I will be happy to review if you have cycles to implement it as I have quite a few higher priority things on my plate at the moment.

[2021-10-29 20:20] pkit commented on #3301
Cool. As we already started working on it anyway.
I hope I will submit a PR soon.

[2021-10-29 20:21] m-warmer opened #6797 "syscall tests fail on newer Linux kernels"
### Description

The socket_netlink_route tests seem to be failing on my debian bullseye system.

Another example is `//test/syscalls:socket_filesystem_test_native` which also returns errors on my machine.

[code]

### Steps to reproduce

Run

[code]

The test fails with a timeout and the log fail contains the following errors

[code]

### runsc version

[code]

### docker version (if using docker

[2021-10-29 20:24] hbhasker commented on #3301
Thanks!

[2021-10-30 06:29] unknowndevQwQ commented on #5887
`$ sudo podman --cgroup-manager cgroupfs --log-level debug --runtime runsc --runtime-flag debug --runtime-flag debug-log=/tmp/runsc-withoutrootflag.log.txt run --rm hello-world > podman-withoutrootflag.out.txt 2>&1`
[podman-withoutrootflag.out.txt](https://github.com/google/gvisor/files/7445941/podman-withoutrootflag.out.txt)
[runsc-withoutrootflag.log.txt](https://github.com/google/gvisor/files/7

[2021-10-30 08:11] m-warmer commented on #6797
Running the entire syscall native test suite `make syscall-native-tests` gives me lots of errors.

[code]

[2021-10-30 11:20] BLasan commented on #6566
@ghanan94 Is this resolved?

[2021-10-31 08:33] m-warmer commented on #6797
I tried it again on a faster setup (8 core native instead of a 4 core VM) and most tests pass now. However I still get failures

[code]

With a log file containing

[code]

S o my real question is what are the requirements for running the tests. It doesn't seem to be documented anywhere.

[2021-10-31 10:13] crappycrypto commented on #3301
There is a pull request for RTM_*NEIGH  #6623 which is basically finished.

[2021-10-31 10:15] pkit commented on #3301
@crappycrypto it's good to hear. But I think ioctl on the IF level need to be implemented too for `arp` commands to work as expected.

[2021-10-31 11:21] crappycrypto commented on #3301
The pull request fixes the iproute2 based `ip neigh` commands for adding and removing arp entries. The net-tools based `arp` command does not indeed require `SIOCDARP`, `SIOCSARP` and `/proc/net/arp` in the latest release.

[2021-10-31 11:25] pkit commented on #3301
Unfortunately "running the latest release" is not an option if we want to run existing code. Otherwise you're right indeed.

[2021-10-31 17:14] pkit commented on #3301
See #6803
Checked it on actual `amazon-vpc-cni-k8s` and it indeed fixes the problem described here.

[2021-11-01 04:18] bradfitz opened #6804 "atomicbitops: the mipsle architecture is not flagged as 32-bit"
### Description

`pkg/atomicbitops/aligned_32bit_unsafe.go` needs to also include `mipsle` (in addition to the existing big-endian`mips`), which is another GOARCH value that's 32-bit:

[code]

Otherwise it panics, like:

[code]

We got this bug in Tailscale's repo (https://github.com/tailscale/tailscale/issues/3233) from a user.

We use a fork of netstack (at inet.af/netstack) that rips out all th

[2021-11-01 04:19] bradfitz commented on #6804
/cc @kevinGC

[2021-11-01 09:30] DeciderWill commented on #6317
@hbhasker yes at the moment we believe the changes to HEAD have resolved the above issue.

[2021-11-01 15:29] bradfitz commented on #6804
Sent https://github.com/google/gvisor/pull/6805

[2021-11-01 17:52] ghanan94 commented on #5916
Done as of #6791

[2021-11-01 17:52] #5916 closed

[2021-11-01 17:53] ghanan94 commented on #5915
Still need to track ICMP echo (ping) packets

[2021-11-01 21:52] hbhasker commented on #6317
Thanks for confirming. Closing this issue.

[2021-11-01 21:52] #6317 closed

[2021-11-02 19:29] #3654 closed

[2021-11-02 20:22] fvoznika commented on #6796
Thanks for the detailed repro. This fails because we don't implement `ioctl(2)` for host FDs, mostly to reduce the attack surface that gets exposed from the host. Here is the sequence of calls:

[code]
Here is an example after `ioctl(fd, FIONREAD)` is implemented for host FDs:
[code]

[2021-11-02 21:30] #3301 closed

[2021-11-02 22:15] #6804 closed

[2021-11-03 00:20] fvoznika commented on #6773
Thanks for the investigation. Fix is coming up soon...

[2021-11-03 12:30] dqminh commented on #3481
@fvoznika @avagin I have repackaged the work into 2 PRs. We don't need to bump any extra dependencies now.

#6499 adds the common cgroup interface for v1 and v2
#6821 adds the cgroupv2 implementation

We need a cgroupv2 environment to run the tests. Can you help with that ?

[2021-11-03 16:38] avagin commented on #3481
I will help with that. I am going to add cgroup2 workers in buildkite.

[2021-11-03 18:01] zkoopmans commented on #6797
Hi @m-warmer. Usually these test failures on native are due to minor changes in the kernel that change assumptions of the tests themselves. We run on several different kernel versions, so when these issues come up, we usually question the test itself and if what is being tested is valid. These rarely raise comparability issues, which is what we're testing for, but we like to keep the syscall tests

[2021-11-03 19:08] crappycrypto commented on #6797
I forgot to add that the second set of tests were run on a native ubuntu 20.04 install instead of a local debian VM. In both cases they were run on my own computers and not on GCP.

It seems a bit much to ask you to install debian 11/bullseye just to see if any tests fail. My guess would be that the 4 core VM with debian had timeouts given the warning at the end of the run. The tests on a native u

[2021-11-03 19:10] m-warmer commented on #6797
I forgot to add that the second set of tests were run on a native ubuntu 20.04 install instead of a local debian VM. In both cases they were run on my own computers and not on GCP.

It seems a bit much to ask you to install debian 11/bullseye just to see if any tests fail. My guess would be that the 4 core VM with debian had timeouts given the warning at the end of the run. The tests on a native u

[2021-11-03 19:45] fvoznika commented on #5358
This has been fixed with a combination of d96499d17deb4fcf4cec949d90a48b1673198867 and 33b41d8fe98e7820118e8d42b0cfbec4ca159d62.