[2021-11-03 19:45] #5358 closed

[2021-11-03 19:57] zkoopmans commented on #6797
@m-warmer @crappycrypto (same person?) Just to clarify: *_runsc(_ptrace | _kvm) tests run on gVisor. *_native tests are run in native containers, which call into your linux host. If _native tests are failing, then there's a change in the host kernel syscall implementation we haven't considered.

Fixing native tests is always welcome, but I wouldn't worry about this unless syscall tests on gVisor s

[2021-11-03 20:11] m-warmer commented on #6797
Yep, same person different device. Thanks for the clarification. I'll ignore any failures in the native tests for now, unless I know I touched that area of gvisor.

For me it's okay to close this issue. Figuring out all the subtle differences between kernel versions and configs seem like a huge effort while most software should not depend on such behaviour.

[2021-11-03 21:11] nsoubelet commented on #5358
That's amazing! Thanks

[2021-11-04 00:28] fvoznika commented on #6795
The problem here is that stdin for a container is `/dev/null` which cannot be epoll'd. When setting up epoll for a host FD, the error returned from the host is ignored, giving the impression that it succeeded.

[2021-11-05 11:23] zeling opened #6835 "Remove Docker from Packetimpact"
### Description

Docker is not hermetic and has caused paper cuts in using PacketImpact, remove it from the test runner to achieve a more hermetic setup + better user experience.

### Is this feature related to a specific bug?

No

### Do you have a specific solution in mind?

Remove docker and run the posix_server binary natively/with runsc

[2021-11-08 12:19] Dreamacro opened #6839 "Build failed on darwin amd64"
### Description

build output

[code]

after testing, broken happen after 23a115dae84e7e63c8785c49dfff3e551a0bf97e. I'm using gVisor for a userspace tcpip stack and it works fine for some cases (e.g. wireguard) on darwin. hope that this build broken can be fixed

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

[2021-11-09 03:12] bradfitz commented on #6839
I just came to file the same. This also broke us (@Tailscale). Or rather, it prevents us from updating to newer versions of gVisor.

We run gVisor's netstack on macOS, Windows, FreeBSD, OpenBSD, etc.

Would it be possible to get some CI coverage inside Google's build system (at least testing that it builds, even if you can't run it) to prevent such regressions in the future?

Or is this intentiona

[2021-11-09 04:16] bradfitz commented on #6839
/cc @zkoopmans (in case you're not subscribed to the firehose)

[2021-11-09 06:42] amscanne commented on #6839
This is not intentional. As noted, I think we need coverage to prevent accidental breaks.

There are smoke tests on the go branch that can probably be easily extended to other GOOS/GOARCH targets:
https://github.com/google/gvisor/blob/84b38f4c6e065d3f9314a8abbb3f5857ed4fa44e/.buildkite/pipeline.yaml#L38

I’m not sure we’ll be able to build all packages, however. Is there a list of entry points tha

[2021-11-09 12:37] liyaka opened #6844 "Get "cni plugin not initialized" when running node with gVisor on EKS"
### Description

I created a VM built from the latest official AMI for EKS node (amazon-eks-node-1.20-v20211101-2021-11-01T08-17-15Z) and I run the steps from this [tutorial](https://blog.vgs.dev/secure-compute-part-2#Putting-it-all-together:-Demo-my-Cluster) and then created an AMI that i use to create nodes in my cluster.
The nodes come up but appear "Not Ready"
This is what I see in describe no

[2021-11-09 15:10] bradfitz commented on #6839
Phew :)

I can't speak for everybody, but I suspect our usage is pretty typical of other networking-only gVisor users. Our direct imports are:

[code]

(Ignore the `inet.af/netstack` rewritten path [hack](https://github.com/inetaf/netstack#why) to work around go.mod issues; I think we can remove that hack now that we depend on Go 1.17 and its lazy loading: https://golang.org/doc/go1.17#go-command)

[2021-11-10 05:21] Dreamacro commented on #6839
I have try `inet.af/netstack`, it's an excellent subset for people who only use tcpip stack. But it synced the broken code, can you roll back to the last compilable commit first?

last go branch compilable commit: 2de3450f76d675ccbf7617745364893ead475a35

[2021-11-10 10:44] unknowndevQwQ commented on #5887
In addition to the cgroup problem, there is also a problem with the default position of conf.RootDir in runsc

[2021-11-10 13:00] unknowndevQwQ opened #6849 "There is a problem with the default location used by runsc when the --root flag is not set"
### Description

The --root flag is not specified by default when running runsc with podman, and the default location in https://github.com/google/gvisor/blob/master/runsc/config/flags.go#L126-L132 is found to be `/var/run/runsc`, but it actually uses the runsc folder under the relative path (the folder specified by the path of the --bundle flag when checked with sysdig)
This problem still exists

[2021-11-10 18:10] ghananigans opened #6850 "conntrack Better handle clashes"
Currently, we always insert the original direction's tuple and make a best-effort to insert the reply-tuple.

(linux always inserts the reply and makes a best effort for the original).

We should investigate improving our approach to clashes.

should we drop packets for connections that conflict with an existing tuple?

[2021-11-10 19:41] ghanan94 commented on #5773
related: #6850

[2021-11-10 23:00] #6773 closed

[2021-11-11 01:07] #6796 closed

[2021-11-11 04:46] frobnicaty opened #6856 "Don't stat unused cgroups; fix for nonexistent pids cgroup?"
### Description

I'm running current binaries or source-built dockerd, containerd, & runsc on a Synology NAS. (Not using Synology's Docker package.)

Synology doesn't include their kernel configs in the usual places, but according to their [partially published source](https://archive.synology.com/download/ToolChain), it has all the [Docker required](https://github.com/moby/moby/blob/master/contrib

[2021-11-11 17:53] fvoznika commented on #5887
@unknowndevQwQ, there was a change that checks for existence of a cgroup controller before attempting to create the directory. It seems like your machine has `/sys/fs/cgroup/net_cls` controller but it doesn't allow subdirectories to be created under it?

[2021-11-11 18:23] fvoznika commented on #6849
Hmm, this can only happen if `XDG_RUNTIME_DIR` is set. Can you check if `env | grep XDG_RUNTIME_DIR` is set? Or is Podman setting it before calling the runtime by any chance?

[code]

[2021-11-11 19:24] #6856 closed

[2021-11-11 23:56] #5773 closed

[2021-11-12 01:08] mrahatm commented on #3698
This doesn't seem like a memory corruption. Rather, this is a panic induced by missing `marshal.Marshallable` methods, which were intentionally left as stubs in `StubMarshallable`.

[2021-11-12 03:59] lining2020x commented on #202
+1

[2021-11-12 04:08] unknowndevQwQ commented on #5887
After disabling net_cls and net_prio, the folder exists, but there is no cgroup controller mount

[2021-11-12 09:03] unknowndevQwQ commented on #6849
`XDG_RUNTIME_DIR` environment variable with a null value in the environment variable passed to runsc by podman found by [frun](https://github.com/NewAwkwardTools/frun)

/tmp/frun.out: https://fars.ee/q6ii

[2021-11-12 23:27] kevinGC commented on #6839
Re-opening until someone confirms that netstack is building on Mac again.

[2021-11-13 01:23] bradfitz commented on #6839
Haven't tried yet, but looks like that change would still leave Windows and FreeBSD and OpenBSD still broken?

[2021-11-16 21:31] #3698 closed

[2021-11-18 00:01] kevinGC commented on #6844
Can you try with a newer version of gVisor? This may be #3301, which was fixed a couple weeks ago.

[2021-11-18 10:42] liyaka commented on #6844
The problem was with flags passed to kubelet in order to run containerd.

[2021-11-18 10:42] #6844 closed

[2021-11-18 11:59] zvonkok commented on #14
/cc @zvonkok

[2021-11-20 00:11] kevinGC commented on #6839
Closing now that we build on several OSes and architectures (e.g. https://buildkite.com/gvisor/pipeline/builds/10194). If people want builds on other OSes, architectures, or of other packages, open a bug to discuss.

[2021-11-20 00:11] #6839 closed

[2021-11-20 04:16] #6450 closed

[2021-11-22 05:26] cnnblike opened #6887 "Makefile failed to generate help."
### Description

the make help is failing to generate human-readable result.

cnnblike@linux-dev-box:~/gvisor-latest$ sudo make help
[sudo] password for cnnblike:
--- TAG default
--- DOCKER BUILD
gvisor-builder-14468cb7-x86_64
sha256:fbab31ef5e8307ed914bf53fc22027f0b7df0619da11b8891dc731182488a200
--- DOCKER RUN
gvisor-bazel-14468cb7-x86_64
90881745d66b661b2bc92645801780c23ab3a6b9f267e3e8948f46d5e

[2021-11-22 18:26] avagin commented on #3481
https://github.com/google/gvisor/pull/6884

[2021-11-23 23:25] #5887 closed

[2021-11-30 02:37] #3481 closed

[2021-11-30 05:05] ianlewis commented on #6887
Hmm, It works for me (though we are dubiously pulling the presubmit image even for targets like help). What version of make & awk are you using?

[2021-11-30 05:12] ianlewis commented on #6849
I suppose we should ignore it if the value is empty. Currently we use the bool returned by LookupEnv when we probably should just do Getenv and check if it's an empty string.

[2021-11-30 05:26] #5738 closed

[2021-11-30 05:46] ianlewis commented on #5738
We now check if xsave (xgetbv, xsetbv etc.) is supported and only use it if it is.

[2021-11-30 06:01] cnnblike commented on #6887
the versions I'm having is like below:
[code]

[2021-11-30 11:35] ianlewis commented on #6887
I think using mawk is causing it. I think the majority of users are going to be using GNU awk on linux machines. You're likely to run into other problems in the Makefile and various scripts.

[2021-11-30 11:35] #6887 closed

[2021-12-01 06:18] #6849 closed

[2021-12-01 21:05] ghanan94 opened #6910 "Enable leak checking for packet buffers"
### Description

Leak checking is only available to things that enable leak checking via https://github.com/google/gvisor/blob/72e222cd661477de4a9d15b01fe84e3fc4046dac/pkg/refs/refcounter.go#L395.

We should look into using `refs.AtomicRefCounter` for reference counting packet buffers so that we can have leak checking

[2021-12-02 19:05] avagin commented on #193
@arno01 these pr-s added the support of cgroupv2, but the systemd cgroup-driver isn't implemented yet. It doesn't mean that you can't use gvisor on systemd systems, but you will need to change the default systemd cgroup-drive to cgroupfs.

[2021-12-07 14:46] louis030195 commented on #1739
I don't know if I should create a new issue:

The documentation page does not exist.
I suspect to be caused by the use of [playwright.dev](https://playwright.dev/) (python API) or maybe beautifulsoup

[code]

dependencies

[code]

[2021-12-07 20:36] #6795 closed

[2021-12-09 01:29] manninglucas commented on #6910
I'm not sure I understand this issue. Leak checking is already possible in the current implementation with `refsvfs2.RefCounter` and `refs.AtomicRefCounter` is deprecated.

[2021-12-09 16:05] YaroslavLitvinov opened #6938 "Produced debug build is not a optimized for debugging"
### Description

I Follow a debug instruction from here: https://gvisor.dev/docs/user_guide/debugging/#debugger
Build a code
`make dev BAZEL_OPTIONS="-c dbg"`

Attach Delve to a process and add breakpoint:
 `break gvisor.dev/gvisor/pkg/sentry/fsimpl/fuse.(*inode).newEntry`

When it stops at a breakpoint I get warning:
 `Warning: debugging optimized function`

When printing args, variables, I get w

[2021-12-09 19:19] ghanan94 commented on #5331
Closing this, We should keep WritePacket and drop WritePackets and let SW GSO be performed right before delivering packets to the NIC so SW GSO can be performed based on the NIC's properties.

[2021-12-10 18:34] emaildanwilson opened #6943 "istio/envoy container fails starting w/ version 20211026"
### Description

Starting w/ version 20211026 the istio-proxy (envoy) container fails when it is attempting to access shared memory. Version 20211019 works without issue. If `vfs2` is disabled then newer versions work as well.

Environment Details
k8s version: v1.20.10-gke.1600
Istio enabled
x64

Envoy error:
[2021-12-08 22:45:06.230][14][critical][assert] [external/envoy/source/server/hot_restart

[2021-12-13 06:05] ianlewis opened #6947 "Improve deps.dev OpenSSF scorecard"
### Description

Supply chain security and dependencies are becoming a thing so it would be good to improve our scorecard for on deps.dev since gVisor is a security related project.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2021-12-15 21:29] fvoznika commented on #6943
VFS1 mounts `/dev` as `overlayfs` which cause `shm_open` to avoid `/dev/shm` and create files under `/tmp`. VFS2 on the other hand implements `/dev` more accurately and reports it as `tmpfs` (same as Linux). `shm_open` then attempts to create files under `/dev/shm`. However, I'm not sure why envoy is getting access denied (I can run it locally). Would you be able to re-run it with debug logging en

[2021-12-15 21:49] fvoznika commented on #6943
Never mind, I repro'd locally and can take from here...

[2021-12-15 22:46] #6835 closed

[2021-12-16 13:04] YaroslavLitvinov opened #6964 "Wrong len in FUSEHeaderIn when sending write request with a payload"
### Description

When sending FUSEHeaderIn request with a FUSE_WRITE data containing a payload, current implementation of fuse in gvisor incorrectly calculates `FUSEHeaderIn.Len` field, taking into account a fixed size of marshaled data structure only, which is  - [payload.SizeBytes()](https://github.com/google/gvisor/blob/master/pkg/sentry/fsimpl/fuse/request_response.go#L117), and not using here

[2021-12-16 15:27] pkit commented on #6964
@avagin Hi again, I'm not sure if `fuse` support is any priority. But if so, what's the supposed write support next steps?

[2021-12-16 20:02] ghananigans opened #6966 "Raw IPv6 endpoints should be V6 only"
Currently we can set the V6ONLY flag on raw endpoints but raw IPv6 endpoints must always be V6 ONLY.

[2021-12-17 00:47] fvoznika commented on #6943
This is what is happening...k8s adds `/dev/shm` as a bind mount inside each container pointing to a shared location so all containers inside a pod can all see the same shared memory files. When libc tries to find what directory to use, it checks whether `/dev/shm` is using `tmpfs` or `shm`. Because runc let the host filesystem type permeate inside the container, the check passes (it uses `tmpfs`).

[2021-12-20 18:57] arthurpi opened #6972 "Setting or getting an unsupported option should return an error"
### Description

Applicable to
transport/internal/network.NetworkEndpoint (=> udp & raw & icmp endpoints)
transport/tcp.Endpoint

Some of the methods to set or get an option {Get,Set}SockOpt{,Int} do not return an error when an unknown option (meaning: an option not supported on that specific endpoint) is given.

Behavior is inconsistent: Some of these do return an error. Some don't.

This was pro

[2021-12-20 20:16] arthurpi opened #6973 "Use network protocol default ttl instead of a hardcoded one"
### Description

In sentry, instead of defining a local DefaultTTL of 64, we should retrieve the configured DefaultTTL (via the DefaultTTLOption).

In pkg/sentry/socket/netstack/netstack.go

This can be done by using stack.NetworkProtocolOption(protocolNumber, DefaultTTL)

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

[2021-12-20 20:27] arthurpi opened #6974 "Compose tcp.endpoint with network.Endpoint"
### Description

transport/internal/network.Endpoint implements common facilities shared to send/receive datagrams over a network protocol. UDP, ICMP, RAW endpoints are composed with that type.

We can treat each TCP segment as a network datagram, so tcp.endpoint can be composed by a transport/internal/network.Endpoint. This will lead to reduced code duplication.

### Steps to reproduce

_No respo

[2021-12-22 03:29] ghananigans opened #6982 "setsockopt on raw IPv6 socket ignores opt_len on Linux"
It seems like linux does not check the passed length of an option in calls to setsockopt on a raw IPv6 socket before copying an "int" from userspace:
[code]

Should we match this behaviour?

[2021-12-22 18:06] ghanan94 commented on #3810
This is done - packet buffers hold the network/transport protocol numbers

[2021-12-22 20:09] tamird commented on #3810
There are still 5 TODOs referencing this issue.

[2021-12-23 19:11] #6943 closed

[2021-12-29 21:13] hbhasker commented on #6538
Actually with qDisc now inline in most cases this is almost impossible to avoid as the qdisc.

[2022-01-03 17:56] rlex opened #6998 "No access to service-cidr with netstack"
### Description

k3s v1.22.3+k3s1
containerd://1.5.7-k3s2
cilium 1.10.0 (if that matters). Kube-proxy replacement enabled with eBPF dataplane.

gvisor installed and working.
However, DNS resolution fails, because gvisor without host-network fails to access 10.43.0.0/16 network which is assigned service-cidr. Network otherwise works (i was able to curl https://1.1.1.1, for example).
Works fine with

[2022-01-03 18:06] rlex commented on #6998
routing table on gvisor with netstack (using sample nginx pod):
[code]
[code]
with hostnetwork:
[code]
[code]

[2022-01-04 03:09] travigd opened #7000 "/proc/<pid>/smaps_rollup is unsupported"
### Description

See the title. Not sure if this is widely used, but I wrote a small tool that was expecting to find it and was surprised when it didn't exist. Can probably rewrite to not require this so nbd, but at least wanted to post this issue for posterity.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-01-04 14:44] YaroslavLitvinov opened #7001 "File handler leakage when making fuse_operations.Create call"
### Description

Current implementation of (*inode) NewFile, that is based on [newEntry](https://github.com/google/gvisor/blob/master/pkg/sentry/fsimpl/fuse/fusefs.go#L609)  is not handling returned file descriptor that is supposedly fits [FUSEOpenOut](https://github.com/google/gvisor/blob/master/pkg/abi/linux/fuse.go#L429). In overall that is leading to a file handler leakage inside of gvisor.

I

[2022-01-04 22:17] ayushr2 commented on #1003
On the server side, we could create a temporary symlink in `/tmp/somewhere` to the directory inside which the UDS lives (in your example `/foo/bar/baz`). Then call connect with `/tmp/somewhere/sock`.

[2022-01-05 14:16] jeyaprabhuj-tts opened #7007 "Mapping videoloop back using typ=bind .Gofer throws no FD?"
### Description

    {
      "destination": "/dev/video0",
      "type": "bind",
      "source": "/dev/video0",
      "options": [
        "rbind",
        "rprivate"
      ]
    }

I0105 13:58:33.128341       1 gofer.go:293] Serving "/etc/hostname" mapped on FD 9 (ro: false)
I0105 13:58:33.128348       1 gofer.go:293] Serving "/etc/hosts" mapped on FD 10 (ro: false)
W0105 13:58:33.128355       1

[2022-01-06 02:51] #2970 closed

[2022-01-06 08:12] arthurpi opened #7012 "Share control message logic between network Endpoint"
### Description

UDP, RAW & ICMP endpoints all need similar code to handle receiving control messages (they share SOL_SOCKET, SOL_IP, SOL_IPV6 cmsgs). To avoid duplication, they should use common facilities to populate these control messages.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

###

[2022-01-07 02:11] fvoznika commented on #4805
We have made some progress defining the infrastructure to support probes. The [seccheck](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/seccheck/) package in the Sentry has some basic infrastructure to support adding points of interest in the Sentry and publishing them to interested parties. This [design doc](https://docs.google.com/document/d/1RQQKzeFpO-zOoBHZLA-tr5Ed_bvAOLDqgGgKh

[2022-01-07 16:36] Natzakub opened #7017 "The one"
https://github.com/actions/runner/actions

[2022-01-07 17:00] amscanne commented on #7017
I'm not sure what this is, but I suspect a mistake. I will delete the issue, please reopen if there is a legitimate one.

[2022-01-08 22:11] RedwolfPrograms opened #7021 "Not working on Fedora 35 with Docker: OCI runtime create failed: unable to retrieve OCI runtime error (open [...]/log.json: no such file or directory)"
### Description

I've gone through all of the normal installation steps, but `docker run --rm --runtime=runsc hello-world` just _won't_ work. Here's what I get:

    docker: Error response from daemon: OCI runtime create failed: unable to retrieve OCI runtime error (open /run/containerd/io.containerd.runtime.v2.task/moby/99a6b510272ba8bae38679ab7039736751c33cfd33d2dc5f31719f86879c3493/log.json: no

[2022-01-08 23:27] #7021 closed

[2022-01-08 23:28] RedwolfPrograms commented on #7021
Same issue as #5865, didn't find it despite searching for a while. Definitely an unintuitive error message :p

[2022-01-11 17:34] ghananigans opened #7027 "Drop LinkEndpoint.AddHeader/Reorganize packet endpoint delivery"
It seems like AddHeader is only used to support adding a link header to an outgoing packet before delivering the packet to a packet endpoint. However, we should be artificially adding a header just for the sake of packet endpoints.

For outgoing packets, we should deliver packets to packet endpoints right before the packet is delivered to the driver. For incoming packets, we should deliver packets

[2022-01-11 20:58] ghananigans opened #7033 "Don't pass protocol numbers/addresses to methods in ingress path"
Similar to #6537, we might be able to drop protocol numbers/addresses from the ingress path and hold it in the packet buffer.

However, this may require repurposing `pkt.{Network, Transport}ProtocolNumber` to mean different things in ingress/egress packets.

For outgoing packets, they will be the protocol number for a header that is set by the protocol before being passed to the lower protocol.

F

[2022-01-12 15:02] jerome-laforge opened #7038 "[checklock] integration into golangci-linter"
### Description

According to https://github.com/golangci/golangci-lint/issues/2479 and in order to increase the usage of the linter checklock, is it possible to make checklock as independent  module?

### Is this feature related to a specific bug?

n/a

### Do you have a specific solution in mind?

n/a

[2022-01-12 23:32] fvoznika commented on #7007
`/dev/video0` is a character device and currently cannot be handled by the gofer (file system proxy). File types supported are listed here: [fsgofer.go:checkSupportedFileType()](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/fsgofer/fsgofer.go;l=332;drc=d7dbf65873e2e05723ea23fbfa414742342456e9). Character devices are not supported because they can block indefinitely and the Sentry doesn

[2022-01-13 09:10] jeyaprabhuj-tts commented on #7007
Thanks for your valid input .

Can you pls let me know if streaming data from outside into sentry sandbox is not recommended?

Our requirement is to use GVisor as sandbox solution in IOT device, where third party customers can deploy their containers.
containers need access to 3 character devices => video,telemetry etc .

Container run ML against video streams .

I defined a new device under sentr

[2022-01-14 21:23] #6537 closed

[2022-01-17 09:29] milantracy commented on #7012
maybe to generalize https://github.com/google/gvisor/blob/ce194f2c1c1443de9c1efa374dcf6d6554457a4c/pkg/tcpip/transport/raw/endpoint.go#L96 for reuse?

[2022-01-17 09:33] milantracy commented on #6973
Seems to be an easy fix.

I am not sure if there is any design decision for the constant. I could pick this up if no one else is working on the issue.

[2022-01-19 05:40] hbhasker commented on #6998
Do you have a minimal repro? I am not sure I follow what DNS and the address in this comment have to do with each other
.
"However, DNS resolution fails, because gvisor without host-network fails to access 10.43.0.0/16 network which is assigned"

[2022-01-19 10:19] rlex commented on #6998
DNS (coredns in my example) is deployed as an in-cluster service with ip 10.43.0.10, which is part of service-cidr (k3s default is 10.43.0.0/16)
Other IPs in this range can't be reached with default gvisor config (non-hostnetwork one), for example default "kubernetes" service located on 10.43.0.1 which is kubernetes-api.
As soon as i enable host-network in runsc config, both DNS and kubernetes API

[2022-01-20 03:50] bradfitz opened #7075 "TCP Forwarder.HandlePacket doesn't handle SYNs with ECN/CWR bits set"
### Description

The gVisor netstack TCP forwarder mishandles initial SYN packets with ECN bits set.

gVisor doesn't support ECN (#995) but it should just ignore ECN, not send RSTs as it does today.

Every since the first public gVisor commit on GitHub (I'm not sure about the *google tree* history), the TCP forwarder code has required that the SYN flags be exactly SYN, without other bits set.

The

[2022-01-20 14:31] prattmic commented on #7075
cc @hbhasker

[2022-01-20 15:19] hbhasker commented on #7075
Thanks for the bug report I will take a look.

[2022-01-20 18:42] hbhasker commented on #7075
@bradfitz  btw we would be interested in learning more about the issues Tailscale is facing with Netstack. Would you and others from Tailscale be willing to join say a community meeting and go over some of the pain points. We are also open to future collaborations to improve Netstack. In the meeting we can also share our future plans for Netstack.

[2022-01-20 19:12] bradfitz commented on #7075
We would **love** that. We've been wanting to work on netstack more but didn't know how to collaborate without going in the wrong/unwanted direction.

Feel free to throw something on my calendar (https://calendly.com/bradfitz or bradfitz at tailscale com Google Calendar) or let us know the community meeting time and we'll try to make it.

/cc @crawshaw @danderson @dentongentry

[2022-01-20 19:17] hbhasker commented on #7075
Let me set something up and I will let you know. We will be happy to accept external contributions.

[2022-01-21 00:34] hbhasker commented on #7075
@bradfitz Could you run your tests w/ the PR linked above and let me know if it works now. I should have the PR submitted later today or early tomorrow.

[2022-01-21 05:29] bradfitz opened #7080 "tcpip/stack: (*nic).DeliverNetworkPacket godoc out of date"
### Description

The godoc on `tcpip/stack.(*nic).DeliverNetworkPacket` at HEAD is out of date and refers to a `vv` parameter that no longer exists:

https://github.com/google/gvisor/blob/2a62f437960641b655f790cfb13ca14ca6a7478d/pkg/tcpip/stack/nic.go#L700

Presumably `vv` was a vectorized view in the past and it's now a `PacketBuffer`.

[2022-01-21 17:55] #7075 closed

[2022-01-21 22:57] fvoznika commented on #7007
Yes, this seems like a great use case for gVisor!

The give a bit more details, the problem is that if the character device blocks, the Sentry (gVisor's kernel) goroutine will get stuck until the operation completes. If we set the FD as non-blocking, fsgofer lacks the mechanism to notify the Sentry when the operation can be attempted again. One way to workaround it is to make sure an FD is donated

[2022-01-22 13:32] YaroslavLitvinov opened #7086 "Fuse filesystem won't mount if fstype mount option provided"
### Description

Fuse filesystem won't mount if fstype mount option provided

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

### runsc debug logs (if available)

_No response_

[2022-01-24 05:52] jeyaprabhuj-tts commented on #7007
Thanks for patch

Downloaded gvisor - go branch code from repo and patched

Got below error

` docker run --runtime=runsc -it --rm --mount type=bind,source=/dev/video0,target=/dev/video1 --privileged  ubuntu bash`

docker: Error response from daemon: OCI runtime start failed: starting container: starting root container: starting sandbox: failed to setupFS: mounting submounts vfs2: mount submount "

[2022-01-24 13:50] jeyaprabhuj-tts opened #7089 "Building master branch in aws aarch64 failed"
### Description
Ubuntu 20.04.3 LTS (GNU/Linux 5.11.0-1023-aws aarch64)

steps followed as per build instructions

`make copy TARGETS=runsc DESTINATION=bin/`

INFO: Repository bazel_gazelle_go_repository_tools instantiated at:
  /home/ubuntu/golang/master/WORKSPACE:67:21: in <toplevel>
  /home/ubuntu/.cache/bazel/_bazel_ubuntu/414ccf448066191dd8ceb195229a5ef0/external/bazel_gazelle/deps.bzl:68:24:

[2022-01-24 17:12] fvoznika commented on #7007
What does `stat /dev/video0` return?

[2022-01-24 21:14] milantracy commented on #6973
closed the issue as the commit [2b2f9ea914bd52b7155f5643d7975f38b3331b58](https://github.com/google/gvisor/commit/2b2f9ea914bd52b7155f5643d7975f38b3331b58) is merged

[2022-01-24 21:14] #6973 closed

[2022-01-25 04:18] jeyaprabhuj-tts commented on #7007
ubuntu@ip-172-31-41-104:~/videoforlinux$ stat /dev/video0
  File: /dev/video0
  Size: 0               Blocks: 0          IO Block: 4096   character special file
Device: 5h/5d   Inode: 379         Links: 1     Device type: 51,0
Access: (0660/crw-rw----)  Uid: (    0/    root)   Gid: (   44/   video)
Access: 2022-01-25 04:17:11.388606073 +0000
Modify: 2022-01-25 04:17:11.388606073 +0000
Change: 2022

[2022-01-25 10:17] pkit commented on #575
@ianlewis for example gvisor should not break `root_squash`-ed volumes. Right now `uid=0` has `EPERM` on any fs operations in that case.

[2022-01-25 21:20] fvoznika commented on #7007
The error indicates that the file type is not being accepted:

[code]

And if the file is indeed `character special file` the fix should have worked. I updated the PR with more logging. Could you please try again? Make sure that a log message like the one below appears in the gofer logs:

[code]

[2022-01-26 03:52] bradfitz opened #7109 "tcpip/link/channel: docs stale on (*Endpoint).ReadContext"
### Description

https://pkg.go.dev/gvisor.dev/gvisor/pkg/tcpip/link/channel#Endpoint.ReadContext has signature:

[code]

With godoc:

It can't return false, as the bool argument was removed recently.

Looks like it should be `returns nil`, based on the code:

[code]

[2022-01-27 05:29] jeyaprabhuj-tts commented on #7007
I am not able to build master branch in aarch64 , otherwise could have patched it in master (https://github.com/google/gvisor/issues/7089)
I will patch in current go branch code in aarch64 ubuntu and provide you logs

As an update in amd64 ubuntu it gets mapped but only one stream is received
Steps
------------
in host we run
ffmpeg -re -i sample.mp4 -map 0:v -f v4l2 /dev/video0

and inside sentry

[2022-01-28 21:31] fvoznika commented on #7007
This is different from the original problem reported. In this case, ffmpeg is creating a regular file and the container is racing with ffmpeg to read the file. `cat` gets to the end of the file before ffmpeg continues to write.

From the strace below, both `fstat(2)` and `read(2)` indicate that the file is 48 bytes in length. The first `read(2)` reads the entire file and the second one returns 0 w

[2022-01-31 12:30] saikiran2021 commented on #7007
i am able to map the Device but not able get the continuous bytes (input:video running on loop ) only one stream i am receiving. here i am attaching the log file.and external go file.
[videoDevice(logs).zip](https://github.com/google/gvisor/files/7970564/videoDevice.logs.zip)

`package main

import (
	"fmt"
	"syscall"
)

func main() {

	var buffer = make([]byte, 2048)
	fd, err := syscall.Open("/de

[2022-01-31 18:17] jeyaprabhuj-tts commented on #7007
cat is able to read continuously when used with runsc in docker

cat /dev/video0 works

[2022-02-01 05:04] hbhasker commented on #7000
@nixprime probably something we should add?

[2022-02-01 05:05] hbhasker commented on #6998
Sorry I dropped the ball on this. Got busy with other things. It would be great if you could setup a demo cluster/project and give me access so that I can see what's going on.

[2022-02-01 06:23] xjasonlyu opened #7125 "tcpip/link/fdbased: socket operation on non-socket"
### Description

Since commit e511fc90927639b8c74652738112969e6a626d16 removed the `WritePacket` method from tcpip/link/fdbased package, this error may occur under some certain circumstances.

e.g. When we use tcpip/link/tun to open a TUN device:

[code]

Then pass the TUN fd as a fdbased.Option and add the endpoint to stack:

[code]

The `WritePackets` method would be called to write back packets

[2022-02-01 06:30] hbhasker commented on #6910
Leak checking is being added to all networking tests. Transport/link tests already enable leak checker and we will be enabling network and other misc packages shortly. I will update this bug with the changes.

[2022-02-01 06:31] hbhasker commented on #7125
Thanks for the detailed report. I will take a look.

[2022-02-01 06:55] hbhasker commented on #7125
We just need to store that the underlying FD is not a socket and degrade WritePackets to writePacket always.

We do the socket check fdbased.New() but its not plumbed through to the write path. We should do that.

[2022-02-01 10:11] rlex commented on #6998
@hbhasker yeah it's possible, i can spin up some small vm somewhere. How can i contact you, slack / etc?

[2022-02-02 00:55] fvoznika commented on #7007
@jeyaprabhuj-tts, the example you gave above `ffmpeg -re -i sample.mp4 -map 0:v -f v4l2 /dev/video0` creates a regular file which is susceptible to the race I described. Both `runsc` and `runc` have the same behavior in my testing. When mapping char devices (like `/dev/random`), runsc can run the stream continuously and can read the entire file depending on timing.

@saikiran2021, thanks for the l

[2022-02-02 06:38] #7109 closed

[2022-02-02 06:44] #7080 closed

[2022-02-02 07:05] saikiran2021 opened #7132 "make: *** [Makefile:67: copy] Error 1"
### Description

i tried to keep some logs to understand the code .i found the below error while build. FYI i am attaching an image.
![Screenshot from 2022-02-02 12-33-18](https://user-images.githubusercontent.com/79690321/152108955-45123bf8-32b9-4bd7-bbc9-d13ad1ccfef9.png)

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

[2022-02-02 12:07] dhana22222 commented on #7132
Is it possible to import another packages into gvisor?

[2022-02-02 12:53] saikiran2021 commented on #7007
Hi @fvoznika,
  I try master with patch it available on [https://github.com/google/gvisor/pull/7082/files]()
 with the same example  `ffmpeg -re -i sample.mp4 -map 0:v -f v4l2 /dev/video`

[2022-02-02 20:28] crappycrypto opened #7134 "Select on stdin broken unless running interactively"
### Description

Since commit 9768009a797ae71013befe05f8a989d7568eb4a1 select has been broken for STDIN. Since that commit select on STDIN returns EPERM instead of the expected response that STDIN is readable.

NOTE: This only occurs in containers that are started without an interactive stdin/stdout.

### Steps to reproduce

Compile the program below and run it inside gvisor

[code]

*Test program

[2022-02-03 21:03] avagin commented on #7001
@YaroslavLitvinov //test/fuse:create_test_runsc_ptrace_shared_vfs2_fuse fails with these changes.

[2022-02-03 21:24] #7086 closed

[2022-02-04 01:15] fvoznika commented on #7134
When the container start non-interactively, stdin is set to `/dev/null` which is not epoll-able. gVisor uses epoll as the underlying infrastructure to get notifications about host FDs to implement syscalls like `epoll(2)` and `select(2)`. Unfortunately, `select(2)` allows `/dev/null` to be passed in, which makes no send since it will never trigger. We would need to distinguish these 2 cases and ea

[2022-02-04 06:42] amscanne commented on #7038
I'm not entirely sure what an independent module means. I think there's probably some confusion because the main branch is not a standard Go module. However, the Go branch is an automatically maintained module branch. You can simply refer to the go branch.

I've updated the checklocks README.md with more specific usage: https://github.com/google/gvisor/tree/master/tools/checklocks#installation-and

[2022-02-04 06:42] #7038 closed

[2022-02-04 19:45] arthurpi opened #7144 "On dual-stack sockets, both v4 & v6 PKTINFO cmsg can be returned in recvmsg"
### Description

On linux, on a dual stack socket (e.g. an AF_INET6 socket with an IPv4-mapped IPv6 address), if both IP_PKTINFO and IPV6_RECVPKTINFO options are enabled, then both v4 and v6 control message should be returned by recvmsg.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubec

[2022-02-05 00:01] fvoznika commented on #7007
I think I found the problem. We were not waiting on the host FD for character files. I've updated the PR, please give it another try.

[2022-02-07 06:17] AkihiroSuda opened #7149 "` ip a` shows no network devices with `nerdctl run --runtime=io.containerd.runsc.v1` (because gVisor lacks support for OCI `createRuntime` hooks)"
### Description

Network doesn't work with `nerdctl run --runtime=io.containerd.runsc.v1`.
`ip a` doesn't show any network device.

Not sure whether this is an issue of gVisor or nerdctl, though.

### Steps to reproduce

`ip a` doesn't show any network device.

[code]

### runsc version

[code]

### ~docker~ containerd/nerdctl version

[code]

### uname

Linux suda-ws01 5.13.0-28-generic #31-Ubunt

[2022-02-07 06:20] AkihiroSuda commented on #7149
CNI info:
[code]

CNI is configured during the OCI `createRuntime` event.
https://github.com/containerd/nerdctl/blob/c4bd56b3aa220db037cc6c0a4e0c8cc062f2cc4c/pkg/ocihook/ocihook.go#L318

[2022-02-07 06:51] saikiran2021 commented on #7007
@fvoznika  i try with the latest patch. still the same behaviour (only single chunk is  getting )
here i am attaching logs with different approaches .
**Docker-command**
`docker run --runtime=runsc -it --rm --mount type=bind,source=/dev/video0,target=/dev/video1 --privileged ubuntu bash`
[runsc.zip](https://github.com/google/gvisor/files/8012918/runsc.zip)
**Docker-command** here i am trying with

[2022-02-07 07:07] #7132 closed

[2022-02-08 03:52] #7125 closed

[2022-02-08 06:54] Yuya9786 commented on #2270
@ianlewis I want to try this issue. But I don't know where to start because this issue is related to all sorts of codes in this project. And I'm not familiar to the details of gVisor but I know what this issue expects. Could you guide me in a bit?

[2022-02-08 10:14] ianlewis commented on #2270
@Yuya9786 It shouldn't be too involved. This is really just a placeholder issue to use `"%w"` style formatting directives rather than `"%v"` for errors when calling `fmt.Errorf`. So rather than this:

[code]
The code would look like this
[code]

You can search for some places where `fmt.Errorf` is used here: https://github.com/google/gvisor/search?q=fmt.Errorf

[2022-02-09 00:39] nlacasse commented on #263
This has been implemented in VFS2, which is now the default in Runsc:
https://github.com/google/gvisor/blob/02370bbd315d7e7c2783d7001d014870cf1ef534/pkg/sentry/syscalls/linux/vfs2/filesystem.go#L211

[2022-02-09 00:39] #263 closed

[2022-02-09 17:57] avagin opened #7153 "arm64: the kvm platform is broken"
### Description

kvm_test started failing when we switched to go 1.17.

### Steps to reproduce

[code]

### runsc version

[code]

[2022-02-09 17:59] avagin commented on #7153
Cc: @zhlhahaha @lubinszARM

[2022-02-09 20:34] hbhasker opened #7158 "revisit buffer.View's embedded pool"
### Description

Each buffer.View embeds its own pool which embeds an array of 8 buffer structs. This optimization is questionable as well has been   a source of pain because of subtle bugs with buffer aliasing when cloning PacketBuffers and reassembling fragments etc.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

###

[2022-02-10 00:03] ianlewis opened #7161 "Syscall docs reporting based on vfs1"
### Description

I believe that the syscall docs at https://gvisor.dev/docs/user_guide/compatibility/linux/amd64/ are still reporting based on support in vfs1. This should be switched over to vfs2 since that's the default now.

For example, renameat2 should be implemented but is listed as unimplemented.

[2022-02-10 01:13] fvoznika commented on #7149
@AkihiroSuda you're spot on. gVisor is still using the deprecated `Prestart` hook. Changing it to use `CreateRuntime` shouldn't be a problem. However, `CreateContainer` and `StartContainer` can't be implemented because they need to run inside the sandbox process in order to execute in container namespace. Do you need them?

[2022-02-10 01:15] AkihiroSuda commented on #7149
No, nerdctl only need createRuntime and postStop (as of v0.16.1)
https://github.com/containerd/nerdctl/blob/v0.16.1/pkg/ocihook/ocihook.go#L75-L82

[2022-02-10 01:55] fvoznika commented on #7149
If you have a chance, please give the PR above a try and let me know if it fixes the problem.

[2022-02-10 06:18] zhlhahaha commented on #7153
I saw you have submitted a PR for the issue. I will check it.

[2022-02-10 06:22] avagin commented on #7153
It isn't submitted yet. You can review it here: https://github.com/google/gvisor/pull/7164.

[2022-02-10 06:36] zhlhahaha commented on #7153
Ok, I am still learning about this issue and your PR. Have you done tests (syscall tests, integration tests) on Arm64 with your PR?

[2022-02-10 06:37] AkihiroSuda commented on #7149
Thank you @fvoznika

In addition to support `createRuntime` hook, runsc has to propagate the annotations from `config.json` to the `State` object for the hooks. https://github.com/opencontainers/runtime-spec/blob/v1.0.2/runtime.md#state

Can be worked around on the nerdctl side, though: https://github.com/containerd/nerdctl/pull/788/commits/a7aa9e90e6d33bf52346d0eb3f14a561409a3642

[2022-02-10 06:39] AkihiroSuda commented on #7149
I also noticed that runsc doesn't bring up the loopback network interface unless CNI `loopback` plugin is enabled.

Not sure if it is a bug or expected behavior, but at least it differs from runc.
https://github.com/containerd/nerdctl/pull/788/commits/c2b8906727e0859eb4cb1d41d5b317f6da84ef9b

[2022-02-10 07:10] avagin commented on #7153
@zhlhahaha pkg/sentry/platform/kvm:kvm_test passes with this fix, but I didn't run syscall tests.

[2022-02-10 07:13] zhlhahaha commented on #7153
Ok, no problem, I will do the tests and inform you.

[2022-02-10 12:41] zhlhahaha commented on #7153
I have verified the tests, all tests have passed, but I am still confused about why this PR https://go-review.googlesource.com/c/go/+/270537 leads to error. Is it caused by `(*mheap).sysAlloc` which does not set memory from Reserved to Prepared any more after this PR?

[2022-02-10 14:15] jeyaprabhuj-tts opened #7168 "Adding firewall to /proc/{id}/... network namespace is not working"
### Description

Adding firewall rules to network namespace based on /proc/{proc id}/ns/net, works correctly without runsc

The same does not work with runsc .

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

[2022-02-10 18:20] avagin commented on #6629
@zhlhahaha could you look at this issue? It think it is quite critical. We can see that nmi is queued in a loop. Is the NMI exception handler executed in this case? If the answer is yet, why doesn't it trigger an exit to the host.

[2022-02-10 20:19] avagin commented on #6629
I think I found the root cause of this issue. We queue an "NMI" interrupt, but it is blocked in the guest. With this patch https://github.com/avagin/gvisor/commit/ed5c7549ab74df21c837251175df3c3660b31559, the test passes...

[2022-02-10 21:37] avagin commented on #7153
Yes, it is. Reserved is PROT_NONE and Prepared is RW.

[2022-02-10 23:00] fvoznika commented on #7149
I've updated the PR with annotations from the spec added to the `State` object.

As for the loopback, runsc copies the network setup from the host to the sandbox. If the host doesn't have a loopback interface, then we assume that the sandbox shouldn't have one either. [Here is where we handle the looback interface](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/sandbox/network.go;l=154;

[2022-02-11 06:19] hbhasker commented on #7168
This is not supported. runsc does not support firewall rules *yet*. Please add the details you provided on the chat and as I said there I am not sure what the intention of this is supposed to be and why doing it on the host side is not sufficient.

[2022-02-11 07:09] zhlhahaha commented on #6629
CC: @lubinszARM
I am also looking into it.

[2022-02-11 07:33] jeyaprabhuj-tts commented on #7168
We are trying in Host only

Steps
Execute docker and get pid for container
First map docker pid namespace from  /proc/{proc id}/ns/net to /var/run/net/<give a name > e.g. gvisor_con1

Then exec commands
sudo ip netns exec gvisor_con1 ip route add blockhole 8.8.8.8

This blocks ping to 8.8.8.8 ,from inside container started with runc
Same does not work with runsc

[2022-02-11 08:39] lubinszARM commented on #7153
Got it. Let me check it.

[2022-02-11 15:24] amscanne commented on #7168
The sandbox is not using the host networking stack, so routing rules in the netns will not be respected. You can apply rules to the outside on the bridge (depends on the exact network setup) to be enforced.

This is the normal mechanism for e.g. k8s network policies, since otherwise a container with NET_ADMIN would be able to change its own rules.

In general visibility into the sandbox will not u

[2022-02-13 07:21] joshma commented on #6441
Hi folks, I'm trying to track down something similar and noticed that the repro I have (more on that later) only works on when we run with gvisor enabled (via GKE sandbox).

The repro basically reads and writes from key A to key B in Firebase using the Python admin SDK, and we're seeing `urllib3.exceptions.SSLError: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_s

[2022-02-13 14:36] jeyaprabhuj-tts commented on #7168
@amscanne

We have a setup where one IOT device having multiple customer containers, each one needs to have separate firewall rule.

Do you suggest to create 5 bridges for 5 customers and apply rules for each bridge?
If above is wrong, can you suggest an approach.

[2022-02-13 18:39] joshma commented on #6441
Ah interesting, we upgraded from `1.21.5-gke.1302` to `1.21.6-gke.1500` and that may have fixed this...noting in case it helps at all / sorry for the noise.

[2022-02-14 22:45] neilalexander opened #7184 "netstack: Packets not forwarded for device routes with no gateway"
### Description

Netstack doesn’t appear to have a functional concept of a “device route” — that is, a route that has a NIC ID and a subnet configured but with no gateway address, like an `ip route add a.a.a.a/a dev a` in Linux.

Therefore if you have two or more NICs *without* addresses added to them, but you *do have* route entries for the subnets on the other end of each NIC, packet forwarding

[2022-02-15 18:11] arthurpi opened #7188 "Parsing non-sendable cmsg in SendMsg syscall should fail"
### Description

Some control messages can't be sent (only received). For example, `IP_RECVERR` or `IP_RECVORIGDSTADDR`.

In the syscall implementation of SendMsg in sentry, we call `control.Parse` on the raw cmsg bytes. This function should refuse non-sendable control messages.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No resp

[2022-02-16 17:34] #7153 closed, assigned to nobody

[2022-02-16 22:18] zeling opened #7199 "Discrepancy in responding to unacceptable ACK in SYN-RCVD"
### Description

[RFC 793](https://datatracker.ietf.org/doc/html/rfc793#page-72):

[code]
gVisor sends <SEQ=SEG.ACK><ACK=SEG.SEQ+SEG.LEN><CTL=RST,ACK>.

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No re

[2022-02-17 02:00] #7149 closed

[2022-02-17 12:49] raviprakashg commented on #7007
@fvoznika , I tried below caommands to capture the video from laptop inbuilt camera with ffmpeg commands , I am able to capture video inside the container  without runsc.
I am not able to capture the same When i used with runsc mentioned below , I am getting the ** Inappropriate ioctl**  error as shown

docker run --runtime=runsc --rm -it --mount type=bind,source=/dev/video0,target=/dev/video0  gv

[2022-02-17 23:12] #7134 closed

[2022-02-18 03:56] jeyaprabhuj-tts commented on #7007
@fvoznika
My team execute and got below error.

 I tried below commands to capture the video from laptop inbuilt camera with **ffmpeg** commands , I am able to capture video inside the container without runsc.I am not able to capture the same

When i used with runsc mentioned below , I am getting the Inappropriate ioctl error as shown

**docker run --runtime=runsc --rm -it --mount type=bind,source

[2022-02-22 19:24] hbhasker commented on #6441
@joshma Thanks for the update. Glad to hear that the issue resolved after the upgrade.

@Champ-Goblem I am going to close this issue as resolved, please reopen if you are still experiencing the timeouts.

[2022-02-22 19:24] #6441 closed

[2022-02-23 00:05] zeling commented on #6018
verified that --config=gotsan works now.

[2022-02-23 00:05] #6018 closed

[2022-02-23 08:44] #7199 closed

[2022-02-23 12:21] zvonkok commented on #6378
/cc

[2022-02-24 01:05] yu-alvin commented on #14
https://docs.vaccel.org/ Found this project recently and thought it might be helpful to reference.

[2022-02-24 02:30] hbhasker opened #7227 "IPv4 should do longest prefix match for src ip selection"
### Description

When a NIC has multiple suitable IP addresses the stack should select the best address. In case of IPv6 the stack does a proper source IP selection based on the IPv6 RFC. But for IPv4 the stack today picks the first IP address on the NIC.

The stack should do a longest prefix match to find the most suitable IPv4 address when picking the src IP.

See: https://github.com/google/gvis

[2022-02-24 18:34] th0m opened #7228 "ICMPv6 neighbor discovery between network namespaces does not work in sandbox networking mode"
### Description

My setup is the following:
- two runsc containers
- each container is in a different network namespace
- each network namespace has a macvlan interface in bridge mode with the same host parent interface
- each macvlan interface has a link local address set up in the fe80::/64 range

From each container, I'd expect ICMPv6 neighbor discovery to work and be able to ping the link loca

[2022-02-28 17:37] #5500 closed

[2022-03-03 10:54] sourikghosh commented on #7188
Hey, @arthurpi can I pick this issue. And can you give me some hints on where to start looking for making this change?

[2022-03-05 12:25] neilalexander commented on #7184
Anything I can do to help? I'd love to get this working for a project of mine.

[2022-03-07 06:28] ghost opened #7265 "Destroy the United States"
### Description

Destroy the United States

### Is this feature related to a specific bug?

Destroy the United States

### Do you have a specific solution in mind?

Destroy the United States

[2022-03-07 06:28] ghost opened #7266 "Destroy the United States"
### Description

Destroy the United States

### Steps to reproduce

Destroy the United States

### runsc version

[code]

### docker version (if using docker)

[code]

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

### runsc debug logs (if available)

_No response_

[2022-03-07 07:51] #7265 closed

[2022-03-07 10:12] #7266 closed

[2022-03-07 23:11] paulfitz commented on #4371
Is there any possibility the `--unprivileged` flag from @avagin's POC could be added to mainstream gvisor? It comes in handy from time to time, for the kind of use-case outlined at start of thread. I could imagine perhaps fearing that people would turn it on without understanding the trade-offs.

[2022-03-08 19:31] th0m commented on #7228
Any thoughts on this @hbhasker? Thank you!

[2022-03-08 21:18] hbhasker commented on #7228
Sorry I haven't had time to look at this report.

@nybidari Could you take a look?

[2022-03-09 03:48] Aadmaa opened #7275 "Unable to get logs from running container"
### Description

I am running containers that complete jobs and then exit, and I'm moving those to run within a gVisor sandbox. That is working, but I have not been able to figure out how to get the logs that would contain stdout and stderr emitted by my running process.

Without gVisor (and no special logging driver) I would find my Docker log in a bash script as follows (replacing CONTAINERNAME

[2022-03-09 20:29] #7275 closed

[2022-03-09 20:55] hbhasker commented on #7184
Neil, I am not sure we have cycles to fix this at the moment but if you would like to make changes to FindRoute to support this use-case we can provide a review. This is not a common use-case for us.

[2022-03-09 22:27] neilalexander commented on #7184
Thanks for the heads-up. I’ll try and find some more time to comb through this myself and raise a PR, although the last time I looked I couldn’t make heads or tails of all of what `getEndpointEP` and `constructAndValidateRoute` were doing. If you could provide any advice on any gotchas I should look out for, that’d be much appreciated.

[2022-03-10 00:22] Aadmaa commented on #7275
This was due to my user error; no bugs.

[2022-03-10 21:56] arthurpi opened #7282 "Allow fragmentation (and reassembly) for loopback traffic."
### Description

Right now, in gVisor, when sending an IP packet on loopback device, we shortcut the fragmentation code. This is incorrect because loopback device do have an MTU. (which does not have to be 64k, so fragmentation may be required).

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

#

[2022-03-13 16:23] ryo-yamaoka commented on #2270
@Yuya9786 Excuse me, are you still working on this issue?
If not, may I would like to take over this?

[2022-03-14 00:38] Yuya9786 commented on #2270
@ryo-yamaoka please take over this. Actually I don't have enough time to do. But I will do some parts of this if I have time.

[2022-03-14 03:06] Yuya9786 commented on #2270
@ryo-yamaoka I've already done to fix, but I couldn't succeed to test because of timeout.
Maybe the cause is that my laptop specs are not good enough.
Would you be willing to test instead of me?

[2022-03-14 06:21] saikiran2021 opened #7286 "unable to map the character device"
### Description

while run the bellow command facing an issue.

`docker run --runtime=runsc --device /dev/video101:/dev/video1 -it ubuntu bash`

Error:
`docker: Error response from daemon: OCI runtime start failed: starting container: starting root container: urpc method "containerManager.StartRoot" failed: EOF: unknown.
ERRO[0003] error waiting for container: context canceled`

Runsc logs:
[runsc

[2022-03-14 15:49] ryo-yamaoka commented on #2270
@Yuya9786 I tried high spec machine, then succeeded to build and `unit-tests`, and failed nogo-tests into `make tests`.
The reason for the failure seems to be different (There appears to be no timeout log.), but the bazel logs disappeared and I couldn't see them...
Is it also nogo-tests that you failed?

SPEC of build environment

* CPU: 32 core
* Mem: 32GB
* Disk: 50GB

[code]

[code]

<details>

[2022-03-14 15:54] ryo-yamaoka commented on #2270
By the way, when I run `make nogo-tests` I get a lot of errors like the following.
You may want to fix this first.

[code]

[2022-03-14 19:53] git-noise commented on #193
Hello,
Is there any plan to support systemd cgroups in the future (or near future)?

Using cgroupfs may not be an easy option as I believe it is not recommended with kubeadm as mentioned here: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/ ?

While possible to run both in parallel, it seems also not recommended: https://kubernetes.io/docs/tasks/administer-clus

[2022-03-15 17:29] th0m commented on #7228
No worries, thanks for assigning this issue.
@nybidari feel free to let me know if you need any additional information.

[2022-03-16 06:34] saikiran2021 opened #7292 "custom-flag"
### Description

is there any possibility to create our own flag. and i need to save that log file in user location.
here is my daemon.json file:
![Screenshot from 2022-03-16 12-02-34](https://user-images.githubusercontent.com/79690321/158530486-db5ada14-1b36-43ba-b30b-290fc7ceeacc.png)
.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

[2022-03-16 06:35] Yuya9786 commented on #2270
@ryo-yamaoka Thank you for pointing out my mistakes, I fixed these.
I tried to test (`make unit-tests` and `make tests`) again,
and then `unit-tests` was succeeded but whole `tests` wasn't as well you.
But I can see these failed test.log like following.

[code]

[code]

There are many errors because of same reason.
tcpip.Error is different from standard error and doesn't have Error() function.
I t

[2022-03-16 08:32] jelischer commented on #4841
sorry, no longer working on this project

[2022-03-16 08:40] chenchun opened #7293 "x86_64: Unhandled user fault: addr=0 ip=7efcd10002b4 access=r-- sig=11 err=bad address"
### Description

Presto sql failed and pods kept crash when I run tpcds test against presto runsc ptrace container with hostnet. **Whereas if I change to netstack, the sql runs ok.**

Running sample-queries-tpcds/query2.sql, presto output:
[code]
Lots of presto worker pod dies frequently when sql starts running.

![image](https://user-images.githubusercontent.com/985861/158548712-3dd0f603-cf99-4f4

[2022-03-17 04:28] #7292 closed

[2022-03-17 04:41] Yuya9786 commented on #2270
I fixed it and then succeeded `unit-tests` and `nogo-tests`.
But I didn't succeed `container-tests` and `syscall-tests` because of timeout.

[2022-03-17 05:38] ryo-yamaoka commented on #2270
Okay thank, I'll check tonight

[2022-03-17 06:53] impl opened #7297 "VFS2 returns stale data with Kubernetes Downward API"
### Description

In the gofer implementation for VFS2, an optimization in traversing relative symlinks that are chained together skips revalidation of paths in the middle of the chain. This can cause stale data to be returned in the sandbox.

In particular, this affects the Downward API in Kubernetes, which uses chained symlinks to atomically update state from the container's perspective. See http

[2022-03-17 14:55] ryo-yamaoka commented on #2270
@Yuya9786 Me too test failed, but not timeout error.

#### container-tests

A lot of following errors.

[code]

[code]

#### syscall-tests

A lot of following errors.

<details>
<summary>very long</summary>

[code]

</details>

[code]

[2022-03-17 15:29] ryo-yamaoka commented on #2270
For now, your PR's CI failed by simple issue.
The code you fixed is looks no problem.
I think that CI will pass by fix this, so I think it is a good idea to try that first.
https://github.com/google/gvisor/pull/7285#issuecomment-1070982797

[2022-03-17 15:48] Yuya9786 commented on #2270
@ryo-yamaoka Thank you for your help.
I haven't yet figured out the cause of this error too.

[2022-03-17 22:03] #193 closed

[2022-03-18 04:44] hbhasker commented on #7293
Could you run it with strace enabled and provide the strace logs here?

[2022-03-18 04:46] hbhasker commented on #7286
@nixprime / @ayushr2 Could one of you take a look. Looks like VFS2 is panicking.

I0314 11:49:56.903854  311066 vfs.go:261] mns%!(EXTRA *vfs.MountNamespace=&{{1} 0xc0000fe000 0xc00019e840 map[]})
I0314 11:49:56.903905  311066 fs.go:368] file info &{[0xc0002bfe70 0xc0002bfe78 0xc0002bfe80]}
I0314 11:49:56.903951  311066 fs.go:372] file is not empty [FD: 6 FD: 7 FD: 8]
I0314 11:49:56.903975  311066

[2022-03-18 17:23] ayushr2 commented on #7286
I am unable to repro. Here is what I did:
[code]

^ this works for me and the container starts up.

[2022-03-21 18:25] hbhasker commented on #2404
Marking this closed. Will track further work around buffer reuse as separate tasks.

[2022-03-21 19:14] ayushr2 commented on #7286
Related #7007

[2022-03-21 22:34] mikewiacek opened #7309 "runtime.wbBufFlush: nosplit stack overflow"
### Description

Using go version go1.18 linux/amd64

With gvisor.dev/gvisor v0.0.0-20220319025644-e785bfc153f5

While compiling against a module that imports gvisor.dev/gvisor/pkg/seccomp (to call seccomp.Install()

I started getting these new errors at linking time:

[code]

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No respons

[2022-03-21 22:42] amscanne commented on #7309
Woah, why on earth does the compiler want 448 bytes of stack space for SigAction.CopyOutN? That seems ridiculous. I'm also not sure why this is being called from within write barrier functions?

 CC @prattmic

[2022-03-21 23:05] mikewiacek commented on #7309
Our default bazel build configuration has `build:cd --@io_bazel_rules_go//go/config:race=true` turned on. If I manually turn it off, the build seems to work ok. Perhaps is this expected to be incompatible? (I'm working on some code I inherited so please forgive me if I'm a little uneducated here).

[2022-03-22 03:51] saikiran2021 commented on #7286
@ayushr2 --device working now but inside a container it is not available FYI i am attaching the image.

![Screenshot from 2022-03-22 09-17-33](https://user-images.githubusercontent.com/79690321/159404192-ff8e3130-a139-46e7-b18c-e5fc782a950a.png)

[2022-03-22 04:34] ayushr2 commented on #7286
See @fvoznika's comments in #7007. gVisor does not support character devices yet.

[2022-03-22 05:48] hbhasker commented on #6587
Closing due to lack of activity.

[2022-03-22 05:48] #6587 closed

[2022-03-22 15:33] prattmic commented on #7309
You are reading the trace backwards. `linux.(*SigAction).CopyOutN` contains calls to write barriers, not the other way around.

@mikewiacek do you have a reproducer you can share? I can't reproduce this with either:

[code]

or

[code]

[2022-03-22 15:35] prattmic commented on #7309
@amscanne FWIW, it surprises me that these functions are `//go:nosplit`. Why is that?

[2022-03-22 18:33] amscanne commented on #7309
I think we can probably remove the nosplit. All the CopyOut/CopyIn functions are allocation free, and there's a test that verifies this [1]. We can just relax that test to allow splits, so that we ensure they remain free of other allocations.

[1] https://cs.opensource.google/gvisor/gvisor/+/master:tools/go_marshal/test/escape/escape.go;l=54?q=doCopyIn&ss=gvisor

[2022-03-22 19:28] mikewiacek commented on #7309
Let me see if I can package something up. We've got a lot of xooglers here and our monorepo will take a little work to un-intertwine. Let me see what I can do.

[2022-03-22 19:43] prattmic commented on #7309
#7314 will resolve this by dropping the `//go:nosplit` annotation entirely, so I worry about it. I don't know why `CopyOutN` was using so much stack, but it doesn't really surprise me that race mode uses more stack space.

[2022-03-22 19:47] prattmic commented on #7309
(Just for curiousity's sake, my build at e785bfc153f58fd3e9fcef339d4afe8eee775a5b seems to have `linux.(*SigAction).CopyOutN` using 136 bytes of stack, and with no calls to write barriers, so it oddly doesn't seem to match your code at all).

[2022-03-22 20:52] #7297 closed

[2022-03-23 04:33] #7309 closed

[2022-03-23 06:05] saikiran2021 commented on #7286
Is there any other way to map  character device  by doing some modifications in code.

[2022-03-23 16:10] ayushr2 commented on #7286
You can try patching #7082. @fvoznika is working on that.

[2022-03-25 11:49] crappycrypto opened #7327 "Release builds not updated since 20220228"
### Description

When I follow the installation instructions on https://gvisor.dev/docs/user_guide/install/ the release builds are all stuck at 20220228.

This is true for:

- https://storage.googleapis.com/gvisor/releases/release/latest/x86_64/runsc
- The debian repository

It would be nice to be able to download new releases without having to compile them myself.

### Steps to reproduce

Plain d

[2022-03-25 22:07] brianquinlan opened #7331 "epoll_wait does not return EPOLLHUP events on remote close"
### Description

`epoll_wait` does not generate `EPOLLHUP` events when the server closes the associated file descriptor.

gVisor output:
[code]

Linux output:
[code]

Note that the `Got close!` output is not present when run under gVisor, which corresponds to the lack of `EPOLLHUP` event.

The repro was reduced from the original bugs, where Postgres could not be used correctly on Google Cloud Run:

[2022-03-26 03:41] mikewiacek commented on #7309
Thank you! This solved my issue!

[2022-03-27 23:16] gpl opened #7334 "gvisor #b8fa96e201bf79d9012ab60fddc560ff4a39165c not working w/ systemd-cgroups + cgroupsv2 + containerd"
### Description

We're trying to get gvisor working with cgroupsv2 and systemd-cgroup as we saw this cl: https://github.com/google/gvisor/commit/bf86207401cab99d859b25acd4911038608f0d33

However, we're unable to get a functioning result.

### Steps to reproduce

On a Ubuntu 21.10 system, running kernel Linux 5.13.0-37-generic:

git clone https://github.com/google/gvisor; cd gvisor;
echo "module ru

[2022-03-28 00:03] hbhasker commented on #7331
@nlacasse looks like UDS implementation maybe is missing a notify.

[2022-03-28 20:17] gpl commented on #7334
We believe it could be related to having two paths:

[code]

[2022-03-29 01:26] gpl commented on #7334
Yep, this current configuration works fine with runc+containerd; the second path is introduced by an extension to Kubernetes (cilium.io) that we use.

[2022-03-29 20:15] nhurley3 opened #7338 "Support multicast routing"
### Description

Support for multicast routing is needed for Fuchsia (see https://fxbug.dev/96216). The Fuchsia side protocols can be found here:

https://osscs.corp.google.com/fuchsia/fuchsia/+/main:sdk/fidl/fuchsia.net.multicast.admin/?q=multicast&ss=fuchsia

Support for similar methods needs to be added to gVisor. A multicast routing service will respond to events and interact with the protocol

[2022-03-30 04:47] invliD opened #7341 "Segfault in many newer Ubuntu binaries"
### Description

Starting with Ubuntu impish (21.10) many common binaries more or less immediately segfault. The most prominent would be `bash`, since that's the default command for the ubuntu images, but others like `apt-get` crash as well. dash (`sh`) is fine in all versions I tested. Ubuntu hirsute (21.04) and before seem to work for all binaries.

### Steps to reproduce

Start a runsc containe

[2022-03-30 15:57] Wonderfall commented on #2536
Yeah, `runsc` seems to ignore `tmpfs-size` when mounting a `tmpfs` volume via Docker.
At least one can set `--memory` (which is recommended in general) and it won't affect the host.

[code]

The guest crashes when it hits the 20M memory limit. The same but with runc, as expected:

[code]

[2022-03-30 18:02] fvoznika commented on #7341
hmm, I can run both `ubuntu:impish` and `ubuntu:jammy` without problems. Do you have the `runsc.log.*.boot`? This would be the most interesting one to find out why it's segfaulting. The rest of the logs look alright. I'm using containerd `v1.5.4`, but that is likely not the problem.

[2022-03-30 20:27] fvoznika commented on #2536
@Wonderfall, that's correct. @sshambhavi-252 is working on tracking tmpfs memory usage and applying the limits from docker.

As for the crash, this can happen when the memory allocation that hits OOM is coming from gVisor's kernel. That's because the Go runtime doesn't allow applications to handle OOM and panics when it happens.

[2022-03-31 01:18] invliD commented on #7341
Oh, I didn't realize the logs from kubernetes' pause container are relevant as well. Here's the boot log from that container:
[runsc.log.20220330-181033.174692.boot.log](https://github.com/google/gvisor/files/8385145/runsc.log.20220330-181033.174692.boot.log)

[2022-03-31 02:01] avagin opened #7349 "platform/kvm: introduce support for 5-level paging"
### Description

https://en.wikipedia.org/wiki/Intel_5-level_paging

The linux kernel enables 5-level paging by default if it is supported by hardware.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-03-31 03:55] FH0 opened #7351 "Can't test pkg/tcpip"
### Description

![image](https://user-images.githubusercontent.com/32861476/160973202-9bef35d5-e1c8-4462-b5ba-681db2a31a4b.png)

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

Linux AIR-14-PLUS 5.10.60.1-microsoft-standard-WSL2+ #1 SMP Fri Oct 15 12:42:02 CST 2021 x86_64 x86_64 x86_64 GNU/Linux

### kubectl

[2022-03-31 05:20] hbhasker commented on #7351
You need to use bazel to build and run tests as those are references to definitions to generated files.

[2022-03-31 06:27] #7351 closed

[2022-03-31 08:32] xjasonlyu opened #7352 "tcpip/stack: incorrect UDP UnknownPortErrors increment"
### Description

It started with a tool I wrote and I noticed the increasing `UnknownPortErrors` counts.

E.g., say we set a UDPTransportProtocolHandler like this:

[code]

And when a UDP packet arrives to the stack, it comes to nic and is handled by `(*nic).stack.demux.deliverPacket` in `(*nic).DeliverTransportPacket`:

https://github.com/google/gvisor/blob/fcd82c8ebf671e268fa16da3f172ea6679eb45e

[2022-03-31 16:17] #7334 closed

[2022-03-31 17:02] manninglucas commented on #7334
@gpl Let us know if the issue persists; I believe #7343 should take care of the bug you reported.

[2022-03-31 18:23] kevinGC commented on #7352
Is the increased `UnknownPortErrors` breaking anything? I feel that this is working as intended, and that in this particular use case it's not a useful value to you.

UnknownPortErrors tracks the stack being unable to find an endpoint for a packet. If netstack is used as described above, then it's simply counting a value that is irrelevant to this use case. For other use cases, the value is more u

[2022-03-31 19:57] gpl commented on #7334
The fix works perfectly for us; thank you!

[2022-04-01 01:43] xjasonlyu commented on #7352
No, it didn’t break anything. I just previously thought this shouldn’t be an error for this particular use case :)

[2022-04-01 01:43] #7352 closed

[2022-04-01 14:27] crappycrypto commented on #7327
It looks like the issue is that buildkite by default prunes the git checkout. Acording to  https://buildkite.com/docs/integrations/github#running-builds-on-git-tags the solution is to change the git fetch flags agent config. If I've read the documentation correctly this could be achived by adding the following to `.buildkite/release.yaml`

[code]

[2022-04-03 22:23] invliD commented on #7341
I have some more information. Apparently, running these images works fine on all Intel CPUs I have (newest generation being Skylake). These segfaults only seem to happen on my AMD CPUs (all AMD Ryzen 9 5950X).

[2022-04-04 18:21] avagin commented on #6629
@lubinszARM @zhlhahaha have you had a chance to look at this issue?

[2022-04-05 08:05] zhlhahaha commented on #6629
Hi Avagin,
I had discussed this issue with Lubin several weeks ago, but have not got good solution for it. Sorry about delay reply on it. I will keep looking on this and put it in my task list.

[2022-04-05 15:54] prattmic commented on #7341
The faulting instruction is `c5 7d e7 b7 40 30 00    vmovntdq YMMWORD PTR [rdi+0x3040],ymm14`, is surrounded by other similar `vmovntdq` instructions, so I assume this is `memcpy` (or similar).

That fault address, `0x55e64c532000`, matches `rdi + 0x3040`, which is a good sign. Interestingly, this address is exactly past the end of the heap VMA. The prior instructions were writing lower addresses,

[2022-04-05 15:56] prattmic commented on #7341
@fvoznika As an aside, it might be nice to try to best-effort guess this and log it for future reference. e.g., check if the hypervisor bit is set in CPUID.

[2022-04-06 01:11] invliD commented on #7341
It does not, it only appears on the kvm platform.

kubernetes, containerd, and thus gVisor are all running bare-metal.

[2022-04-06 22:52] avagin commented on #7341
[code]

[2022-04-07 07:28] ghjm opened #7379 "Gonet hangs under load"
### Description

I am trying to set up a pair of gVisor tcpip stacks joined by fdbased endpoints running over SOCK_SEQPACKET sockets produced by socketpair.  This works for me under light load, but hangs under heavy load.  I have a reproducer here: https://github.com/ghjm/gvisortest.

I have tried this with go 1.16, 1.17 and 1.18, and various older and newer gVisor releases.  I have also tried man

[2022-04-07 11:26] jonseymour opened #7380 "gvisor: panic: Incrementing non-positive count 0xc000533180 on stack.PacketBuffer"
### Description

A change dating from November 11 has introduced reference counting for UDP packets that appears to have caused a panic in tailscale, a consumer of this library - see [gvisor: panic: Incrementing non-positive count 0xc000533180 on stack.PacketBuffer](https://github.com/tailscale/tailscale/issues/4144)

The commits at issue are possibly one or more of these commits:

https://github.

[2022-04-07 19:58] manninglucas commented on #7380
Thanks for reporting this issue. I suspect that it's related to a fragmentation issue that was fixed (6a28dc7) on the same day that that tailscale/tailscale@1af2622 was created. The fact that the bug seems to happen mostly under heavy traffic supports this. It's possible that you just missed pulling in that fix. Can you check which version of gVisor was pulled in?

[2022-04-07 21:27] avagin commented on #7341
Here is a small reproducer:
[code]

[code]

[code]

[code]

If we uncomment "__x86_shared_cache_size_half =	0x100000", the program exits with 0.

[2022-04-07 22:58] avagin commented on #7341
The problem is that we don't handle CPUID(0x80000006): L2 cache information (Intel) properly.

[2022-04-08 02:03] jonseymour commented on #7380
Thanks. Tailscale synced once @ d8aa030b2591 and then again @ 536b85ae1a6a. The latter includes the fix you mentioned. Since that commit has not been released yet, I am going to assume this is the issue and close this issue accordingly.

[2022-04-08 02:03] #7380 closed

[2022-04-08 19:48] jeremie-stripe commented on #4544
To confirm what previous reports have hinted at, when trying to use gVisor through containerd directly (i.e. without kubernetes) the hang can be worked around by trying to mimick the annotations that kubernetes would set aka when creating your OCI container manifest you can insert the container type annotations like so:
[code]
which makes it work.

[2022-04-08 20:40] ivoronin opened #7392 "Two Go packages ("transport" and "datagram") in the same directory"
### Description

Can't build my project using newer gvisor versions.

### Steps to reproduce

1. Checkout https://github.com/ivoronin/wiresocks
2. Run `go build`: project builds successfully (using gvisor `v0.0.0-20211020211948-f76a604701b6`)
3. Run `go get -u`: gvisor version bumps to `v0.0.0-20220407222715-423589b41ac7`
4. Run `go build` again. Error occurs: `../../go/pkg/mod/gvisor.dev/gvisor@v

[2022-04-09 10:43] Skyxim opened #7394 "runtime.spanOf: nosplit stack overflow"
### Description

I use gViosr as the mode network stack for applying tun, I can debug normally during go1.17, but I will receive the following error when upgrading to 1.18.

`GOARCH=arm64 ` and `-gcflags=all="-N -l"`  The go compiler will report an error
runtime.spanOf: nosplit stack overflow
        792     assumed on entry to gvisor.dev/gvisor/pkg/refs.(*AtomicRefCount).DecRef<1> (nosplit)

[2022-04-09 16:28] dimuls commented on #7392
[This line](https://github.com/google/gvisor/blob/master/pkg/tcpip/transport/datagram_test.go#L16) should be
[code]

[2022-04-10 23:34] ianlewis commented on #4544
Yeah, gVisor needs the annotations to know which sandbox a container is being created in. runsc will do the right thing when the annotations aren't present and create a new sandbox, but the shim kind of assumes those annotations are set. We can probably fix this to better handle this scenario.

That said, because of https://github.com/containerd/containerd/issues/4727 the shim will ignore it's con

[2022-04-10 23:42] ianlewis commented on #4544
Right now the code in the shim strictly needs the annotation to work right. Probably we can fix this to set `p.Sandbox` to `true` when the annotations aren't set.
https://github.com/google/gvisor/blob/07a78ecb2918905af030a8cf81ee86ddd1c622c5/pkg/shim/service.go#L964

I'll try to find a bit of time this week to make the change and test.

[2022-04-11 20:30] outis151 commented on #268
This is something that also occurs when running inside unprivileged LXC containers (Kernel 5.10) , but I haven't figured out why that is yet. There shouldn't be any reason why that syscall is blocked there...

[code]
With this docker daemon.json:
[code]

[2022-04-11 23:50] ianlewis commented on #268
@outis151 I'm not totally sure that's the same problem. `runsc` needs root in order to run for a few reasons. You can try running it in an unprivileged context (e.g. as an non-root user)  using the `--rootless` flag and see if that works for you though there are some caveats like you can't use host networking and a few others I think.

[2022-04-12 10:18] ianlewis commented on #268
@outis151 yes, by root I mean a privileged root user. `--rootless` will skip using cgroups for the reason you are alluding to. While it still could be cgroup related, if you're getting the same result when using it then I'm guessing that your problem lies elsewhere.
https://github.com/google/gvisor/blob/bf86207401cab99d859b25acd4911038608f0d33/runsc/container/container.go#L1279-L1290

aside: *I wa

[2022-04-12 17:30] jseba commented on #4544
Can you provide more insight as to why containerd doesn't support runtimes properly? They have a ["first class"](https://github.com/containerd/containerd/tree/main/runtime/v2) runtime shim plugin API that is undergoing refactoring to better support runtimes that need custom API extensions and allow the shims to be managed directly from the supported containerd client APIs (not CRI).

We're beginni

[2022-04-13 05:42] #7341 closed

[2022-04-13 07:12] praganmat opened #7403 "Support for video devices"
### Description

Hi,

Can we make the docker images for ffmpeg and opencv work with RUNSC?
For example, a Container application runningwith opencv, which can read camera stream, create e. g. 40 second videos based on an event detection, and then send these multiple videos to another Backend server?

Best Regards,
Prashant

### Is this feature related to a specific bug?

Not a bug. Enhancement to s

[2022-04-13 08:08] liusdu commented on #7293
I  found  way to reproduce it.

1. compile the following code  `gcc -lpthread server.c`
[code]
2.  run a container with  sleep as init  and with network=host.
[code]
3.  exec into test-sigpipe and execute. `/tmp/a.out`

[code]

[2022-04-13 13:06] saikiran2021 commented on #7286
i am able map the device but at sentry level i am unable get the nodes for respected device.FYI i am attaching image

![Screenshot from 2022-04-13 18-33-01](https://user-images.githubusercontent.com/79690321/163186176-ad8f773f-f2e1-413a-9825-8e11cd12949a.png)

[2022-04-13 19:37] prattmic commented on #7394
cc @amscanne

FYI, gcflags `-N -l` disables most optimizations and inlining, which (unsurprisingly) tends to increase stack usage. Typically this used with debuggers to provide more precise debugging context (fewer "<optimized out>" values).

[2022-04-14 15:40] rcj4747 opened #7406 "network perf regression with RACK when shaping traffic"
### Description

We have a deployment of gvisor where traffic egress throughput is limited using iptables rules on the host that drop out-bound packets until the container has a budget for transmission.  The overall throughput in our testing dropped significantly and we have bisected this to gvisor PR #6334 (Enable RACK by default in netstack) which changed gvisor's built-in TCP stack to always en

[2022-04-14 17:48] rcj4747 commented on #7406
Here's a visualization of our iperf data before and after the change to enable RACK.  (20210720 in red, 20210726 in blue)
![image](https://user-images.githubusercontent.com/1789550/163446986-89940f10-501e-44e3-8c42-c23c30e79322.png)

[2022-04-15 19:03] jseba opened #7416 "Stuck tasks detected in watchdog running Chromium"
### Description

We're upgrading Gvisor to release-20220328.0 and are seeing a mildly consistent hang in the sentry kernel. We're running a Chromium container that has a pair of stuck tasks being caught by the watchdog. Our previous Gvisor version was release-20211026.0. We're stuck trying to upgrade until we can resolve this hang but right now we're just trying to understand the cause.

I'm havin

[2022-04-18 16:07] fvoznika commented on #7416
The watchdog report has 2 goroutines that are stuck for more than 3 mins:

[code]

The first one is waiting for the `MemoryManager.activeMu` lock. The second one holds the lock and is waiting for the vCPU to bounce:
[code]

@avagin, can you please take a look...

[2022-04-18 17:08] avagin commented on #7416
What was the previous version?

[2022-04-18 17:39] jseba commented on #7416
Previous release was release-20211026.0

[2022-04-19 01:56] #7416 closed

[2022-04-19 04:38] hbhasker commented on #7406
@rcj4747 thanks for the detailed report. I will take a look most likely we may have gotten something wrong with our RACK implementation. Would it be possible to attach a pcap of the traffic regression. It would help understand whats going on a bit better.

[2022-04-19 04:40] hbhasker commented on #7379
Thanks for the report. I will take a look at your repro and see if we can figure out what's going on.

[2022-04-19 04:42] hbhasker commented on #7403
How does your opencv application access the camera? Most likely the issue with be mapping the device and getting opencv to recognize it which might require implementing a sort of driver for it in gVisor.

[2022-04-19 10:13] praganmat commented on #7403
As far as i know, Opencv uses vrl2 - video4linux library to recognize it as a video device. I observed that video4linux package is not available in runsc enabled container applications. And the definitions of types of character devices is not available inside the container (/proc/devices file is missing.). Also system files (inside /proc/sys/dev) are also missing. Is there any way to enable these

[2022-04-19 13:17] Skyxim commented on #7394
yep, but for debugging I have to use these two numbers

[2022-04-19 15:20] sfc-gh-hyu opened #7426 "Trap syscall with SECCOMP_RET_USER_NOTIF"
### Description

I am new to gVisor and am thinking about running gVisor on aws ec2 instances. However, it looks like most of the aws ec2 instances does not support nested virtualization, which means i cannot use kvm as the platform, but have to go with ptrace as platform. I am a little worried about the performance penalty. I am wondering if it make sense to the leverage the new seccomp user noti

[2022-04-19 17:47] fvoznika commented on #7286
There are a few things at play here that is preventing this from working. First, the `--device` docker flag (`Spec.Linux.Devices` in OCI) is not supported and is currently being ignored. This is the reason you don't see the device mapped inside gVisor. Another problem is that we don't support bridging character files from the host to inside the sandbox.

As for supporting character devices, there

[2022-04-19 17:48] fvoznika commented on #7286
Duplicate of #7007

[2022-04-19 17:48] #7286 closed

[2022-04-19 18:07] avagin commented on #7416
@jseba I think I've fixed the problem. Could you verify that your problem is not reproduced with the fix?

[2022-04-19 18:07] fvoznika commented on #7007
Sorry for the radio silence here. I updated the PR with more logging so I can try to understand why this is not working. gVisor relies on `epoll(2)` to be notified when data is available. I suspect the problem is related to `epoll(2)` either not being supported or not firing as we expect for the video device. Please patch the updated changes and collect the logs with your repro.

As for the `Inapp

[2022-04-19 18:09] fvoznika commented on #7403
I believe your requirements are covered in #7007 (there is also some details in #7286). Resolving as
duplicate of #7007. Please re-open if this is different.

[2022-04-19 18:09] #7403 closed

[2022-04-19 19:39] hbhasker opened #7428 "Listen leaves port bound if registration with demuxer fails."
### Description

endpoint.listen does not free the bound port if RegisterTransportEndpoint fails. It also leaves the endpoint in StateBound (which is not really a TCP state anyway).

Linux OTOH moves the socket to a CLOSED state and also never registers a port this is because in linux there are not two entities port manager/demuxer like we do in Netstack. Ideally demuxer should not exist at all an

[2022-04-20 06:18] prashantmathapati commented on #7007
Hello Mr. Voznika,
Thanks for pointing to this thread.
I tried building and running opencv Container application with the suggested commit. Below are the observations:

Please find attached two log files for your reference, with Filter applied for "FOO" Keyword. 1st one is with the logs without running OpenCV python script in container. And the second one is with the Python Script running.
Please

[2022-04-20 16:30] rcj4747 commented on #7406
Here is a pcap ([rack.pcap.gz](https://github.com/google/gvisor/files/8523388/rack.pcap.gz)) for a 90 second iperf run and it's output ([rack.iperf.txt](https://github.com/google/gvisor/files/8523395/rack.iperf.txt))

[2022-04-20 16:32] hbhasker commented on #7406
Thanks I will take a look and see if I can figure out what's going on.

[2022-04-20 16:49] hbhasker commented on #7406
Okay I looked at the ptrace and I think there is something clearly wrong with our RACK implementation. eg. After the peer advertised a SACK block we endup retransmitting but the wrong ones w/ a long delay (mostly likely the default probe duration) in between.
eg. there are more instances later in the pcap but here's a small one (some comments inlined). But basically RACK recovery is not working as

[2022-04-20 17:04] knisbet commented on #7426
I can't speak for the authors at all, but I'm sure they've got alot to consider when it comes to looking at additional ways to intercept syscalls. That man page has lots of caveats in it that would need to be carefully considered.

But if I circle to the root of your question, do you actually know your application performs poorly, or is tightly coupled with syscall performance? There are plenty of

[2022-04-20 17:04] rcj4747 commented on #7406
Would it make sense to add a network iperf test that has iptables rules similar to those in the issue description to ensure you can recreate the issue, verify changes, and catch regressions?

[2022-04-20 17:17] hbhasker commented on #7406
Actually let me ask for one more thing. Its possible that Netstack is behaving mostly as expected. Since if the ipfilter rules were being applied after the pcap then some of those inbound packets might have been dropped before they hit netstack. Could you use tcpdump w/ libpcap1.9 or below inside gvisor to get a pcap so that we can get a view of what exact packets gVisor is seeing.

As for adding

[2022-04-20 17:28] avagin commented on #7426
The poor performance of the ptrace platform is mostly due to overhead of context switching between sentry and stub processes. SECCOMP_RET_USER_NOTIFY has the same problem. I have the draft patch https://github.com/avagin/linux-task-diag/commit/880f5bd298016df56b280a99b4a03e380080453f that solve this issue for SECCOMP_NOTIFY.

[2022-04-20 18:15] sfc-gh-hyu commented on #7426
@avagin Once your patch is merged into linux upstream, will you consider implementing a platform using SECCOMP_NOTIFY or do you have other concern as well? I certainly have not benchmarked the overhead of the ptrace and have no insight with this. So it could be totally completely non-sense to implement a new platform using SECCOMP_NOTIFY.

@knisbet Thanks for your advice. I have to admit that I di

[2022-04-20 18:19] rcj4747 commented on #7406
I'll need to figure out permissions.  I have `libpcap-1.9.1-r2` and `tcpdump-4.9.3-r2` installed but I can't run tcpdump as root on any interfaces:
[code]

[2022-04-20 18:24] hbhasker commented on #7406
You also need to pass -p to disable promiscuous mode as we don't support that in gvisor.

[2022-04-20 20:14] rcj4747 commented on #7406
[rack-port-5201.pcap.gz](https://github.com/google/gvisor/files/8525061/rack-port-5201.pcap.gz) was created from inside the container as requested.

[2022-04-20 21:25] jseba commented on #7416
I’ve updated the release in our testing environment, will monitor for a few days and follow up if it looks like it’s fixed. Thanks for the quick turnaround!

[2022-04-21 07:02] oss-fuzz-robot opened #7438 "OSS-Fuzz issue 38891"
OSS-Fuzz has found a bug in this project. Please see https://oss-fuzz.com/testcase?key=4670945671905280 for details and reproducers.

This issue is mirrored from https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38891 and will auto-close if the status changes there.

If you have trouble accessing this report, please file an issue at https://github.com/google/oss-fuzz/issues/new.

[2022-04-21 07:02] oss-fuzz-robot opened #7439 "OSS-Fuzz issue 45414"
OSS-Fuzz has found a bug in this project. Please see https://oss-fuzz.com/testcase?key=5373656300126208 for details and reproducers.

This issue is mirrored from https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45414 and will auto-close if the status changes there.

If you have trouble accessing this report, please file an issue at https://github.com/google/oss-fuzz/issues/new.

[2022-04-21 07:03] oss-fuzz-robot opened #7440 "OSS-Fuzz issue 38904"
OSS-Fuzz has found a bug in this project. Please see https://oss-fuzz.com/testcase?key=5801445438390272 for details and reproducers.

This issue is mirrored from https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38904 and will auto-close if the status changes there.

If you have trouble accessing this report, please file an issue at https://github.com/google/oss-fuzz/issues/new.

[2022-04-21 15:52] fvoznika commented on #7007
Thanks for the quick reply with logs. In your particular case, the main problem is lack of support for the `--device` docker flag (or `Spec.Linux.Devices` from OCI) in gVisor. Without that, volumes that are mounted inside the container do not expose their underlying device number (.e.g opencv is looking for a device with `major number=81 (video4linux)` as you mentioned). If someone is willing to g

[2022-04-21 16:13] jeyaprabhuj-tts commented on #7007
@fvoznika We have already merged code from runc in gvisor local archive for mounting device in Gofer as device .
Also correct FD is passed to sentry .

Mounted device path is then added to mount file which is read by sentry and shown as charector device .

ls -al /dev
Device is shown as character device but major and minor version is 0 0  and also ioctl ends up in pkg\sentry\vfs\file_description_i

[2022-04-21 16:24] hbhasker commented on #7007
@jeyaprabhuj-tts Could you create a PR with your code it will make it easier for us to provide feedback. Reg 2) We would not recommend that as that weakens the sentry security boundary significantly. A compromised sentry will be able to make any syscalls to the host and would expose your host if the sentry for example had a privilege escalation bug that allowed arbitrary code execution in the sent

[2022-04-21 18:15] prashantmathapati commented on #7007
Hello Mr. Voznika (@fvoznika),

Thanks for the reply. I would very much like to contribute for enabling the --device option. If you please point me in right direction, I can try to implement the required changes, do the testing, and submit for your review.
When I analyzed runc code, specifically for device mapping, I could trace it down to following os level function calls.

dest = rootfs + device

[2022-04-21 22:04] #7428 closed

[2022-04-21 23:36] hbhasker commented on #7406
Thanks for the pcap. I wonder if you see the same behaviour when you use runc to run the container. The throughput graph seems to match your limit before it craters to zero for a few seconds before spiking again. It probably works better without SACK because NewReno is more aggressive and does faster recovery.  Could you run your workload with the same hashlimits but with runc instead of runsc and

[2022-04-22 17:11] fvoznika commented on #7007
@jeyaprabhuj-tts, @prashantmathapati,

Thanks for looking into this. Since @jeyaprabhuj-tts already has some of the work done to support this, it would be nice to share the code you have so far. In terms of what needs to happen, let me first describe quickly how runsc configures the sandbox/containers. There are 3 different places where configuration happens:

1. **runsc command**: this is done di

[2022-04-22 18:47] rcj4747 commented on #7406
Running with runc does not recreate the condition we see here.  With runc the network throughput is a steady ~195Mb/s.  Testing runc is something I did before filing this issue but  I failed to give a full rundown of my efforts.  Here are some of my other notes:

* Minimized other factors: Altered the test environment to ensure dedicated CPUs were used for the iperf server and the iperf client, th

[2022-04-22 19:22] hbhasker commented on #7406
Thanks for confirming. I will work with Nayana to see what is going haywire with our RACK implementation. I will keep you posted once we find something.

[2022-04-22 21:52] sfc-gh-hyu opened #7449 "Rootless podman does not work with runsc"
### Description

I am trying to use [podman](https://github.com/containers/podman) to start runsc but failed. Here is the error I got with using either systemd or cgroupfs as the cgroup manager.
[code]
Running podman with `sudo` is fine.

I saw the there is an existing issue https://github.com/google/gvisor/issues/311, which is not closed, but with slightly different error.

### Is this feature re

[2022-04-23 01:26] invliD opened #7450 "apt-get in newer ubuntu versions segfaults"
### Description

This is very similar to #7341. I originally believed bash and apt-get crashing on startup had the same underlying cause, but I was wrong. #7389 fixed the issue with bash, but apt-get still crashes.

Just like #7341, this appears to only happen with AMD Ryzen CPUs (works fine on Intel), and only with the kvm platform (ptrace works fine).

### Steps to reproduce

Start a ubuntu:jamm

[2022-04-25 21:14] fvoznika commented on #158
.Net debugger requires `process_vm_readv` to work. @impl, it would be great if you could share a repro case with us to make sure that .Net debugger works correctly once we implement `process_vm_readv`.

[2022-04-25 21:15] impl commented on #158
Hi @fvoznika, I actually found that this was an error in their implementation (at least for `createdump` -- I think more substantial debugging with e.g. `lldb` requires a lot more work). I opened a PR at https://github.com/dotnet/runtime/pull/67544 to fix it.

[2022-04-26 02:40] jeyaprabhuj-tts commented on #7007
@fvoznika @hbhasker
`_Add code to the Gofer to setup the proper devices inside the container's root. Likely the code that @prashantmathapati posted above. This code here needs to be extremely carefully when handling user-controller paths to ensure it's not giving access to paths outside the container's root. It should also check that the device is epoll-able which is required to use within gVisor.

[2022-04-26 04:29] avagin commented on #7450
7:  c5 fd e7 a7 00 10 00    vmovntdq YMMWORD PTR [rdi+0x1000],ymm4
e:  00
f:  c5 fd e7 af 20 10 00    vmovntdq YMMWORD PTR [rdi+0x1020],ymm5
16: 00
17: c5 fd e7 b7 40 10 00    vmovntdq YMMWORD PTR [rdi+0x1040],ymm6
1e: 00
1f: c5 fd e7 bf 60 10 00    vmovntdq YMMWORD PTR [rdi+0x1060],ymm7
26: 00
27: c5 7d e7 87 00 20 00    vmovntdq YMMWORD PTR [rdi+0x2000],ymm8
2e: 00
2f: c5 7d e7 8f 20 20 00    vm

[2022-04-26 07:30] avagin commented on #7450
@invliD could you try to reproduce this issue with the following patch?

[code]

[2022-04-27 02:56] invliD commented on #7450
That patch doesn't appear to change anything for apt-get, except I'm back to even bash segfaulting (see #7341).

Here's a log of a run of `sh` using ubuntu:jammy, exec'ing into the container with another
`sh`, and running `bash` and then `apt-get`, both crashing:
[runsc.log.20220426-195323.478653.boot.log](https://github.com/google/gvisor/files/8568353/runsc.log.20220426-195323.478653.boot.log)

[2022-04-27 04:06] ayushr2 commented on #2536
tmpfs size limit should now be supported. Relevant commits:
- https://github.com/google/gvisor/commit/5b538f75e447d934ac81a1bfc167306ef8f55814
- https://github.com/google/gvisor/commit/7bc837137cff470e384d8d4e879990c5661879ba
- https://github.com/google/gvisor/commit/49ae54c01067e77f1b1cd80e65358bf12a526456
- https://github.com/google/gvisor/commit/ce91143bdc77ccdebf7aaae9ee8eb4843aa5f880

Thanks

[2022-04-27 04:06] #2536 closed

[2022-04-27 23:05] hbhasker commented on #7293
@nixprime probably has better suggestions on signal handling.  Though unclear on why sentry is sending the signal to the sleep rather than then binary that is doing the write. Let me look at the signal handling and get back to you.

[2022-04-28 01:18] avagin commented on #7450
This is really strange... On my amd hosts, it works. I was able to reproduce #7341, but I can't reproduce this issue.

I found that new glibc-s use more cpuid extended functions. Could you try out https://github.com/avagin/gvisor/commit/e35c8d9a394482b632d59499550ec6515fd37dfb? If the issue is still reproduced with this fix, I will need logs.

runsc will be in the bin/ directory. make builds runsc

[2022-04-28 08:32] crappycrypto commented on #7327
@amscanne  could you take a look at this? I can’t really test this myself, therefore it’s hard to make a good pull request.

I hope I’ve tagged the right person, I tagged you because of commit 711770642a96af6525c059dca4f7269d946a5fb4

[2022-04-28 16:15] pkit opened #7469 "Netfilter config is not handled on runsc boot, reopen of: "DNS not working in Docker Compose""
### Description

See #115
Which was closed pretty prematurely.

The problem is that docker-compose uses a special netfilter config that remaps `127.0.0.11` in a pretty funny way.
I.e.:
[code]
That's why udp to `127.0.0.11:53` doesn't work.
Which brings us to the bug itself: if gvisor already copies `lo` routes and `arp` config, why shouldn't it do the same for `netfilter` stuff?
I think it should,

[2022-04-28 17:54] pkit commented on #7469
And yes, it works if correct port is used:
[code]
From above UDP is remapped: `127.0.0.11:53`->`127.0.0.11:49200`
[code]

[2022-04-28 21:32] avagin commented on #7450
runsc can be downloaded from here: https://github.com/avagin/gvisor/suites/6305321920/artifacts/226140962

It was built by this action: https://github.com/avagin/gvisor/runs/6218713788?check_suite_focus=true

[2022-04-28 21:33] nhurley3 opened #7472 "Incorrect address added to IP options"
### Description

The record route and timestamp options sometimes require that an address be inserted. The relevant RFCs state that the address of the output interface should be used:

- https://datatracker.ietf.org/doc/html/rfc1812#section-4.2.2.2
- https://datatracker.ietf.org/doc/html/rfc1812#section-5.2.1
- https://datatracker.ietf.org/doc/html/rfc791#section-3.1

Currently, the input interfac

[2022-04-28 21:35] nhurley3 opened #7473 "Support PacketBuffer cloning for forwarding"
### Description

Currently, a deep copy of the packet is made when forwarding [1]. For multicast, this means that a deep copy will be made for each output interface. To make this more efficient, the packet could instead just be cloned. When cloning, the reserved header bytes needs to be able to be specified though.

[1] https://github.com/google/gvisor/blob/47b5915a7b31922d83473156f4679a8891ee98e6

[2022-04-28 21:50] hbhasker commented on #7379
I am investigating, I am able to reproduce the issue. I will post an update once I understand what's going on here.

[2022-04-29 00:44] hbhasker commented on #7379
Okay I think I understand the issue. The issue is the Listen Backlog which gonet defaults to 10 which is really small for a server that is getting bursts of 100 connections. A lot of them take forever to complete as they burst repeatedly w/ a deterministic backoff resulting in repeated drops of packets when the accept queue is full.

https://github.com/google/gvisor/blob/108410638aa8480e82933870ba

[2022-04-29 04:16] hbhasker commented on #7392
I will send a pr tomorrow to fix this. Apologies for the trouble.

[2022-04-29 16:26] rcj4747 commented on #7327
@prattmic would you be able to direct this to the right owner?  We don't have a fix yet for the RACK networking issue (#7406) but when we do we'd like to see latest moving forward and be able to download by release version like https://storage.googleapis.com/gvisor/releases/release/20220425/x86_64/runsc (which should exist now but nothing after 20220228 does).

[2022-04-29 16:27] fvoznika commented on #7007
Not clear or knowledgable about how to configure as eppollable

`epoll` support is required so that the device works with [`fdnotifier.Notifier`](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/fdnotifier/fdnotifier.go;l=70;drc=16a6afe48fa06a173accc2caac15f3f1a5a3ea3c). [Here](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/syscalls/linux/vfs2/read_write.go;l=106;drc=9768009

[2022-04-29 19:46] amscanne commented on #7327
🤦 I will fix this and backfill all the tags.

[2022-04-29 19:53] amscanne commented on #7327
It needs to be set in the agent environment, so it I will backfill the builds once the updated agents come up. Thanks for pointing this out and sorry that I missed it. I will close once I've verified that the tags are published as expected.

[2022-04-29 22:42] metala commented on #5635
Can we reopen it?

[code]

[2022-04-29 22:49] amscanne commented on #7327
The releases should now be backfilled (I've verified the links here). Thanks for pointing this out, and I hope it didn't cause much trouble. Your assessment was very helpful in knowing exactly what was happening (it probably would have been a lot of frustration and cursing to figure out what the heck is going on).

Just to provide some extra context: with that commit (and a few others), I had "fin

[2022-04-29 22:49] #7327 closed

[2022-04-29 23:20] amscanne commented on #5635
Shoot, I did a backfill today for #7327, let me see what could have happened here.

[2022-04-30 00:40] #7379 closed

[2022-04-30 00:42] #7392 closed

[2022-04-30 07:26] invliD commented on #7450
With your new patch bash no longer crashes, but apt-get still does. Here's the log of a run of ubuntu:jammy with `sh`, exec'ing another sh, running bash (works) and then apt-get from there. Segfault.
[runsc.log.20220430-002317.594408.boot.txt](https://github.com/google/gvisor/files/8596340/runsc.log.20220430-002317.594408.boot.txt)

[2022-04-30 16:47] amscanne commented on #5635
I think there may have been a race in the backfill, and things seem to be working as expected for me now. Can you confirm whether this is the case for you?

[2022-04-30 17:30] avagin commented on #7450
@invliD could you show /proc/cpuinfo from the host and a container?

[2022-05-01 00:27] invliD commented on #7450
Here's the first of 32 cores from as seen by the host:
[code]

and from a runsc container (with your last patch):
[code]

[2022-05-01 02:51] knisbet commented on #7168
@jeyaprabhuj-tts you should be able to create the firewall rules on the bridge interface, that use a source or destination of the container IP as part of the rule. I doubt you need 5 separate bridges to create a rule structure that you need.

[2022-05-01 11:09] tankaras commented on #5635
Reopen. Am facing issue

[code]

[2022-05-01 15:55] metala commented on #5635
Not really.
[code]

[2022-05-02 03:49] ghjm commented on #7379
This solved my problem.  Thanks for your help!

[2022-05-02 14:33] kostakhv opened #7490 "runsc apt upgrade failure due to hash mismatch"
### Description

Upgrading to release `20220425.0` fails due to hash mismatch,

[code]

### Steps to reproduce

_No response_

### runsc version

[code]

### docker version (if using docker)

_No response_

### uname

`Linux devbox 5.4.0-109-generic #123-Ubuntu SMP Fri Apr 8 09:10:54 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

### kubectl (if using Kubernetes)

_No response_

### repo state (if buil

[2022-05-02 16:55] bduffany commented on #5635
This is reproducible on debian 11:

[code]

[2022-05-02 17:02] amscanne commented on #5635
Thanks, the repro is helpful here. I'm not sure why it's working for me. I'm trying to understand what exactly is going wrong but hope to have it fixed soon.

[2022-05-02 18:30] amscanne commented on #5635
I think I've found and fixed the issue. I've fixed the "release" distribution, but there may be a warning until the next release is published.

[2022-05-02 18:59] hbhasker commented on #7406
@rcj4747 Nayana and me spent sometime trying to repro this but I have been unable to repro the drop in throughput. I tried a few variations including an internal benchmarking tool we have but I am not seeing the same behaviour as seen by you.

Is it possible to setup a test environment to which you can provide access to me/nybidari@ where we can debug and figure out what's going on?

I tried with

[2022-05-02 19:37] #5635 closed

[2022-05-02 19:37] zeling opened #7493 "Clean up the lifetime of TCP keepalive timer"
### Description

Currently the keepalive timer is created once an endpoint is created but in disabled state. We can defer creating it until TCP reaches established state.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-05-02 20:07] metala commented on #5635
@amscanne Thanks, all good now.

[code]

[2022-05-02 20:26] hbhasker commented on #7469
@pkit I am not sure from your description as to what is not working with gVisor. Can you provide a concise explanation of what you expect to work and what is not working?

I am not averse to picking up netfilter settings at startup but our iptables implementation is not as complete as linux and picking up netfilter rules entails a bit of risk.

@kevinGC should have a better answer for you.

[2022-05-02 20:33] pkit commented on #7469
@hbhasker
DNS access to `127.0.0.11` is not working over port 53, because it's expected to be redirected to other ports by `iptables` rules and there are none copied over.

It also means that there is a little bit of security risk in current implementation, for example in case where startup rules `deny` some access, but gvisor rewrites it all to `accept` unconditionally...

I have started implemen

[2022-05-02 20:39] pkit commented on #7469
FYI, the place in moby/docker where that resolver is set up: [here](https://github.com/moby/moby/blob/311ec0d77fc3c19b75cf2290da45cf261144482f/libnetwork/resolver_unix.go#L30)

[2022-05-02 20:51] hbhasker commented on #7469
@pkit Thanks for the clarification, looking at the rules I think those will work with gvisor. Please add @kevinGC @ghanan94 as reviewers once you have a PR ready.

[2022-05-02 20:54] hbhasker commented on #7228
I will take a look at this one.

[2022-05-02 21:22] hbhasker commented on #6972
So you have to be careful with this returning errors for some of these can cause applications on gvisor to misbehave where an unsupported option in gvisor may never be expected to return an error in linux. Just something to keep in mind when changing these.

[2022-05-02 21:24] hbhasker commented on #6910
I believe this is done? Is there something else left to do here?

[2022-05-02 21:26] hbhasker commented on #6736
@kevinGC is there anything else left to do here?

[2022-05-02 23:44] avagin commented on #7450
1. Could you try to update your ubuntu image?
In the log, apt-get reports 2.4.1.

The current version is 2.4.5:
[code]
2. I added more debug in runsc. The binary is here: https://github.com/avagin/gvisor/actions/runs/2260779574. Could you install it and show output of "/lib64/ld-linux-x86-64.so.2 --list-diagnostics" from a native container and a gvisor container. And I will need runsc logs.

[2022-05-03 01:10] fvoznika commented on #7449
`runsc` requires root to work. There is a `--rootless` flag, but it only works for `runsc do`. There are more details on the reasoning in #311. There needs to be some dedicated work done to properly support rootless in `runsc`.

[2022-05-03 01:10] fvoznika commented on #7449
Duplicate of #311

[2022-05-03 16:24] #6603 closed

[2022-05-04 01:08] colinking opened #7504 "Cannot delete a deleted container/process: not found"
### Description

We have run into an issue where `containerd` gets stuck in a loop while attempting to delete a gVisor container.

This issue occurs when a container exits. We see logs showing `containerd` failed to handle the `TaskExit` event:

[code]

This initial error stems from an (unrelated) transient networking issue. However, gVisor has still received this request and deleted the container

[2022-05-04 13:29] WillemDendauw opened #7506 "Not able to disable caching during fio I/O test"
### Description

I'm benchmarking gVisor and ran into confusing results when benchmarking its IO performance using fio. When running native or with runc, the latency is in the order of 6000ns, while gVisor achieves an average latency of around 100ns. The same goes for bandwidth, with a block size of 128Kb and an iodepth of 32, native and runc achieve around 360MiB/s while gVisor manages 2500MiB/s.

[2022-05-04 15:09] rcj4747 commented on #7406
@hbhasker Thank you for trying to reproduce this.  I will see if I can recreate in an accessible environment and provide access.

[2022-05-05 00:46] dseomn opened #7511 "W: Conflicting distribution: https://storage.googleapis.com/gvisor/releases release InRelease (expected release but got )"
### Description

With this in my apt sources.list:
[code]

I get this message from `apt update`:
[code]

https://github.com/google/gvisor/issues/5530#issuecomment-786973444 mentions changing `release` to `./release` to fix the problem, but https://gvisor.dev/docs/user_guide/install/#install-from-an-apt-repository still says `release`.

### Steps to reproduce

_No response_

### runsc version

_No

[2022-05-05 07:33] crappycrypto commented on #7327
@amscanne I don't think the changes worked as intended. A new release has been tagged `release-20220502.1` but there is no new binary at https://storage.googleapis.com/gvisor/releases/release/latest/x86_64/runsc I can't see the buildkite logs anymore for the specific commit, so I can't really see why it didn't happen.

After some googling, the only issue I can find related to this behaviour is tha

[2022-05-05 09:00] WillemDendauw commented on #3626
Any update on this issue? I'm looking to benchmark gVisor to other runtimes, but I keep running into O_DIRECT flag issue. Other studies seem to be able to pypass this issue, but I cannot figure how they did it.

[2022-05-05 19:27] fffe opened #7517 "Debian package always overwrites Docker daemon.json"
### Description

The Debian package for gvisor has a post-install script. This script checks for the existence of /etc/docker/daemon.json and, if found, runs `runsc install` which overwrites daemon.json with a basic file adding runsc but without any options.

I’m not sure if the test should be inverted (create daemon.json only if it doesn’t exist), the behaviour of `runsc install` improved to modi

[2022-05-05 20:28] fffe commented on #7517
Unfortunately that answer isn’t satisfactory.

One problem is that it triggers on a package upgrade, not just install… realistically I may forget to run the above command after, but the update may also be performed by an automated process I can’t easily trigger other commands after.

The other is that I have other runtimes configured that aren’t runsc.

Effectively, to accommodate new users for wh

[2022-05-05 20:57] zkoopmans commented on #7517
@fffe: Huh, I thought I ran that case.

The offending lines are here: https://github.com/google/gvisor/blob/86b29f5074897f075f5d2b49c16c6685304ca324/runsc/cmd/install.go#L109

I think the default behavior should probably be that, if given no arguments and an existing runtime of that name, we don't overwrite. Feel free to submit a PR or I can see if I can get to it soon. That *is* annoying.

[2022-05-06 01:31] richardstephens opened #7523 "DNS resolution does not work on non-default docker networks."
### Description

When starting a container with runsc and a non-default `--network`, the container cannot resolve DNS, either to other containers or the internet.

The gVisor docs suggest use of `--link` however the docker docs suggest this is deprecated and to set up custom networks instead.

### Steps to reproduce

1. create a new network

[code]

2. create postgres container
[code]

3. create d

[2022-05-06 13:11] hbhasker commented on #7523
Most likely this is a dupe of https://github.com/google/gvisor/issues/7523. But I will update after I run the instructions and look at the ipfilter rules.

[2022-05-06 17:44] hbhasker commented on #7523
Okay confirmed. This is a dupe of #7469 . Closing as duplicate.

[2022-05-06 17:45] hbhasker commented on #7523
Duplicate

[2022-05-06 17:45] #7523 closed

[2022-05-06 20:38] fvoznika commented on #7504
I'm not sure how nested Go errors are passed across gRPC, but my guess is that the wrapping gets lost in translation. We could try to massage the error to make containerd happy, or we could not error out in this case. Do you have a way to repro this problem?

[2022-05-08 22:35] yolken-airplane commented on #7504
@fvoznika thanks for taking a look! My sense is that the easiest approach here (and the one that changes the API behavior the least) is to just replace the error in  [deleted_state.go](https://github.com/google/gvisor/blob/13cc10bc0b094a5885b67ba93cb565f88595c189/pkg/shim/proc/deleted_state.go#L39) with a `utils.ErrToGRPCf(errdefs.ErrNotFound, ...)`. It looks like a bunch of other errors were conv

[2022-05-09 13:33] hbhasker commented on #7469
btw I was thinking about this and not sure copying in the rules will work. Since if docker is redirecting it a loopback address like 127.0.0.11 that rule will direct it to the sentry's internal loopback. But dockerd does not listen on the sentry's internal loopback but the host's container namespaces loopback.

[2022-05-09 14:10] hbhasker commented on #7469
You tested by entering the host container namespace that dig is not running inside gvisor. For that you will have to use docker exec to enter gvisor and run the command.

[2022-05-09 14:12] pkit commented on #7469
Yup, did that too IIRC. But will re-check.

[2022-05-09 19:48] #6910 closed

[2022-05-09 23:06] avagin commented on #311
yeah, rootless here is not the same rootless that we think about. podman creates a user namespace, sets user and group mappings, and executes gvisor there under the root user with all capabilities.

The idea with LockOSThread is good, but we fork gofer and sandbox processes with pdeathsig and it means that they die when their parent thread exits. We can block the current system thread if one of na

[2022-05-10 10:07] giuseppe commented on #311
Should the thread be locked in any case?  I had to troubleshoot a similar error in the past: https://github.com/containers/storage/pull/530

It turned out that the Go runtime can terminate threads at its will without any way of controlling it from the application (at least I didn't find it).

[2022-05-10 22:11] avagin commented on #311
I have never seen that goruntime destroys system threads, except a case when goroutine locked to a system thread exits.

[2022-05-10 22:19] avagin commented on #6757
All kvm tests pass on buildkite: https://buildkite.com/gvisor/pipeline/builds/14008

[2022-05-10 22:19] #6757 closed

[2022-05-11 00:09] #7504 closed

[2022-05-11 06:05] crappycrypto opened #7545 "Release builds not updated since 20220425"
### Description

See issue https://github.com/google/gvisor/issues/7327

Release builds are still not updated automatically. A tag with 20220502 was made, but no releases where pushed to
- https://storage.googleapis.com/gvisor/releases/release/latest/x86_64/runsc
- The debian repository

### Steps to reproduce

[code]

[2022-05-11 11:38] pkit commented on #7469
@hbhasker yup, you were right, it doesn't route to 127.0.0.11 from gvisor.
Will think about it.

[2022-05-12 09:26] pkit commented on #7469
@hbhasker still not having iptables set up during boot is a security problem. Traffic may be restricted in vanilla docker/containerd but will be unrestricted under gvisor.

[2022-05-12 12:43] hbhasker commented on #7469
In general we do not trust the sentry so any enforcement in the sentry is safe from potential compromise.

E.g a privilege escalation bug in gvisor could allow a user to delete any such network enforcement via iptable.

As such we expect that all such enforcement should happen outside the container on the host.

[2022-05-12 12:50] hbhasker commented on #7469
As for this specific problem maybe the right solution for gvisor would be to generate a resolv.conf pointing to the proper IP/ port for DNS.

[2022-05-12 22:41] ianlewis commented on #1270
@mauriciogg  @kevinGC has been looking at it and has done the work to get us closer to full Mac support so he's the one to ask.

[2022-05-13 21:52] yolken-airplane commented on #7504
@fvoznika thanks for making that fix. I was wondering- why did you get rid of the code in `pkg/shim/utils/errors.go`? Because gvisor is still pinned to containerd v1.3.9, the `errdefs.ToGRPC` function being called uses `errors.Cause` instead of `errors.Is`, and so I think the utility code actually helped avoid some translation problems.

Here's some code I used to test:

[code]

The outputs are:

[2022-05-13 23:51] fvoznika commented on #7504
We have changed gVisor to use containerd 1.4 internally a while back. I started the change to update it externally too, but got distracted with other stuff. I'll push a change to update it. Thanks for checking!

[2022-05-13 23:59] fvoznika commented on #7504
If you patch #7574, you should see the following with your test:

[code]

[2022-05-13 23:59] yolken-airplane commented on #7504
@fvoznika ahh, makes sense now. Thanks!

[2022-05-14 00:06] steren opened #7575 "Container Sandbox: Unsupported syscall UNKNOWN[439/0x1b7](0xffffffffffffff9c,0x3e080c92c500,0x1,0x200,0x200,0x3e080c92c500)."
### Description

In Cloud Run first generation execution environment, which uses gVisor, I get this debug log:

`Container Sandbox: Unsupported syscall UNKNOWN[439/0x1b7](0xffffffffffffff9c,0x3e080c92c500,0x1,0x200,0x200,0x3e080c92c500).`

I am running [this code](https://github.com/steren/litestream-cloud-run-example)

### Steps to reproduce

_No response_

### runsc version

_No response_

### d

[2022-05-14 17:47] codefromthecrypt commented on #5811
Hi, there. I am curious if it is a strict requirement to use wasmtime-go? If not, you might consider wazero, which is the only WebAssembly runtime written in Go (even has JIT support). It would be cool to continue this work without the CGO roadblock, and maybe this helps https://wazero.io/

Disclaimer, I'm an active dev on wazero, though that may be helpful if you are interested in proceeding as y

[2022-05-16 15:59] amscanne commented on #7545
I suspect that the BuildKite release pipeline is filtering these tags. I'm rerunning those commits and updating the filter settings. Hopefully this fixes the issue.

[2022-05-16 18:15] kevinGC commented on #7575
gVisor probably won't want to silence this. Some things we do silence, e.g. https://github.com/google/gvisor/commit/007a91a911084e46efffc4e2531ff8dee5cf1917. That commit can safely be silenced because use of `SO_RCVLOWAT` doesn't affect correctness.

But it's possible for some app or library to be written without a fallback. In those cases, we don't want to silence the warning.

[2022-05-16 18:20] amscanne commented on #7575
It seems that faccessat2 is pretty easily implementable. Can we just knock that out? It is only faccess with the ability to specify whether symlinks should be followed and whether effective UID/GIDs should be used. See also:
https://cs.opensource.google/gvisor/gvisor/+/master:pkg/sentry/syscalls/linux/sys_file.go;drc=5c95e1d39c19a9783a919783cbf65534d30437d6;l=575
https://cs.opensource.google/gviso

[2022-05-16 18:22] amscanne commented on #7545
I backfilled the releases, hopefully the filter will allow future releases to be built. I'll check and close when that happens.

[2022-05-16 19:25] nlacasse commented on #7575
`faccessat2` is already implemented in VFS2:
https://github.com/google/gvisor/blob/master/pkg/sentry/syscalls/linux/vfs2/vfs2.go#L166

VFS2 is enabled by default in almost all environments, but is still rolling out to Cloud Run.  Hopefully that rollout will finish soon.

[2022-05-16 19:29] kevinGC commented on #6736
Yeah, I think this is unresolved. Started, then forgotten during leave. Will pick it back up.

[2022-05-16 19:34] skepticfx opened #7583 "runsc-gofer doesn't honor --traceback flag"
### Description

The config flag, `-traceback` allows setting the traceback level for gVisor's go runtimes. However, this doesn't work for the gofer process.

### Steps to reproduce

1.  Set the runsc flag `--traceback=crash`
2. Send `SIGABRT` to a running a `runsc-gofer` PID.
3. No coredumps were seen.

But the above produces a coredump if we SIGABRT on a running `runsc-sandbox` PID.

### runsc v

[2022-05-18 02:36] tanjianfeng commented on #5811
@codefromthecrypt Unfortunately, @lubinszARM is not on this position anymore, not sure if he's still interested in this topic.

Personally, I'm still not sure why people use wasm out of browsers. I may fail to catch the essence of this potential, "a common assembly language for the client, servers, IoT devices and more".

[2022-05-18 02:55] codefromthecrypt commented on #5811
@tanjianfeng thanks for the note. For what you are mentioning, I think main gain for go folks is having a statically compiled binary and also being able to load extensions (without CGO). I can't speak to effectiveness of FaaS etc like krustlet, but there are some arguably effective integrations (like in envoy wasm instead of lua or in some DBs wasm as a UDF). this is semi-on topic as it speaks to

[2022-05-18 04:21] tanjianfeng commented on #5811
Many thanks for the information. If I understand it correctly, it's similar to what eBPF means to linux kernel. The body softwares are willing to add extensions/UDFs in a flexible way but protect any possible bad effects along with.

Some of my colleagues want to add extensions into [mosn](https://github.com/mosn/mosn); I will recommend wazero to them.

Further, as we introduced a C language modul

[2022-05-18 17:40] #6232 closed

[2022-05-18 18:52] codefromthecrypt commented on #5811
Thanks. I think [others had been interested in this also](https://github.com/mosn/proxy-wasm-go-host/issues/15). OTOH, now is a better time to action things as we'll have a beta api cut soon.

There are so many things about CGO it almost needs a book. Overhead is one of them. We have [benchmarks](https://github.com/tetratelabs/wazero/tree/main/internal/integration_test/vs) that rank operations in

[2022-05-18 19:16] #7517 closed

[2022-05-18 22:24] #97 closed

[2022-05-18 23:04] jseba opened #7600 "Invalid syscall (SIGSYS) when calling KVM_SET_REGS"
### Description

We've started seeing sporadic crashes for an invalid syscall (SIGSYS) with an associated OOM kill immediately prior. The backtrace in the coredump doesn't mean a lot to me, other than the faulting syscall is KVM_SET_REGS and there's a curious lack of stack frame information at the top of the stack:
[code]

I don't really have much more information because I don't really know what

[2022-05-20 01:00] fffe opened #7613 "lisafs not releasing disk space on deletion"
### Description

When using lisafs gvisor does not seem to release disk space when a file is deleted, until the container is destroyed.

I spun up a docker container under gvisor, with a volume mounted from the host system. I created a large file (~2.5GB) in the mount path, and then deleted it. When using `--lisafs`, running du on the directory shows that the directory is empty, but df on the moun

[2022-05-20 19:33] hbhasker opened #7617 "TCP timers should be stopped when entering TIME-WAIT"
### Description

When entering TIME-WAIT we should stop all timers and only have the timeWait timer running. After the refactor to remove the endpoint goroutines this manifests in sometimes a random ACK being sent after a full shutdown because the keepalive timer may still be running and if the keep alive time was set to less than 2MSL its totally possible for it to fire during TIME-WAIT. It doesn

[2022-05-20 19:36] hbhasker opened #7618 "TCP CurrentConnected metric is incorrectly decremented twice"
### Description

CurrentConnected metric is decremented when a connection is RST or a shutdown (in resetConnectionLocked/transitionToStateCloseLocked. But in the TCP processor we end up decrementing it again which can lead to CurrentConnected metric to underflow resulting in a really large 64 bit unsigned value.

See: https://github.com/google/gvisor/blob/ad8960f60401953f9d57809bc3add378487bf039/p

[2022-05-20 19:40] hbhasker opened #7619 "Netstack should retransmit a SYN immediately after a challenge ACK from peer."
### Description

Linux always retransmits the SYN immediately when a peer sends a challenge
ACK. This makes sense since the peer by issuing a challenge ACK is letting us
know of a TIME-WAIT socket on its end. Sending a RST will clear the state and
retransmitting the SYN shortly thereafter will complete the connection. There is
no reason to wait for a full 1s initial timeout in this case as the ori

[2022-05-20 20:07] ayushr2 commented on #7613
Thank you @fffe for all the details and the reproducer.

I believe this is happening because LISAFS gofer client (in the sentry) does batch closing. When an FD is closed or a file is destroyed, lisafs client decides to batch [100 Close RPCs](https://cs.opensource.google/gvisor/gvisor/+/master:pkg/lisafs/client.go;l=30-34;drc=f6ed4523dceb2f90b4894b1f696a474da0a5341f) together. Close RPC is the most

[2022-05-20 20:25] fffe commented on #7613
I think it's disk space, not memory.

It would be nice if either the threshold or an on/off switch for batch closing were configurable. For this particular workload, effectively every operation is going to be over any threshold you're likely to pick.

It would also be nice if, when/before lisafs becomes the default, the batch closing was covered in the gvisor documentation, somewhere (well, somewh

[2022-05-22 19:35] SunRed commented on #7545
The same problem is occurring again with tag 20220516.0.

[2022-05-23 15:52] fvoznika commented on #7613
@ayushr2, lisafs should also release batched FDs on a timer to avoid holding files open indefinitely.

[2022-05-24 23:11] #7613 closed

[2022-05-24 23:29] ayushr2 commented on #7613
@fvoznika yeah I agree, we should eventually move to something like that. There might be some increased CPU overhead of maintaining another goroutine which checks the queue in intervals.

[2022-05-25 22:21] johnf1004 commented on #1739
Did anyone ever figure out how to suppress these warning messages?

[2022-05-26 04:19] petehannam commented on #1739
@johnf1004 use the gen2 execution environment: https://cloud.google.com/run/docs/about-execution-environments

[2022-05-26 14:03] mayankchouhan1089 commented on #7275
Hi @Aadmaa what was the issue and how did you solve it? I am getting a similar issue but I do not understand how can I resolve it.

[2022-05-26 16:28] Aadmaa commented on #7275
Hello @mayankchouhan1089,

I can't remember exactly but it was something dopey I was doing wrong. I can show you how I am doing it now.

1. I updated the bash setup command as follows, which runs when I sent up a VM.

[code]

Note: I'm not using the runsc-debug listed in the third line from the bottom, but it's handy to have that set up.

2. Then I just add "--runtime=runsc" to the docker run comm

[2022-05-26 19:33] ghanan94 opened #7656 "Handle IP{,V6}_MULTICAST_LOOP for ping sockets"
### Description

title says it all

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

### uname

_No response_

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

### runsc debug logs (if available)

_No response_

[2022-05-30 23:04] johnf1004 commented on #1739
Nice, thank you @petehannam !

Works nicely when deploying through the console - any idea if it's possible to specify the gen2 environment with gcloud? Looking through the flags for `gcloud run deploy` and cant see anything

[2022-05-30 23:45] petehannam commented on #1739
@johnf1004 The [documentation](https://cloud.google.com/run/docs/configuring/execution-environments#command-line) has details on how to run it via the command line:

`gcloud beta run deploy --image IMAGE_URL --execution-environment gen2`

[2022-05-31 02:24] liusdu opened #7663 "Fd leaks in Gofer with lisafs enabled"
### Description

Fd leaks in Gofer with lisafs enabled, even if  related file is deleted.
After a digging I find it is due to [WalkHandler](https://github.com/google/gvisor/blob/master/pkg/lisafs/handlers.go#L280)
cu.Clean() does not call cleaners  because cu.Release() removes all cleaners.
[code]

### Steps to reproduce

1. run a container with bash
[code]
3. create a file then delete it.
[code]

[2022-05-31 05:09] knyttl commented on #1739
Note that I am avoiding `gen2` because of slower cold starts.

[2022-06-01 00:13] amscanne commented on #5811
Sorry for the delay, I am super interested in this and actually checked out wazero a few months ago. It's awesome!

One question: for integration with gVisor (what I was actually considering a few months ago), we would need the ability to hook at various platform points. For example, memory allocation (and resizing) operations. I believe this is mostly an API change (and plumbing relevant bits dow

[2022-06-01 01:22] codefromthecrypt commented on #5811
@amscanne thanks for the kind words about wazero.

About memory plumbing: Right now, we have apis for config and runtime, but not allocation of the underlying memory itself. All apis in wazero are currently implemented only by wazero itself.

* [api.MemorySizer][1] - allows overriding max memory or allocated capacity
* [api.Memory][2] - runtime api for accessing memory including requesting to grow

[2022-06-01 02:55] mathetake commented on #5811
no immediate concern from me! Let's see the concrete necessary API changes and how they can be implemented in our compiler etc. Exciting!

[2022-06-01 15:24] rlex opened #7671 "Unable to launch on ubuntu 22.04 with cgroupv2"
### Description

Recently moved to another provider and upon creation of gvisor-backed pod i see following error:

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to create containerd task: failed to create shim: OCI runtime create failed: creating container: write /sys/fs/cgroup/kubepods/besteffort/pod66933fac-4dba-4c07-a80a-f3f01253cb7c/cgroup.procs: device or resource busy

[2022-06-02 03:41] liusdu commented on #7663
closed refer to #7613

[2022-06-02 03:41] #7663 closed

[2022-06-03 18:43] fvoznika commented on #7671
/cc @manninglucas

I've seen this error before when `runsc` didn't support systemd cgroupsv2. But support has been added on 2022-03-17, and you are on a newer release (`20220510.0`). Ubuntu 22.04 uses cgroupsv2, but not sure if it changed from 20.04. What cgroup driver are you using in K8s? Please [enable debug logging](https://gvisor.dev/docs/user_guide/containerd/configuration/#debug) and attach

[2022-06-08 11:22] yevgenypats commented on #708
Closing as fuzzit was acquired by GitLab

[2022-06-08 11:22] #708 closed

[2022-06-10 17:58] kevinGC commented on #1739
This issue sort of straddles the line between gVisor and its downstream consumers. I believe that Cloud Run and others allow for logs to be filtered via terms such as `NOT "Unsupported syscall setsockopt"`.

From gVisor's perspective, the unsupported syscall logs are important. In the rare cases where unsupported syscalls do affect program behavior, the logs are an important debugging tool. We don

[2022-06-10 17:58] #1739 closed

[2022-06-10 17:59] kevinGC commented on #1739
For anyone coming across this in the future: if you're seeing the `Unsupported syscall` message and it either is (1) affecting application behavior or (2) logspamming like crazy, please open an issue for your particular message. I'm closing this one because it's too many issues clumped together and it's not clear which need addressing.

[2022-06-11 00:07] kevinGC commented on #7545
It looks like `git tag` shows that nothing has been tagged since that release. `latest/x64_64/runsc` is being updated, but the latest tag is old.

[2022-06-12 10:47] vt-alt opened #7719 "failed: creating container: waiting for sandbox to start: EOF: unknown."
### Description

Unable to start container.
[code]
Some attempt at debugging:
[code]
[code]

### Steps to reproduce

_No response_

### runsc version

[code]

### docker version (if using docker)

[code]

### uname

Linux pony 5.16.20-un-def-alt1 #1 SMP PREEMPT Thu Apr 14 06:25:16 UTC 2022 x86_64 GNU/Linux

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

re

[2022-06-13 18:53] kevinGC commented on #7545
Fixed and verified via the above commands.

The script in charge of tagging releases was failing.

[2022-06-13 18:53] #7545 closed

[2022-06-13 18:55] kevinGC commented on #7327
Per #7545 the latest releases are up to date again.

[2022-06-13 21:56] kevinGC commented on #7719
The failure stems from being unable to find `/proc/self/exe`, which definitely should be available on any Linux machine.

What operating system are you running on? Searching for "Linux pony" brings up one result that isn't a Linux. Just want to make sure.

[2022-06-13 22:39] kevinGC commented on #151
This no longer fails.

[2022-06-13 22:39] #151 closed

[2022-06-13 22:40] kevinGC commented on #385
/dev/tty exits.

[2022-06-13 22:40] #385 closed

[2022-06-13 22:41] howardjohn commented on #7038
I think the request is to add a go.mod to the checklocks folder so it can be imported without importing all of gvisor. I could be wrong though; this was based on https://github.com/golangci/golangci-lint/issues/2479#issuecomment-1011008998

[2022-06-13 22:47] howardjohn opened #7721 "checklocks panic: `panic: interface conversion: interface is nil, not ssa.Value`"
### Description

[code]

When running `checklocks ./pilot/...` against https://github.com/istio/istio branch. Go version is 1.18, installed by `go install gvisor.dev/gvisor/tools/checklocks/cmd/checklocks@go`.

I know checklocks is not quite a general purpose tool, but it seemed great so I was checking it out and ran into this. Some packages work, but some panic with this error.

### Steps to repr

[2022-06-13 22:49] kevinGC commented on #6734
Fixed by 5e984d5aa2c3f98934040e199d460c74744e5799.

[2022-06-13 23:42] kevinGC commented on #6
Raw sockets have been supported for some time. Closing.

[2022-06-13 23:42] #6 closed

[2022-06-14 06:20] vt-alt commented on #7719
`Linux pony` is output of `uname -a` as the bug template requested, where second word is hostname.
This is Linux and ALT Linux distribution in particular.
[code]
I think it's `/proc` contains `/proc/self/exe` as anywhere else. For example
[code]

[2022-06-14 14:20] iamnoah opened #7725 "improve/doc 32 file descriptor limit"
### Description

I just setup some k8s nodes in EKS with gVisor as a runtimeClass, and certain containers are failing to start with an error like:

    starting container: starting sub-container [/app]: too many files

Notably not, "too many open files"... I traced the message to [here](https://github.com/google/gvisor/blob/dfa1c7a1c2c848f32a10173a43a7c3b9e0886488/pkg/urpc/urpc.go#L42), asked on t

[2022-06-14 17:17] amscanne commented on #7721
Whoops, looks like a validation missing for an invalid global guard. I'm actually not sure how it hits this, given that a global guard should not be constructed unless the symbol exists. I'll post a trivial fix for that issue, but to debug further, can you indicate the annotations that you tried?

[2022-06-14 19:04] amscanne commented on #7721
Out of interest, I ran the analysis from the latest commit (w/ Go 1.19) but the problem didn't reproduce. So I think I'm missing an annotation.

FWIW, these were the results:

[code]

Note that this might be noisy, and you may want to filter out the atomic ("unexpected call to atomic function") and advisory messages ("may require checklocks annotation").

[2022-06-15 03:04] #199 closed

[2022-06-15 06:16] amscanne commented on #7721
Okay, with that I was able to see what's going on. There was an issue with cross-package global mutexes. It was attempting to resolve LastPushMutex in the local package. I've fixed this and added a test. I believe that this issue should now be fixed.

Let me know if you hit other issues. It'll be best effort, but I'm interested to see if checklocks is useful. You'll probably need some kind of filt

[2022-06-15 06:54] amscanne commented on #7721
I just decided to send a change that makes this behavior configurable (#7731) and close the issue.

With those disabled, the only issue in ./pilot/... is a usage of sync.Mutex in network_test.go. I actually sent istio/istio#39456 to fix this issue, since I think it makes more sense as a sync.WaitGroup.

If I run on the whole repository, there are a few other workflow issues that could be similiar

[2022-06-15 23:41] kevinGC commented on #7719
I'm not seeing anything obviously wrong -- this all looks as expected and similar to what I see when I run the same. Can you post the longer strace without filtering by syscall? E.g. just `grep 4176537 a`. Perhaps another of the mounts is failing.

Also, how did you install runsc? Looking around I see issues like #1320.

[2022-06-16 15:58] #7721 closed

[2022-06-16 17:12] vt-alt commented on #7719
This is new log of the previous test command (because old one is overwritten) [runsc-strace.log](https://github.com/google/gvisor/files/8920957/runsc-strace.log)

I try to build gvisor package for ALT Linux, so I'm using `go` branch and build like this:
[code]
Then binaries are just copied into `/usr/bin/`.

[2022-06-17 00:07] kevinGC commented on #7719
Log file still looks fine. Two more things to try.

1. What are the permissions of `/usr/bin/runsc`? What happens if you try:

[code]

2. What if you use `export GOFLAGS=` instead of build a PIE? Using your commands, the above `runsc do` command failed for me (albeit with a different error), but succeeded when built without PIE. I'm not sure ATM why this is.

All that said, it's worth noting that

[2022-06-17 10:05] vt-alt commented on #7719
[code]
After rebuild with `GOFLAGS=` it works:
[code]
This gave me idea that first build still have ELF interpreter request (in my experience when there is no interpreter it confusingly report `No such file or directory` when binary is obviously there). And I was only checked with `ldd` it to be statically linked.

Non-working binary built with PIE:
[code]
Working binary build without PIE:
[code]

[2022-06-17 10:11] #7719 closed

[2022-06-21 03:31] lubinszARM commented on #5811
Sorry for delay. @tanjianfeng @amscanne Long time no see.
After a busy period of cross-country moving, I'm glad to see someone interested in this topic.
Exciting!
：）

[2022-06-28 23:50] rlex commented on #7671
sorry for long reply...
Create:
[code]

Shim log is empty

[2022-06-29 00:31] rlex commented on #7671
problem solved by adding
[code]

to containerd options

[2022-06-29 02:46] rlex commented on #7671
Well, nope. False alarm.

Trying with
[code]

i'm still seeing

[code]

Not sure what triggered true.

[2022-06-29 17:25] kevinGC commented on #6547
So in commits 94126dd4aa4db6954884681ec1ef6a3483f578b2 and 2b97d38657de0e04a4a50473c4b704f9b5765a41 there are two "levels" of fixes.

1. There is an `--fdlimit` flag that can be set on the runtime. This acts as a hard limit on the number of file descriptors opened by the sentry and gofer processes. The limit cannot be raised later, even by a compromised sentry.
2. There is a `--dcache` flag that s

[2022-06-29 22:33] human3 opened #7775 "usleep and alikes do not work as expected when host clock goes backward"
### Description

When the clock on the host is adjusted, say 10s backward, the statement below will actually wait 10s instead of the requested 1s:

[code]

The video below shows a simple program logging current time every second (on the left panel). When the time is manually set backward 10s on the host (see right panel), one can see that the program no more prints anything for about 10s before re

[2022-06-29 23:07] avagin commented on #7671
Could you try to add SystemdCgroup = true in plugins.cri.containerd.runtimes.runsc.options?

[2022-06-29 23:09] rlex commented on #7671
Yeah, i tried, nothing happens. If i enable cgroups in runsc.toml, it then throws me error about invalid cgroup format.

[2022-06-29 23:27] avagin commented on #7490
This issue was fixed by 17b93a84fae9c92cbc7c0dbb3748eb80484e3b1e, 6d66109a530277cb3e4864522b6401ac6b68bfa3.

[2022-06-29 23:27] #7490 closed

[2022-06-29 23:30] avagin commented on #7450
@invliD friendly ping

[2022-06-30 00:47] #7600 closed

[2022-06-30 17:17] hbhasker opened #7778 "SOMAXCONN reported by proc/net sysfile is hardcoded to 128 and inconsistent with actual value capped at 1024"
### Description

See: https://github.com/google/gvisor/blob/0c3abacb1c8cf11b914eb6be46dacaff0a993ebf/pkg/sentry/syscalls/linux/sys_socket.go#L50

vs

https://github.com/google/gvisor/blob/8643fe526e2be65ff375c669c31e2b29c134654c/pkg/sentry/fsimpl/proc/tasks_sys.go#L132

### Steps to reproduce

_No response_

### runsc version

_No response_

### docker version (if using docker)

_No response_

###

[2022-07-08 15:56] pkit commented on #221
`vfs2` is the default. Can it be implemented now? I can poke it, if needed.

[2022-07-11 20:23] skepticfx opened #7795 "Logs leaking into panic-fd from context logger"
### Description

When using `--debug-log` and `--panic-log` flags, we expect just the runtime panic logs to be logged under the `--panic-log` fd. However, that seems to be not the case due to a bug in how the [gVisor Context logger](https://github.com/google/gvisor/blob/d217b5c69fba5f213d1f19b894f1950c16e492d6/pkg/context/context.go) is initialized.

From the gVisor Context package,
https://github

[2022-07-13 17:13] kevinGC commented on #221
@nixprime WDYT?

[2022-07-14 01:29] rlex commented on #7671
If i explicitely set systemd-cgroup to true in runsc_config, i'm getting following message:
[code]

What's really interesting is that k3s on control-plane generates following containerd config, where it doesn't launch, either with device/resource busy or format error (in case we enforce systemd-cgroup)

[code]

and here is one from worker nodes, where gvisor works perfectly:

[code]

There is no m

[2022-07-14 01:57] rlex commented on #7671
looks like regression in k3s. I'll wait for next release where this will be fixed and will report if it will help.

[2022-07-16 13:23] pkit commented on #221
@kevinGC it seems like it has some TODO here https://github.com/google/gvisor/blob/5ffcc1f799e31eba3a95d7e2f251ee111656520c/pkg/sentry/kernel/task_clone.go#L128

[2022-07-16 13:28] pkit commented on #221
Ah, bind mounts are not there too. Probably needs bind mounts first...

[2022-07-18 22:18] spikecurtis commented on #7394
I'm unable to use the debugger in Goland (which uses `-N -l`) on an M1 mac once our project imported gVisor.

C.f. https://github.com/golang/go/issues/53942

[2022-07-19 00:09] hbhasker commented on #6538
Closing as Won't fix. As with qdisc enabled this is never safe.

[2022-07-19 00:09] #6538 closed

[2022-07-19 17:40] kevinGC commented on #7394
Also testing on M1. Two ways to deal with this:

- Quick way: newer versions of gVisor appear not to have this problem. The following commands update the gVisor module to a newer commit, and no longer have stack splitting issues. However, it looks like `coder` needs some changes to handle the newer version. You may have to bump the gVisor version in the 'wireguard-go' repo as well:
[code]
- Longer

[2022-07-19 21:24] spikecurtis commented on #7394
Well, if it is fixed upstream, that's about all I'd reasonably expect from gVisor.  Unfortunately as you've noticed, the dependency is a couple projects deep, so I can't unilaterally upgrade.

[2022-07-21 01:14] jseba opened #7824 "Sentry maps 68TB+ address space on Intel but not AMD with KVM"
### Description

I've been seeing a handful of strange OOM kills when gvisor hits a panic. The kernel stack trace leads me to believe the dumper that's walking the pages for the process is running out of memory in the cgroup:
[code]

The only processes in the cgroup are sentry and gofer, and the cgroup has a 1GB memory.max setting.

I was poking around because that 68727592272kB total-vm number se

[2022-07-21 18:21] #7795 closed

[2022-07-22 03:27] #7671 closed

[2022-07-22 04:59] travigd opened #7827 "Cannot run Julia: ftruncate on /dev/shm file returns errno 28 (no space left on device)"
### Description

I'm trying to run Julia and it's failing to initialize consistently with `init_shared_map: No space left on device`. This does not happen outside of gVisor (or even on older versions of gVisor -- see below).

Running with `--debug` and `--strace`, I see this (added an attempt at emphasis to show the root of the problem):
[code]

Seems that `init_shared_map` is being called [here i

[2022-07-22 05:48] travigd commented on #7827
Update: `git bisect` has narrowed it down to https://github.com/google/gvisor/commit/ce91143bdc77ccdebf7aaae9ee8eb4843aa5f880 (cc @sshambhavi-252).

[2022-07-26 22:44] #311 closed

[2022-07-27 21:57] ayushr2 commented on #7827
Thanks for the reproducer and the bisection.

[2022-07-27 22:16] ayushr2 commented on #7827
Most likely it has something to do with doing a `ftruncate(2)` on a deleted file in tmpfs. `/dev/shm` is of type tmpfs.

Running `mount(1)` in the mentioned Julia container shows:
[code]

So that is a tmpfs mount with the size option set. cc @sshambhavi-252

[2022-07-28 03:48] #7725 closed

[2022-07-28 17:30] avagin commented on #7824
This is PROT_NONE mapping, so it should not require any physical memory. It is just a place holder.

[2022-07-30 05:11] travigd commented on #7827
Incidentally, Julia doesn't try to do the same thing under runc. Not sure if it's detecting something different under gVisor.

[2022-07-31 15:20] bradfitz opened #7849 "pkg/cpuid: logs about Linux-specific /proc/cpuinfo missing on macOS"
### Description

There a `init`-time parse of `/proc/cpuinfo` which isn't conditional on the GOOS.

macOS doesn't have that file, so it shouldn't log a warning about it:

https://github.com/google/gvisor/blob/d9c66eb76971ea54849c6a2166e1aad91d6f6050/pkg/cpuid/native_arm64.go#L49

This is a regression from some recent-ish refactor. I haven't yet hunted it down.

### Steps to reproduce

_No response

[2022-07-31 15:27] bradfitz commented on #7849
Minimal repro demo:

[code]

[2022-07-31 19:39] bradfitz commented on #7849
Could you just use https://pkg.go.dev/golang.org/x/sys/cpu instead? At least on darwin?

/cc @dsnet

[2022-07-31 20:06] bradfitz commented on #7849
I sent https://github.com/google/gvisor/pull/7850 as a proposed workaround for now.

/cc @ayushr2 @kevinGC

[2022-08-03 07:54] ayushr2 commented on #7827
@travigd could you clarify what you mean by "same thing" here? As in it is not deleting `/dev/shm/julia-codegen-1-846930886` and then calling ftruncate(2) with a size larger than the tmpfs's size limit.

Anyway, I think I understand what is happening. The deletedness of the file is a red herring. Linux accounts for pages against tmpfs size limit option when pages are allocated/deallocated for file

[2022-08-03 10:47] pkit commented on #1199
@fvoznika interesting, but the naming could be better. Essentially it just makes read-only mounts writable through tmpfs layer.
I wouldn't call it support for "overlayfs"...

[2022-08-03 18:56] pkit commented on #202
A lot more it's blocked on: no support for bind mounts, no support for CLONE_NEWNS, etc. etc.
I will try to fix all of that.
On the other hand running it in a real docker daemon is probably too much of a task, because it will always fail at the various "security" measures that docker tries to set up and which are not needed.

[2022-08-03 22:06] fvoznika commented on #3276
I believe this issue is fixed. There has been many fixed in this area (e.g. c47f8afe2334c1395a2acd9ebf5191aa4554907c, 62b0e845b7301da7d0c75eb812e9cd75ade05b74, 1e472a85729b723c0d737d5e1c68c875a158d6a6, etc). Please reopen if it still occurs.

[2022-08-03 22:06] #3276 closed

[2022-08-05 20:32] ayushr2 commented on #7827
We are working on the fix. It is a little involved since we need to change things in our mm layer (which allocates pages).

In the meantime, a workaround could be to remount your /dev/shm mount with an absurdly large size option.
[code]

[2022-08-06 08:47] unknowndevQwQ commented on #3053
fixed by https://github.com/containers/common/pull/510

[2022-08-06 08:47] #3053 closed

[2022-08-06 08:54] unknowndevQwQ commented on #3641
I want to pass the docker runtime parameters, not just the environment variables

[2022-08-06 14:39] rlex opened #7871 "20220801 release not available on mirrors"
### Description

Hello!
Looks like recent releases wasn't uploaded to https://storage.googleapis.com/gvisor/releases/release/
...nor does [release-20220718.0](https://github.com/google/gvisor/releases/tag/release-20220718.0).
Latest available is [20220713.0](https://github.com/google/gvisor/releases/tag/release-20220713.0) it seems.

FAILED! => {"changed": false, "dest": "/usr/local/bin/runsc", "e

[2022-08-07 16:22] xiaofan-linux opened #7872 "Error creating container"
### Description

[code]
[code]

### Steps to reproduce

Error creating container

### runsc version

[code]
[code]
[code]

### uname

Linux localhost.localdomain 5.18.15-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Sun Jul 31 21:30:34 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### kubectl (if using Kubernetes)

_No response_

### repo state (if built from source)

_No response_

### runsc debug logs (if a

[2022-08-08 18:25] manninglucas commented on #7872
Hi, it seems this could be an issue with the runsc systemd-cgroup driver. Are you passing any custom cgroup settings like memory limit to the container?

[2022-08-08 22:03] travigd commented on #7827
I just examined the output between running a Docker container with `runsc` and `runc`. For `runc`, it didn't seem to do anything with `/dev/shm`.

Thanks for the workaround.

[2022-08-08 22:08] ayushr2 commented on #7827
Your output from runsc is with debug logging enabled. Which includes strace logging. Strace logs include every system call that the application makes. That is why you can see the application use `/dev/shm`.

Just curious, how did you get a similar output from runc? It shows all the syscalls that the application (julia in this case) is making?

[2022-08-09 00:01] david-mohr opened #7877 "Cannot get gVisor working on minikube"
### Description

I have tried different drivers (docker, kvm2, qemu) and different CNIs (bridge, kindnet, calico), but I can't seem to get the gvisor addon to work. Using the docker driver, I get `permission denied` errors (see https://stackoverflow.com/questions/72555998/cant-launch-pod-using-gvisor). I tried switching CNIs without success.

So I tried switching to a VM based solution (kvm2/qemu)

[2022-08-09 02:24] travigd commented on #7827
You're right about not seeing /dev/shm, but I ran both and only saw an ftruncate syscall at all when running under runsc.

[2022-08-09 08:16] vikaspushkar opened #7878 "compilation error in netstack repo with golang 1.17 onward"
### Description

netstack which is being maintained as part of this repo is not getting compiled after the 1.17 golang version it throws the following error
# github.com/google/netstack/sleep
vendor/github.com/google/netstack/sleep/commit_amd64.s:14: (register+register) not supported on this architecture
asm: assembly of vendor/github.com/google/netstack/sleep/commit_amd64.s failed
# github.com/go

[2022-08-09 16:04] amscanne commented on #7878
Good news: this specific issue was fixed years ago and this file has not existed for a long time. You are definitely not any version of this repository from the latest couple years.

[2022-08-09 16:04] #7878 closed

[2022-08-09 18:29] zkoopmans commented on #158
This feature has been implemented in [PR7844](https://github.com/google/gvisor/pull/7844). Let me know if there are issues.

[2022-08-09 18:29] #158 closed

[2022-08-09 18:31] akonradi opened #7880 "gvisor is too strict when checking the values of ip_mreqn"
### Description

When handling a call to setsockopt for `IP_ADD_MEMBERSHIP` with an `ip_mreqn` struct with a non-zero interface IP address and interface index, Linux checks the interface index first and, if it matches a device, ignores the address.

Linux impl: https://github.com/torvalds/linux/blob/15205c2829ca2cbb5ece5ceaafe1171a8470e62b/net/ipv4/igmp.c#L1829-L1837

gVisor fails the call to sets

[2022-08-10 13:55] vikaspushkar commented on #7878
yea i am using it from netstack repo, is there any guideline for the user of netstack repo to upgrade  to latest code? any documentation ?

[2022-08-11 22:16] jseba commented on #7824
It's not taking any physical memory, I'm trying to understand why this huge mapping is needed for Intel processors but not AMD. When gvisor panics/crashes, the coredump routines in the kernel are getting OOM killed by the cgroup limits while dumping userspace memory (`do_coredump` -> `dump_user_range` -> `charge_memcg` -> `mem_cgroup_out_of_memory` in the stack trace above), which means we lose th

[2022-08-12 16:44] avagin commented on #7824
We map the sentry virtual address space to the guest physical address space.  It means that the sentry host address space size has to be less than or equal to the guest physical address space.

You can find sizes of address spaces in /proc/cpuinfo:
[code]

On your AMD machine, sizes or phys and virt address spaces are equal and it is why we don't need to create these dummy mappings.

I understand

[2022-08-15 23:22] #7880 closed

[2022-08-16 05:47] alanxone opened #7894 "Remove unnecessary stack field in gonet.UDPConn"
### Description

I don't see the needs for putting `stack.Stack` in `NewUDPConn`, and either in `UDPConn` struct.

Ref: https://github.com/google/gvisor/blob/go/pkg/tcpip/adapters/gonet/gonet.go#L552

I propose following the design of `NewTCPConn`, remove `stack` and keep this input in `DialUDP` only, to make the API call consistent and easier understanding.

### Steps to reproduce

_No response_

[2022-08-16 15:57] pkit opened #7895 "Implement renameat2(2) for real"
### Description

Right now `renameat2` is not really implemented as only the `RENAME_NOREPLACE` flag works and it's implemented through `renameat` at the lowest fs level.
I don't see any problem implementing all other flags using the `lisafs` interface.

I'm particularly interested in `RENAME_EXCHANGE` though.
As right now `renameat2(...., RENAME_EXCHANGE)` is spitting `EINVAL`

### Is this featur

[2022-08-16 22:02] fvoznika opened #7897 "Add `/proc/[pid]/maps` to `runsc trace procfs`"
### Description

.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-08-17 09:22] pkit opened #7900 "Looks like 32bit syscall test incorrectly detects Allowed platforms"
### Description

[code]
[code]
In system log I see:
[code]
`proc/cpuinfo`
[code]

### Steps to reproduce

Run `make syscall-tests` on `AMD Ryzen 9 5900X`

### runsc version

https://github.com/google/gvisor/commit/2bb73c7bd7dcf0b36e774d8e82e464d04bc81f4b

### docker version (if using docker)

[code]

### uname

5.15.0-43-generic #46~20.04.1-Ubuntu SMP Thu Jul 14 15:20:17 UTC 2022 x86_64 x86_64 x86

[2022-08-17 14:20] pkit commented on #7450
@avagin
[code]

[code]

[2022-08-17 15:49] pkit commented on #7895
Okay it looks like `REANME_WHITEOUT` is out of the question right now, till the bind mount/CLONE_NEWNS is implemented

[2022-08-22 17:07] avagin commented on #226
There were a number of fixes in the KVM platform. Feel free to reopen it if the issue is reproduced.

[2022-08-22 17:07] #226 closed

[2022-08-22 17:32] avagin commented on #7450
@pkit Could you give me ssh access to this host for a day or two?

[2022-08-22 18:39] pkit commented on #7450
That's my workstation, I'm not sure I can do the passthrough. But will check it out.

[2022-08-22 19:15] pkit commented on #7450
@avagin Pls send me your ssh public key, will setup a bouncer.

[2022-08-22 20:14] avagin commented on #7450
[code]

[2022-08-23 09:20] pkit commented on #7450
ssh to `avagin@44.202.166.200` from there you can `ssh -p 9001 localhost` to the actual box via a permanent tunnel.

[2022-08-23 20:28] pkit commented on #7450
@avagin ^

[2022-08-23 21:14] avagin commented on #7450
The second ssh asks a password:
avagin@ip-172-31-95-109:~$ ssh -p 9001 localhost
avagin@localhost's password:

[2022-08-23 21:17] avagin commented on #7450
I am able to login to the test host. Thanks a lot!

[2022-08-23 21:19] pkit commented on #7450
Ok, I will need to add you to the sudo group, because there is no way to test runsc without root, it seems :(

[2022-08-23 21:28] avagin commented on #7450
@pkit How do you reproduce the issue?

[2022-08-23 21:31] avagin commented on #7450
We have the rootless mode:
[code]

but the current user has to be in the kvm group to use /dev/kvm.

[2022-08-23 21:34] avagin commented on #7450
I tried to run apt-get but it didn't crash:
[code]

[2022-08-23 21:36] pkit commented on #7450
Yup, that's what I ve said :)
It works on the same stepping as the initial bug reporter.
So I suppose it can be closed?

[2022-08-23 21:36] pkit commented on #7450
I thought you want to test something else

[2022-08-23 21:40] avagin commented on #7450
Ah. I misunderstood you. Thanks again for your cooperation.

[2022-08-23 21:40] #7450 closed

[2022-08-24 01:06] ayushr2 opened #7911 "Delete P9 package and users."
### Description

Lisafs has been made default. We will let it bake for a bit and once we have more confidence, we can delete P9 completely and deprecate the `--lisafs` flag in runsc.

The work involves:

- [ ] Deleting p9 package itself.
- [ ] Cleaning up the gofer client in fsimpl.
- [ ] Cleaning up the gofer server side code.
- [ ] Deleting tests.
- [ ] Deprecating flags.

This depends on #1624.

[2022-08-24 16:48] #6319 closed

[2022-08-24 21:30] fvoznika commented on #7877
`containerd has updated its configuration format (once again). Minikube breaks because the plugin is trying to use the old format. Let me do a quick fix, we need a better way to patch `config.toml` to configure the runtime. Right now, it replaces the entire file and may lose other configuration changes.

[2022-08-25 07:54] #7293 closed

[2022-08-27 09:42] #7827 closed

[2022-08-30 19:51] prattmic opened #7930 "SIGKILL during zombie state following exit(2) changes exit status"
### Description

If a SIGKILL is sent while a thread group is zombied it can change the exit status to SIGKILL if the last task exited with exit(2). If it exited with exit_group(2), then the exit status cannot change (matching Linux).

### Steps to reproduce

See ExitTest.SigkillZombieThread in the incoming PR.

### runsc version

_No response_

### docker version (if using docker)

_No response_

[2022-08-30 19:54] prattmic commented on #7930
At a higher level, runsc sends a SIGKILL to all tasks when the gofer exits. The gofer exits when the init task exits. If the init task exits with exit(2), then the gofer shutdown SIGKILL changes the exit status to 9, making the entire container appear to have failed.

[2022-08-30 20:09] #1584 closed

[2022-08-30 23:20] #7930 closed

[2022-09-02 00:01] nelhage opened #7941 "Incorrect SIGTTOU handling in TIOCSPGRP"
### Description

When a process attempts to set the controlling terminal using `TIOCSPGRP` (typically via `tcsetpgrp`), the kernel will send it `SIGTTOU` under certain circumstances.

gvisor has two bugs in the TTOU handling in this case:

## (1) Incorrect check for signal masking
`SIGTTOU` should be suppressed if the process is masking it (using `sigprogmask`). However, gvisor [incorrectly checks

[2022-09-04 15:39] unknowndevQwQ opened #7949 "bug: gvisor cannot join a pod when running containers as runtime"
### Description

After creating and running a podman pod with gvisor, trying to use gvisor to run a new container added to the pod has a problem

Additional information:
https://github.com/containers/podman/issues/15223

Describe the results expected:
[code]
Describe the results received:
[code]

### Steps to reproduce

1. run:
[code]
2. run:
[code]

### runsc version

[code]

### docker version (

[2022-09-06 16:34] #7941 closed

[2022-09-06 18:08] zkoopmans commented on #7949
@manninglucas: is this addressed with the fixes to the cgroups bug we found?

[2022-09-06 20:46] Zensey opened #7951 "panic: concurrent map writes"
### Description

Under some rare circumstances I get the following panic:

[code]

It looks like lock for GenericMulticastProtocolState->memberships is not acquired.

### Steps to reproduce

Gvisor code is run from here:
https://github.com/mysteriumnetwork/node/blob/master/services/wireguard/endpoint/netstack-provider/netstack.go

### runsc version

_No response_

### docker version (if using dock

[2022-09-06 22:20] kevinGC commented on #7951
Took a look -- it's not obvious to me where the concurrent write is that isn't taking the lock. Is there perhaps more output, e.g. other goroutine stacks in the panic?

[2022-09-07 10:52] Zensey commented on #7951
Yes, there is
[gvisor-panic-stacktrace.txt](https://github.com/google/gvisor/files/9505481/gvisor-panic-stacktrace.txt)

[2022-09-07 21:29] #5968 closed

[2022-09-09 02:29] unknowndevQwQ commented on #7949
`Error: failed to connect to container's attach socket: /var/lib/containers/storage/overlay-containers/8f03597426b9d20868e960383094eedd2a6eecd2c1b3e2c25026ab9172a3047e/userdata/attach: no such file or directory`

and: https://github.com/containers/podman/issues/15223#issuecomment-1208068034

[2022-09-09 02:48] unknowndevQwQ commented on #7949
[trsc-container-t.log.txt](https://github.com/google/gvisor/files/9531916/trsc-container-t.log.txt)
[trsc-pod.log.2.txt](https://github.com/google/gvisor/files/9531917/trsc-pod.log.2.txt)
`podman --log-level trace --runtime runsc --runtime-flag debug --runtime-flag debug-log=/tmp/trsc-container-t.log run --name trsc-container-t --pod trsc-pod --replace quay.io/podman/hello`:

[code]

[2022-09-09 12:50] capnspacehook opened #7964 "Unable to mount unix socket to container"
### Description

Whenever I try to mount a unix socket to a container by creating a bind volume, runsc fails with a fatal error when creating the container: `Error response from daemon: OCI runtime start failed: starting container: starting root container: starting sandbox: failed to setupFS: mounting submounts: mount submount "/var/run/docker.sock": failed to mount "/var/run/docker.sock" (type: b

[2022-09-10 00:07] K3das commented on #4823
Any update on fixed this? I'm having the same issue with a similar setup...

[2022-09-10 02:41] knisbet commented on #7964
I believe runsc blocks unix domain sockets by default. So you need to pass the `--fsgofer-host-uds=true` flag to runsc if memory serves. Also, by passing a docker socket, it looks to me like you'd be bypassing the runtime protections runsc offers.

https://github.com/google/gvisor/blob/master/runsc/config/config.go#L74-L76

[2022-09-10 03:13] capnspacehook commented on #7964
Thanks for the info, I'll try using that flag. I see via the docs that I can set flags for gvisor globally by modifying `/etc/docker/daemon.json`, but is it possible to only pass a flag when starting a specific container?

I'm actually not planning on using watchtower, I just used that as a succinct example. What I plan to do is mount the docker socket in an isolated container that will filter and

[2022-09-11 17:55] knisbet commented on #7964
I think you'd need to setup a second runtime in the docker daemon.json, and then use that runtime from kubernetes. So `runtime: runsc` -> `runtime: runsc-uds` type of idea for containers that need unix domain sockets, and will then invoke runsc with that additional flag.

[2022-09-12 04:20] unknowndevQwQ commented on #7949
@zkoopmans @manninglucas

[2022-09-12 16:17] manninglucas commented on #7949
Do you have a new stack trace similar to your original post? There's definitely still an issue but I think it's different from the original problem.

[2022-09-12 16:21] zkoopmans commented on #7949
@unknowndevQwQ : are the passed flags also the only flags, or is there a config file as well? If so, what flags are set in the config file?

[2022-09-13 03:34] gpl commented on #7872
I'm running into this issue as well on NixOS -- I don't believe I'm setting any custom cgroup settings in my case.

[code]

[2022-09-13 16:33] unknowndevQwQ commented on #7949
Is the flag mentioned here just the flag that podman passes to runsc?

[2022-09-13 21:32] gpl commented on #7872
We also observe these:

[code]

Which is strange, because

 ll /sys/fs/cgroup/system.slice/cgroup.subtree_control
-rw-r--r-- 1 root root 0 Sep 13 22:20 /sys/fs/cgroup/system.slice/cgroup.subtree_control

So not quite sure there.

[2022-09-14 19:53] zkoopmans commented on #7949
Docker has the /etc/docker/daemon.json file which you can pass flags to the runtime as "runtimeArgs". I'm wondering if there is something similar in podman or if the arguments you pass via `--runtime-flag` are the only arguments.

We suspect this is a cgroups issue...we've seen this recently moving to cgroupsv2 in other services. There's just a lot to test on different systems and it is hard to se

[2022-09-14 19:56] rhatdan commented on #7949
Podman uses containers.conf

[2022-09-16 02:59] unknowndevQwQ commented on #7949
runsc flags 2>&1 | grep cgroup
[code]
mount -t cgroup2:
`cgroup2 on /sys/fs/cgroup type cgroup2 (rw,nosuid,nodev,noexec,relatime)`

[2022-09-16 06:24] tommytran732 opened #7990 "RPM Repository"
### Description

Right now gVisor only seems to have an apt repository, it would be great to have a repository for .rpm packages as well.

The `golang-gvisor` on Fedora and EPEL are very outdated and recent builds seem to be failing as well. It would be so much better if we could use an official RPM repo from Google :)

### Is this feature related to a specific bug?

_No response_

### Do you have

[2022-09-16 15:05] sudosammy commented on #4823
I found gVisor even more restrictive now, I can SSH to a container but executing any sort of basic command fails.

[code]

![image (1)](https://user-images.githubusercontent.com/18524051/190670414-c713fbb0-f1d1-4bb9-8b14-ab869f48279c.png)

This is in docker `Docker version 20.10.18, build b40c2f6`

[2022-09-16 15:15] sudosammy commented on #4823
Here's a simple test setup. Keen to know if other people exhibit the same behaviour as me.

Dockerfile
[code]

start.sh
[code]

supervisord.conf
[code]

Test with:

`ssh user@<docker ip> -p 2222` password: `toor`

[2022-09-16 15:46] sudosammy commented on #4823
Hmm, I just built from the master branch but unfortunately still having the issue

[2022-09-16 18:05] K3das commented on #4823
The issue of processes getting stopped in PTYs? I'm running it right now on with a Ubuntu container ([`ubuntu:latest` unminimized](https://gist.github.com/K3das/b8aa14dc9cd3f481aea2e7c472f9639c)) and it's working fine, the only issue is control characters.
[code]

Interestingly in a PTY spawned by docker exec (`docker exec -it container bash`) control characters do work, but not when they're spawn

[2022-09-19 07:48] tanyifeng opened #7995 "Unable to get hostname of host when running container with --uts=host"
### Description

Runsc will always return empty hostname when running container with --uts=host by docker, this is not the host-uts expects. And runtime runc is OK.
The reason is runsc always create new uts namespace, and set hostname by runtime-spec.Hostname [from here](https://github.com/google/gvisor/blob/release-20220913.0/runsc/boot/loader.go#L355). When specify --uts=host by docker, docker d

[2022-09-19 19:24] ewilden opened #7998 "Loopback LinkEndpoint teardown can race with WritePackets"
### Description

Loopback LinkEndpoints are usually nested within an Ethernet endpoint when added to a gVisor Stack (this is true in [all non-test occurrences of loopback.New()](https://cs.opensource.google/search?q=loopback.New&sq=&ss=gvisor%2Fgvisor) in the gVisor repo).

However, this is insufficient to safeguard against races. `nested`'s `Attach` implementation [releases its lock](https://cs.o

[2022-09-19 19:25] ewilden commented on #7998
I don't have the ability to assign this to myself, but I'll mail a CL for this shortly.

[2022-09-19 21:37] jseba opened #7999 "EINVAL writing cgroup.procs when creating container"
### Description

We're seeing a rare issue where creating the gvisor container fails when it tries to join the cgroup it just created, getting back `EINVAL` from the kernel when it tries to write its process ID to the cgroup hierarchy. The only related thing we've come across is a ticket from opencontainers/runc#1884 but we don't have enough hits to reproduce it or verify that it is related.

Is t

[2022-09-23 08:14] marcelsauer4711 opened #8011 "GCP Cloud Run: Various Unsupported syscall setsockopt"
### Description

hi,

not sure if this is a bug on gvisor side but our gcp logs get spammed with these entries. in the last 7 days we got roughly 30k entries in the logs (see screens attached) across all our services.

stack:

- JDK17
- Spring Boot + Google Cloud Libraries
- @Scheduled Job that runs every 300ms and produces these logs on every tick
- Cloud Run First Generation Runtime

Errors in t

[2022-09-26 20:33] akonradi opened #8020 "Coverage for calling getpeername on a connected TCP socket appears to be missing"
### Description

There is substantial coverage for calling `getpeername` on UDP sockets, Unix domain sockets, and raw sockets, but there seems to be only one call to `getpeername` for a TCP socket, and that is to assert that an [unbound socket does not have a peer name](https://github.com/google/gvisor/blob/551d65b4e5e935ba36d7da931999a39080737980/test/syscalls/linux/tcp_socket.cc#L878).

### Step

[2022-09-27 15:34] skepticfx opened #8025 "sporadic runsc crashes on tcpip stack"
### Description

We've been seeing a few of these across the tcpip path in gVisor,

[code]
See here for the full stack trace with all the goroutines: https://gist.github.com/skepticfx/5704746ebb215452c6ae4d803bc5401d

### Steps to reproduce

_No response_

### runsc version

[code]

### docker version (if using docker)

_No response_

### uname

Linux 5.15.46

### kubectl (if using Kubernetes)

_N

[2022-09-27 16:09] #8020 closed

[2022-09-27 21:22] akonradi opened #8028 "Socket tests leak file descriptors when test setup fails"
### Description

Some syscall socket tests rely on setup and teardown code to manage the lifetime of file descriptors opened for the test. f6140b11ca777746c93df66922d60b1df7b6ad15 refactored some of this to use the `FileDescriptor` RAII helper which ensures that the owned fd is closed when it goes out of scope. This bug tracks continuing that work to make the system tests usable on systems where n

[2022-09-29 17:18] hbhasker commented on #8025
@skepticfx How often are you seeing these panics? From the panic there could be couple of things that could be happening

* packet of doom- inbound packet causing netstack to panic due to some parsing/validation bug in netstack ( the panic seems to be happening in the inbound Dispatcher code which handles all inbound packets)
* Bug in reference counting leading to incorrect reuse of buffers potent

[2022-09-29 17:59] skepticfx commented on #8025
Hi @hbhasker :wave:

We've been seeing around 3 crashes a week related to this. We've seen this on more than one type of service. Both these services are in Go (maybe that is an interesting data point?)

Unfortunately, we don't have any pcaps as of now.

Am curious if there is a way to create a coredump when gVisor crashes? It doesn't look like there is support for generating coredumps on Sentry c

[2022-09-30 10:57] markusthoemmes opened #8037 "Bind-mounted named pipe behaves weirdly"
### Description

I'm trying to mount a named pipe into a container through a bind mount to allow efficient communication between the process and the "external" world. Using `runc`, doing so works just fine and as expected. Using `runsc`, some signal makes it through but the `cat` command (inside the container) fails with an error.

### Steps to reproduce

[code]

### runsc version

[code]

### doc

[2022-09-30 13:25] hbhasker commented on #8037
@manninglucas FYI

[2022-09-30 17:20] nlacasse commented on #8011
The `setsockopt` calls some in 3 flavors:
[code]

[2022-10-03 17:18] #8011 closed

[2022-10-03 17:19] nlacasse commented on #8011
These log lines have been removed.  The fix will make it to Cloud Run within a few weeks.

[2022-10-04 01:34] fvoznika opened #8045 "LISA gofer doesn't restrict file type"
### Description

Not all files types are allowed to be open by the gofer, mainly because IO operations may block indefinitely if not a file or directory. LISA gofer needs to replicate the same check in [`checkSupportedFileType()`](https://cs.opensource.google/gvisor/gvisor/+/master:runsc/fsgofer/fsgofer.go;l=321;drc=0ec88b757254fd383b66247cad32730fa7adb52e).

### Steps to reproduce

_No response_

[2022-10-04 01:43] fvoznika commented on #8037
Pipes and characters devices from the host can't be used in gVisor because currently. There is a change (#7082) that adds support for pipes and character files. I did some basic testing and it works fine. Can you please patch it up and give it a try to see if it solves your problem?

[2022-10-04 06:24] markusthoemmes commented on #8037
@fvoznika ahhh very nice! Yes, with runsc built from your PR, things work as expected!

[2022-10-04 16:40] DobromirM opened #8047 "Resource limits not enforced in EKS cluster"
### Description

When a Kubernetes deployment is created with gVisor, the resource limits are not enforced. Even if the pods exceed the capacity of the node, they will not terminate but will instead crash the node.

The limits work fine with the default runtime and the pods can be stopped manually.

**containerd/config.toml**
[code]

### Steps to reproduce

1) Create an EKS cluster.
2) Create an E

[2022-10-04 16:41] DobromirM commented on #8047
@zkoopmans

[2022-10-04 16:58] zkoopmans commented on #8047
@fvoznika and @konstantin-s-bogom, this is AWS, and this doesn't look like https://github.com/kubernetes/kubernetes/issues/107172. Have we tried this on GKE yet?

If it is us, I suspect it is some mismatch of a message in the shim, but I don't know that code well enough yet to say either way.

[2022-10-04 18:26] konstantin-s-bogom commented on #8047
I think it's likely that https://github.com/kubernetes/kubernetes/issues/107172 is at play here, because AFAIK kubelet versions <1.25 will prefer cAdvisor stats, which report incorrect resource usage for runsc containers.

@DobromirM I don't know if EKS supports using a custom kubelet, but if you know of a way, then try one with this patch applied and see if it fixes the issue: https://github.com/

[2022-10-04 20:36] hbhasker opened #8051 "route.ConfirmReachable() is expensive"
### Description

route.ConfirmReachable is called everytime a connection makes forward progress in handleSegments (connect.go). This call eventually acquires an exclusive lock on the neighbor entry. This is undesirable as neighbor entry is acquired under read lock in the write path in multiple places in the stack. In general we should avoid acquiring exclusive locks on shared resources in the data

[2022-10-04 23:52] #8045 closed

[2022-10-04 23:56] fvoznika commented on #8047
This issue is not related to cAdvisor. cAdvisor just affects reported metrics, not cgroup limits.

In K8s both pods and containers have limits. Users can only set container limits. Pod limits are automatically set with the aggregate of all containers. For example, if one container has a memory limit of 512MB and another has a 128MB limit, the pod limit will be 640MB.

gVisor doesn't currently enfo

[2022-10-05 00:03] fvoznika commented on #8047
I see that in your example you have a single container, in that case the pod limit should be enforced, unless EKS is not setting up pod cgroup appropriately. You can check it by looking at the cgroup configuration in the node. Find the sandbox process, then look up its cgroup, and check whether a limit is being set. This is what I get running in GKE:

[code]

[2022-10-05 12:02] DobromirM commented on #8047
[code]
[code]

[2022-10-05 18:35] fvoznika commented on #8047
When I try to run your deployment, the pod doesn't even start because gVisor fails to boot due to the low memory limit. Can you describe in more details what happens when you try to run the deployment? Can you collect and attach debug logs (see instructions [here](https://gvisor.dev/docs/user_guide/debugging/) and [here](https://gvisor.dev/docs/user_guide/containerd/configuration/#debug))?

[2022-10-05 19:04] akonradi opened #8053 "Count drops of ARP/NDP neighbor advertisements"
### Description

When the neighbor table routines drop received advertisements, keep track of the reason for dropping. This will help debug sporadic NUD failures.

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-10-05 20:40] hbhasker commented on #8025
@skepticfx pcaps will be immensely helpful.  As for coredumps as runsc is essentially a go program it depends on how Go runtime deals with it and that is typically configured using the GOTRACEBACK environment variable.

See: https://pkg.go.dev/runtime (search for GOTRACEBACK=crash)

[2022-10-05 20:52] manninglucas commented on #7999
Hi @jseba, are you able to get any logs from the failing containers? That would be a huge help in diagnosing the issue.

[2022-10-05 20:56] fvoznika commented on #7995
Setting `--uts=host` with `runsc` doesn't have the desired effect because gVisor virtualizes the network stack and cannot inherit the host name and interfaces. `runsc` should fail when `--uts` is used, similarly to the way it fails with `--network=host` is used.

[2022-10-05 23:05] fvoznika commented on #7964
Correct, you can configure a second runtime with docker/K8s and use it for the container you need socket access. You could also set OCI annotations to set flags to individual containers, but there is no way to set annotations with docker AFAIK. This can be done with K8s or calling `runsc` manually.

The annotation format is like this: `dev.gvisor.flag.<flag-name>: <value>`

Here is an example in K

[2022-10-05 23:05] #7964 closed

[2022-10-05 23:19] fvoznika commented on #7951
@kevinGC, `SendQueuedReportsLocked()` comment states that `g.protocolMU` must be locked. However, it's not being locked in the stack above.

[2022-10-06 17:21] manninglucas commented on #8025
We're introducing a change (#8058) that should help shed some clarity on the source of these crashes. If it is PacketBuffer memory corruption from a use-after-free, the change should cause the netstack to crash earlier and produce a stack trace.

[2022-10-06 22:36] #8053 closed

[2022-10-07 23:01] #8051 closed

[2022-10-09 13:06] Eirikr70 opened #8073 "Unable to install runsc through apt ont debian ARM64"
### Description

Hello, I have tried to install runsc on debian ARM64 with the following commands and results :
[code]
I had checked the dependencies before.Got any clue what that might be related to ?

### Steps to reproduce

Install with apt on debian ARM64.

### runsc version

[code]

### docker version (if using docker)

[code]

### uname

Linux vault 5.15.61-v8+ #1579 SMP PREEMPT Fri Aug 26 1

[2022-10-09 13:12] Eirikr70 commented on #8073
Solved : was related to an empty `/etc/docker/daemon.json` file

[2022-10-09 13:12] #8073 closed

[2022-10-10 15:21] jseba commented on #7999
If there's a way to get debug logs only when the container is created and not while it executes, I might be able to get something. Otherwise we simply don't have the storage space for these logs as this issue hits only once or twice a month even with as many containers as we launch.

[2022-10-11 17:29] avagin commented on #7900
The postfix native  means that the test is running on the host linux system without gVisor.

[2022-10-11 17:51] fvoznika commented on #8047
I believe the problem is that the node is using systemd cgroup driver, given the path below:
[code]

The options available in `runsc` are:
- cgroupfs v1
- cgroupfs v2
- systemd cgroup v2

[2022-10-11 18:36] pkit commented on #7900
Yup, it runs on my host, and fails with invalid opcode, i.e. wrong architecture. So, it's expected? Why?

[2022-10-11 19:55] fvoznika commented on #7999
@jseba, please patch #8076 and add `--debug-command=create` (or `--debug-command=!boot,gofer,events` to remove the more verbose logs) to the runtime options to restrict what commands are logged.

[2022-10-12 19:49] avagin commented on #7900
It isn't expected. The syscall instruction has to be supported on amd hosts.

Here is how you can execute this test manually:
$ GVISOR_PLATFORM_SUPPORT=32BIT:TRUE bazel-bin/test/syscalls/linux/32bit_test --gtest_filter=Syscall32Bit.Syscall

[2022-10-13 07:12] unknowndevQwQ commented on #7949
podman does not yet implement [engine.runtime_flags](https://github.com/containers/common/issues/715), and yes, --runtime-flag is the only way to pass the runsc argument

This is not a cgroup issue, after I tried adding systemd.unified_cgroup_hierarchy=0 and making sure I was using cgroup v1 the problem persisted

[code]

[code]

[code]

[2022-10-13 07:14] unknowndevQwQ commented on #7949
[code]

/tmp/trsc-pod.log.2:
https://fars.ee/o_dx

/tmp/trsc-container-t.log:
https://fars.ee/EX5A

[2022-10-13 07:16] unknowndevQwQ commented on #7949
podman log:

[code]

[2022-10-13 07:21] unknowndevQwQ commented on #7949
Run `sysdig "(proc.name in (conmon,podman,runsc,runsc-gofer,exe) and evt.type in (open, execve, openat))"`, never found runsc or runsc-gofer to create the attach file expected by podman

[2022-10-13 07:33] unknowndevQwQ commented on #7949
[code]
[code]

I don't understand why this is
@rhatdan

[2022-10-14 10:53] pkit commented on #7900
Doesn't work as `make test` fails with:

[code]
And without it `bazel-bin/test/` doesn't exist

[2022-10-14 11:57] pkit commented on #7900
[code]

[2022-10-14 12:39] pkit commented on #7900
Single stepping on my machine it looks like it fails after `iret $3` here https://github.com/google/gvisor/blob/2f57fc1f17a4ee84015def47970e9cee99cd31aa/test/syscalls/linux/32bit.cc#L72
Which makes me wonder if it's a kernel behavior?...
Because as you've said the actual `syscall` instruction doesn't fail

[2022-10-14 12:48] unknowndevQwQ commented on #7949
@zkoopmans @manninglucas

[2022-10-14 12:53] pkit commented on #7900
Nope, it does.
[code]
[code]

[2022-10-14 21:28] mhoran opened #8089 "inotify does not work for bind mounts or root mount modifications"
### Description

Running a program which uses inotify to monitor for filesystem changes will not be notified for changes to files bind mounted into a container running in gVisor, nor will it be notified of changes to the root filesystem (i.e. via `docker cp` with `--file-access=shared`).

inotify works fine for files on the root filesystem itself. `stat` shows changes to the bind mounted or modifi

[2022-10-15 00:45] mhoran commented on #7469
For others running into this, I was able to work around this issue by setting `network_mode: bridge` in my `compose.json`. It seems the issue only happens with Compose managed bridges. My `resolv.conf` in this configuration shows the default nameserver for my network.

[2022-10-15 02:29] mhoran opened #8090 "Can't send broadcast packets with network passthrough"
### Description

Sending broadcast packets with network passthrough (`--network=host`) fails with `[Errno 13] Permission denied`. When disabling network passthrough the same program works fine. The issue happens regardless of whether I create the container with bridge networking or host networking (`docker run --network=host`).

### Steps to reproduce

Example `Dockerfile`:
[code]
`test.py`:
[code

[2022-10-17 09:54] terenceli opened #8092 "Runtime monitoring can't get the path of write syscall"
### Description

I want to monitor the file write syscall using gVisor.
I setup the test env in the 'Full example' section in here -->
https://github.com/google/gvisor/blob/master/pkg/sentry/seccheck/README.md

Then I add the '"syscall/sysno/1/enter"' to session.json file to configure trace write syscall.
The secchek can't print write path, it seems the 'write' syscall don't support 'fd_path'.

Bu

[2022-10-17 11:22] Ficklecode opened #8093 "Download resources is limited by tcpip. TCPSendBufferSizeRangeOption"
### Description

I was writing a proxy application using Windivert+gvisor and had a network error while downloading proxy resources from my browser.
When I set TCPSendBufferSize to 20<<20, the resource download reaches 40-55mb and a network error interrupts the download.
When I set TCPSendBufferSize to 100<<20, the resource was downloaded successfully.
And when I download, I look at the memory foo

[2022-10-17 17:18] amarcu5 opened #8094 "Missing "Origin" field on APT repo"
### Description

The "Origin" field is missing on the APT repo that prevents automated updates using the Debian [unattended-upgrades](https://wiki.debian.org/UnattendedUpgrades) package.

This should be trivial to add - please see one-line pull request below.

P.S. Apologies if this is seen more as a feature request!

### Steps to reproduce

_No response_

### runsc version

[code]

### docker ver

[2022-10-17 18:19] amscanne commented on #8094
Ah, interesting. It can certainly be added. I’m not that familiar with how Origin is commonly used, does it make sense to have it as “gVisor maintainers ($BUILDKIT_BUILD_URL)” for example? Since these packages are all published with an OSS release pipeline, I feel this is more accurate (and this lets us have the specific build as part of the repository metadata).

[2022-10-17 21:45] amarcu5 commented on #8094
I’m unaware of any clear guidance but I’d try and avoid using anything dynamic as changes can cause [issues](https://github.com/nodesource/distributions/issues/755) requiring explicit acceptance. So I’d be fine with e.g. “ gVisor maintainers”. If it helps, here are a few different external repos and their Origins:

Docker: Docker
Elasticsearch: Elastic
Nvidia: NVIDIA
Puppet: Puppetlabs
Ubiquiti: U

[2022-10-17 23:39] hbhasker commented on #8093
Could you provide a simple repro?

[2022-10-18 07:01] georgehosono opened #8097 "Checklocks panics on atomic.Bool"
### Description

Go 1.19 added an `atomic.Bool` struct. Running `checklocks` on any files containing and `atomic.Bool` will cause `checklocks` to panic.

### Steps to reproduce

Run `go vet -vettool=$HOME/go/bin/checklocks ./...` in a directory with a file with the following code.

[code]

Observe the following panic message:
[code]

### runsc version

_No response_

### docker version (if using d

[2022-10-18 23:41] fvoznika commented on #8092
The `fd_path` optional field is not available for raw syscalls, because they all share the same schema and can't distinguish each are valid FDs and which are not. Below it shows the valid option fields for `syscall/sysno/1/enter` (which is the same for all `syscall/sysno/*` trace points):

[code]

I'll add an schematized write syscall trace point with the corresponding optional fields.

[2022-10-18 23:45] fvoznika commented on #8092
BTW, regarding the tutorial, the detection is done by monitoring `open*` syscalls for writable options, rather than monitoring each individual write to the system, which can be quite expensive.

[2022-10-19 09:16] Ficklecode commented on #8093
I checked the code and found that there was a bug in my code🥲. Thank you for your assistance🍺

[2022-10-19 09:16] #8093 closed

[2022-10-19 21:09] brunowonka opened #8105 "Route table returns EHOSTUNREACH when it should return ENETUNREACH"
### Description

Probably due to historical reasons, `stack.FindRoute` returns `ErrNoRoute` which translates to `EHOSTUNREACH` on sentry (and on Fuchsia). There seems to be some other places in the stack where that confusion is present. We should rename `ErrNoRoute` to `ErrHostUnreachable` so it more closely matches the API we're trying to fit and prevent future mistakes, as well as return the mor

[2022-10-20 06:35] terenceli commented on #8092
@fvoznika Thanks, I thank adding write syscall is reasonable just like the read syscall. It's expensive but it's more accurate to find the analysis the sandboxed process' behavior.

[2022-10-20 16:54] prattmic opened #8106 "docs: OCI Quick Start: permission denied"
The `docker export` step on https://gvisor.dev/docs/user_guide/quick_start/oci/ creates a `rootfs` directory and `hello` binary with permissions 750, with the standard user as owner (since it wasn't run as root).

Thus running `sudo runsc run hello` results in a `/hello: permission denied` error when runsc running as root can't access the file or directory.

cc @jba

[2022-10-21 20:29] prattmic opened #8111 "configuring cgroup: write /sys/fs/cgroup/cgroup.subtree_control: device or resource busy (runsc inside docker?)"
### Description

On Go's CI instances, runsc [fails](https://storage.googleapis.com/go-build-log/e43eebda/linux-amd64-longtest_52cf291b.log) with:

[code]

The same failure occurs with `runsc -network=none do /bin/ls` and `runsc -rootless -network=none do /bin/ls` (rootless mode is what we actually want to use).

Rootless mode could likely be made to work by adding EBUSY to https://cs.opensource.g

[2022-10-21 20:29] prattmic commented on #8111
cc @avagin

[2022-10-21 20:37] prattmic commented on #8111
Doing this gets things further, but then the gofer fails to execute /proc/self/exe?

[code]

I promise that this container does at least have /proc :)

[code]

[2022-10-21 20:41] prattmic commented on #8111
Ah, I forgot to build runsc with `CGO_ENABLED=0`. Disregard https://github.com/google/gvisor/issues/8111#issuecomment-1287413790, it runs fine in rootless mode with the EBUSY case added to containers.go.

[2022-10-21 20:57] manninglucas commented on #8111
Thanks for reporting, this looks like it could be related to #7999 and some other cgroups related crashes that have been popping up.

[2022-10-23 15:03] pkit commented on #7900
@avagin ^^

[2022-10-23 18:26] v-byte-cpu opened #8114 "add support for conntrack ctstate rules in iptables"
### Description

Hi there! Please add support for filter rules in `stack.IPTables` that semantically equal to the following iptable rule:

[code]

or nftables match:

[code]

### Is this feature related to a specific bug?

_No response_

### Do you have a specific solution in mind?

_No response_

[2022-10-25 22:17] #8037 closed

[2022-10-26 10:34] gabivlj opened #8118 "vdso: time goes backwards on amd machines under load"
### Description

We’ve detected in AMD machines (e.g AMD EPYC 7642 48-Core Processor cpu) under load that the VDSO time access (including monotonic time) can return timestamps that go back in time. We can reliably reproduce this in specific machines every single time.

### Steps to reproduce

- You need an amd machine with a heavy load.
- Then run a program that uses the VDSO and calculates time w

[2022-10-26 20:49] jba opened #8120 "doc: update CNI to v1.0.0"
### Description

The [Using CNI](https://gvisor.dev/docs/tutorials/cni/) page uses CNI v0.8.3. Please update to the latest CNI spec (v1.0.0) and plugins (v1.1.1).

### Is this feature related to a specific bug?

no

### Do you have a specific solution in mind?

_No response_

[2022-10-26 21:59] amscanne commented on #8118
Interesting, great report thank you. This nerd sniped me, as I thought "oh, this would be simple to defend against in the parameters" but indeed, we do already. I believe that this is a KVM-specific issue, because we can't just set the absolute guest TSC offset, and instead need to "calibrate" it. Can you confirm that this is only observed in KVM? Also, does that processor support TSC scaling? Tha

[2022-10-27 01:06] amscanne commented on #8118
Turns out that an API that allows setting the offset has made its way upstream (hurray!) as 5.16. I hacked up a quick sketch (#8121), but I'm not sure it works yet (or does what I expect it to). I'll carve off some time to validate at some point, but could you also see if the problem reproduces with that change.

[2022-10-27 10:31] gabivlj commented on #8118
Hi! Thank you so much for jumping on this. TSC scaling is supported on that processor. Sadly, I tried these changes and I'm still being able to replicate with both methods on KVM.
I can confirm that I'm unable to replicate on ptrace at the moment.

[2022-10-27 15:11] DobromirM commented on #8047
We switched to an [EKS optimized Ubuntu Linux AMI](https://cloud-images.ubuntu.com/docs/aws/eks/) to avoid the original problem.

[2022-10-27 23:09] fvoznika commented on #8047
Thanks for the update.

[2022-10-27 23:09] #8047 closed

[2022-10-29 18:53] capnspacehook opened #8126 "Latest release broke unix socket communication"
### Description

Upgrading to the latest release of gvisor broke Caddy and Tailscale integration. I have a Caddy container that communicates to Tailscale over the unix socket `/var/run/tailscale/tailscaled.sock`. I noticed that the `-fsgofer-host-uds` flag I was passing to `runsc` was deprecated, so I tried using `-host-uds=all` instead but that didn't change anything.

### Steps to reproduce

Ins

[2022-11-01 00:25] fvoznika commented on #8126
Thanks for attaching logs. Failure setting up the flag would result in `EPERM` errors. You're getting `ENOENT`:

[code]

Has anything else changed in the environment? Can you try running it with the commit prior to the flag change (2ec925ee25c59ffcce138c424bb540b55683486d)?

[2022-11-01 00:32] fvoznika commented on #6742
This was done in 295fd0a9771f3411600f1066b4e1f06e444928c7

[2022-11-01 00:32] fvoznika commented on #4805
This is now complete. Further improvements can be tracked in a separate issue.

[2022-11-01 01:23] capnspacehook commented on #8126
No problem. Nothing changed in my environment prior to upgrading; the container was able to access the Unix socket on the previous version (don't know what that was sorry) and immediately after upgrading gvisor I noticed the error from the Caddy container.

I can try with the commit before, I assume you mean https://github.com/google/gvisor/commit/0eb861df56016eba3758de7afed7181d52e611d0?

Note th

[2022-11-01 17:03] fvoznika commented on #8126
Yes, https://github.com/google/gvisor/commit/2ec925ee25c59ffcce138c424bb540b55683486d is the change immediately before that :-) You can use this link to download a nightly build before the flag change: https://storage.googleapis.com/gvisor/releases/nightly/2022-10-22/x86_64/runsc

If 2022-10-22 nightly works, then I suspect 226ee9ec81571a90b7e3c3107f947467515f4504 may be the one that broke it.

[2022-11-01 19:50] akonradi opened #8134 "Removing NICs can cause a runtime panic due to concurrent map access"
### Description

Most accesses to `Stack.nics` are guarded by acquiring the `Stacks.mu` mutex. There are a few places that aren't, though, including in [`NewRouteForMulticast`](https://github.com/google/gvisor/blob/d4b159ae93b57be0e9f296b8f0030005175de774/pkg/tcpip/stack/stack.go#L1153) and [`CheckDuplicateAddress`](https://github.com/google/gvisor/blob/d4b159ae93b57be0e9f296b8f0030005175de774/pkg

[2022-11-02 20:58] peterthejohnston opened #8140 "RecvTimeoutWaitAll test flakes in Fuchsia infra due to short SO_RCVTIMEO"
### Description

The [`RecvTimeoutWaitAll` syscall test](https://cs.github.com/google/gvisor/blob/254fedb1d69c02162b19c65219243098eeac0b1b/test/syscalls/linux/socket_generic_test_cases.cc?q=repo%3Agoogle%2Fgvisor+recvtimeoutwaitall#L822) verifies (IIUC) that with a sufficient receive timeout set on the socket, calling `recv` with `MSG_WAITALL` will block until all the data requested is received.

[2022-11-03 01:55] #8134 closed

[2022-11-03 05:55] OdelaGanesh commented on #3355
rm: cannot remove 'test_repoo/.git/objects/pack': Directory not empty

[2022-11-03 14:59] knlambert opened #8149 "nosplit stack error when using the debugger with Mac M1"
### Description

I'm trying to contribute to the [telepresence opensource](https://github.com/telepresenceio/telepresence) project (which uses gvisor) with the debugger (in goland), and I get the following stack trace:

![image](https://user-images.githubusercontent.com/16439060/199754943-1e085b0e-8868-4133-8f23-38aa88195414.png)

[code]

I only get the issue with a Mac M1, and it builds correctly

[2022-11-03 20:40] #8106 closed

[2022-11-03 23:54] #7007 closed

[2022-11-04 09:03] terenceli opened #8156 "wget can't connect to https websites in host work mode"
### Description

runsc can't connect to https site.

# ./runsc  -network host run test
--2022-11-04 16:44:33--  http://python.org/
Resolving python.org (python.org)... 138.197.63.241
Connecting to python.org (python.org)|138.197.63.241|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://python.org/ [following]
--2022-11-04 16:44:34--  https://python.or